<!-- Made by alited -->
<link rel="stylesheet" href="../../../css/style.css">

<title>hl_alm.tcl</title>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../../index.html"><font color=#1a1a1a size=6>  <b>README.md</b></font></div></td></table>


<div id="bodyContent" class="dokuwiki">
<div id="dw__toc" class="dw__toc">
<h3 class="toggle open" style="cursor: pointer;">hl_alm.tcl</h3>
<div aria-expanded="true" style="">

<ul class="toc">
<li><b><a href="#hl_alm.tcl">hl_alm.tcl</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#hl_alm::init">init</a><span class=tooltiptext> hl_alm::init : Initializes highlighting .alm text (alited's macro).
w - the text
font - the text's font
szfont - the font's size
args - highlighting colors</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#hl_alm::line">line</a><span class=tooltiptext> hl_alm::line : Highlights a line of .alm text (alited's macro).
w - the text
pos - position in the line
prevQtd - mode of processing a current line (0, 1, -1)</span></div></li></ul>
<li><b><a href="#EOF">EOF</a></b></li>

</ul>

</div>
</div>
</div>
<!-- TOC END -->

<h1><font color=#ca14ca> alited's addons</font></h1>
</p><p>
The <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_alm.html">alited/lib/addon</a> directory's scripts highlight various types of files:
</p><p>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_alm.html">hl_alm.tcl</a> - .alm files (macros)</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_em.html">hl_em.tcl</a> - .em files (e_menu's menus)</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_html.html">hl_html.tcl</a> - .html files</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_ini.html">hl_ini.tcl</a> - .ini files</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_md.html">hl_md.tcl</a> - .md files</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_wiki.html">hl_wiki.tcl</a> - .wiki files (for wiki.tcl-lang.org)</li>
</p><p>
The alited's main files are contained in <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/../../src/about.html">alited/src</a> directory.
</p><p>

</p>


<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../../index.html"><font color=#1a1a1a size=6>  <b>hl_alm.tcl</b></font></div></td></table>

<pre class="code"><i><font color=#ff0000>#! /usr/bin/env tclsh<a id=hl_alm.tcl></a></font></i>
<i><font color=#4b5d50>###########################################################</font></i>
<i><font color=#4b5d50># Name:    hl_alm.tcl</font></i>
<i><font color=#4b5d50># Author:  Alex Plotnikov  (aplsimple@gmail.com)</font></i>
<i><font color=#4b5d50># Date:    Mar 11, 2023</font></i>
<i><font color=#4b5d50># Brief:   Handles highlighting .alm files (alited macros).</font></i>
<i><font color=#4b5d50># License: MIT.</font></i>
<i><font color=#4b5d50>###########################################################</font></i>

<b><font color=#ca14ca>namespace</font></b> eval hl_alm {}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=hl_alm::init></a>
<b><font color=#ca14ca>proc</font></b> hl_alm::init {w font szfont args} {
  <i><font color=#4b5d50># Initializes highlighting .alm text (alited's macro).</font></i>
  <i><font color=#4b5d50>#   w - the text</font></i>
  <i><font color=#4b5d50>#   font - the text's font</font></i>
  <i><font color=#4b5d50>#   szfont - the font's size</font></i>
  <i><font color=#4b5d50>#   args - highlighting colors</font></i>

  <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$args</font> clrCOM clrCOMTK clrSTR clrVAR clrCMN clrPROC clrOPT
  <b><font color=#3a6797>dict</font></b> set font <font color=#653760>-size</font> <font color=#1b1baa>$szfont</font>
  <b><font color=#3a6797>dict</font></b> set font <font color=#653760>-weight</font> bold;
  <font color=#1b1baa>$w</font> tag config almKEY <font color=#653760>-font</font> <font color=#1b1baa>$font</font> <font color=#653760>-foreground</font> <font color=#1b1baa>$clrCOM</font>
  <b><font color=#3a6797>dict</font></b> set font <font color=#653760>-weight</font> normal
  <font color=#1b1baa>$w</font> tag config almPATH <font color=#653760>-font</font> <font color=#1b1baa>$font</font> <font color=#653760>-foreground</font> <font color=#1b1baa>$clrVAR</font>
  <font color=#1b1baa>$w</font> tag config almARG <font color=#653760>-font</font> <font color=#1b1baa>$font</font> <font color=#653760>-foreground</font> <font color=#1b1baa>$clrOPT</font>
  <b><font color=#3a6797>dict</font></b> set font <font color=#653760>-slant</font> italic
  <font color=#1b1baa>$w</font> tag config almCMNT <font color=#653760>-font</font> <font color=#1b1baa>$font</font> <font color=#653760>-foreground</font> <font color=#1b1baa>$clrCMN</font>
  <b><font color=#3a6797>foreach</font></b> t {KEY CMNT} {<b><font color=#3a6797>after</font></b> idle <font color=#1b1baa>$w</font> tag raise alm<font color=#1b1baa>$t</font>}
  <b><font color=#ca14ca>return</font></b> [<b><font color=#3a6797>namespace</font></b> current]::line
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=hl_alm::line></a>
<b><font color=#ca14ca>proc</font></b> hl_alm::line {w {pos <font color=#8b2a0e>&quot;&quot;</font>} {prevQtd 0}} {
  <i><font color=#4b5d50># Highlights a line of .alm text (alited's macro).</font></i>
  <i><font color=#4b5d50>#   w - the text</font></i>
  <i><font color=#4b5d50>#   pos - position in the line</font></i>
  <i><font color=#4b5d50>#   prevQtd - mode of processing a current line (0, 1, -1)</font></i>

  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$pos</font> eq {}} {<b><font color=#3a6797>set</font></b> pos [<font color=#1b1baa>$w</font> index insert]}
  <b><font color=#3a6797>set</font></b> il [<b><font color=#3a6797>expr</font></b> {int(<font color=#1b1baa>$pos</font>)}]
  <b><font color=#3a6797>set</font></b> line [<font color=#1b1baa>$w</font> get <font color=#1b1baa>$il</font>.0 <font color=#1b1baa>$il</font>.end]
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>string</font></b> trim <font color=#1b1baa>$line</font>] eq {}} {<b><font color=#ca14ca>return</font></b> yes}
  <b><font color=#3a6797>foreach</font></b> t {KEY PATH ARG CMNT} {<font color=#1b1baa>$w</font> tag remove alm<font color=#1b1baa>$t</font> <font color=#1b1baa>$il</font>.0 <font color=#1b1baa>$il</font>.end}
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>regexp</font></b> <font color=#8b2a0e>&quot;^\s*#&quot;</font> <font color=#1b1baa>$line</font>]} {
    <font color=#1b1baa>$w</font> tag add almCMNT <font color=#1b1baa>$il</font>.0 <font color=#1b1baa>$il</font>.end
    <b><font color=#ca14ca>return</font></b> yes
  }
  <b><font color=#3a6797>lassign</font></b> [<b><font color=#3a6797>regexp</font></b> <font color=#653760>-inline</font> {^\s*[^\s]+} <font color=#1b1baa>$line</font>] lre
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$lre</font> ne {}} {
    <b><font color=#3a6797>set</font></b> p1 [<b><font color=#3a6797>string</font></b> length <font color=#1b1baa>$lre</font>]
    <font color=#1b1baa>$w</font> tag add almKEY <font color=#1b1baa>$il</font>.0 <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p1</font>
  }
  <b><font color=#3a6797>set</font></b> path [<b><font color=#3a6797>regexp</font></b> <font color=#653760>-inline</font> <font color=#653760>-all</font> <font color=#653760>-indices</font> {\s{1}[.]{1}[^\s]+} <font color=#1b1baa>$line</font>]
  <b><font color=#3a6797>foreach</font></b> l2 <font color=#1b1baa>$path</font> {
    <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$l2</font> p1 p2
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$p1</font>&lt;<font color=#1b1baa>$p2</font>} {
      <font color=#1b1baa>$w</font> tag add almPATH <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p1</font> <font color=#1b1baa>$il</font>.[<b><font color=#3a6797>incr</font></b> p2]
    }
  }
  <b><font color=#3a6797>set</font></b> key [<b><font color=#3a6797>regexp</font></b> <font color=#653760>-inline</font> <font color=#653760>-all</font> <font color=#653760>-indices</font> {\s%.=} <font color=#1b1baa>$line</font>]
  <b><font color=#3a6797>foreach</font></b> l2 <font color=#1b1baa>$key</font> {
    <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$l2</font> p1 p2
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$p1</font>&lt;<font color=#1b1baa>$p2</font>} {
      <font color=#1b1baa>$w</font> tag add almARG <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p1</font> <font color=#1b1baa>$il</font>.[<b><font color=#3a6797>incr</font></b> p2]
    }
  }
  <b><font color=#ca14ca>return</font></b> yes
}
<a id=EOF></a>
<i><font color=#4b5d50># ________________________ EOF _________________________ #</font></i>

</pre>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../../index.html"><font color=#1a1a1a size=6>  <b>hl_alm.tcl</b></font></div></td></table>

<!-- Made by alited (END) -->