<!-- Made by alited -->
<link rel="stylesheet" href="../../../css/style.css">

<title>hl_em.tcl</title>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../../index.html"><font color=#1a1a1a size=6>  <b>README.md</b></font></div></td></table>


<div id="bodyContent" class="dokuwiki">
<div id="dw__toc" class="dw__toc">
<h3 class="toggle open" style="cursor: pointer;">hl_em.tcl</h3>
<div aria-expanded="true" style="">

<ul class="toc">
<li><b><a href="#hl_em.tcl">hl_em.tcl</a></b></li>
<li><b><a href="#hl_em">hl_em</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#hl_em::init">init</a><span class=tooltiptext> hl_em::init : Initializes highlighting .em text (e_menu's menu).
w - the text
font - font
szfont - font's size
args - highlighting colors</span></div></li></ul>
<li><b><a href="#borrowed_from_e_menu">borrowed from e_menu</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#hl_em::line">line</a><span class=tooltiptext> hl_em::line : Highlights a line of .em text (e_menu's menu).
w - the text
pos - position in the line
prevQtd - mode of processing a current line (0, 1, -1)</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#hl_em::getRSIM">getRSIM</a><span class=tooltiptext> hl_em::getRSIM : Gets R:, R/ etc type from a line.</span></div></li></ul>
<li><b><a href="#EOF">EOF</a></b></li>

</ul>

</div>
</div>
</div>
<!-- TOC END -->

<h1><font color=#ca14ca> alited's addons</font></h1>
</p><p>
The <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_alm.html">alited/lib/addon</a> directory's scripts highlight various types of files:
</p><p>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_alm.html">hl_alm.tcl</a> - .alm files (macros)</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_em.html">hl_em.tcl</a> - .em files (e_menu's menus)</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_html.html">hl_html.tcl</a> - .html files</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_ini.html">hl_ini.tcl</a> - .ini files</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_md.html">hl_md.tcl</a> - .md files</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_wiki.html">hl_wiki.tcl</a> - .wiki files (for wiki.tcl-lang.org)</li>
</p><p>
The alited's main files are contained in <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/../../src/about.html">alited/src</a> directory.
</p><p>

</p>


<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../../index.html"><font color=#1a1a1a size=6>  <b>hl_em.tcl</b></font></div></td></table>

<pre class="code"><i><font color=#ff0000>#! /usr/bin/env tclsh<a id=hl_em.tcl></a></font></i>
<i><font color=#4b5d50>###########################################################</font></i>
<i><font color=#4b5d50># Name:    hl_em.tcl</font></i>
<i><font color=#4b5d50># Author:  Alex Plotnikov  (aplsimple@gmail.com)</font></i>
<i><font color=#4b5d50># Date:    Mar 13, 2023</font></i>
<i><font color=#4b5d50># Brief:   Handles highlighting .em files (of e_menu).</font></i>
<i><font color=#4b5d50># License: MIT.</font></i>
<i><font color=#4b5d50>###########################################################</font></i>
<a id=hl_em></a>
<i><font color=#4b5d50># _________________________ hl_em ________________________ #</font></i>

<b><font color=#ca14ca>namespace</font></b> eval hl_em {
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=hl_em::init></a>
<b><font color=#ca14ca>proc</font></b> hl_em::init {w font szfont args} {
  <i><font color=#4b5d50># Initializes highlighting .em text (e_menu's menu).</font></i>
  <i><font color=#4b5d50>#   w - the text</font></i>
  <i><font color=#4b5d50>#   font - font</font></i>
  <i><font color=#4b5d50>#   szfont - font's size</font></i>
  <i><font color=#4b5d50>#   args - highlighting colors</font></i>

  <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$args</font> clrCOM clrCOMTK clrSTR clrVAR clrCMN clrPROC
  <b><font color=#3a6797>if</font></b> {[::apave::obj csDark]} {
    <b><font color=#3a6797>set</font></b> fg2 black
  } <b><font color=#3a6797>else</font></b> {
    <b><font color=#3a6797>set</font></b> fg2 white
  }
  <b><font color=#3a6797>dict</font></b> set font <font color=#653760>-weight</font> bold
  <font color=#1b1baa>$w</font> tag config emRSIM <font color=#653760>-font</font> <font color=#1b1baa>$font</font> <font color=#653760>-foreground</font> <font color=#1b1baa>$clrCOMTK</font>
  <font color=#1b1baa>$w</font> tag config emMARK <font color=#653760>-font</font> <font color=#1b1baa>$font</font> <font color=#653760>-foreground</font> <font color=#1b1baa>$clrPROC</font>
  <font color=#1b1baa>$w</font> tag config emSECT <font color=#653760>-font</font> <font color=#1b1baa>$font</font> <font color=#653760>-foreground</font> <font color=#1b1baa>$fg2</font> <font color=#653760>-background</font> <font color=#1b1baa>$clrPROC</font>
  <b><font color=#3a6797>dict</font></b> set font <font color=#653760>-weight</font> normal
  <font color=#1b1baa>$w</font> tag config emVAR <font color=#653760>-font</font> <font color=#1b1baa>$font</font> <font color=#653760>-foreground</font> <font color=#1b1baa>$clrVAR</font>
  <font color=#1b1baa>$w</font> tag config emVAL <font color=#653760>-font</font> <font color=#1b1baa>$font</font> <font color=#653760>-foreground</font> <font color=#1b1baa>$clrSTR</font>
  <b><font color=#3a6797>dict</font></b> set font <font color=#653760>-slant</font> italic
  <font color=#1b1baa>$w</font> tag config emCMNT <font color=#653760>-font</font> <font color=#1b1baa>$font</font> <font color=#653760>-foreground</font> <font color=#1b1baa>$clrCMN</font>
  <b><font color=#3a6797>foreach</font></b> t {RSIM MARK SECT CMNT} {<b><font color=#3a6797>after</font></b> idle <font color=#1b1baa>$w</font> tag raise em<font color=#1b1baa>$t</font>}
  <b><font color=#ca14ca>return</font></b> [<b><font color=#3a6797>namespace</font></b> current]::line
}
<a id=borrowed_from_e_menu></a>
<i><font color=#4b5d50># _________________________ borrowed from e_menu ________________________ #</font></i>
<a id=hl_em::line></a>
<b><font color=#ca14ca>proc</font></b> hl_em::line {w {pos <font color=#8b2a0e>&quot;&quot;</font>} {prevQtd 0}} {
  <i><font color=#4b5d50># Highlights a line of .em text (e_menu's menu).</font></i>
  <i><font color=#4b5d50>#   w - the text</font></i>
  <i><font color=#4b5d50>#   pos - position in the line</font></i>
  <i><font color=#4b5d50>#   prevQtd - mode of processing a current line (0, 1, -1)</font></i>

  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$pos</font> eq {}} {<b><font color=#3a6797>set</font></b> pos [<font color=#1b1baa>$w</font> index insert]}
  <b><font color=#3a6797>set</font></b> il [<b><font color=#3a6797>expr</font></b> {int(<font color=#1b1baa>$pos</font>)}]
  <b><font color=#3a6797>set</font></b> line [<font color=#1b1baa>$w</font> get <font color=#1b1baa>$il</font>.0 <font color=#1b1baa>$il</font>.end]
  <b><font color=#3a6797>foreach</font></b> t {RSIM MARK SECT CMNT VAR VAL} {<font color=#1b1baa>$w</font> tag remove em<font color=#1b1baa>$t</font> <font color=#1b1baa>$il</font>.0 <font color=#1b1baa>$il</font>.end}
  <b><font color=#3a6797>set</font></b> res no
  <b><font color=#3a6797>lassign</font></b> [getRSIM <font color=#1b1baa>$line</font> {ITEM\s*=|SEP\s*=|%M[^ ] |%C |\[MENU\]\s*$|\[OPTIONS\]\s*$|\[HIDDEN\]\s*$|\[DATA\]\s*$|^\s*#|^::\w+=}] marker pg ln
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$marker</font> ne {}} {
    <b><font color=#3a6797>set</font></b> p1 [<b><font color=#3a6797>string</font></b> first <font color=#1b1baa>$marker</font> <font color=#1b1baa>$line</font>]
    <b><font color=#3a6797>set</font></b> p2 [<b><font color=#3a6797>expr</font></b> {<font color=#1b1baa>$p1</font>+[<b><font color=#3a6797>string</font></b> length <font color=#1b1baa>$marker</font>]}]
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$pg</font> ne {-}} {
      <b><font color=#3a6797>set</font></b> tag emRSIM
    } <b><font color=#3a6797>else</font></b> {
      <b><font color=#3a6797>switch</font></b> -- [<b><font color=#3a6797>string</font></b> index <font color=#1b1baa>$ln</font> 0] {
        \[ {<b><font color=#3a6797>set</font></b> tag emSECT}
        \# {<b><font color=#3a6797>set</font></b> tag emCMNT; <b><font color=#3a6797>set</font></b> p2 end}
        : {
          <font color=#1b1baa>$w</font> tag add emVAR <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p1</font> <font color=#1b1baa>$il</font>.[<b><font color=#3a6797>incr</font></b> p2 -1]
          <b><font color=#3a6797>set</font></b> tag emVAL
          <b><font color=#3a6797>set</font></b> p1 [<b><font color=#3a6797>incr</font></b> p2]
          <b><font color=#3a6797>set</font></b> p2 end
        }
        <b><font color=#3a6797>default</font></b> {
          <b><font color=#3a6797>set</font></b> tag emMARK
          <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>string</font></b> first = <font color=#1b1baa>$marker</font>]&gt;0} {<b><font color=#3a6797>set</font></b> p2 end}
        }
      }
    }
    <font color=#1b1baa>$w</font> tag add <font color=#1b1baa>$tag</font> <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p1</font> <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p2</font>
    <b><font color=#3a6797>set</font></b> res yes
  }
  <b><font color=#ca14ca>return</font></b> <font color=#1b1baa>$res</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=hl_em::getRSIM></a>
<b><font color=#ca14ca>proc</font></b> hl_em::getRSIM {line {markers {}}} {
  <i><font color=#4b5d50># Gets R:, R/ etc type from a line.</font></i>

  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>regexp</font></b> {^\s*[RSIM]{1}[WE]?:\s*} <font color=#1b1baa>$line</font>]} {
    <b><font color=#3a6797>set</font></b> div :
  } <b><font color=#3a6797>elseif</font></b> {[<b><font color=#3a6797>regexp</font></b> {^\s*[RSIM]{1}[WE]?/\s*} <font color=#1b1baa>$line</font>]} {
    <b><font color=#3a6797>set</font></b> div /
  } <b><font color=#3a6797>else</font></b> {
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$markers</font> ne {}} {
      <b><font color=#3a6797>set</font></b> marker [<b><font color=#3a6797>lindex</font></b> [<b><font color=#3a6797>regexp</font></b> <font color=#653760>-inline</font> <font color=#8b2a0e>&quot;^(<font color=#1b1baa>$</font>markers)&quot;</font> <font color=#1b1baa>$line</font>] 0]
      <b><font color=#ca14ca>return</font></b> [<b><font color=#3a6797>list</font></b> <font color=#1b1baa>$marker</font> - [<b><font color=#3a6797>string</font></b> trim <font color=#1b1baa>$line</font>]]
    }
    <b><font color=#ca14ca>return</font></b> {}
  }
  <b><font color=#3a6797>set</font></b> line [<b><font color=#3a6797>string</font></b> trim <font color=#1b1baa>$line</font>]
  <b><font color=#3a6797>set</font></b> i [<b><font color=#3a6797>string</font></b> first <font color=#1b1baa>$div</font> <font color=#1b1baa>$line</font>]
  <b><font color=#3a6797>set</font></b> typ [<b><font color=#3a6797>string</font></b> range <font color=#1b1baa>$line</font> 0 <font color=#1b1baa>$i</font>]
  <b><font color=#3a6797>set</font></b> prog [<b><font color=#3a6797>string</font></b> trimleft [<b><font color=#3a6797>string</font></b> range <font color=#1b1baa>$line</font> <font color=#1b1baa>$i</font>+1 end]]
  <b><font color=#ca14ca>return</font></b> [<b><font color=#3a6797>list</font></b> <font color=#1b1baa>$typ</font> <font color=#1b1baa>$prog</font> <font color=#1b1baa>$line</font>]
}
<a id=EOF></a>
<i><font color=#4b5d50># ________________________ EOF _________________________ #</font></i>

</pre>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../../index.html"><font color=#1a1a1a size=6>  <b>hl_em.tcl</b></font></div></td></table>

<!-- Made by alited (END) -->