<!-- Made by alited -->
<link rel="stylesheet" href="../../../css/style.css">

<title>hl_html.tcl</title>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../../index.html"><font color=#1a1a1a size=6>  <b>README.md</b></font></div></td></table>


<div id="bodyContent" class="dokuwiki">
<div id="dw__toc" class="dw__toc">
<h3 class="toggle open" style="cursor: pointer;">hl_html.tcl</h3>
<div aria-expanded="true" style="">

<ul class="toc">
<li><b><a href="#hl_html.tcl">hl_html.tcl</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#hl_html::init">init</a><span class=tooltiptext> hl_html::init : Initializes highlighting .html text.
w - the text
font - the text's font
szfont - the font's size
args - highlighting colors</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#hl_html::line">line</a><span class=tooltiptext> hl_html::line : Highlights a line of .html text.
w - the text
pos - position in the line
prevQtd - mode of processing a current line (0, 1, -1)</span></div></li></ul>
<li><b><a href="#EOF">EOF</a></b></li>

</ul>

</div>
</div>
</div>
<!-- TOC END -->

<h1><font color=#ca14ca> alited's addons</font></h1>
</p><p>
The <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_alm.html">alited/lib/addon</a> directory's scripts highlight various types of files:
</p><p>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_alm.html">hl_alm.tcl</a> - .alm files (macros)</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_em.html">hl_em.tcl</a> - .em files (e_menu's menus)</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_html.html">hl_html.tcl</a> - .html files</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_ini.html">hl_ini.tcl</a> - .ini files</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_md.html">hl_md.tcl</a> - .md files</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_wiki.html">hl_wiki.tcl</a> - .wiki files (for wiki.tcl-lang.org)</li>
</p><p>
The alited's main files are contained in <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/../../src/about.html">alited/src</a> directory.
</p><p>

</p>


<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../../index.html"><font color=#1a1a1a size=6>  <b>hl_html.tcl</b></font></div></td></table>

<pre class="code"><i><font color=#ff0000>#! /usr/bin/env tclsh<a id=hl_html.tcl></a></font></i>
<i><font color=#4b5d50>###########################################################</font></i>
<i><font color=#4b5d50># Name:    hl_html.tcl</font></i>
<i><font color=#4b5d50># Author:  Alex Plotnikov  (aplsimple@gmail.com)</font></i>
<i><font color=#4b5d50># Date:    Mar 13, 2023</font></i>
<i><font color=#4b5d50># Brief:   Handles highlighting .htm, .html files.</font></i>
<i><font color=#4b5d50># License: MIT.</font></i>
<i><font color=#4b5d50>###########################################################</font></i>

<b><font color=#ca14ca>namespace</font></b> eval hl_html {}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=hl_html::init></a>
<b><font color=#ca14ca>proc</font></b> hl_html::init {w font szfont args} {
  <i><font color=#4b5d50># Initializes highlighting .html text.</font></i>
  <i><font color=#4b5d50>#   w - the text</font></i>
  <i><font color=#4b5d50>#   font - the text's font</font></i>
  <i><font color=#4b5d50>#   szfont - the font's size</font></i>
  <i><font color=#4b5d50>#   args - highlighting colors</font></i>

  <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$args</font> clrCOM clrCOMTK clrSTR clrVAR clrCMN clrPROC clrOPT
  <b><font color=#3a6797>dict</font></b> set font <font color=#653760>-size</font> <font color=#1b1baa>$szfont</font>
  <font color=#1b1baa>$w</font> tag config htmVAL <font color=#653760>-font</font> <font color=#1b1baa>$font</font> <font color=#653760>-foreground</font> <font color=#1b1baa>$clrSTR</font>
  <font color=#1b1baa>$w</font> tag config htmARG <font color=#653760>-font</font> <font color=#1b1baa>$font</font> <font color=#653760>-foreground</font> <font color=#1b1baa>$clrOPT</font>
  <b><font color=#3a6797>dict</font></b> set font <font color=#653760>-weight</font> bold
  <font color=#1b1baa>$w</font> tag config htmTAG <font color=#653760>-font</font> <font color=#1b1baa>$font</font> <font color=#653760>-foreground</font> <font color=#1b1baa>$clrCOM</font>
  <b><font color=#3a6797>dict</font></b> set font <font color=#653760>-weight</font> normal
  <b><font color=#3a6797>dict</font></b> set font <font color=#653760>-slant</font> italic
  <font color=#1b1baa>$w</font> tag config htmCMN <font color=#653760>-font</font> <font color=#1b1baa>$font</font> <font color=#653760>-foreground</font> <font color=#1b1baa>$clrCMN</font>
  <b><font color=#3a6797>foreach</font></b> t {TAG CMN} {<b><font color=#3a6797>after</font></b> idle <font color=#1b1baa>$w</font> tag raise htm<font color=#1b1baa>$t</font>}
  <b><font color=#ca14ca>return</font></b> [<b><font color=#3a6797>namespace</font></b> current]::line
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=hl_html::line></a>
<b><font color=#ca14ca>proc</font></b> hl_html::line {w {pos <font color=#8b2a0e>&quot;&quot;</font>} {prevQtd 0}} {
  <i><font color=#4b5d50># Highlights a line of .html text.</font></i>
  <i><font color=#4b5d50>#   w - the text</font></i>
  <i><font color=#4b5d50>#   pos - position in the line</font></i>
  <i><font color=#4b5d50>#   prevQtd - mode of processing a current line (0, 1, -1)</font></i>

  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$pos</font> eq {}} {<b><font color=#3a6797>set</font></b> pos [<font color=#1b1baa>$w</font> index insert]}
  <b><font color=#3a6797>set</font></b> il [<b><font color=#3a6797>expr</font></b> {int(<font color=#1b1baa>$pos</font>)}]
  <b><font color=#3a6797>set</font></b> line [<font color=#1b1baa>$w</font> get <font color=#1b1baa>$il</font>.0 <font color=#1b1baa>$il</font>.end]
  <b><font color=#3a6797>foreach</font></b> t {TAG VAL ARG CMN} {<font color=#1b1baa>$w</font> tag remove htm<font color=#1b1baa>$t</font> <font color=#1b1baa>$il</font>.0 <font color=#1b1baa>$il</font>.end}
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$prevQtd</font>==-1} {
    <i><font color=#4b5d50># comments continued (would work with 1 continued line)</font></i>
    <b><font color=#3a6797>set</font></b> i [<b><font color=#3a6797>string</font></b> first --&gt; <font color=#1b1baa>$line</font>]
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$i</font>&lt;0} {
      <font color=#1b1baa>$w</font> tag add htmCMN <font color=#1b1baa>$il</font>.0 <font color=#1b1baa>$il</font>.end
      <b><font color=#ca14ca>return</font></b> -1
    }
    <b><font color=#3a6797>set</font></b> line [<b><font color=#3a6797>string</font></b> repeat { } [<b><font color=#3a6797>incr</font></b> i 2]][<b><font color=#3a6797>string</font></b> range <font color=#1b1baa>$line</font> [<b><font color=#3a6797>incr</font></b> i] end]
    <font color=#1b1baa>$w</font> tag add htmCMN <font color=#1b1baa>$il</font>.0 <font color=#1b1baa>$il</font>.<font color=#1b1baa>$i</font>
  }
  <b><font color=#3a6797>set</font></b> specs [<b><font color=#3a6797>regexp</font></b> <font color=#653760>-inline</font> <font color=#653760>-all</font> <font color=#653760>-indices</font> {&[a-zA-Z]+;} <font color=#1b1baa>$line</font>]
  <b><font color=#3a6797>foreach</font></b> l2 <font color=#1b1baa>$specs</font> {
    <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$l2</font> p1 p2
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$p1</font>&lt;<font color=#1b1baa>$p2</font>} {
      <font color=#1b1baa>$w</font> tag add htmTAG <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p1</font> <font color=#1b1baa>$il</font>.[<b><font color=#3a6797>incr</font></b> p2]
    }
  }
  <b><font color=#3a6797>set</font></b> htms [<b><font color=#3a6797>regexp</font></b> <font color=#653760>-inline</font> <font color=#653760>-all</font> <font color=#653760>-indices</font> {(&lt;{1}/?\w+)([^&gt;]*&gt;{1})} <font color=#1b1baa>$line</font>]
  <b><font color=#3a6797>foreach</font></b> {l1 l2 -} <font color=#1b1baa>$htms</font> {
    <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$l1</font> p1 p2
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$p1</font>&lt;<font color=#1b1baa>$p2</font>} {
      <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$l2</font> r1 r2
      <font color=#1b1baa>$w</font> tag add htmTAG <font color=#1b1baa>$il</font>.<font color=#1b1baa>$r1</font> <font color=#1b1baa>$il</font>.[<b><font color=#3a6797>incr</font></b> r2]
      <font color=#1b1baa>$w</font> tag add htmTAG <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p2</font> <font color=#1b1baa>$il</font>.[<b><font color=#3a6797>incr</font></b> p2]
      <b><font color=#3a6797>set</font></b> subline [<font color=#1b1baa>$w</font> get <font color=#1b1baa>$il</font>.<font color=#1b1baa>$r2</font> <font color=#1b1baa>$il</font>.[<b><font color=#3a6797>incr</font></b> p2 -1]]
      <i><font color=#4b5d50># inside a tag: options may be quoted and not</font></i>
      <b><font color=#3a6797>while</font></b> 1 {
        <i><font color=#4b5d50># first, get an option's name</font></i>
        <b><font color=#3a6797>lassign</font></b> [<b><font color=#3a6797>lindex</font></b> [<b><font color=#3a6797>regexp</font></b> <font color=#653760>-inline</font> <font color=#653760>-indices</font> {\w+=} <font color=#1b1baa>$subline</font>] 0] p1 p2
        <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$p1</font> eq {}} <b><font color=#ca14ca>break</font></b>
        <i><font color=#4b5d50># then, get an option's value</font></i>
        <b><font color=#3a6797>incr</font></b> p2
        <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>string</font></b> index <font color=#1b1baa>$subline</font> <font color=#1b1baa>$p2</font>] eq {&quot;}} {
          <b><font color=#3a6797>lassign</font></b> [<b><font color=#3a6797>lindex</font></b> [<b><font color=#3a6797>regexp</font></b> <font color=#653760>-inline</font> <font color=#653760>-indices</font> {<font color=#8b2a0e>&quot;<font color=#1b1baa>[</font>^&quot;</font>]*\&quot;} <font color=#1b1baa>$subline</font>] 0] s1 s2
          <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$s2</font> eq {}} {
            <b><font color=#3a6797>set</font></b> s1 <font color=#1b1baa>$p2</font>
            <b><font color=#3a6797>set</font></b> s2 [<b><font color=#3a6797>string</font></b> length <font color=#1b1baa>$subline</font>]
          } <b><font color=#3a6797>else</font></b> {
            <b><font color=#3a6797>incr</font></b> s2
          }
        } <b><font color=#3a6797>else</font></b> {
          <b><font color=#3a6797>set</font></b> s1 <font color=#1b1baa>$p2</font>
          <b><font color=#3a6797>set</font></b> s2 [<b><font color=#3a6797>string</font></b> first { } <font color=#1b1baa>$subline</font> <font color=#1b1baa>$s1</font>]
          <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$s2</font>&lt;0} {<b><font color=#3a6797>set</font></b> s2 [<b><font color=#3a6797>string</font></b> length <font color=#1b1baa>$subline</font>]}
        }
        <i><font color=#4b5d50># erase the currently processed option</font></i>
        <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$p1</font> &gt; <font color=#1b1baa>$s2</font>} <b><font color=#ca14ca>break</font></b>
        <b><font color=#3a6797>set</font></b> subline [<b><font color=#3a6797>string</font></b> replace <font color=#1b1baa>$subline</font> <font color=#1b1baa>$p1</font> <font color=#1b1baa>$s2</font> [<b><font color=#3a6797>string</font></b> repeat { } [<b><font color=#3a6797>expr</font></b> {<font color=#1b1baa>$s2</font>-<font color=#1b1baa>$p1</font>+1}]]]
        <i><font color=#4b5d50># highlight name & value</font></i>
        <b><font color=#3a6797>incr</font></b> p1 <font color=#1b1baa>$r2</font>
        <b><font color=#3a6797>incr</font></b> p2 <font color=#1b1baa>$r2</font>
        <font color=#1b1baa>$w</font> tag add htmARG <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p1</font> <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p2</font>
        <b><font color=#3a6797>incr</font></b> s1 <font color=#1b1baa>$r2</font>
        <b><font color=#3a6797>incr</font></b> s2 <font color=#1b1baa>$r2</font>
        <font color=#1b1baa>$w</font> tag add htmVAL <font color=#1b1baa>$il</font>.<font color=#1b1baa>$s1</font> <font color=#1b1baa>$il</font>.<font color=#1b1baa>$s2</font>
      }
    }
  }
  <b><font color=#3a6797>set</font></b> cmns [<b><font color=#3a6797>regexp</font></b> <font color=#653760>-inline</font> <font color=#653760>-all</font> <font color=#653760>-indices</font> {&lt;{1}![^&gt;]*&gt;{1}} <font color=#1b1baa>$line</font>]
  <b><font color=#3a6797>foreach</font></b> l2 <font color=#1b1baa>$cmns</font> {
    <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$l2</font> p1 p2
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$p1</font>&lt;<font color=#1b1baa>$p2</font>} {
      <font color=#1b1baa>$w</font> tag add htmCMN <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p1</font> <font color=#1b1baa>$il</font>.[<b><font color=#3a6797>incr</font></b> p2]
    }
  }
  <b><font color=#3a6797>set</font></b> cmns [<b><font color=#3a6797>regexp</font></b> <font color=#653760>-inline</font> <font color=#653760>-all</font> <font color=#653760>-indices</font> {&lt;{1}!--[^&gt;]*$} <font color=#1b1baa>$line</font>]
  <b><font color=#3a6797>foreach</font></b> l2 <font color=#1b1baa>$cmns</font> {
    <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$l2</font> p1 p2
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$p1</font>&lt;<font color=#1b1baa>$p2</font>} {
      <font color=#1b1baa>$w</font> tag add htmCMN <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p1</font> <font color=#1b1baa>$il</font>.end
      <b><font color=#ca14ca>return</font></b> -1 ;<i><font color=#4b5d50># comments to be continued</font></i>
    }
  }
  <b><font color=#ca14ca>return</font></b> 0
}
<a id=EOF></a>
<i><font color=#4b5d50># ________________________ EOF _________________________ #</font></i>

</pre>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../../index.html"><font color=#1a1a1a size=6>  <b>hl_html.tcl</b></font></div></td></table>

<!-- Made by alited (END) -->