<!-- Made by alited -->
<link rel="stylesheet" href="../../../css/style.css">

<title>hl_md.tcl</title>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../../index.html"><font color=#1a1a1a size=6>  <b>README.md</b></font></div></td></table>


<div id="bodyContent" class="dokuwiki">
<div id="dw__toc" class="dw__toc">
<h3 class="toggle open" style="cursor: pointer;">hl_md.tcl</h3>
<div aria-expanded="true" style="">

<ul class="toc">
<li><b><a href="#hl_md.tcl">hl_md.tcl</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#hl_md::init">init</a><span class=tooltiptext> hl_md::init : Initializes highlighting .md text (markdown).
w - the text
font - the text's font
szfont - the font's size
args - highlighting colors</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#hl_md::line">line</a><span class=tooltiptext> hl_md::line : Highlights a line of .md text (markdown).
w - the text
pos - position in the line
prevQtd - mode of processing a current line (0, 1, -1)</span></div></li></ul>
<li><b><a href="#EOF">EOF</a></b></li>

</ul>

</div>
</div>
</div>
<!-- TOC END -->

<h1><font color=#ca14ca> alited's addons</font></h1>
</p><p>
The <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_alm.html">alited/lib/addon</a> directory's scripts highlight various types of files:
</p><p>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_alm.html">hl_alm.tcl</a> - .alm files (macros)</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_em.html">hl_em.tcl</a> - .em files (e_menu's menus)</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_html.html">hl_html.tcl</a> - .html files</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_ini.html">hl_ini.tcl</a> - .ini files</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_md.html">hl_md.tcl</a> - .md files</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_wiki.html">hl_wiki.tcl</a> - .wiki files (for wiki.tcl-lang.org)</li>
</p><p>
The alited's main files are contained in <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/../../src/about.html">alited/src</a> directory.
</p><p>

</p>


<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../../index.html"><font color=#1a1a1a size=6>  <b>hl_md.tcl</b></font></div></td></table>

<pre class="code"><i><font color=#ff0000>#! /usr/bin/env tclsh<a id=hl_md.tcl></a></font></i>
<i><font color=#4b5d50>###########################################################</font></i>
<i><font color=#4b5d50># Name:    hl_md.tcl</font></i>
<i><font color=#4b5d50># Author:  Alex Plotnikov  (aplsimple@gmail.com)</font></i>
<i><font color=#4b5d50># Date:    Mar 11, 2023</font></i>
<i><font color=#4b5d50># Brief:   Handles highlighting .md files (markdown).</font></i>
<i><font color=#4b5d50># License: MIT.</font></i>
<i><font color=#4b5d50>###########################################################</font></i>

<b><font color=#ca14ca>namespace</font></b> eval hl_md {}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=hl_md::init></a>
<b><font color=#ca14ca>proc</font></b> hl_md::init {w font szfont args} {
  <i><font color=#4b5d50># Initializes highlighting .md text (markdown).</font></i>
  <i><font color=#4b5d50>#   w - the text</font></i>
  <i><font color=#4b5d50>#   font - the text's font</font></i>
  <i><font color=#4b5d50>#   szfont - the font's size</font></i>
  <i><font color=#4b5d50>#   args - highlighting colors</font></i>

  <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$args</font> clrCOM clrCOMTK clrSTR clrVAR clrCMN clrPROC clrOPT
  <b><font color=#3a6797>dict</font></b> set font <font color=#653760>-size</font> <font color=#1b1baa>$szfont</font>
  <font color=#1b1baa>$w</font> tag config mdCMNT <font color=#653760>-font</font> <font color=#1b1baa>$font</font> <font color=#653760>-foreground</font> <font color=#1b1baa>$clrCMN</font>
  <font color=#1b1baa>$w</font> tag config mdAPOS <font color=#653760>-font</font> <font color=#1b1baa>$font</font> <font color=#653760>-foreground</font> <font color=#1b1baa>$clrVAR</font>
  <b><font color=#3a6797>dict</font></b> set font <font color=#653760>-weight</font> bold; <b><font color=#3a6797>dict</font></b> set font <font color=#653760>-slant</font> italic
  <font color=#1b1baa>$w</font> tag config mdBOIT <font color=#653760>-font</font> <font color=#1b1baa>$font</font> <font color=#653760>-foreground</font> <font color=#1b1baa>$clrVAR</font>
  <b><font color=#3a6797>dict</font></b> set font <font color=#653760>-weight</font> normal
  <font color=#1b1baa>$w</font> tag config mdITAL <font color=#653760>-font</font> <font color=#1b1baa>$font</font> <font color=#653760>-foreground</font> <font color=#1b1baa>$clrVAR</font>
  <b><font color=#3a6797>dict</font></b> set font <font color=#653760>-weight</font> bold;  <b><font color=#3a6797>set</font></b> font [<b><font color=#3a6797>dict</font></b> remove <font color=#1b1baa>$font</font> <font color=#653760>-slant</font>]
  <font color=#1b1baa>$w</font> tag config mdBOLD <font color=#653760>-font</font> <font color=#1b1baa>$font</font> <font color=#653760>-foreground</font> <font color=#1b1baa>$clrVAR</font>
  <font color=#1b1baa>$w</font> tag config mdLIST <font color=#653760>-font</font> <font color=#1b1baa>$font</font> <font color=#653760>-foreground</font> <font color=#1b1baa>$clrCOM</font>
  <b><font color=#3a6797>dict</font></b> set font <font color=#653760>-weight</font> normal
  <font color=#1b1baa>$w</font> tag config mdLINK <font color=#653760>-font</font> <font color=#1b1baa>$font</font> <font color=#653760>-foreground</font> <font color=#1b1baa>$clrOPT</font>
  <font color=#1b1baa>$w</font> tag config mdTAG <font color=#653760>-font</font> <font color=#1b1baa>$font</font> <font color=#653760>-foreground</font> <font color=#1b1baa>$clrSTR</font>
  <b><font color=#3a6797>foreach</font></b> t {BOIT ITAL BOLD LIST} {<b><font color=#3a6797>after</font></b> idle <font color=#1b1baa>$w</font> tag raise md<font color=#1b1baa>$t</font>}
  <b><font color=#3a6797>foreach</font></b> t {6 5 4 3 2 1} {
    <b><font color=#3a6797>dict</font></b> set font <font color=#653760>-weight</font> bold
    <b><font color=#3a6797>dict</font></b> set font <font color=#653760>-size</font> [<b><font color=#3a6797>expr</font></b> {<font color=#1b1baa>$szfont</font> + [<b><font color=#3a6797>incr</font></b> sz] -1}]
    <font color=#1b1baa>$w</font> tag config mdHEAD<font color=#1b1baa>$t</font> <font color=#653760>-font</font> <font color=#1b1baa>$font</font> <font color=#653760>-foreground</font> <font color=#1b1baa>$clrPROC</font>
    <b><font color=#3a6797>after</font></b> idle <font color=#1b1baa>$w</font> tag raise mdHEAD<font color=#1b1baa>$t</font>
  }
  <b><font color=#ca14ca>return</font></b> [<b><font color=#3a6797>namespace</font></b> current]::line
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=hl_md::line></a>
<b><font color=#ca14ca>proc</font></b> hl_md::line {w {pos <font color=#8b2a0e>&quot;&quot;</font>} {prevQtd 0}} {
  <i><font color=#4b5d50># Highlights a line of .md text (markdown).</font></i>
  <i><font color=#4b5d50>#   w - the text</font></i>
  <i><font color=#4b5d50>#   pos - position in the line</font></i>
  <i><font color=#4b5d50>#   prevQtd - mode of processing a current line (0, 1, -1)</font></i>

  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$pos</font> eq {}} {<b><font color=#3a6797>set</font></b> pos [<font color=#1b1baa>$w</font> index insert]}
  <b><font color=#3a6797>set</font></b> il [<b><font color=#3a6797>expr</font></b> {int(<font color=#1b1baa>$pos</font>)}]
  <b><font color=#3a6797>set</font></b> line [<font color=#1b1baa>$w</font> get <font color=#1b1baa>$il</font>.0 <font color=#1b1baa>$il</font>.end]
  <b><font color=#3a6797>foreach</font></b> t {LINK TAG CMNT APOS BOIT ITAL BOLD LIST} {<font color=#1b1baa>$w</font> tag remove md<font color=#1b1baa>$t</font> <font color=#1b1baa>$il</font>.0 <font color=#1b1baa>$il</font>.end}
  <b><font color=#3a6797>foreach</font></b> t {6 5 4 3 2 1} {<font color=#1b1baa>$w</font> tag remove mdHEAD<font color=#1b1baa>$t</font> <font color=#1b1baa>$il</font>.0 <font color=#1b1baa>$il</font>.end}
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>string</font></b> match <font color=#8b2a0e>&quot;    *&quot;</font> <font color=#1b1baa>$line</font>] || [<b><font color=#3a6797>string</font></b> match <font color=#8b2a0e>&quot;\t*&quot;</font> <font color=#1b1baa>$line</font>]} {
    <b><font color=#ca14ca>return</font></b> no ;<i><font color=#4b5d50># Tcl code to be processed by hl_tcl.tcl</font></i>
  }
  <i><font color=#4b5d50># header</font></i>
  <b><font color=#3a6797>lassign</font></b> [<b><font color=#3a6797>regexp</font></b> <font color=#653760>-inline</font> <font color=#8b2a0e>&quot;^#<font color=#1b1baa>{</font>1,6<font color=#1b1baa>}</font>\[^#\]&quot;</font> <font color=#1b1baa>$line</font>] lre
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$lre</font> ne {}} {
    <b><font color=#3a6797>set</font></b> p1 [<b><font color=#3a6797>expr</font></b> {min(6,max(1,[<b><font color=#3a6797>string</font></b> length <font color=#1b1baa>$lre</font>]-1))}]
    <font color=#1b1baa>$w</font> tag add mdHEAD<font color=#1b1baa>$p1</font> <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p1</font> <font color=#1b1baa>$il</font>.end
    <font color=#1b1baa>$w</font> tag add mdCMNT <font color=#1b1baa>$il</font>.0 <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p1</font>
    <b><font color=#ca14ca>return</font></b> yes
  }
  <i><font color=#4b5d50># list beginning with *, -, 1. 2. ..</font></i>
  <b><font color=#3a6797>lassign</font></b> [<b><font color=#3a6797>regexp</font></b> <font color=#653760>-inline</font> {^(\s*(([<b><font color=#3a6797>*</font></b>+-])|(\d+\.))\s)} <font color=#1b1baa>$line</font>] lre
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$lre</font> ne {}} {
    <b><font color=#3a6797>set</font></b> p1 [<b><font color=#3a6797>string</font></b> length <font color=#1b1baa>$lre</font>]
    <font color=#1b1baa>$w</font> tag add mdLIST <font color=#1b1baa>$il</font>.0 <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p1</font>
    <b><font color=#3a6797>set</font></b> line [<b><font color=#3a6797>string</font></b> replace <font color=#1b1baa>$line</font> [<b><font color=#3a6797>incr</font></b> p1 -2] <font color=#1b1baa>$p1</font> { }]
  }
  <i><font color=#4b5d50># back apostrophes for code snippets</font></i>
  <b><font color=#3a6797>set</font></b> apos [<b><font color=#3a6797>regexp</font></b> <font color=#653760>-inline</font> <font color=#653760>-all</font> <font color=#653760>-indices</font> {(^|[^`])+(`[^`]+`)+([^`]|$)} <font color=#1b1baa>$line</font>]
  <b><font color=#3a6797>foreach</font></b> {- - l2 -} <font color=#1b1baa>$apos</font> {
    <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$l2</font> p1 p2
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$p1</font>&lt;<font color=#1b1baa>$p2</font>} {
      <font color=#1b1baa>$w</font> tag add mdCMNT <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p1</font> <font color=#1b1baa>$il</font>.[<b><font color=#3a6797>incr</font></b> p1]
      <font color=#1b1baa>$w</font> tag add mdAPOS <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p1</font> <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p2</font>
      <font color=#1b1baa>$w</font> tag add mdCMNT <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p2</font> <font color=#1b1baa>$il</font>.[<b><font color=#3a6797>incr</font></b> p2]
    }
  }
  <i><font color=#4b5d50># font highlightings: italic, bold, bold italic</font></i>
  <b><font color=#3a6797>set</font></b> italic [<b><font color=#3a6797>regexp</font></b> <font color=#653760>-inline</font> <font color=#653760>-all</font> <font color=#653760>-indices</font> {(^|[^*])+(\*[^*]+\*)+([^*]|$)} <font color=#1b1baa>$line</font>]
  <b><font color=#3a6797>foreach</font></b> {- - l2 -} <font color=#1b1baa>$italic</font> {
    <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$l2</font> p1 p2
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$p1</font>&lt;<font color=#1b1baa>$p2</font>} {
      <font color=#1b1baa>$w</font> tag add mdCMNT <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p1</font> <font color=#1b1baa>$il</font>.[<b><font color=#3a6797>incr</font></b> p1]
      <font color=#1b1baa>$w</font> tag add mdITAL <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p1</font> <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p2</font>
      <font color=#1b1baa>$w</font> tag add mdCMNT <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p2</font> <font color=#1b1baa>$il</font>.[<b><font color=#3a6797>incr</font></b> p2]
    }
  }
  <b><font color=#3a6797>set</font></b> bold [<b><font color=#3a6797>regexp</font></b> <font color=#653760>-inline</font> <font color=#653760>-all</font> <font color=#653760>-indices</font> {(^|[^*])+(\*\*[^*]+\*\*)+([^*]|$)} <font color=#1b1baa>$line</font>]
  <b><font color=#3a6797>foreach</font></b> {- - l2 -} <font color=#1b1baa>$bold</font> {
    <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$l2</font> p1 p2
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$p1</font>&lt;<font color=#1b1baa>$p2</font>} {
      <font color=#1b1baa>$w</font> tag add mdCMNT <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p1</font> <font color=#1b1baa>$il</font>.[<b><font color=#3a6797>incr</font></b> p1 2]
      <font color=#1b1baa>$w</font> tag add mdBOLD <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p1</font> <font color=#1b1baa>$il</font>.[<b><font color=#3a6797>incr</font></b> p2 -1]
      <font color=#1b1baa>$w</font> tag add mdCMNT <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p2</font> <font color=#1b1baa>$il</font>.[<b><font color=#3a6797>incr</font></b> p2 2]
    }
  }
  <b><font color=#3a6797>set</font></b> bolditalic [<b><font color=#3a6797>regexp</font></b> <font color=#653760>-inline</font> <font color=#653760>-all</font> <font color=#653760>-indices</font> {(^|[^*])+(\*\*\*[^*]+\*\*\*)+([^*]|$)} <font color=#1b1baa>$line</font>]
  <b><font color=#3a6797>foreach</font></b> {- - l2 -} <font color=#1b1baa>$bolditalic</font> {
    <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$l2</font> p1 p2
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$p1</font>&lt;<font color=#1b1baa>$p2</font>} {
      <font color=#1b1baa>$w</font> tag add mdCMNT <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p1</font> <font color=#1b1baa>$il</font>.[<b><font color=#3a6797>incr</font></b> p1 3]
      <font color=#1b1baa>$w</font> tag add mdBOIT <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p1</font> <font color=#1b1baa>$il</font>.[<b><font color=#3a6797>incr</font></b> p2 -2]
      <font color=#1b1baa>$w</font> tag add mdCMNT <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p2</font> <font color=#1b1baa>$il</font>.[<b><font color=#3a6797>incr</font></b> p2 3]
    }
  }
  <i><font color=#4b5d50># html link</font></i>
  <b><font color=#3a6797>set</font></b> links [<b><font color=#3a6797>regexp</font></b> <font color=#653760>-inline</font> <font color=#653760>-all</font> <font color=#653760>-indices</font> {(!{0,1}\[{1}[^\(\)]*\]{1}\({1}[^\(\)]+\){1})||(&[a-zA-Z]+;)} <font color=#1b1baa>$line</font>]
  <b><font color=#3a6797>foreach</font></b> l2 <font color=#1b1baa>$links</font> {
    <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$l2</font> p1 p2
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$p1</font>&lt;<font color=#1b1baa>$p2</font>} {
      <font color=#1b1baa>$w</font> tag add mdLINK <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p1</font> <font color=#1b1baa>$il</font>.[<b><font color=#3a6797>incr</font></b> p2]
    }
  }
  <i><font color=#4b5d50># html tag</font></i>
  <b><font color=#3a6797>set</font></b> tags [<b><font color=#3a6797>regexp</font></b> <font color=#653760>-inline</font> <font color=#653760>-all</font> <font color=#653760>-indices</font> {&lt;{1}/?\w+[^&gt;]*&gt;{1}} <font color=#1b1baa>$line</font>]
  <b><font color=#3a6797>foreach</font></b> l2 <font color=#1b1baa>$tags</font> {
    <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$l2</font> p1 p2
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$p1</font>&lt;<font color=#1b1baa>$p2</font>} {
      <font color=#1b1baa>$w</font> tag add mdTAG <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p1</font> <font color=#1b1baa>$il</font>.[<b><font color=#3a6797>incr</font></b> p2]
    }
  }
  <b><font color=#ca14ca>return</font></b> yes
}
<a id=EOF></a>
<i><font color=#4b5d50># ________________________ EOF _________________________ #</font></i>

</pre>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../../index.html"><font color=#1a1a1a size=6>  <b>hl_md.tcl</b></font></div></td></table>

<!-- Made by alited (END) -->