<!-- Made by alited -->
<link rel="stylesheet" href="../../../css/style.css">

<title>hl_wiki.tcl</title>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../../index.html"><font color=#1a1a1a size=6>  <b>README.md</b></font></div></td></table>


<div id="bodyContent" class="dokuwiki">
<div id="dw__toc" class="dw__toc">
<h3 class="toggle open" style="cursor: pointer;">hl_wiki.tcl</h3>
<div aria-expanded="true" style="">

<ul class="toc">
<li><b><a href="#hl_wiki.tcl">hl_wiki.tcl</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#hl_wiki::init">init</a><span class=tooltiptext> hl_wiki::init : Initializes highlighting .wiki text.
w - the text
font - the text's font
szfont - the font's size
args - highlighting colors</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#hl_wiki::line">line</a><span class=tooltiptext> hl_wiki::line : Highlights a line of .wiki text.
w - the text
pos - position in the line
prevQtd - mode of processing a current line (0, 1, -1)</span></div></li></ul>
<li><b><a href="#EOF">EOF</a></b></li>

</ul>

</div>
</div>
</div>
<!-- TOC END -->

<h1><font color=#ca14ca> alited's addons</font></h1>
</p><p>
The <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_alm.html">alited/lib/addon</a> directory's scripts highlight various types of files:
</p><p>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_alm.html">hl_alm.tcl</a> - .alm files (macros)</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_em.html">hl_em.tcl</a> - .em files (e_menu's menus)</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_html.html">hl_html.tcl</a> - .html files</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_ini.html">hl_ini.tcl</a> - .ini files</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_md.html">hl_md.tcl</a> - .md files</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_wiki.html">hl_wiki.tcl</a> - .wiki files (for wiki.tcl-lang.org)</li>
</p><p>
The alited's main files are contained in <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/../../src/about.html">alited/src</a> directory.
</p><p>

</p>


<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../../index.html"><font color=#1a1a1a size=6>  <b>hl_wiki.tcl</b></font></div></td></table>

<pre class="code"><i><font color=#ff0000>#! /usr/bin/env tclsh<a id=hl_wiki.tcl></a></font></i>
<i><font color=#4b5d50>###########################################################</font></i>
<i><font color=#4b5d50># Name:    hl_wiki.tcl</font></i>
<i><font color=#4b5d50># Author:  Alex Plotnikov  (aplsimple@gmail.com)</font></i>
<i><font color=#4b5d50># Date:    Mar 11, 2023</font></i>
<i><font color=#4b5d50># Brief:   Handles highlighting files of wiki.tcl-lang.org.</font></i>
<i><font color=#4b5d50># License: MIT.</font></i>
<i><font color=#4b5d50>###########################################################</font></i>

<b><font color=#ca14ca>namespace</font></b> eval hl_wiki {
  <b><font color=#3a6797>variable</font></b> data; <b><font color=#3a6797>array</font></b> set data {}
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=hl_wiki::init></a>
<b><font color=#ca14ca>proc</font></b> hl_wiki::init {w font szfont args} {
  <i><font color=#4b5d50># Initializes highlighting .wiki text.</font></i>
  <i><font color=#4b5d50>#   w - the text</font></i>
  <i><font color=#4b5d50>#   font - the text's font</font></i>
  <i><font color=#4b5d50>#   szfont - the font's size</font></i>
  <i><font color=#4b5d50>#   args - highlighting colors</font></i>

  <b><font color=#3a6797>variable</font></b> data
  <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$args</font> clrCOM clrCOMTK clrSTR clrVAR clrCMN clrPROC clrOPT
  <b><font color=#3a6797>dict</font></b> set font <font color=#653760>-size</font> <font color=#1b1baa>$szfont</font>
  <font color=#1b1baa>$w</font> tag config wikiCMNT <font color=#653760>-font</font> <font color=#1b1baa>$font</font> <font color=#653760>-foreground</font> <font color=#1b1baa>$clrCMN</font>
  <font color=#1b1baa>$w</font> tag config wikiAPOS <font color=#653760>-font</font> <font color=#1b1baa>$font</font> <font color=#653760>-foreground</font> <font color=#1b1baa>$clrCOMTK</font>
  <font color=#1b1baa>$w</font> tag config wikiCTGR <font color=#653760>-font</font> <font color=#1b1baa>$font</font> <font color=#653760>-foreground</font> <font color=#1b1baa>$clrPROC</font>
  <b><font color=#3a6797>dict</font></b> set font <font color=#653760>-slant</font> italic
  <font color=#1b1baa>$w</font> tag config wikiITAL <font color=#653760>-font</font> <font color=#1b1baa>$font</font>
  <b><font color=#3a6797>dict</font></b> set font <font color=#653760>-weight</font> bold;  <b><font color=#3a6797>set</font></b> font [<b><font color=#3a6797>dict</font></b> remove <font color=#1b1baa>$font</font> <font color=#653760>-slant</font>]
  <font color=#1b1baa>$w</font> tag config wikiBOLD <font color=#653760>-font</font> <font color=#1b1baa>$font</font>
  <font color=#1b1baa>$w</font> tag config wikiLIST <font color=#653760>-font</font> <font color=#1b1baa>$font</font> <font color=#653760>-foreground</font> <font color=#1b1baa>$clrCOM</font>
  <b><font color=#3a6797>dict</font></b> set font <font color=#653760>-weight</font> normal
  <font color=#1b1baa>$w</font> tag config wikiLINK <font color=#653760>-font</font> <font color=#1b1baa>$font</font> <font color=#653760>-foreground</font> <font color=#1b1baa>$clrOPT</font>
  <font color=#1b1baa>$w</font> tag config wikiTAG <font color=#653760>-font</font> <font color=#1b1baa>$font</font> <font color=#653760>-foreground</font> <font color=#1b1baa>$clrSTR</font>
  <b><font color=#3a6797>foreach</font></b> t {ITAL BOLD LIST} {<b><font color=#3a6797>after</font></b> idle <font color=#1b1baa>$w</font> tag raise wiki<font color=#1b1baa>$t</font>}
  <b><font color=#3a6797>foreach</font></b> t {6 5 4 3 2 1} {
    <b><font color=#3a6797>dict</font></b> set font <font color=#653760>-weight</font> bold
    <b><font color=#3a6797>dict</font></b> set font <font color=#653760>-size</font> [<b><font color=#3a6797>expr</font></b> {<font color=#1b1baa>$szfont</font> + [<b><font color=#3a6797>incr</font></b> sz] -1}]
    <font color=#1b1baa>$w</font> tag config wikiHEAD<font color=#1b1baa>$t</font> <font color=#653760>-font</font> <font color=#1b1baa>$font</font> <font color=#653760>-foreground</font> <font color=#1b1baa>$clrPROC</font>
    <b><font color=#3a6797>after</font></b> idle <font color=#1b1baa>$w</font> tag raise wikiHEAD<font color=#1b1baa>$t</font>
  }
  <b><font color=#3a6797>set</font></b> data(<font color=#1b1baa>$w</font>,code) [<b><font color=#3a6797>list</font></b>]
  <b><font color=#ca14ca>return</font></b> [<b><font color=#3a6797>namespace</font></b> current]::line
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=hl_wiki::line></a>
<b><font color=#ca14ca>proc</font></b> hl_wiki::line {w {pos <font color=#8b2a0e>&quot;&quot;</font>} {prevQtd 0}} {
  <i><font color=#4b5d50># Highlights a line of .wiki text.</font></i>
  <i><font color=#4b5d50>#   w - the text</font></i>
  <i><font color=#4b5d50>#   pos - position in the line</font></i>
  <i><font color=#4b5d50>#   prevQtd - mode of processing a current line (0, 1, -1)</font></i>

  <b><font color=#3a6797>variable</font></b> data
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$pos</font> eq {}} {<b><font color=#3a6797>set</font></b> pos [<font color=#1b1baa>$w</font> index insert]}
  <b><font color=#3a6797>set</font></b> il [<b><font color=#3a6797>expr</font></b> {int(<font color=#1b1baa>$pos</font>)}]
  <b><font color=#3a6797>set</font></b> line [<font color=#1b1baa>$w</font> get <font color=#1b1baa>$il</font>.0 <font color=#1b1baa>$il</font>.end]
  <b><font color=#3a6797>foreach</font></b> t {LINK TAG CMNT APOS CTGR ITAL BOLD LIST} {<font color=#1b1baa>$w</font> tag remove wiki<font color=#1b1baa>$t</font> <font color=#1b1baa>$il</font>.0 <font color=#1b1baa>$il</font>.end}
  <b><font color=#3a6797>foreach</font></b> t {6 5 4 3 2 1} {<font color=#1b1baa>$w</font> tag remove wikiHEAD<font color=#1b1baa>$t</font> <font color=#1b1baa>$il</font>.0 <font color=#1b1baa>$il</font>.end}
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>string</font></b> match <font color=#8b2a0e>&quot;    *&quot;</font> <font color=#1b1baa>$line</font>] || [<b><font color=#3a6797>string</font></b> match <font color=#8b2a0e>&quot;\t*&quot;</font> <font color=#1b1baa>$line</font>]} {
    <b><font color=#ca14ca>return</font></b> no ;<i><font color=#4b5d50># Tcl code to be processed by hl_tcl.tcl</font></i>
  }
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>regexp</font></b> {^\s*&lt;&lt;[^&lt;&gt;]+&gt;&gt;} <font color=#1b1baa>$line</font>]} {
    <font color=#1b1baa>$w</font> tag add wikiCTGR <font color=#1b1baa>$il</font>.0 <font color=#1b1baa>$il</font>.end
    <b><font color=#ca14ca>return</font></b> yes
  }
  <b><font color=#3a6797>set</font></b> idxcode [<b><font color=#3a6797>lsearch</font></b> <font color=#653760>-exact</font> <font color=#1b1baa>$data($w,code)</font> <font color=#1b1baa>$il</font>]
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>string</font></b> trim <font color=#1b1baa>$line</font>] eq {======}} {
    <i><font color=#4b5d50># add start/end of Tcl code</font></i>
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$idxcode</font>&lt;0} {
      <b><font color=#3a6797>lappend</font></b> data(<font color=#1b1baa>$w</font>,code) <font color=#1b1baa>$il</font>
      <b><font color=#3a6797>set</font></b> data(<font color=#1b1baa>$w</font>,code) [<b><font color=#3a6797>lsort</font></b> <font color=#653760>-integer</font> <font color=#1b1baa>$data($w,code)</font>]
    }
    <b><font color=#ca14ca>return</font></b> yes
  } <b><font color=#3a6797>else</font></b> {
    <i><font color=#4b5d50># check for Tcl code</font></i>
    <b><font color=#3a6797>set</font></b> data(<font color=#1b1baa>$w</font>,code) [<b><font color=#3a6797>lreplace</font></b> <font color=#1b1baa>$data($w,code)</font> <font color=#1b1baa>$idxcode</font> <font color=#1b1baa>$idxcode</font>]
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$idxcode</font>&gt;=0} {<b><font color=#ca14ca>return</font></b> yes}
    <b><font color=#3a6797>set</font></b> llen [<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$data($w,code)</font>]
    <b><font color=#3a6797>for</font></b> {<b><font color=#3a6797>set</font></b> i [<b><font color=#3a6797>set</font></b> k 0]} {<font color=#1b1baa>$i</font>&lt;<font color=#1b1baa>$llen</font>} {} {
      <b><font color=#3a6797>set</font></b> ilc [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$data($w,code)</font> <font color=#1b1baa>$i</font>]
      <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$ilc</font>&gt;<font color=#1b1baa>$il</font>} {
        <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$k</font>} {<b><font color=#ca14ca>return</font></b> no} ;<i><font color=#4b5d50># inside Tcl code</font></i>
        <b><font color=#ca14ca>break</font></b>
      }
      <b><font color=#3a6797>set</font></b> k [<b><font color=#3a6797>expr</font></b> {[<b><font color=#3a6797>incr</font></b> k]%2}]
      <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>incr</font></b> i]==<font color=#1b1baa>$llen</font> && <font color=#1b1baa>$k</font>} {
        <b><font color=#ca14ca>return</font></b> no ;<i><font color=#4b5d50># inside Tcl code</font></i>
      }
    }
  }
  <b><font color=#3a6797>lassign</font></b> [<b><font color=#3a6797>regexp</font></b> <font color=#653760>-inline</font> <font color=#8b2a0e>&quot;^\\*<font color=#1b1baa>{</font>1,6<font color=#1b1baa>}</font>\[^\*\]+\\*<font color=#1b1baa>{</font>1,6<font color=#1b1baa>}</font>&quot;</font> <font color=#1b1baa>$line</font>] lre
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$lre</font> ne {}} {
    <b><font color=#3a6797>set</font></b> lrs [<b><font color=#3a6797>string</font></b> trimleft <font color=#1b1baa>$lre</font> *]
    <b><font color=#3a6797>set</font></b> p1 [<b><font color=#3a6797>expr</font></b> {min(6,max(1,[<b><font color=#3a6797>string</font></b> length <font color=#1b1baa>$lre</font>]-[<b><font color=#3a6797>string</font></b> length <font color=#1b1baa>$lrs</font>]))}]
    <font color=#1b1baa>$w</font> tag add wikiHEAD<font color=#1b1baa>$p1</font> <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p1</font> <font color=#8b2a0e>&quot;<font color=#1b1baa>$</font>il.end -<font color=#1b1baa>$</font>p1 char&quot;</font>
    <font color=#1b1baa>$w</font> tag add wikiCMNT <font color=#1b1baa>$il</font>.0 <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p1</font>
    <font color=#1b1baa>$w</font> tag add wikiCMNT <font color=#8b2a0e>&quot;<font color=#1b1baa>$</font>il.end -<font color=#1b1baa>[</font>incr p1<font color=#1b1baa>]</font> char&quot;</font> <font color=#1b1baa>$il</font>.end
    <b><font color=#ca14ca>return</font></b> yes
  }
  <b><font color=#3a6797>lassign</font></b> [<b><font color=#3a6797>regexp</font></b> <font color=#653760>-inline</font> {^(\s+[<b><font color=#3a6797>*</font></b>+-]\s)} <font color=#1b1baa>$line</font>] lre
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$lre</font> ne {}} {
    <b><font color=#3a6797>set</font></b> p1 [<b><font color=#3a6797>string</font></b> length <font color=#1b1baa>$lre</font>]
    <font color=#1b1baa>$w</font> tag add wikiLIST <font color=#1b1baa>$il</font>.0 <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p1</font>
    <b><font color=#3a6797>set</font></b> line [<b><font color=#3a6797>string</font></b> replace <font color=#1b1baa>$line</font> [<b><font color=#3a6797>incr</font></b> p1 -2] <font color=#1b1baa>$p1</font> { }]
  }
  <b><font color=#3a6797>set</font></b> italic [<b><font color=#3a6797>regexp</font></b> <font color=#653760>-inline</font> <font color=#653760>-all</font> <font color=#653760>-indices</font> {(?!'&lt;)'{2}(?!').*?'{2}(?!'&gt;)} <font color=#1b1baa>$line</font>]
  <b><font color=#3a6797>foreach</font></b> l2 <font color=#1b1baa>$italic</font> {
    <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$l2</font> p1 p2
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$p1</font>&lt;<font color=#1b1baa>$p2</font>} {
      <font color=#1b1baa>$w</font> tag add wikiCMNT <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p1</font> <font color=#1b1baa>$il</font>.[<b><font color=#3a6797>incr</font></b> p1 2]
      <font color=#1b1baa>$w</font> tag add wikiITAL <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p1</font> <font color=#1b1baa>$il</font>.[<b><font color=#3a6797>incr</font></b> p2 -1]
      <font color=#1b1baa>$w</font> tag add wikiCMNT <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p2</font> <font color=#1b1baa>$il</font>.[<b><font color=#3a6797>incr</font></b> p2 2]
    }
  }
  <b><font color=#3a6797>set</font></b> bold [<b><font color=#3a6797>regexp</font></b> <font color=#653760>-inline</font> <font color=#653760>-all</font> <font color=#653760>-indices</font> {(?!'&lt;)'{3}(?!').*?'{3}(?!'&gt;)} <font color=#1b1baa>$line</font>]
  <b><font color=#3a6797>foreach</font></b> l2 <font color=#1b1baa>$bold</font> {
    <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$l2</font> p1 p2
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$p1</font>&lt;<font color=#1b1baa>$p2</font>} {
      <font color=#1b1baa>$w</font> tag add wikiCMNT <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p1</font> <font color=#1b1baa>$il</font>.[<b><font color=#3a6797>incr</font></b> p1 3]
      <font color=#1b1baa>$w</font> tag add wikiBOLD <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p1</font> <font color=#1b1baa>$il</font>.[<b><font color=#3a6797>incr</font></b> p2 -2]
      <font color=#1b1baa>$w</font> tag add wikiCMNT <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p2</font> <font color=#1b1baa>$il</font>.[<b><font color=#3a6797>incr</font></b> p2 3]
    }
  }
  <b><font color=#3a6797>set</font></b> links [<b><font color=#3a6797>regexp</font></b> <font color=#653760>-inline</font> <font color=#653760>-all</font> <font color=#653760>-indices</font> {(\[{1})[^\]]+(\]{1})} <font color=#1b1baa>$line</font>]
  <b><font color=#3a6797>foreach</font></b> l2 <font color=#1b1baa>$links</font> {
    <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$l2</font> p1 p2
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$p1</font>&lt;<font color=#1b1baa>$p2</font>} {
      <font color=#1b1baa>$w</font> tag add wikiLINK <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p1</font> <font color=#1b1baa>$il</font>.[<b><font color=#3a6797>incr</font></b> p2]
      <b><font color=#3a6797>foreach</font></b> l2 [<b><font color=#3a6797>regexp</font></b> <font color=#653760>-inline</font> <font color=#653760>-all</font> <font color=#653760>-indices</font> {%\|%} <font color=#1b1baa>$line</font>] {
        <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$l2</font> p1 p2
        <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$p1</font>&lt;<font color=#1b1baa>$p2</font>} {
          <font color=#1b1baa>$w</font> tag add wikiAPOS <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p1</font> <font color=#1b1baa>$il</font>.[<b><font color=#3a6797>incr</font></b> p2]
        }
      }
    }
  }
  <b><font color=#3a6797>set</font></b> tags [<b><font color=#3a6797>regexp</font></b> <font color=#653760>-inline</font> <font color=#653760>-all</font> <font color=#653760>-indices</font> {&lt;{1}/?\w+[^&gt;]*&gt;{1}} <font color=#1b1baa>$line</font>]
  <b><font color=#3a6797>foreach</font></b> l2 <font color=#1b1baa>$tags</font> {
    <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$l2</font> p1 p2
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$p1</font>&lt;<font color=#1b1baa>$p2</font>} {
      <font color=#1b1baa>$w</font> tag add wikiTAG <font color=#1b1baa>$il</font>.<font color=#1b1baa>$p1</font> <font color=#1b1baa>$il</font>.[<b><font color=#3a6797>incr</font></b> p2]
    }
  }
  <b><font color=#ca14ca>return</font></b> yes
}
<a id=EOF></a>
<i><font color=#4b5d50># ________________________ EOF _________________________ #</font></i>

</pre>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../../index.html"><font color=#1a1a1a size=6>  <b>hl_wiki.tcl</b></font></div></td></table>

<!-- Made by alited (END) -->