<!-- Made by alited -->
<link rel="stylesheet" href="../../css/style.css">

<title>about.tcl</title>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>README.md</b></font></div></td></table>


<div id="bodyContent" class="dokuwiki">
<div id="dw__toc" class="dw__toc">
<h3 class="toggle open" style="cursor: pointer;">about.tcl</h3>
<div aria-expanded="true" style="">

<ul class="toc">
<li><b><a href="#about.tcl">about.tcl</a></b></li>
<li><b><a href="#Variables">Variables</a></b></li>
<li><b><a href="#Procedures">Procedures</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#about::textImaged">textImaged</a><span class=tooltiptext> about::textImaged : Makes the feather blink.
w - window's path</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#about::About">About</a><span class=tooltiptext> about::About : Shows "About" dialogue.
alited_checked</span></div></li></ul>
<li><b><a href="#Preparing_tabs">&nbsp;&nbsp;Preparing tabs</a></b></li>
<li><b><a href="#Tags_and_links">&nbsp;&nbsp;&nbsp;&nbsp;Tags and links</a></b></li>
<li><b><a href="#General_tab">&nbsp;&nbsp;&nbsp;&nbsp;General tab</a></b></li>
<li><b><a href="#Packages_tab">&nbsp;&nbsp;&nbsp;&nbsp;Packages tab</a></b></li>
<li><b><a href="#Acknowledgements_tab">&nbsp;&nbsp;&nbsp;&nbsp;Acknowledgements tab</a></b></li>
<li><b><a href="#Combining_tabs">&nbsp;&nbsp;&nbsp;&nbsp;Combining tabs</a></b></li>
<li><b><a href="#Change_default_options">&nbsp;&nbsp;Change default options</a></b></li>
<li><b><a href="#Open_dialogue">&nbsp;&nbsp;Open dialogue</a></b></li>
<li><b><a href="#Restore_defaults">&nbsp;&nbsp;Restore defaults</a></b></li>
<li><b><a href="#EOF">EOF</a></b></li>

</ul>

</div>
</div>
</div>
<!-- TOC END -->

<h1><font color=#ca14ca> alited's source</font></h1>
</p><p>
The <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/about.html">alited/src</a> directory contains alited's own source files.
</p><p>
Some additional alited's files are also contained in <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_alm.html">alited/lib/addon</a> directory (<i><font color=#1b1baa>alited/lib</font></i> directory contains all library files).
</p><p>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/about.html">about.tcl</a> - "About alited" dialogue.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/alited.html">alited.tcl</a> - The alited's main script to start.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/bar.html">bar.tcl</a> - Handles the bar of tabs.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/check.html">check.tcl</a> - "Check Tcl" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/complete.html">complete.tcl</a> - Handles auto-completion.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/edit.html">edit.tcl</a> - "Edit" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/favor.html">favor.tcl</a> - Handles the favorite and last visited units.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/favor_ls.html">favor_ls.tcl</a> - "Saved lists of favorites" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/file.html">file.tcl</a> - "File" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/find.html">find.tcl</a> - "Find / Replace" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/format.html">format.tcl</a> - "Edit / Formats" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/img.html">img.tcl</a> - List of images used by alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/indent.html">indent.tcl</a> - Handles text indentation.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/info.html">info.tcl</a> - Handles the info bar.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/ini.html">ini.tcl</a> - Handles initializing alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/keys.html">keys.tcl</a> - Handles keyboard (mapping etc.).</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/main.html">main.tcl</a> - Handles the main form of alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/menu.html">menu.tcl</a> - Handles alited's menus.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/msgs.html">msgs.tcl</a> - Localized messages used in several places.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/paver.html">paver.tcl</a> - "Tools / Paver" tool.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/pkgIndex.html">pkgIndex.tcl</a> - Includes README.md text (for Ruff doc generator).</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/pref.html">pref.tcl</a> - "Preferences" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/preview.html">preview.tcl</a> - "Preview (theme, CS)" dialogue called by "Preferences".</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/printer.html">printer.tcl</a> - "Tools / Project Printer" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/project.html">project.tcl</a> - "Projects" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/run.html">run.tcl</a> - "Tools / Run..." dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/tool.html">tool.tcl</a> - "Tools" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/tree.html">tree.tcl</a> - Handles the tree of units and files.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/unit.html">unit.tcl</a> - Handles the unit tree.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/unit_tpl.html">unit_tpl.tcl</a> - "Templates" dialogue and procedures.</li>
</p><p>

</p>


<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>about.tcl</b></font></div></td></table>

<pre class="code"><i><font color=#4b5d50>###########################################################<a id=about.tcl></a></font></i>
<i><font color=#4b5d50># Name:    about.tcl</font></i>
<i><font color=#4b5d50># Author:  Alex Plotnikov  (aplsimple@gmail.com)</font></i>
<i><font color=#4b5d50># Date:    07/03/2021</font></i>
<i><font color=#4b5d50># Brief:   Handles 'About' form of alited.</font></i>
<i><font color=#4b5d50># License: MIT.</font></i>
<i><font color=#4b5d50>###########################################################</font></i>
<a id=Variables></a>
<i><font color=#4b5d50># _________________________ Variables ________________________ #</font></i>

<b><font color=#ca14ca>namespace</font></b> eval about {
  <b><font color=#3a6797>variable</font></b> textTags  ;<i><font color=#4b5d50># text tags to highlight strings</font></i>
}
<a id=Procedures></a>
<i><font color=#4b5d50># ________________________ Procedures _________________________ #</font></i>
<a id=about::textImaged></a>
<b><font color=#ca14ca>proc</font></b> about::textImaged {w} {
  <i><font color=#4b5d50># Makes the feather blink.</font></i>
  <i><font color=#4b5d50>#  w - window's path</font></i>

  obj labelFlashing [obj textLink <font color=#1b1baa>$w</font> 5] <font color=#8b2a0e>&quot;&quot;</font> 1 \
    <font color=#653760>-data</font> <font color=#1b1baa>$::alited::img::_AL_IMG(feather)</font> <font color=#653760>-pause</font> 0.5 <font color=#653760>-incr</font> 0.1 <font color=#653760>-after</font> 40
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=about::About></a>
<b><font color=#ca14ca>proc</font></b> about::About {} {
  <i><font color=#4b5d50># Shows &quot;About&quot; dialogue.</font></i>

  <i><font color=#4b5d50># alited_checked</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al DIR DIR
  <b><font color=#3a6797>variable</font></b> textTags
<a id=Preparing_tabs></a>
  <i><font color=#4b5d50>## ________________________ Preparing tabs _________________________ ##</font></i>

  ::alited::Source_e_menu
  ::alited::edit::MacroInit
  <b><font color=#3a6797>lassign</font></b> [obj csGet] fg fg2 bg bg2 - bS fS
  ::apave::InitAwThemesPath <font color=#1b1baa>$::alited::LIBDIR</font>
  <b><font color=#3a6797>foreach</font></b> _ {alited apave bartabs baltip hl_tcl playtkl} {
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>set</font></b> v<font color=#1b1baa>$_</font> v[<b><font color=#3a6797>package</font></b> versions <font color=#1b1baa>$_</font>]] eq {v} \
    && [<b><font color=#3a6797>catch</font></b> {<b><font color=#3a6797>set</font></b> v<font color=#1b1baa>$_</font> v[<b><font color=#3a6797>package</font></b> require <font color=#1b1baa>$_</font>]}]} {
      <b><font color=#3a6797>set</font></b> v<font color=#1b1baa>$_</font> {}
    }
  }
  <b><font color=#3a6797>set</font></b> font [obj csFontDef]
  obj initLinkFont {<b><font color=#3a6797>*</font></b>}<font color=#1b1baa>$font</font> <font color=#653760>-underline</font> 1 <font color=#653760>-foreground</font> <font color=#1b1baa>$fg2</font> <font color=#653760>-background</font> <font color=#1b1baa>$bg2</font>
  <b><font color=#3a6797>append</font></b> font <font color=#8b2a0e>&quot; -weight bold&quot;</font>
<a id=Tags_and_links></a>
  <i><font color=#4b5d50>### ________________________ Tags and links _________________________ ###</font></i>

  <b><font color=#3a6797>set</font></b> textTags [<b><font color=#3a6797>list</font></b> \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;red&quot;</font> <font color=#8b2a0e>&quot;-font <font color=#1b1baa>{$</font>font<font color=#1b1baa>}</font> -foreground <font color=#1b1baa>$</font>fS -background <font color=#1b1baa>$</font>bS&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;link1&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://%l@@&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;link2&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://wiki.tcl-lang.org/recent@@&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkapl&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://github.com/aplsimple/@@&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkCN&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://www.nemethi.de/@@&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkSH&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://wiki.tcl-lang.org/page/Steve+Huntley@@&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkHE&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://wiki.tcl-lang.org/page/HE@@&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkRD&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://github.com/rdbende@@&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkPO&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://wiki.tcl-lang.org/page/Paul+Obermeier@@&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkPW&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://wiki.tcl-lang.org/page/PW@@&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkRK&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://rkeene.org/projects/info@@&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkMIT&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://en.wikipedia.org/wiki/MIT_License@@&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkJS&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://wiki.tcl-lang.org/page/Jeff+Smith@@&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkRS&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@http://wiki.tcl-lang.org/page/Richard+Suchenwirth@@&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkAN&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://www.magicsplat.com/@@&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkDF&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://wiki.tcl-lang.org/page/Donal+Fellows@@&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkJO&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://www.johann-oberdorfer.eu/@@&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkTW&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://github.com/phase1geo@@&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkCM&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://wiki.tcl-lang.org/page/Colin+Macleod@@&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkDB&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://wiki.tcl-lang.org/page/dbohdan&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkDG&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://wiki.tcl-lang.org/page/Detlef+Groth&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkPY&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://wiki.tcl-lang.org/page/Poor+Yorick&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkMH&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://wiki.tcl-lang.org/page/Matthias+Hoffmann&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkNB&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://github.com/sl1200mk2@@&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkTZ&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://github.com/thanoulis@@&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkCW&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://wiki.tcl-lang.org/page/chw@@&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkAK&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://wiki.tcl-lang.org/page/Andreas+Kupries@@&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkAG&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://wiki.tcl-lang.org/page/Andy+Goth@@&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkDA&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://github.com/ray2501@@&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkET&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://github.com/eht16&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;link-apave&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://aplsimple.github.io/en/tcl/pave&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;link-e_menu&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://aplsimple.github.io/en/tcl/e_menu&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;link-baltip&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://aplsimple.github.io/en/tcl/baltip/baltip.html&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;link-bartabs&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://aplsimple.github.io/en/tcl/bartabs&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;link-hl_tcl&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://aplsimple.github.io/en/tcl/hl_tcl/hl_tcl.html&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;link-aloupe&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://aplsimple.github.io/en/tcl/aloupe/aloupe.html&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;link-playtkl&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://aplsimple.github.io/en/tcl/playtkl/playtkl.html&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;link-tkcc&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://aplsimple.github.io/en/tcl/tkcc&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;link-repl&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://github.com/apnadkarni/tcl-repl&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;link-ale_themes&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://github.com/aplsimple/ale_themes&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;link-tkcon&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://wiki.tcl-lang.org/page/Tkcon&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;link_&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://aplsimple.github.io/en/misc/links/links.html@@&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkRH&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@http://www.hwaci.com/drh/@@&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkBL&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://wiki.tcl-lang.org/page/bll@@&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkFF&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://wiki.tcl-lang.org/page/FF@@&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkSS&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://github.com/antirez@@&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkML&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://wiki.tcl-lang.org/page/Martin+Lemburg@@&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkDN&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://github.com/par7133@@&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkAM&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://en.wikipedia.org/wiki/Argentina@@&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkHO&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://wiki.tcl-lang.org/page/Harald+Oehlmann@@&quot;</font>] \
    [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;linkJM&quot;</font> <font color=#8b2a0e>&quot;openDoc %t@@https://github.com/jgm@@&quot;</font>] \
    ]
<a id=General_tab></a>
  <i><font color=#4b5d50>### ________________________ &quot;General&quot; tab _________________________ ###</font></i>

  <b><font color=#3a6797>set</font></b> head <font color=#8b2a0e>&quot;alited <font color=#1b1baa>$</font>valited&quot;</font>
  <b><font color=#3a6797>set</font></b> clog [readTextFile [<b><font color=#3a6797>file</font></b> join <font color=#1b1baa>$DIR</font> CHANGELOG.md]]
  <b><font color=#3a6797>foreach</font></b> line [textsplit <font color=#1b1baa>$clog</font>] {
    <b><font color=#3a6797>lassign</font></b> [<b><font color=#3a6797>regexp</font></b> <font color=#653760>-inline</font> {Version `.+(\(.+\))`} <font color=#1b1baa>$line</font>] -&gt; line
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$line</font> ne {}} {
      <b><font color=#3a6797>append</font></b> head <font color=#8b2a0e>&quot; <font color=#1b1baa>$</font>line&quot;</font>
      <b><font color=#ca14ca>break</font></b>
    }
  }

  <b><font color=#3a6797>set</font></b> long1 [msgcat::mc {And well fit for programming with it.}]
  <b><font color=#3a6797>set</font></b> long2 __________________________________________
  <b><font color=#3a6797>set</font></b> long3 [<b><font color=#3a6797>file</font></b> nativename [<b><font color=#3a6797>info</font></b> nameofexecutable]]
  <b><font color=#3a6797>set</font></b> msg <font color=#8b2a0e>&quot;  &lt;red&gt;<font color=#1b1baa>$</font>head&lt;/red&gt;, a lite editor.\n\n \</font>
<font color=#8b2a0e>    <font color=#1b1baa>[</font>msgcat::mc <font color=#1b1baa>{</font>Written in pure Tcl/Tk.<font color=#1b1baa>}]</font> \n \</font>
<font color=#8b2a0e>    <font color=#1b1baa>$</font>long1\n\n \</font>
<font color=#8b2a0e>    <font color=#1b1baa>[</font>msgcat::mc <font color=#1b1baa>{</font>Details:<font color=#1b1baa>}]</font> \n\n \</font>
<font color=#8b2a0e>      \u2022 &lt;link1&gt;aplsimple.github.io/en/tcl/alited&lt;/link1&gt;\n \</font>
<font color=#8b2a0e>      \u2022 &lt;link1&gt;github.com/aplsimple/alited&lt;/link1&gt;\n \</font>
<font color=#8b2a0e>      \u2022 &lt;link1&gt;chiselapp.com/user/aplsimple/repository/alited&lt;/link1&gt;\n\n \</font>
<font color=#8b2a0e>    <font color=#1b1baa>[</font>msgcat::mc <font color=#1b1baa>{</font>Authors:<font color=#1b1baa>}]</font> \n\n \</font>
<font color=#8b2a0e>      \u2022 &lt;linkapl&gt;Alex Plotnikov&lt;/linkapl&gt;\n\n \</font>
<font color=#8b2a0e>    <font color=#1b1baa>[</font>msgcat::mc <font color=#1b1baa>{</font>License:<font color=#1b1baa>}]</font> &lt;linkMIT&gt;MIT&lt;/linkMIT&gt;\n \</font>
<font color=#8b2a0e>    <font color=#1b1baa>$</font>long2\n \</font>
<font color=#8b2a0e>    \n \</font>
<font color=#8b2a0e>    &lt;red&gt; <font color=#1b1baa>$</font>long3 &lt;/red&gt;\n \</font>
<font color=#8b2a0e>    \n \</font>
<font color=#8b2a0e>    &lt;red&gt; Tcl/Tk <font color=#1b1baa>$</font>::alited::tcltk_version &lt;/red&gt; &lt;link2&gt;&lt;/link2&gt;\n \</font>
<font color=#8b2a0e>    \n \</font>
<font color=#8b2a0e>    &lt;red&gt; <font color=#1b1baa>$</font>::tcl_platform(os) <font color=#1b1baa>$</font>::tcl_platform(osVersion) &lt;/red&gt;&quot;</font>
<a id=Packages_tab></a>
  <i><font color=#4b5d50>### ________________________ &quot;Packages&quot; tab _________________________ ###</font></i>

  <b><font color=#3a6797>set</font></b> packages [msgcat::mc {Packages used by &lt;red&gt;alited %ver&lt;/red&gt;:}]
  <b><font color=#3a6797>set</font></b> packages [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> %ver <font color=#1b1baa>$valited</font>] <font color=#1b1baa>$packages</font>]
  <b><font color=#3a6797>set</font></b> vemenu   v[<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$::em::em_version</font> 1]
  <b><font color=#3a6797>set</font></b> ::alited::AboutPack <font color=#8b2a0e>&quot;\n <font color=#1b1baa>$</font>packages\n\n \</font>
<font color=#8b2a0e>    \u2022 &lt;link-apave&gt;apave <font color=#1b1baa>$</font>vapave&lt;/link-apave&gt;\n\n \</font>
<font color=#8b2a0e>    \u2022 &lt;link-e_menu&gt;e_menu <font color=#1b1baa>$</font>vemenu&lt;/link-e_menu&gt;\n\n \</font>
<font color=#8b2a0e>    \u2022 &lt;link-ale_themes&gt;ale_themes&lt;/link-ale_themes&gt;\n\n \</font>
<font color=#8b2a0e>    \u2022 &lt;link-baltip&gt;baltip <font color=#1b1baa>$</font>vbaltip&lt;/link-baltip&gt;\n\n \</font>
<font color=#8b2a0e>    \u2022 &lt;link-bartabs&gt;bartabs <font color=#1b1baa>$</font>vbartabs&lt;/link-bartabs&gt;\n\n \</font>
<font color=#8b2a0e>    \u2022 &lt;link-hl_tcl&gt;hl_tcl <font color=#1b1baa>$</font>vhl_tcl&lt;/link-hl_tcl&gt;\n\n \</font>
<font color=#8b2a0e>    \u2022 &lt;link-aloupe&gt;aloupe v1.8.1&lt;/link-aloupe&gt;\n\n \</font>
<font color=#8b2a0e>    \u2022 &lt;link-playtkl&gt;playtkl <font color=#1b1baa>$</font>vplaytkl&lt;/link-playtkl&gt;\n\n \</font>
<font color=#8b2a0e>    \u2022 &lt;link-tkcc&gt;tkcc&lt;/link-tkcc&gt;\n\n \</font>
<font color=#8b2a0e>    \u2022 &lt;link-repl&gt;tcl-repl&lt;/link-repl&gt;\n\n \</font>
<font color=#8b2a0e>    \u2022 &lt;link-tkcon&gt;tkcon v2.7&lt;/link-tkcon&gt;\n \</font>
<font color=#8b2a0e>    \n menus/*.em v<font color=#1b1baa>$</font>al(MNUversion) \</font>
<font color=#8b2a0e>    \n alited.ini v<font color=#1b1baa>$</font>al(INIversion)&quot;</font>
<a id=Acknowledgements_tab></a>
  <i><font color=#4b5d50>### ________________________ &quot;Acknowledgements&quot; tab _________________________ ###</font></i>

  <b><font color=#3a6797>set</font></b> ackn [msgcat::mc <font color=#8b2a0e>&quot;Many thanks to the following people \</font>
<font color=#8b2a0e>    \n who have contributed to this project \</font>
<font color=#8b2a0e>    \n with their participation, advice and code&quot;</font>]
  <b><font color=#3a6797>set</font></b> spec [msgcat::mc <font color=#8b2a0e>&quot;Special thanks also to&quot;</font>]
  <b><font color=#3a6797>set</font></b> ::alited::AboutAckn <font color=#8b2a0e>&quot;\n <font color=#1b1baa>$</font>ackn\n\n \</font>
<font color=#8b2a0e>    \u2022 &lt;linkSH&gt;Steve Huntley&lt;/linkSH&gt;\n \</font>
<font color=#8b2a0e>    \u2022 &lt;linkHE&gt;Holger Ewert&lt;/linkHE&gt;\n \</font>
<font color=#8b2a0e>    \u2022 &lt;linkCN&gt;Csaba Nemethi&lt;/linkCN&gt;\n \</font>
<font color=#8b2a0e>    \u2022 &lt;linkPO&gt;Paul Obermeier&lt;/linkPO&gt;\n \</font>
<font color=#8b2a0e>    \u2022 &lt;linkAN&gt;Ashok P. Nadkarni&lt;/linkAN&gt;\n \</font>
<font color=#8b2a0e>    \u2022 &lt;linkRD&gt;rdbende&lt;/linkRD&gt;\n \</font>
<font color=#8b2a0e>    \u2022 &lt;linkBL&gt;Brad Lanam&lt;/linkBL&gt;\n \</font>
<font color=#8b2a0e>    \u2022 &lt;linkPW&gt;Paul Walton&lt;/linkPW&gt;\n \</font>
<font color=#8b2a0e>    \u2022 &lt;linkJO&gt;Johann Oberdorfer&lt;/linkJO&gt;\n \</font>
<font color=#8b2a0e>    \u2022 &lt;linkRS&gt;Richard Suchenwirth&lt;/linkRS&gt;\n \</font>
<font color=#8b2a0e>    \u2022 &lt;linkCW&gt;Christian Werner&lt;/linkCW&gt;\n \</font>
<font color=#8b2a0e>    \u2022 &lt;linkNB&gt;Nicolas Bats&lt;/linkNB&gt;\n \</font>
<font color=#8b2a0e>    \u2022 &lt;linkTZ&gt;Thanos Zygouris&lt;/linkTZ&gt;\n \</font>
<font color=#8b2a0e>    \u2022 &lt;linkFF&gt;Federico Ferri&lt;/linkFF&gt;\n \</font>
<font color=#8b2a0e>    \u2022 &lt;linkSS&gt;Salvatore Sanfilippo&lt;/linkSS&gt;\n \</font>
<font color=#8b2a0e>    \u2022 &lt;linkML&gt;Martin Lemburg&lt;/linkML&gt;\n \</font>
<font color=#8b2a0e>    \u2022 &lt;linkDN&gt;Daniele Bonini&lt;/linkDN&gt;\n \</font>
<font color=#8b2a0e>    \u2022 &lt;linkAM&gt;Alexis Martin&lt;/linkAM&gt;\n \</font>
<font color=#8b2a0e>    \n <font color=#1b1baa>$</font>spec\n\n \</font>
<font color=#8b2a0e>    \u2022 &lt;linkTW&gt;Trevor Williams&lt;/linkTW&gt;\n \</font>
<font color=#8b2a0e>    \u2022 &lt;linkDF&gt;Donal K. Fellows&lt;/linkDF&gt;\n \</font>
<font color=#8b2a0e>    \u2022 &lt;linkJS&gt;Jeff Smith&lt;/linkJS&gt;\n \</font>
<font color=#8b2a0e>    \u2022 &lt;linkRK&gt;Roy Keene&lt;/linkRK&gt;\n \</font>
<font color=#8b2a0e>    \u2022 &lt;linkDB&gt;D. Bohdan&lt;/linkDB&gt;\n \</font>
<font color=#8b2a0e>    \u2022 &lt;linkDG&gt;Detlef Groth&lt;/linkDG&gt;\n \</font>
<font color=#8b2a0e>    \u2022 &lt;linkCM&gt;Colin Macleod&lt;/linkCM&gt;\n \</font>
<font color=#8b2a0e>    \u2022 &lt;linkPY&gt;Nathan Coulter&lt;/linkPY&gt;\n \</font>
<font color=#8b2a0e>    \u2022 &lt;linkAK&gt;Andreas Kupries&lt;/linkAK&gt;\n \</font>
<font color=#8b2a0e>    \u2022 &lt;linkRH&gt;D. Richard Hipp&lt;/linkRH&gt;\n \</font>
<font color=#8b2a0e>    \u2022 &lt;linkMH&gt;Matthias Hoffmann&lt;/linkMH&gt;\n \</font>
<font color=#8b2a0e>    \u2022 &lt;linkAG&gt;Andy Goth&lt;/linkAG&gt;\n \</font>
<font color=#8b2a0e>    \u2022 &lt;linkDA&gt;Danilo Chang&lt;/linkDA&gt;\n \</font>
<font color=#8b2a0e>    \u2022 &lt;linkET&gt;Enrico Troeger&lt;/linkET&gt;\n \</font>
<font color=#8b2a0e>    \u2022 &lt;linkHO&gt;Harald Oehlmann&lt;/linkHO&gt;\n \</font>
<font color=#8b2a0e>    \u2022 &lt;linkJM&gt;John MacFarlane&lt;/linkJM&gt;\n \</font>
<font color=#8b2a0e>    \n &lt;link_&gt;Excuse my memory if I omitted someone's name.&lt;/link_&gt;\n&quot;</font>
<a id=Combining_tabs></a>
  <i><font color=#4b5d50>### ________________________ Combining tabs _________________________ ###</font></i>

  <b><font color=#3a6797>set</font></b> wmax [<b><font color=#3a6797>expr</font></b> {4+max([<b><font color=#3a6797>string</font></b> length <font color=#1b1baa>$long1</font>], \
    [<b><font color=#3a6797>string</font></b> length <font color=#1b1baa>$long2</font>],[<b><font color=#3a6797>string</font></b> length <font color=#1b1baa>$long3</font>])}]
  <b><font color=#3a6797>set</font></b> tab2 [<b><font color=#3a6797>list</font></b> General Packages <font color=#8b2a0e>&quot;<font color=#1b1baa>{</font>fra - - 1 99 <font color=#1b1baa>{</font>-st nsew -rw 1 -cw 1<font color=#1b1baa>}}</font> \</font>
<font color=#8b2a0e>    <font color=#1b1baa>{</font>.TexPack - - - - <font color=#1b1baa>{</font>pack -side left -expand 1 -fill both<font color=#1b1baa>}</font> <font color=#1b1baa>{</font>-w <font color=#1b1baa>$</font>wmax -h 31 \</font>
<font color=#8b2a0e>    -rotext ::alited::AboutPack -tags ::alited::about::textTags<font color=#1b1baa>}}</font>&quot;</font> \
    Acknowledgements <font color=#8b2a0e>&quot;<font color=#1b1baa>{</font>fra - - 1 99 <font color=#1b1baa>{</font>-st nsew -rw 1 -cw 1<font color=#1b1baa>}}</font> \</font>
<font color=#8b2a0e>    <font color=#1b1baa>{</font>.TexAckn - - - - <font color=#1b1baa>{</font>pack -side left -expand 1 -fill both<font color=#1b1baa>}</font> \</font>
<font color=#8b2a0e>    <font color=#1b1baa>{</font>-w <font color=#1b1baa>$</font>wmax -h 34 -rotext ::alited::AboutAckn -tags ::alited::about::textTags<font color=#1b1baa>}}</font> \</font>
<font color=#8b2a0e>    <font color=#1b1baa>{</font>.sbv .texAckn L - - <font color=#1b1baa>{</font>pack -side right<font color=#1b1baa>}}</font>&quot;</font>]
<a id=Change_default_options></a>
  <i><font color=#4b5d50>## ________________________ Change default options _________________________ ##</font></i>

  <i><font color=#4b5d50># invert link colors</font></i>
  <b><font color=#3a6797>set</font></b> aopts <font color=#8b2a0e>&quot;<font color=#1b1baa>{</font>-fg <font color=#1b1baa>$</font>::apave::FGMAIN -bg <font color=#1b1baa>$</font>::apave::BGMAIN<font color=#1b1baa>}</font>&quot;</font>
  obj untouchWidgets <font color=#8b2a0e>&quot;*.texM <font color=#1b1baa>$</font>aopts&quot;</font> <font color=#8b2a0e>&quot;*.texPack <font color=#1b1baa>$</font>aopts&quot;</font> <font color=#8b2a0e>&quot;*.texAckn <font color=#1b1baa>$</font>aopts&quot;</font>
  <b><font color=#3a6797>lassign</font></b> [obj csGet] fg fg2 bg bg2
  <b><font color=#3a6797>lappend</font></b> textTags <font color=#8b2a0e>&quot;FG <font color=#1b1baa>$</font>fg2&quot;</font> <font color=#8b2a0e>&quot;FG2 <font color=#1b1baa>$</font>fg&quot;</font> <font color=#8b2a0e>&quot;BG <font color=#1b1baa>$</font>bg2&quot;</font> <font color=#8b2a0e>&quot;BG2 <font color=#1b1baa>$</font>bg&quot;</font>

  <i><font color=#4b5d50># tooltips to show in the left & bottom point from the mouse pointer</font></i>
  <b><font color=#3a6797>lassign</font></b> [::baltip cget <font color=#653760>-shiftX</font>] -&gt; shiftX
  ::baltip configure <font color=#653760>-shiftX</font> 10
<a id=Open_dialogue></a>
  <i><font color=#4b5d50>## ________________________ Open dialogue _________________________ ##</font></i>

  ::alited::msg ok {} <font color=#1b1baa>$msg</font> \
    <font color=#653760>-title</font> [msgcat::mc About] <font color=#653760>-t</font> 1 <font color=#653760>-w</font> <font color=#1b1baa>$wmax</font> <font color=#653760>-h</font> {30 30} <font color=#653760>-scroll</font> 0 \
    <font color=#653760>-tags</font> ::alited::about::textTags <font color=#653760>-my</font> <font color=#8b2a0e>&quot;after idle <font color=#1b1baa>{</font>alited::about::textImaged %w<font color=#1b1baa>}</font>&quot;</font> \
    <font color=#653760>-tab2</font> <font color=#1b1baa>$tab2</font>
<a id=Restore_defaults></a>
  <i><font color=#4b5d50>## ________________________ Restore defaults _________________________ ##</font></i>

  ::baltip configure <font color=#653760>-shiftX</font> <font color=#1b1baa>$shiftX</font>
  obj touchWidgets *.texM *.texPack *.texAckn
  <b><font color=#3a6797>unset</font></b> <font color=#653760>-nocomplain</font> ::alited::AboutAckn
  <b><font color=#3a6797>unset</font></b> <font color=#653760>-nocomplain</font> ::alited::AboutPack
}
<a id=EOF></a>
<i><font color=#4b5d50># _____________________________ EOF _____________________________________ #</font></i>

</pre>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>about.tcl</b></font></div></td></table>

<!-- Made by alited (END) -->