<!-- Made by alited -->
<link rel="stylesheet" href="../../css/style.css">

<title>favor_ls.tcl</title>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>README.md</b></font></div></td></table>


<div id="bodyContent" class="dokuwiki">
<div id="dw__toc" class="dw__toc">
<h3 class="toggle open" style="cursor: pointer;">favor_ls.tcl</h3>
<div aria-expanded="true" style="">

<ul class="toc">
<li><b><a href="#favor_ls.tcl">favor_ls.tcl</a></b></li>
<li><b><a href="#Variables">Variables</a></b></li>
<li><b><a href="#Form's_buttons">Form's buttons</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#favor_ls::Save_favlist">Save_favlist</a><span class=tooltiptext> favor_ls::Save_favlist : Saves favorites' list.
saveini - save templates in ini-file</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#favor_ls::Restore_favlist">Restore_favlist</a><span class=tooltiptext> favor_ls::Restore_favlist : Restores favorites' list.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#favor_ls::Ok">Ok</a><span class=tooltiptext> favor_ls::Ok : Handles hitting OK button.
res - if 0, sets the dialogue's result from a current favorites item.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#favor_ls::Cancel">Cancel</a><span class=tooltiptext> favor_ls::Cancel : Handles hitting Cancel button.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#favor_ls::Help">Help</a><span class=tooltiptext> favor_ls::Help : Handles hitting Help button.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#favor_ls::HelpMe">HelpMe</a><span class=tooltiptext> favor_ls::HelpMe : 'Help' for start.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#favor_ls::DoubleClick">DoubleClick</a><span class=tooltiptext> favor_ls::DoubleClick : Handles double clicking on the list:
in "Favorites" mode, invokes "Select" button, otherwise "Open...".</span></div></li></ul>
<li><b><a href="#List_events_handlers">List events handlers</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#favor_ls::Text">Text</a><span class=tooltiptext> favor_ls::Text : Gets the text widget's content.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#favor_ls::ComposeText">ComposeText</a><span class=tooltiptext> favor_ls::ComposeText : Composes a current text of favorites or files of favorites.
isfavor - "yes" to get favorites, "no" to get files of favorites
args - a list of favorites
If args is omitted, the current favorites tree's contents will be the list.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#favor_ls::DisplayText">DisplayText</a><span class=tooltiptext> favor_ls::DisplayText : Displays text of favorites or their files.
cont - text's content
See also: DisplayFavorText</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#favor_ls::DisplayFavorText">DisplayFavorText</a><span class=tooltiptext> favor_ls::DisplayFavorText : Displays text of favorites or their files.
args - a list of favorites
See also: ComposeText, DisplayText</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#favor_ls::Selected">Selected</a><span class=tooltiptext> favor_ls::Selected : Gets a selected item of favorites list.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#favor_ls::Select">Select</a><span class=tooltiptext> favor_ls::Select : Handles a selection in the list of favorites' lists.
isel - a selected item of the list</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#favor_ls::Focus">Focus</a><span class=tooltiptext> favor_ls::Focus : Focuses on an item of the list.
isel - the item to focus on</span></div></li></ul>
<li><b><a href="#Buttons_to_modify">Buttons to modify</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#favor_ls::Add">Add</a><span class=tooltiptext> favor_ls::Add : Handles hitting "Add favorites' list" button.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#favor_ls::AddFiles">AddFiles</a><span class=tooltiptext> favor_ls::AddFiles : Adds .tcl files of current session as the favorites.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#favor_ls::Change">Change</a><span class=tooltiptext> favor_ls::Change : Handles hitting "Change favorites' list" button.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#favor_ls::Delete">Delete</a><span class=tooltiptext> favor_ls::Delete : Handles hitting "Delete favorites' list" button.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#favor_ls::Message">Message</a><span class=tooltiptext> favor_ls::Message : Displays a message in statusbar of favorites dialogue.
msg - message
mode - mode of Message</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#favor_ls::ProcMessage">ProcMessage</a><span class=tooltiptext> favor_ls::ProcMessage : Handles clicking on message label.</span></div></li></ul>
<li><b><a href="#Ini_data">Ini data</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#favor_ls::Split">Split</a><span class=tooltiptext> favor_ls::Split : Splits a saved list by the list's dividers.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#favor_ls::IniFile">IniFile</a><span class=tooltiptext> favor_ls::IniFile : Returns the ini file's name to store favorites' lists.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#favor_ls::GetIni">GetIni</a><span class=tooltiptext> favor_ls::GetIni : Reads favorites' lists data, stored in the ini file.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#favor_ls::PutIni">PutIni</a><span class=tooltiptext> favor_ls::PutIni : Makes favorites' lists data to store to the ini file.</span></div></li></ul>
<li><b><a href="#Main">Main</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#favor_ls::_create">_create</a><span class=tooltiptext> favor_ls::_create : Creates "Favorites lists" dialogue.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#favor_ls::_run">_run</a><span class=tooltiptext> favor_ls::_run : Runs "Favorites lists" dialogue.</span></div></li></ul>
<li><b><a href="#EOF">EOF</a></b></li>

</ul>

</div>
</div>
</div>
<!-- TOC END -->

<h1><font color=#ca14ca> alited's source</font></h1>
</p><p>
The <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/about.html">alited/src</a> directory contains alited's own source files.
</p><p>
Some additional alited's files are also contained in <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_alm.html">alited/lib/addon</a> directory (<i><font color=#1b1baa>alited/lib</font></i> directory contains all library files).
</p><p>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/about.html">about.tcl</a> - "About alited" dialogue.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/alited.html">alited.tcl</a> - The alited's main script to start.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/bar.html">bar.tcl</a> - Handles the bar of tabs.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/check.html">check.tcl</a> - "Check Tcl" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/complete.html">complete.tcl</a> - Handles auto-completion.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/edit.html">edit.tcl</a> - "Edit" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/favor.html">favor.tcl</a> - Handles the favorite and last visited units.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/favor_ls.html">favor_ls.tcl</a> - "Saved lists of favorites" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/file.html">file.tcl</a> - "File" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/find.html">find.tcl</a> - "Find / Replace" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/format.html">format.tcl</a> - "Edit / Formats" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/img.html">img.tcl</a> - List of images used by alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/indent.html">indent.tcl</a> - Handles text indentation.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/info.html">info.tcl</a> - Handles the info bar.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/ini.html">ini.tcl</a> - Handles initializing alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/keys.html">keys.tcl</a> - Handles keyboard (mapping etc.).</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/main.html">main.tcl</a> - Handles the main form of alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/menu.html">menu.tcl</a> - Handles alited's menus.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/msgs.html">msgs.tcl</a> - Localized messages used in several places.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/paver.html">paver.tcl</a> - "Tools / Paver" tool.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/pkgIndex.html">pkgIndex.tcl</a> - Includes README.md text (for Ruff doc generator).</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/pref.html">pref.tcl</a> - "Preferences" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/preview.html">preview.tcl</a> - "Preview (theme, CS)" dialogue called by "Preferences".</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/printer.html">printer.tcl</a> - "Tools / Project Printer" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/project.html">project.tcl</a> - "Projects" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/run.html">run.tcl</a> - "Tools / Run..." dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/tool.html">tool.tcl</a> - "Tools" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/tree.html">tree.tcl</a> - Handles the tree of units and files.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/unit.html">unit.tcl</a> - Handles the unit tree.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/unit_tpl.html">unit_tpl.tcl</a> - "Templates" dialogue and procedures.</li>
</p><p>

</p>


<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>favor_ls.tcl</b></font></div></td></table>

<pre class="code"><i><font color=#4b5d50>###########################################################<a id=favor_ls.tcl></a></font></i>
<i><font color=#4b5d50># Name:    favor_ls.tcl</font></i>
<i><font color=#4b5d50># Author:  Alex Plotnikov  (aplsimple@gmail.com)</font></i>
<i><font color=#4b5d50># Date:    07/03/2021</font></i>
<i><font color=#4b5d50># Brief:   Handles favorites' lists.</font></i>
<i><font color=#4b5d50># License: MIT.</font></i>
<i><font color=#4b5d50>###########################################################</font></i>
<a id=Variables></a>
<i><font color=#4b5d50># _________________________ Variables ________________________ #</font></i>

<b><font color=#ca14ca>namespace</font></b> eval ::alited::favor_ls {
  <b><font color=#3a6797>variable</font></b> obFav pavedFavs
  <b><font color=#3a6797>variable</font></b> win <font color=#1b1baa>$::alited::al(WIN)</font>.fraFavs  ;<i><font color=#4b5d50># &quot;Favorites' list&quot; dialogue's path</font></i>
  <b><font color=#3a6797>variable</font></b> favlist [<b><font color=#3a6797>list</font></b>]      ;<i><font color=#4b5d50># list of favorites' lists</font></i>
  <b><font color=#3a6797>variable</font></b> favlistsaved [<b><font color=#3a6797>list</font></b>] ;<i><font color=#4b5d50># saved list of favorites' lists</font></i>
  <b><font color=#3a6797>variable</font></b> favcont [<b><font color=#3a6797>list</font></b>]      ;<i><font color=#4b5d50># content of current favorites' list</font></i>
  <b><font color=#3a6797>variable</font></b> favpla  [<b><font color=#3a6797>list</font></b>]      ;<i><font color=#4b5d50># list of &quot;where to place&quot; of current favorites' list</font></i>
  <b><font color=#3a6797>variable</font></b> currents [<b><font color=#3a6797>list</font></b>]     ;<i><font color=#4b5d50># content of text (current favorites)</font></i>
  <b><font color=#3a6797>variable</font></b> fav {}              ;<i><font color=#4b5d50># current selection of treeview of list of favorites' lists</font></i>
  <b><font color=#3a6797>variable</font></b> place 1             ;<i><font color=#4b5d50># variable for &quot;where to place&quot;</font></i>
}
<a id=Form's_buttons></a>
<i><font color=#4b5d50># ________________________ Form's buttons _________________________ #</font></i>
<a id=favor_ls::Save_favlist></a>
<b><font color=#ca14ca>proc</font></b> favor_ls::Save_favlist {{saveini yes}} {
  <i><font color=#4b5d50># Saves favorites' list.</font></i>
  <i><font color=#4b5d50>#   saveini - save templates in ini-file</font></i>

  <b><font color=#3a6797>variable</font></b> favlist
  <b><font color=#3a6797>variable</font></b> favlistsaved
  <b><font color=#3a6797>set</font></b> favlistsaved <font color=#1b1baa>$favlist</font>
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$saveini</font>} alited::ini::SaveIniPrj
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=favor_ls::Restore_favlist></a>
<b><font color=#ca14ca>proc</font></b> favor_ls::Restore_favlist {} {
  <i><font color=#4b5d50># Restores favorites' list.</font></i>

  <b><font color=#3a6797>variable</font></b> favlist
  <b><font color=#3a6797>variable</font></b> favlistsaved
  <b><font color=#3a6797>set</font></b> favlist <font color=#1b1baa>$favlistsaved</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=favor_ls::Ok></a>
<b><font color=#ca14ca>proc</font></b> favor_ls::Ok {{res 0}} {
  <i><font color=#4b5d50># Handles hitting OK button.</font></i>
  <i><font color=#4b5d50>#   res - if 0, sets the dialogue's result from a current favorites item.</font></i>

  <b><font color=#3a6797>variable</font></b> obFav
  <b><font color=#3a6797>variable</font></b> win
  <b><font color=#3a6797>variable</font></b> favcont
  <b><font color=#3a6797>variable</font></b> favpla
  alited::CloseDlg
  <b><font color=#3a6797>if</font></b> {!<font color=#1b1baa>$res</font> || <font color=#1b1baa>$res</font>==4} {
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>set</font></b> isel [Selected]] eq {}} {
      <b><font color=#134070>focus</font></b> [<font color=#1b1baa>$obFav</font> LbxFav]
      <b><font color=#ca14ca>return</font></b>
    }
    <b><font color=#3a6797>set</font></b> cont [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$favcont</font> <font color=#1b1baa>$isel</font>]
    <b><font color=#3a6797>set</font></b> isfiles [alited::favor::IsFavoritesFiles [Split <font color=#1b1baa>$cont</font>]]
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$isfiles</font>} {<b><font color=#3a6797>set</font></b> res 4}
    <b><font color=#3a6797>set</font></b> pla [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$favpla</font> <font color=#1b1baa>$isel</font>]
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$res</font>!=4} {
      <i><font color=#4b5d50># list of fav.units</font></i>
    } <b><font color=#3a6797>else</font></b> {
      <i><font color=#4b5d50># list of files of fav.units</font></i>
      <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$::alited::al(FAV,IsFavor)</font> && !<font color=#1b1baa>$isfiles</font>} {
        <b><font color=#3a6797>set</font></b> cont [ComposeText no {<b><font color=#3a6797>*</font></b>}[Split <font color=#1b1baa>$cont</font>]]
      } <b><font color=#3a6797>else</font></b> {
        <b><font color=#3a6797>set</font></b> cont [Text]
      }
    }
    <b><font color=#3a6797>set</font></b> res [<b><font color=#3a6797>list</font></b> [<b><font color=#3a6797>incr</font></b> pla <font color=#1b1baa>$res</font>] [Split <font color=#1b1baa>$cont</font>]]
  }
  Save_favlist
  <font color=#1b1baa>$obFav</font> res <font color=#1b1baa>$win</font> <font color=#1b1baa>$res</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=favor_ls::Cancel></a>
<b><font color=#ca14ca>proc</font></b> favor_ls::Cancel {args} {
  <i><font color=#4b5d50># Handles hitting Cancel button.</font></i>

  <b><font color=#3a6797>variable</font></b> obFav
  <b><font color=#3a6797>variable</font></b> win
  alited::CloseDlg
  Save_favlist
  <font color=#1b1baa>$obFav</font> res <font color=#1b1baa>$win</font> 0
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=favor_ls::Help></a>
<b><font color=#ca14ca>proc</font></b> favor_ls::Help {args} {
  <i><font color=#4b5d50># Handles hitting Help button.</font></i>

  <b><font color=#3a6797>variable</font></b> win
  alited::Help <font color=#1b1baa>$win</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=favor_ls::HelpMe></a>
<b><font color=#ca14ca>proc</font></b> favor_ls::HelpMe {args} {
  <i><font color=#4b5d50># 'Help' for start.</font></i>

  <b><font color=#3a6797>variable</font></b> win
  alited::HelpMe <font color=#1b1baa>$win</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=favor_ls::DoubleClick></a>
<b><font color=#ca14ca>proc</font></b> favor_ls::DoubleClick {} {
  <i><font color=#4b5d50># Handles double clicking on the list:</font></i>
  <i><font color=#4b5d50># in &quot;Favorites&quot; mode, invokes &quot;Select&quot; button, otherwise &quot;Open...&quot;.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <b><font color=#3a6797>variable</font></b> obFav
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$al(FAV,IsFavor)</font>} {<b><font color=#3a6797>set</font></b> but ButOK} {<b><font color=#3a6797>set</font></b> but ButOpenFile}
  [<font color=#1b1baa>$obFav</font> <font color=#1b1baa>$but</font>] invoke
}
<a id=List_events_handlers></a>
<i><font color=#4b5d50># _______________________ List events handlers _______________________ #</font></i>
<a id=favor_ls::Text></a>
<b><font color=#ca14ca>proc</font></b> favor_ls::Text {} {
  <i><font color=#4b5d50># Gets the text widget's content.</font></i>

  <b><font color=#3a6797>variable</font></b> obFav
  <b><font color=#ca14ca>return</font></b> [[<font color=#1b1baa>$obFav</font> TexFav] get 1.0 {end -1 char}]
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=favor_ls::ComposeText></a>
<b><font color=#ca14ca>proc</font></b> favor_ls::ComposeText {isfavor args} {
  <i><font color=#4b5d50># Composes a current text of favorites or files of favorites.</font></i>
  <i><font color=#4b5d50>#   isfavor - &quot;yes&quot; to get favorites, &quot;no&quot; to get files of favorites</font></i>
  <i><font color=#4b5d50>#   args - a list of favorites</font></i>
  <i><font color=#4b5d50># If args is omitted, the current favorites tree's contents will be the list.</font></i>

  <b><font color=#3a6797>variable</font></b> currents
  <b><font color=#3a6797>set</font></b> text [<b><font color=#3a6797>set</font></b> currents {}]
  <b><font color=#3a6797>set</font></b> prevnames [<b><font color=#3a6797>list</font></b>]
  <b><font color=#3a6797>if</font></b> {![<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$args</font>]} {<b><font color=#3a6797>set</font></b> args [alited::tree::GetTree {} TreeFavor]}
  <b><font color=#3a6797>set</font></b> isfiles [alited::favor::IsFavoritesFiles <font color=#1b1baa>$args</font>]
  <b><font color=#3a6797>foreach</font></b> it <font color=#1b1baa>$args</font> {
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$text</font> ne {}} {
      <b><font color=#3a6797>append</font></b> text \n
      <b><font color=#3a6797>append</font></b> currents <font color=#1b1baa>$::alited::EOL</font>
    }
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$isfiles</font>} {
      <b><font color=#3a6797>set</font></b> fname [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$it</font> 1]
      <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$fname</font> ni <font color=#1b1baa>$prevnames</font>} {<b><font color=#3a6797>lappend</font></b> prevnames <font color=#1b1baa>$fname</font>}
    } <b><font color=#3a6797>elseif</font></b> {<font color=#1b1baa>$isfavor</font>} {
      <b><font color=#3a6797>append</font></b> text [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$it</font> 4 0]
    } <b><font color=#3a6797>else</font></b> {
      <b><font color=#3a6797>set</font></b> fname [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$it</font> 4 1]
      <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$fname</font> ni <font color=#1b1baa>$prevnames</font>} {<b><font color=#3a6797>lappend</font></b> prevnames <font color=#1b1baa>$fname</font>}
    }
    <b><font color=#3a6797>append</font></b> currents <font color=#1b1baa>$it</font>
  }
  <b><font color=#3a6797>if</font></b> {!<font color=#1b1baa>$isfavor</font> || <font color=#1b1baa>$isfiles</font>} {
    <b><font color=#3a6797>foreach</font></b> fname [<b><font color=#3a6797>lsort</font></b> <font color=#653760>-dictionary</font> <font color=#1b1baa>$prevnames</font>] {
      <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$text</font> ne {}} {<b><font color=#3a6797>append</font></b> text \n}
      <b><font color=#3a6797>append</font></b> text <font color=#1b1baa>$fname</font>
    }
  }
  <b><font color=#ca14ca>return</font></b> <font color=#1b1baa>$text</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=favor_ls::DisplayText></a>
<b><font color=#ca14ca>proc</font></b> favor_ls::DisplayText {cont} {
  <i><font color=#4b5d50># Displays text of favorites or their files.</font></i>
  <i><font color=#4b5d50>#   cont - text's content</font></i>
  <i><font color=#4b5d50># See also: DisplayFavorText</font></i>

  <b><font color=#3a6797>variable</font></b> obFav
  <b><font color=#3a6797>set</font></b> w [<font color=#1b1baa>$obFav</font> TexFav]
  <font color=#1b1baa>$obFav</font> readonlyWidget <font color=#1b1baa>$w</font> no
  <font color=#1b1baa>$obFav</font> displayText <font color=#1b1baa>$w</font> <font color=#1b1baa>$cont</font>
  <font color=#1b1baa>$obFav</font> readonlyWidget <font color=#1b1baa>$w</font> yes
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=favor_ls::DisplayFavorText></a>
<b><font color=#ca14ca>proc</font></b> favor_ls::DisplayFavorText {args} {
  <i><font color=#4b5d50># Displays text of favorites or their files.</font></i>
  <i><font color=#4b5d50>#   args - a list of favorites</font></i>
  <i><font color=#4b5d50># See also: ComposeText, DisplayText</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  DisplayText [ComposeText <font color=#1b1baa>$al(FAV,IsFavor)</font> {<b><font color=#3a6797>*</font></b>}<font color=#1b1baa>$args</font>]
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=favor_ls::Selected></a>
<b><font color=#ca14ca>proc</font></b> favor_ls::Selected {} {
  <i><font color=#4b5d50># Gets a selected item of favorites list.</font></i>

  <b><font color=#3a6797>variable</font></b> obFav
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>set</font></b> isel [[<font color=#1b1baa>$obFav</font> LbxFav] curselection]] eq {}} {
    Message <font color=#1b1baa>$::alited::al(MC,favsel)</font> 4
  }
  <b><font color=#ca14ca>return</font></b> <font color=#1b1baa>$isel</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=favor_ls::Select></a>
<b><font color=#ca14ca>proc</font></b> favor_ls::Select {{isel <font color=#8b2a0e>&quot;&quot;</font>}} {
  <i><font color=#4b5d50># Handles a selection in the list of favorites' lists.</font></i>
  <i><font color=#4b5d50>#   isel - a selected item of the list</font></i>

  <b><font color=#3a6797>variable</font></b> obFav
  <b><font color=#3a6797>variable</font></b> favlist
  <b><font color=#3a6797>variable</font></b> favcont
  <b><font color=#3a6797>variable</font></b> favpla
  <b><font color=#3a6797>variable</font></b> fav
  <b><font color=#3a6797>variable</font></b> place
  <b><font color=#3a6797>set</font></b> lbx [<font color=#1b1baa>$obFav</font> LbxFav]
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$isel</font> eq {}} {<b><font color=#3a6797>set</font></b> isel [<font color=#1b1baa>$lbx</font> curselection]}
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$isel</font> eq {} && [<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$favlist</font>]} {<b><font color=#3a6797>set</font></b> isel 0}
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$isel</font> ne {} && [<b><font color=#3a6797>set</font></b> fav [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$favlist</font> <font color=#1b1baa>$isel</font>]] ne {}} {
    <b><font color=#3a6797>set</font></b> place [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$favpla</font> <font color=#1b1baa>$isel</font>]
    <b><font color=#3a6797>set</font></b> cont [Split [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$favcont</font> <font color=#1b1baa>$isel</font>]]
    DisplayFavorText {<b><font color=#3a6797>*</font></b>}<font color=#1b1baa>$cont</font>
    Focus <font color=#1b1baa>$isel</font>
  }
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=favor_ls::Focus></a>
<b><font color=#ca14ca>proc</font></b> favor_ls::Focus {isel} {
  <i><font color=#4b5d50># Focuses on an item of the list.</font></i>
  <i><font color=#4b5d50>#   isel - the item to focus on</font></i>

  <b><font color=#3a6797>variable</font></b> obFav
  <b><font color=#3a6797>set</font></b> lbx [<font color=#1b1baa>$obFav</font> LbxFav]
  <font color=#1b1baa>$lbx</font> selection clear 0 end
  <font color=#1b1baa>$lbx</font> selection set <font color=#1b1baa>$isel</font> <font color=#1b1baa>$isel</font>
  <font color=#1b1baa>$lbx</font> see <font color=#1b1baa>$isel</font>
}
<a id=Buttons_to_modify></a>
<i><font color=#4b5d50># ________________________ Buttons to modify  _________________________ #</font></i>
<a id=favor_ls::Add></a>
<b><font color=#ca14ca>proc</font></b> favor_ls::Add {} {
  <i><font color=#4b5d50># Handles hitting &quot;Add favorites' list&quot; button.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <b><font color=#3a6797>variable</font></b> obFav
  <b><font color=#3a6797>variable</font></b> favlist
  <b><font color=#3a6797>variable</font></b> favcont
  <b><font color=#3a6797>variable</font></b> favpla
  <b><font color=#3a6797>variable</font></b> currents
  <b><font color=#3a6797>variable</font></b> fav
  <b><font color=#3a6797>variable</font></b> place
  <b><font color=#3a6797>set</font></b> cont <font color=#1b1baa>$currents</font>
  <b><font color=#3a6797>set</font></b> found no
  <b><font color=#3a6797>set</font></b> isel 0
  <b><font color=#3a6797>foreach</font></b> f <font color=#1b1baa>$favlist</font> p <font color=#1b1baa>$favpla</font> c <font color=#1b1baa>$favcont</font> {
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$fav</font> eq <font color=#1b1baa>$f</font> || (<font color=#1b1baa>$p</font> eq <font color=#1b1baa>$place</font> && <font color=#1b1baa>$c</font> eq <font color=#1b1baa>$cont</font>)} {
      <b><font color=#3a6797>set</font></b> found yes
      <b><font color=#ca14ca>break</font></b>
    }
    <b><font color=#3a6797>incr</font></b> isel
  }
  <b><font color=#3a6797>set</font></b> fav [<b><font color=#3a6797>string</font></b> trim <font color=#1b1baa>$fav</font>]
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$fav</font> ne <font color=#8b2a0e>&quot;&quot;</font> && <font color=#1b1baa>$cont</font> ne <font color=#8b2a0e>&quot;&quot;</font> && <font color=#1b1baa>$found</font>} {
    Message <font color=#1b1baa>$al(MC,favexists)</font> 4
    Select <font color=#1b1baa>$isel</font>
    <b><font color=#ca14ca>return</font></b>
  } <b><font color=#3a6797>elseif</font></b> {<font color=#1b1baa>$fav</font> eq <font color=#8b2a0e>&quot;&quot;</font>} {
    <b><font color=#134070>focus</font></b> [<font color=#1b1baa>$obFav</font> EntFav]
    Message <font color=#1b1baa>$al(MC,favent1)</font> 4
    <b><font color=#ca14ca>return</font></b>
  } <b><font color=#3a6797>elseif</font></b> {[<b><font color=#3a6797>string</font></b> trim <font color=#1b1baa>$cont</font>] eq <font color=#8b2a0e>&quot;&quot;</font>} {
    Message <font color=#1b1baa>$al(MC,favent3)</font> 4
    <b><font color=#ca14ca>return</font></b>
  } <b><font color=#3a6797>else</font></b> {
    <b><font color=#3a6797>set</font></b> isel end
    <b><font color=#3a6797>lappend</font></b> favlist <font color=#1b1baa>$fav</font>
    <b><font color=#3a6797>lappend</font></b> favcont <font color=#1b1baa>$cont</font>
    <b><font color=#3a6797>lappend</font></b> favpla <font color=#1b1baa>$place</font>
    <b><font color=#3a6797>set</font></b> msg [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> %n [<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$favlist</font>]] <font color=#1b1baa>$al(MC,favnew)</font>]
    Message <font color=#1b1baa>$msg</font> 3
  }
  Save_favlist
  Focus <font color=#1b1baa>$isel</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=favor_ls::AddFiles></a>
<b><font color=#ca14ca>proc</font></b> favor_ls::AddFiles {} {
  <i><font color=#4b5d50># Adds .tcl files of current session as the favorites.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <b><font color=#3a6797>variable</font></b> currents
  <b><font color=#3a6797>variable</font></b> place
  <b><font color=#3a6797>variable</font></b> fav
  <b><font color=#3a6797>variable</font></b> obFav
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$fav</font> eq <font color=#8b2a0e>&quot;&quot;</font>} {
    <b><font color=#134070>focus</font></b> [<font color=#1b1baa>$obFav</font> EntFav]
    Message <font color=#1b1baa>$al(MC,favent1)</font> 4
    <b><font color=#ca14ca>return</font></b>
  }
  <b><font color=#3a6797>set</font></b> tsel [alited::SessionTclList 1]
  <b><font color=#3a6797>set</font></b> tall [alited::SessionTclList 2]
  <b><font color=#3a6797>set</font></b> isel [<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$tsel</font>]
  <b><font color=#3a6797>set</font></b> iall [<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$tall</font>]
  <b><font color=#3a6797>set</font></b> msgNoTcl {No .tcl files found in the session}
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$iall</font>&lt;1} {
    Message <font color=#1b1baa>$msgNoTcl</font> 4
    <b><font color=#ca14ca>return</font></b>
  }
  <b><font color=#3a6797>set</font></b> msg [msgcat::mc <font color=#8b2a0e>&quot;\n Save as favorites list: selected (%s) or all (%a) files?\n&quot;</font>]
  <b><font color=#3a6797>set</font></b> msg [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> %s <font color=#1b1baa>$isel</font> %a <font color=#1b1baa>$iall</font>] <font color=#1b1baa>$msg</font>]
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$isel</font>&gt;1} {<b><font color=#3a6797>set</font></b> res 1} {<b><font color=#3a6797>set</font></b> res 2}
  <b><font color=#3a6797>set</font></b> res [<font color=#1b1baa>$obFav</font> misc ques <font color=#1b1baa>$al(MC,question)</font> <font color=#1b1baa>$msg</font> {Selected 1 {All files} 2 Cancel 0} <font color=#1b1baa>$res</font>]
  <b><font color=#3a6797>switch</font></b> <font color=#1b1baa>$res</font> {
    1 {<b><font color=#3a6797>set</font></b> tabs <font color=#1b1baa>$tsel</font>}
    2 {<b><font color=#3a6797>set</font></b> tabs <font color=#1b1baa>$tall</font>}
    <b><font color=#3a6797>default</font></b> {<b><font color=#ca14ca>return</font></b>}
  }
  <i><font color=#4b5d50># scan all .tcl to get the favorites' list from them</font></i>
  <b><font color=#3a6797>set</font></b> fnames [<b><font color=#3a6797>list</font></b>]
  <b><font color=#3a6797>foreach</font></b> tab <font color=#1b1baa>$tabs</font> {
    <b><font color=#3a6797>set</font></b> TID [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$tab</font> 0]
    <b><font color=#3a6797>set</font></b> wtxt [alited::main::GetWTXT <font color=#1b1baa>$TID</font>]
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$wtxt</font> eq {}} {
      alited::main::GetText <font color=#1b1baa>$TID</font> no no
    }
    <b><font color=#3a6797>set</font></b> it [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$al(_unittree,$TID)</font> 0]
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$it</font> ne {}} {
      <b><font color=#3a6797>lappend</font></b> fnames [alited::bar::FileName <font color=#1b1baa>$TID</font>]
    }
  }
  <i><font color=#4b5d50># create the sorted list of favorite files</font></i>
  <b><font color=#3a6797>set</font></b> text [<b><font color=#3a6797>set</font></b> currents {}]
  <b><font color=#3a6797>foreach</font></b> fname [<b><font color=#3a6797>lsort</font></b> <font color=#653760>-dictionary</font> <font color=#1b1baa>$fnames</font>] {
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$text</font> ne {}} {
      <b><font color=#3a6797>append</font></b> text \n
      <b><font color=#3a6797>append</font></b> currents <font color=#1b1baa>$::alited::EOL</font>
    }
    <b><font color=#3a6797>append</font></b> text <font color=#1b1baa>$fname</font>
    <b><font color=#3a6797>append</font></b> currents [<b><font color=#3a6797>list</font></b> FILE <font color=#1b1baa>$fname</font>]
  }
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$text</font> eq {}} {
    Message <font color=#1b1baa>$msgNoTcl</font> 4
  } <b><font color=#3a6797>else</font></b> {
    DisplayText <font color=#1b1baa>$text</font>
    Add
  }
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=favor_ls::Change></a>
<b><font color=#ca14ca>proc</font></b> favor_ls::Change {} {
  <i><font color=#4b5d50># Handles hitting &quot;Change favorites' list&quot; button.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <b><font color=#3a6797>variable</font></b> favlist
  <b><font color=#3a6797>variable</font></b> favpla
  <b><font color=#3a6797>variable</font></b> favcont
  <b><font color=#3a6797>variable</font></b> place
  <b><font color=#3a6797>variable</font></b> fav
  <b><font color=#3a6797>variable</font></b> currents
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>set</font></b> isel [Selected]] eq {}} <b><font color=#ca14ca>return</font></b>
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>set</font></b> isl1 [<b><font color=#3a6797>lsearch</font></b> <font color=#653760>-exact</font> <font color=#1b1baa>$favlist</font> <font color=#1b1baa>$fav</font>]]!=<font color=#1b1baa>$isel</font> && <font color=#1b1baa>$isl1</font>!=-1} {
    Message <font color=#1b1baa>$al(MC,favexists)</font> 4
    Select <font color=#1b1baa>$isl1</font>
  } <b><font color=#3a6797>else</font></b> {
    <b><font color=#3a6797>set</font></b> favlist [<b><font color=#3a6797>lreplace</font></b> <font color=#1b1baa>$favlist</font> <font color=#1b1baa>$isel</font> <font color=#1b1baa>$isel</font> <font color=#1b1baa>$fav</font>]
    <b><font color=#3a6797>set</font></b> favpla [<b><font color=#3a6797>lreplace</font></b> <font color=#1b1baa>$favpla</font> <font color=#1b1baa>$isel</font> <font color=#1b1baa>$isel</font> <font color=#1b1baa>$place</font>]
    <b><font color=#3a6797>set</font></b> favcont [<b><font color=#3a6797>lreplace</font></b> <font color=#1b1baa>$favcont</font> <font color=#1b1baa>$isel</font> <font color=#1b1baa>$isel</font> <font color=#1b1baa>$currents</font>]
    <b><font color=#3a6797>set</font></b> msg [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> %n [<b><font color=#3a6797>incr</font></b> isel]] <font color=#1b1baa>$al(MC,favupd)</font>]
    Message <font color=#1b1baa>$msg</font> 3
    Save_favlist
  }
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=favor_ls::Delete></a>
<b><font color=#ca14ca>proc</font></b> favor_ls::Delete {} {
  <i><font color=#4b5d50># Handles hitting &quot;Delete favorites' list&quot; button.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <b><font color=#3a6797>variable</font></b> favlist
  <b><font color=#3a6797>variable</font></b> favcont
  <b><font color=#3a6797>variable</font></b> favpla
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>set</font></b> isel [Selected]] eq <font color=#8b2a0e>&quot;&quot;</font>} <b><font color=#ca14ca>return</font></b>
  <b><font color=#3a6797>set</font></b> nsel [<b><font color=#3a6797>expr</font></b> {<font color=#1b1baa>$isel</font>+1}]
  <b><font color=#3a6797>set</font></b> msg [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> %n <font color=#1b1baa>$nsel</font>] <font color=#1b1baa>$al(MC,favdelq)</font>]
  <b><font color=#3a6797>if</font></b> {![alited::msg yesno warn <font color=#1b1baa>$msg</font> NO <font color=#653760>-title</font> <font color=#1b1baa>$al(MC,warning)</font>]} {
    <b><font color=#ca14ca>return</font></b>
  }
  <b><font color=#3a6797>set</font></b> favlist [<b><font color=#3a6797>lreplace</font></b> <font color=#1b1baa>$favlist</font> <font color=#1b1baa>$isel</font> <font color=#1b1baa>$isel</font>]
  <b><font color=#3a6797>set</font></b> favcont [<b><font color=#3a6797>lreplace</font></b> <font color=#1b1baa>$favcont</font> <font color=#1b1baa>$isel</font> <font color=#1b1baa>$isel</font>]
  <b><font color=#3a6797>set</font></b> favpla [<b><font color=#3a6797>lreplace</font></b> <font color=#1b1baa>$favpla</font> <font color=#1b1baa>$isel</font> <font color=#1b1baa>$isel</font>]
  <b><font color=#3a6797>set</font></b> llen [<b><font color=#3a6797>expr</font></b> {[<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$favlist</font>]-1}]
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$isel</font>&gt;<font color=#1b1baa>$llen</font>} {<b><font color=#3a6797>set</font></b> isel <font color=#1b1baa>$llen</font>}
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$llen</font>&gt;=0} {Select <font color=#1b1baa>$isel</font>}
  <b><font color=#3a6797>set</font></b> msg [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> %n <font color=#1b1baa>$nsel</font>] <font color=#1b1baa>$al(MC,favrem)</font>]
  Message <font color=#1b1baa>$msg</font> 3
  Save_favlist
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=favor_ls::Message></a>
<b><font color=#ca14ca>proc</font></b> favor_ls::Message {msg {mode 2}} {
  <i><font color=#4b5d50># Displays a message in statusbar of favorites dialogue.</font></i>
  <i><font color=#4b5d50>#   msg - message</font></i>
  <i><font color=#4b5d50>#   mode - mode of Message</font></i>

  <b><font color=#3a6797>variable</font></b> obFav
  alited::Message <font color=#1b1baa>$msg</font> <font color=#1b1baa>$mode</font> [<font color=#1b1baa>$obFav</font> LabMess]
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=favor_ls::ProcMessage></a>
<b><font color=#ca14ca>proc</font></b> favor_ls::ProcMessage {} {
  <i><font color=#4b5d50># Handles clicking on message label.</font></i>

  <b><font color=#3a6797>variable</font></b> obFav
  <b><font color=#3a6797>set</font></b> msg [baltip cget [<font color=#1b1baa>$obFav</font> LabMess] <font color=#653760>-text</font>]
  Message <font color=#1b1baa>$msg</font> 3
}
<a id=Ini_data></a>
<i><font color=#4b5d50># ________________________ Ini data _________________________ #</font></i>
<a id=favor_ls::Split></a>
<b><font color=#ca14ca>proc</font></b> favor_ls::Split {lines} {
  <i><font color=#4b5d50># Splits a saved list by the list's dividers.</font></i>

  <b><font color=#ca14ca>return</font></b> [<b><font color=#3a6797>split</font></b> [::alited::ProcEOL <font color=#1b1baa>$lines</font> in] \n]
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=favor_ls::IniFile></a>
<b><font color=#ca14ca>proc</font></b> favor_ls::IniFile {} {
  <i><font color=#4b5d50># Returns the ini file's name to store favorites' lists.</font></i>

  <b><font color=#ca14ca>return</font></b> [<b><font color=#3a6797>file</font></b> join <font color=#1b1baa>$::alited::INIDIR</font> favor_ls.ini]
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=favor_ls::GetIni></a>
<b><font color=#ca14ca>proc</font></b> favor_ls::GetIni {lines} {
  <i><font color=#4b5d50># Reads favorites' lists data, stored in the ini file.</font></i>

  <b><font color=#3a6797>variable</font></b> favlist
  <b><font color=#3a6797>variable</font></b> favlistsaved
  <b><font color=#3a6797>variable</font></b> favcont
  <b><font color=#3a6797>variable</font></b> favpla
  <b><font color=#3a6797>variable</font></b> currents
  <b><font color=#3a6797>variable</font></b> fav
  <b><font color=#3a6797>variable</font></b> place
  <b><font color=#3a6797>set</font></b> lines [Split <font color=#1b1baa>$lines</font>]
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$lines</font>]&lt;3} {
    <i><font color=#4b5d50># initialize arrays</font></i>
    <b><font color=#3a6797>set</font></b> favlist [<b><font color=#3a6797>list</font></b>]
    <b><font color=#3a6797>set</font></b> favlistsaved [<b><font color=#3a6797>list</font></b>]
    <b><font color=#3a6797>set</font></b> favcont [<b><font color=#3a6797>list</font></b>]
    <b><font color=#3a6797>set</font></b> favpla  [<b><font color=#3a6797>list</font></b>]
    <b><font color=#3a6797>set</font></b> currents [<b><font color=#3a6797>list</font></b>]
    <b><font color=#3a6797>set</font></b> fav {}
    <b><font color=#3a6797>set</font></b> place 1
  } <b><font color=#3a6797>elseif</font></b> {[<b><font color=#3a6797>set</font></b> cont [<b><font color=#3a6797>lrange</font></b> <font color=#1b1baa>$lines</font> 2 end]] ne {}} {
    <b><font color=#3a6797>lappend</font></b> favlist [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$lines</font> 0]
    <b><font color=#3a6797>lappend</font></b> favpla  [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$lines</font> 1]
    <b><font color=#3a6797>lappend</font></b> favcont [<b><font color=#3a6797>join</font></b> <font color=#1b1baa>$cont</font> <font color=#1b1baa>$::alited::EOL</font>]
  }
  Save_favlist no
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=favor_ls::PutIni></a>
<b><font color=#ca14ca>proc</font></b> favor_ls::PutIni {} {
  <i><font color=#4b5d50># Makes favorites' lists data to store to the ini file.</font></i>

  <b><font color=#3a6797>variable</font></b> favlist
  <b><font color=#3a6797>variable</font></b> favcont
  <b><font color=#3a6797>variable</font></b> favpla
  Restore_favlist
  <b><font color=#3a6797>set</font></b> res [<b><font color=#3a6797>list</font></b>]
  <b><font color=#3a6797>foreach</font></b> fav <font color=#1b1baa>$favlist</font> pla <font color=#1b1baa>$favpla</font> cont <font color=#1b1baa>$favcont</font> {
    <b><font color=#3a6797>set</font></b> r1 <font color=#1b1baa>$fav</font>
    <b><font color=#3a6797>append</font></b> r1 <font color=#1b1baa>$::alited::EOL</font>
    <b><font color=#3a6797>append</font></b> r1 <font color=#1b1baa>$pla</font>
    <b><font color=#3a6797>append</font></b> r1 <font color=#1b1baa>$::alited::EOL</font>
    <b><font color=#3a6797>append</font></b> r1 <font color=#1b1baa>$cont</font>
    <b><font color=#3a6797>lappend</font></b> res <font color=#1b1baa>$r1</font>
  }
  <b><font color=#ca14ca>return</font></b> <font color=#1b1baa>$res</font>
}
<a id=Main></a>
<i><font color=#4b5d50># ________________________ Main _________________________ #</font></i>
<a id=favor_ls::_create></a>
<b><font color=#ca14ca>proc</font></b> favor_ls::_create {} {
  <i><font color=#4b5d50># Creates &quot;Favorites lists&quot; dialogue.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al favgeometry favgeometry
  <b><font color=#3a6797>variable</font></b> obFav
  <b><font color=#3a6797>variable</font></b> win
  <b><font color=#3a6797>variable</font></b> favlist
  <b><font color=#3a6797>variable</font></b> fav
  <b><font color=#3a6797>set</font></b> tipson [baltip::cget <font color=#653760>-on</font>]
  baltip::configure <font color=#653760>-on</font> <font color=#1b1baa>$al(TIPS,SavedFavorites)</font>
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$al(FAV,IsFavor)</font>} {<b><font color=#3a6797>set</font></b> forget {}} {<b><font color=#3a6797>set</font></b> forget forget}
  ::apave::APave create <font color=#1b1baa>$obFav</font> <font color=#1b1baa>$win</font>
  <font color=#1b1baa>$obFav</font> makeWindow <font color=#1b1baa>$win</font> <font color=#1b1baa>$al(MC,FavLists)</font>
  <font color=#1b1baa>$obFav</font> paveWindow <font color=#1b1baa>$win</font> {
    {fraLbxFav - - 1 2 {<font color=#653760>-st</font> nswe <font color=#653760>-rw</font> 1 <font color=#653760>-pady</font> 4} {}}
    {.fra - - - - {<b><font color=#134070>pack</font></b> <font color=#1b1baa>$forget</font> <font color=#653760>-side</font> right <font color=#653760>-fill</font> both} {}}
    {.fra.btTAd - - - - {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> top <font color=#653760>-anchor</font> n} {<font color=#653760>-com</font> ::alited::favor_ls::Add \
      <font color=#653760>-tip</font> <font color=#8b2a0e>&quot;Add a list of favorites&quot;</font> <font color=#653760>-image</font> alimg_add-big}}
    {.fra.btTChg - - - - {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> top} {<font color=#653760>-com</font> ::alited::favor_ls::Change \
      <font color=#653760>-tip</font> <font color=#8b2a0e>&quot;Change a list of favorites&quot;</font> <font color=#653760>-image</font> alimg_change-big}}
    {.fra.btTDel - - - - {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> top} {<font color=#653760>-com</font> ::alited::favor_ls::Delete \
      <font color=#653760>-tip</font> <font color=#8b2a0e>&quot;Delete a list of favorites&quot;</font> <font color=#653760>-image</font> alimg_delete-big}}
    {.fra.v_ - - - - {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> top <font color=#653760>-expand</font> 1 <font color=#653760>-fill</font> y}}
    {.fra.btTFil - - - - {<b><font color=#134070>pack</font></b> <font color=#1b1baa>$forget</font> <font color=#653760>-side</font> top} {<font color=#653760>-com</font> ::alited::favor_ls::AddFiles \
      <font color=#653760>-tip</font> <font color=#8b2a0e>&quot;Add .tcl files of current session\nas the favorites&quot;</font> <font color=#653760>-image</font> alimg_plus-big}}
    {.fra.btTCur - - - - {<b><font color=#134070>pack</font></b> <font color=#1b1baa>$forget</font> <font color=#653760>-side</font> top} {<font color=#653760>-com</font> ::alited::favor_ls::DisplayFavorText \
      <font color=#653760>-tip</font> <font color=#8b2a0e>&quot;<font color=#1b1baa>$</font>al(MC,currfavs)&quot;</font> <font color=#653760>-image</font> alimg_heart-big}}
    {.LbxFav - - - - {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> left <font color=#653760>-expand</font> 1 <font color=#653760>-fill</font> both} \
      {<font color=#653760>-h</font> 10 <font color=#653760>-w</font> 40 <font color=#653760>-lvar</font> ::alited::favor_ls::favlist}}
    {.sbvFavs + L - - {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> left <font color=#653760>-fill</font> y} {}}
    {fra1 fraLbxFav T 1 2 {<font color=#653760>-st</font> nswe}}
    {.h_ - - 1 1 {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> top <font color=#653760>-expand</font> 1 <font color=#653760>-fill</font> both <font color=#653760>-pady</font> 10}}
    {fra1.fraEnt - - 1 1 {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> top <font color=#653760>-expand</font> 1 <font color=#653760>-fill</font> both <font color=#653760>-pady</font> 4}}
    {.labFav - - 1 1 {<b><font color=#134070>pack</font></b> <font color=#1b1baa>$forget</font> <font color=#653760>-side</font> left <font color=#653760>-padx</font> 4} {<font color=#653760>-t</font> <font color=#8b2a0e>&quot;<font color=#1b1baa>$</font>al(MC,currfavs):&quot;</font>}}
    {.EntFav - - 1 1 {<b><font color=#134070>pack</font></b> <font color=#1b1baa>$forget</font> <font color=#653760>-side</font> left <font color=#653760>-expand</font> 1 <font color=#653760>-fill</font> both} \
      {<font color=#653760>-tvar</font> ::alited::favor_ls::fav <font color=#653760>-tip</font> {<font color=#1b1baa>$al(MC,favent1)</font>}}}
    {fratex fra1 T 1 2 {<font color=#653760>-st</font> nswe <font color=#653760>-rw</font> 1 <font color=#653760>-cw</font> 1}}
    {.TexFav - - - - {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> left <font color=#653760>-expand</font> 1 <font color=#653760>-fill</font> both} {<font color=#653760>-h</font> 10 <font color=#653760>-w</font> 72 \
      <font color=#653760>-tip</font> <font color=#8b2a0e>&quot;Favorites of the current list&quot;</font> <font color=#653760>-ro</font> 1 <font color=#653760>-wrap</font> none}}
    {.sbvFav + L - - {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> left <font color=#653760>-fill</font> y}}
    {fra2 fratex T 1 2 {<font color=#653760>-st</font> nswe} {<font color=#653760>-padding</font> {5 5 5 5} <font color=#653760>-relief</font> groove}}
    {.labBA - - - - {<b><font color=#134070>pack</font></b> <font color=#1b1baa>$forget</font> <font color=#653760>-side</font> left} {<font color=#653760>-t</font> <font color=#8b2a0e>&quot;Non-favorite files to be:&quot;</font>}}
    {.radA - - - - {<b><font color=#134070>pack</font></b> <font color=#1b1baa>$forget</font> <font color=#653760>-side</font> left <font color=#653760>-padx</font> 8}  \
      {<font color=#653760>-t</font> kept <font color=#653760>-var</font> ::alited::favor_ls::place <font color=#653760>-value</font> 1 \
      <font color=#653760>-tip</font> <font color=#8b2a0e>&quot;Doesn't close any tab without favorites\nat choosing Favorites' list&quot;</font>}}
    {.radB - - - - {<b><font color=#134070>pack</font></b> <font color=#1b1baa>$forget</font> <font color=#653760>-side</font> left <font color=#653760>-padx</font> 8}  \
      {<font color=#653760>-t</font> closed <font color=#653760>-var</font> ::alited::favor_ls::place <font color=#653760>-value</font> 2 \
      <font color=#653760>-tip</font> <font color=#8b2a0e>&quot;Closes all tabs without favorites\nat choosing Favorites' list&quot;</font>}}
    {LabMess fra2 T 1 2 {<font color=#653760>-st</font> nsew <font color=#653760>-pady</font> 0 <font color=#653760>-padx</font> 3} {<font color=#653760>-style</font> TLabelFS}}
    {fra3 + T 1 2 {<font color=#653760>-st</font> nswe}}
    {.ButHelp - - - - {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> left} {<font color=#653760>-t</font> {<font color=#1b1baa>$al(MC,help)</font>} <font color=#653760>-tip</font> F1 <font color=#653760>-com</font> ::alited::favor_ls::Help}}
    {.h_ - - - - {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> left <font color=#653760>-expand</font> 1 <font color=#653760>-fill</font> both <font color=#653760>-padx</font> 4}}
    {.ButOK - - - - {<b><font color=#134070>pack</font></b> <font color=#1b1baa>$forget</font> <font color=#653760>-side</font> left} {<font color=#653760>-t</font> <font color=#8b2a0e>&quot;<font color=#1b1baa>$</font>al(MC,select)&quot;</font> <font color=#653760>-com</font> ::alited::favor_ls::Ok}}
    {.ButOpenFile - - - - {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> left <font color=#653760>-padx</font> 2} {<font color=#653760>-t</font> Open... \
      <font color=#653760>-com</font> {::alited::favor_ls::Ok 4} <font color=#653760>-tip</font> {Opens files with current favorites.}}}
    {.butUndo - - - - {<b><font color=#134070>pack</font></b> <font color=#1b1baa>$forget</font> <font color=#653760>-side</font> left} {<font color=#653760>-t</font> Back <font color=#653760>-com</font> {::alited::favor_ls::Ok 3} \
      <font color=#653760>-tip</font> <font color=#8b2a0e>&quot;Sets a list of Favorites\nthat was active initially.&quot;</font>}}
    {.butCancel - - - - {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> left <font color=#653760>-padx</font> 2} {<font color=#653760>-t</font> Cancel <font color=#653760>-com</font> ::alited::favor_ls::Cancel}}
  }
  <b><font color=#3a6797>set</font></b> fav {}
  <b><font color=#3a6797>set</font></b> lbx [<font color=#1b1baa>$obFav</font> LbxFav]
  DisplayFavorText
  Restore_favlist
  <b><font color=#3a6797>if</font></b> {!<font color=#1b1baa>$al(FAV,IsFavor)</font>} {<b><font color=#3a6797>after</font></b> idle <font color=#8b2a0e>&quot;alited::favor_ls::Select 0 ; focus <font color=#1b1baa>$</font>lbx&quot;</font>}
  <b><font color=#134070>bind</font></b> <font color=#1b1baa>$lbx</font> &lt;&lt;ListboxSelect&gt;&gt; ::alited::favor_ls::Select
  <b><font color=#134070>bind</font></b> <font color=#1b1baa>$lbx</font> &lt;FocusIn&gt; ::alited::favor_ls::Select
  <b><font color=#134070>bind</font></b> <font color=#1b1baa>$lbx</font> &lt;Double-Button-1&gt; ::alited::favor_ls::DoubleClick
  <b><font color=#134070>bind</font></b> <font color=#1b1baa>$lbx</font> &lt;Return&gt; ::alited::favor_ls::DoubleClick
  <b><font color=#134070>bind</font></b> <font color=#1b1baa>$win</font> &lt;F1&gt; <font color=#8b2a0e>&quot;<font color=#1b1baa>[$</font>obFav ButHelp<font color=#1b1baa>]</font> invoke&quot;</font>
  <b><font color=#134070>bind</font></b> [<font color=#1b1baa>$obFav</font> LabMess] &lt;Button-1&gt; alited::favor_ls::ProcMessage
  <b><font color=#3a6797>after</font></b> 500 ::alited::favor_ls::HelpMe ;<i><font color=#4b5d50># show an introduction after a short pause</font></i>
  <b><font color=#3a6797>set</font></b> geo {<font color=#653760>-resizable</font> 1 <font color=#653760>-minsize</font> {600 400}}
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$favgeometry</font> ne {}} {<b><font color=#3a6797>append</font></b> geo <font color=#8b2a0e>&quot; -geometry <font color=#1b1baa>$</font>favgeometry&quot;</font>}
  <b><font color=#3a6797>set</font></b> res [<font color=#1b1baa>$obFav</font> showModal <font color=#1b1baa>$win</font> <font color=#653760>-onclose</font> ::alited::favor_ls::Cancel \
    <font color=#653760>-focus</font> [<font color=#1b1baa>$obFav</font> EntFav] {<b><font color=#3a6797>*</font></b>}<font color=#1b1baa>$geo</font>]
  <b><font color=#3a6797>set</font></b> favgeometry [<b><font color=#134070>wm</font></b> geometry <font color=#1b1baa>$win</font>]
  baltip::configure {<b><font color=#3a6797>*</font></b>}<font color=#1b1baa>$tipson</font>
  <b><font color=#3a6797>catch</font></b> {<b><font color=#134070>destroy</font></b> <font color=#1b1baa>$win</font>}
  <font color=#1b1baa>$obFav</font> destroy
  <b><font color=#ca14ca>return</font></b> <font color=#1b1baa>$res</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=favor_ls::_run></a>
<b><font color=#ca14ca>proc</font></b> favor_ls::_run {} {
  <i><font color=#4b5d50># Runs &quot;Favorites lists&quot; dialogue.</font></i>

  <b><font color=#3a6797>variable</font></b> win
  <b><font color=#3a6797>if</font></b> {[<b><font color=#134070>winfo</font></b> exists <font color=#1b1baa>$win</font>]} {<b><font color=#ca14ca>return</font></b> 0}
  <b><font color=#3a6797>set</font></b> res [_create]
  <b><font color=#ca14ca>return</font></b> <font color=#1b1baa>$res</font>
}
<a id=EOF></a>
<i><font color=#4b5d50># _________________________________ EOF _________________________________ #</font></i>

</pre>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>favor_ls.tcl</b></font></div></td></table>

<!-- Made by alited (END) -->