<!-- Made by alited -->
<link rel="stylesheet" href="../../css/style.css">

<title>format.tcl</title>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>README.md</b></font></div></td></table>


<div id="bodyContent" class="dokuwiki">
<div id="dw__toc" class="dw__toc">
<h3 class="toggle open" style="cursor: pointer;">format.tcl</h3>
<div aria-expanded="true" style="">

<ul class="toc">
<li><b><a href="#format.tcl">format.tcl</a></b></li>
<li><b><a href="#format">format</a></b></li>
<li><b><a href="#Move_unit_descriptions">Move unit descriptions</a></b></li>
<li><b><a href="#Move_UI">&nbsp;&nbsp;Move UI</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#format::UnitDesc">UnitDesc</a><span class=tooltiptext> format::UnitDesc : Moves unit description from inner to above units.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#format::ChangeTo">ChangeTo</a><span class=tooltiptext> format::ChangeTo : At changing the direction, fills 2 texts with "from/to" examples.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#format::ValidateUnitDesc">ValidateUnitDesc</a><span class=tooltiptext> format::ValidateUnitDesc : Validates the separator's entry
dovalid - if yes runs the validation</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#format::ShowUnitDesc">ShowUnitDesc</a><span class=tooltiptext> format::ShowUnitDesc : Displays unit descriptions to move.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#format::Help">Help</a><span class=tooltiptext> format::Help : Handles "Help" button.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#format::StandardOptions">StandardOptions</a><span class=tooltiptext> format::StandardOptions : Sets standard options of Move Descr.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#format::Re_Colors">Re_Colors</a><span class=tooltiptext> format::Re_Colors : Gets colors for leaf's regexp (comment's fg & bg).</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#format::Re_FgColor">Re_FgColor</a><span class=tooltiptext> format::Re_FgColor : Sets foreground color for leaf's regexp.</span></div></li></ul>
<li><b><a href="#Move_actions">&nbsp;&nbsp;Move actions</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#format::Separ1">Separ1</a><span class=tooltiptext> format::Separ1 : Gets "real" separator and limit of its length (extracted from it).
title - title</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#format::MoveOut">MoveOut</a><span class=tooltiptext> format::MoveOut : Move a unit description outside the unit.
cont - file's content
title - initial comment with unit's name
l1 - 1st unit line number
l2 - last unit line number
Returns file's contents and 1 (for processed) or 0 (for not processed).</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#format::MoveInside">MoveInside</a><span class=tooltiptext> format::MoveInside : Move a unit description outside the unit.
cont - file's content
l1 - 1st unit line number
l2 - last unit line number
pad - padding (indentation) of text</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#format::MoveUnitDesc">MoveUnitDesc</a><span class=tooltiptext> format::MoveUnitDesc : Does move the unit descriptions.
TID - tab's ID
Returns 1 if the moves done, 0 if no moves.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#format::LeafRE">LeafRE</a><span class=tooltiptext> format::LeafRE : Gets the chosen leaf's RE (current or standard, seen by the user).</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#format::CheckOk">CheckOk</a><span class=tooltiptext> format::CheckOk : Check options of Move Descriptions dialogue.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#format::Ok">Ok</a><span class=tooltiptext> format::Ok : Handles pressing OK button of Move Descriptions dialogue.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#format::Cancel">Cancel</a><span class=tooltiptext> format::Cancel : Handles pressing Cancel button of Move Descriptions dialogue.</span></div></li></ul>
<li><b><a href="#Format_by_modes">Format by modes</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#format::BeforeFormatting">BeforeFormatting</a><span class=tooltiptext> format::BeforeFormatting : Gets option for formatting - text's path, selected text and positions to process.
islines - yes, if positions are lines' start and end
Also, sets valueOrig to the original contents of selected text.
See also: AfterFormatting</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#format::AfterFormatting">AfterFormatting</a><span class=tooltiptext> format::AfterFormatting : Actions after formatting:
replace & update all & select the formatted stuff.
wtxt - text's path
pos1 - 1st position formatted
pos2 - last position formatted
value - content formatted
See also: BeforeFormatting</span></div></li></ul>
<li><b><a href="#map">&nbsp;&nbsp;map</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#format::Mode1">Mode1</a><span class=tooltiptext> format::Mode1 : Maps selection by pairs taken from config.file.
cont - list of config.file's lines (pairs from-to)</span></div></li></ul>
<li><b><a href="#commands">&nbsp;&nbsp;commands</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#format::Mode2">Mode2</a><span class=tooltiptext> format::Mode2 : Applies a command to selection/current line.
cont - list of config.file's lines</span></div></li></ul>
<li><b><a href="#on_line_list">&nbsp;&nbsp;on line list</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#format::Mode3">Mode3</a><span class=tooltiptext> format::Mode3 : Applies command(s) to lines of selection.
cont - list of config.file's lines</span></div></li></ul>
<li><b><a href="#externals">&nbsp;&nbsp;externals</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#format::Mode4">Mode4</a><span class=tooltiptext> format::Mode4 : Applies external command(s) to selection or lines of selection.
cont - list of config.file's lines
The selection (or lines of selection) is saved to a temporary file
that is processed by commands.</span></div></li></ul>
<li><b><a href="#insertions">&nbsp;&nbsp;insertions</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#format::Mode5">Mode5</a><span class=tooltiptext> format::Mode5 : Inserts a string at the current cursor position.
Or does something without changing the text (if commands return "").
cont - list of config.file's lines or variable name containing it
args - contains the edited file name etc.</span></div></li></ul>
<li><b><a href="#pluginable">&nbsp;&nbsp;pluginable</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#format::Mode6">Mode6</a><span class=tooltiptext> format::Mode6 : Runs a pluginable formatter.
cont - list of config.file's lines
args - formatter's file name etc.
Returns 1st event to run the formatter or {}.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#format::EventOK">EventOK</a><span class=tooltiptext> format::EventOK : Checks if an event is correct (not overlap alited key mapping).
fullformname - full path to formatter
fform - formatter's name
ev - the event
wasacc - if true, -accelerator of $fform menu item was made</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#format::CreateFormatIcon">CreateFormatIcon</a><span class=tooltiptext> format::CreateFormatIcon : Create icon of formatter in toolbar.
icon - icon name
sep - true if separated
com - command
fform - formatter file name</span></div></li></ul>
<li><b><a href="#EOF">EOF</a></b></li>

</ul>

</div>
</div>
</div>
<!-- TOC END -->

<h1><font color=#ca14ca> alited's source</font></h1>
</p><p>
The <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/about.html">alited/src</a> directory contains alited's own source files.
</p><p>
Some additional alited's files are also contained in <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_alm.html">alited/lib/addon</a> directory (<i><font color=#1b1baa>alited/lib</font></i> directory contains all library files).
</p><p>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/about.html">about.tcl</a> - "About alited" dialogue.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/alited.html">alited.tcl</a> - The alited's main script to start.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/bar.html">bar.tcl</a> - Handles the bar of tabs.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/check.html">check.tcl</a> - "Check Tcl" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/complete.html">complete.tcl</a> - Handles auto-completion.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/edit.html">edit.tcl</a> - "Edit" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/favor.html">favor.tcl</a> - Handles the favorite and last visited units.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/favor_ls.html">favor_ls.tcl</a> - "Saved lists of favorites" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/file.html">file.tcl</a> - "File" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/find.html">find.tcl</a> - "Find / Replace" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/format.html">format.tcl</a> - "Edit / Formats" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/img.html">img.tcl</a> - List of images used by alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/indent.html">indent.tcl</a> - Handles text indentation.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/info.html">info.tcl</a> - Handles the info bar.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/ini.html">ini.tcl</a> - Handles initializing alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/keys.html">keys.tcl</a> - Handles keyboard (mapping etc.).</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/main.html">main.tcl</a> - Handles the main form of alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/menu.html">menu.tcl</a> - Handles alited's menus.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/msgs.html">msgs.tcl</a> - Localized messages used in several places.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/paver.html">paver.tcl</a> - "Tools / Paver" tool.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/pkgIndex.html">pkgIndex.tcl</a> - Includes README.md text (for Ruff doc generator).</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/pref.html">pref.tcl</a> - "Preferences" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/preview.html">preview.tcl</a> - "Preview (theme, CS)" dialogue called by "Preferences".</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/printer.html">printer.tcl</a> - "Tools / Project Printer" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/project.html">project.tcl</a> - "Projects" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/run.html">run.tcl</a> - "Tools / Run..." dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/tool.html">tool.tcl</a> - "Tools" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/tree.html">tree.tcl</a> - Handles the tree of units and files.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/unit.html">unit.tcl</a> - Handles the unit tree.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/unit_tpl.html">unit_tpl.tcl</a> - "Templates" dialogue and procedures.</li>
</p><p>

</p>


<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>format.tcl</b></font></div></td></table>

<pre class="code"><i><font color=#ff0000>#! /usr/bin/env tclsh<a id=format.tcl></a></font></i>
<i><font color=#4b5d50>###########################################################</font></i>
<i><font color=#4b5d50># Name:    format.tcl</font></i>
<i><font color=#4b5d50># Author:  Alex Plotnikov  (aplsimple@gmail.com)</font></i>
<i><font color=#4b5d50># Date:    Feb 09, 2024</font></i>
<i><font color=#4b5d50># Brief:   Handles Edit/Formats menu items.</font></i>
<i><font color=#4b5d50># License: MIT.</font></i>
<i><font color=#4b5d50>###########################################################</font></i>
<a id=format></a>
<i><font color=#4b5d50># _________________________ format ________________________ #</font></i>

<b><font color=#ca14ca>namespace</font></b> eval format {
  <b><font color=#3a6797>variable</font></b> win <font color=#1b1baa>$::alited::al(WIN)</font>.formats
  <b><font color=#3a6797>variable</font></b> da
  <b><font color=#3a6797>array</font></b> set da [<b><font color=#3a6797>list</font></b> dir 2 what 1 bgRE <font color=#8b2a0e>&quot;&quot;</font> geo <font color=#8b2a0e>&quot;&quot;</font>]
  <b><font color=#3a6797>set</font></b> da(separSav1) <font color=#1b1baa>$::alited::al(format_separ1)</font>
  <b><font color=#3a6797>set</font></b> da(separSav2) <font color=#1b1baa>$::alited::al(format_separ2)</font>
  <b><font color=#3a6797>variable</font></b> valueOrig {}
  <b><font color=#3a6797>variable</font></b> valueSel {}
  <b><font color=#3a6797>variable</font></b> valueLines {}
  <b><font color=#3a6797>variable</font></b> cont6; <b><font color=#3a6797>array</font></b> set cont6 [<b><font color=#3a6797>list</font></b>]
  <b><font color=#3a6797>variable</font></b> bind6; <b><font color=#3a6797>array</font></b> set bind6 [<b><font color=#3a6797>list</font></b>]
  <b><font color=#3a6797>variable</font></b> icon6; <b><font color=#3a6797>array</font></b> set icon6 [<b><font color=#3a6797>list</font></b>]
}
<a id=Move_unit_descriptions></a>
<i><font color=#4b5d50># ________________________ Move unit descriptions _________________________ #</font></i>

<a id=Move_UI></a>
<i><font color=#4b5d50>## ________________________ Move UI _________________________ ##</font></i>
<a id=format::UnitDesc></a>
<b><font color=#ca14ca>proc</font></b> format::UnitDesc {} {
  <i><font color=#4b5d50># Moves unit description from inner to above units.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al obDl2 obDl2
  <b><font color=#3a6797>variable</font></b> win
  <b><font color=#3a6797>variable</font></b> da
  <b><font color=#3a6797>set</font></b> da(prjlfRESav) <font color=#1b1baa>$al(prjleafRE)</font>
  <b><font color=#3a6797>set</font></b> da(prjuselfRESav) <font color=#1b1baa>$al(prjuseleafRE)</font>
  <b><font color=#3a6797>set</font></b> separSav1 <font color=#1b1baa>$da(separSav1)</font>
  <b><font color=#3a6797>set</font></b> separSav2 <font color=#1b1baa>$da(separSav2)</font>
  <b><font color=#3a6797>lassign</font></b> [Re_Colors] fgRE da(bgRE)
  <b><font color=#3a6797>set</font></b> stcl [<b><font color=#3a6797>llength</font></b> [alited::SessionTclList 1]]
  <b><font color=#3a6797>set</font></b> atcl [<b><font color=#3a6797>llength</font></b> [alited::SessionTclList 2]]
  <b><font color=#3a6797>set</font></b> selected [msgcat::mc Selected]\ (<font color=#1b1baa>$stcl</font>)
  <b><font color=#3a6797>set</font></b> allopen [msgcat::mc {All in session}]\ (<font color=#1b1baa>$atcl</font>)
  <b><font color=#3a6797>set</font></b> REleaf [alited::unit::LeafRegexp]
  <font color=#1b1baa>$obDl2</font> makeWindow <font color=#1b1baa>$win</font>.fra <font color=#1b1baa>$al(MC,formatdesc)</font>
  <font color=#1b1baa>$obDl2</font> paveWindow <font color=#1b1baa>$win</font>.fra {
    {.lab1 - - 1 3 {<font color=#653760>-pady</font> 8} {<font color=#653760>-t</font> <font color=#8b2a0e>&quot;Move proc/method descriptions:&quot;</font> <font color=#653760>-font</font> {<font color=#1b1baa>$::apave::FONTMAINBOLD</font>}}}
    {.seh0 + T 1 6}
    {.rad1 + T 1 1 {<font color=#653760>-st</font> w} {<font color=#653760>-t</font> <font color=#8b2a0e>&quot;From inside to out&quot;</font> <font color=#653760>-var</font> ::alited::format::da(dir) <font color=#653760>-value</font> 1 <font color=#653760>-com</font> alited::format::ChangeTo <font color=#653760>-image</font> alimg_up <font color=#653760>-compound</font> right}}
    {.rad2 + T 1 1 {<font color=#653760>-st</font> w} {<font color=#653760>-t</font> <font color=#8b2a0e>&quot;From out to inside&quot;</font> <font color=#653760>-var</font> ::alited::format::da(dir) <font color=#653760>-value</font> 2 <font color=#653760>-com</font> alited::format::ChangeTo <font color=#653760>-image</font> alimg_down <font color=#653760>-compound</font> right}}
    {.sev .rad1 L 2 1 {<font color=#653760>-padx</font> 10}}
    {.labRE1 + L 1 1 {<font color=#653760>-st</font> sne} {<font color=#653760>-t</font> <font color=#8b2a0e>&quot;Leaf's regexp:&quot;</font>}}
    {.LabRE2 + L 1 1 {} {<font color=#653760>-t</font> {<font color=#1b1baa>$REleaf</font>} <font color=#653760>-foreground</font> <font color=#1b1baa>$fgRE</font> <font color=#653760>-background</font> <font color=#1b1baa>$da(bgRE)</font>}}
    {.h_1 + L 1 1}
    {.butStd + L 1 1 {<font color=#653760>-st</font> e} {<font color=#653760>-t</font> Standard <font color=#653760>-com</font> alited::format::StandardOptions}}
    {.labSep .labRE1 T 1 1 {<font color=#653760>-st</font> sne} {<font color=#653760>-t</font> <font color=#8b2a0e>&quot;Separator:&quot;</font>}}
    {.EntSepar + L 1 3 {<font color=#653760>-st</font> ew <font color=#653760>-cw</font> 1} {<font color=#653760>-tvar</font> ::alited::format::da(separ) <font color=#653760>-validate</font> all <font color=#653760>-validatecommand</font> alited::format::ValidateUnitDesc}}
    {.seh1 .rad2 T 1 6}
    {.Tex1 + T 1 6 {<font color=#653760>-st</font> nsew <font color=#653760>-pady</font> 4 <font color=#653760>-rw</font> 1} {<font color=#653760>-h</font> 11 <font color=#653760>-w</font> 80 <font color=#653760>-wrap</font> none <font color=#653760>-font</font> {<font color=#1b1baa>$al(FONT,txt)</font>}}}
    {.fra + T 1 6}
    {.fra.LabFromTo + L 1 4 {<font color=#653760>-st</font> nsew} {<font color=#653760>-image</font> alimg_up-big}}
    {.fra.labdummy + L 1 1 {<font color=#653760>-st</font> nsew} {<font color=#653760>-image</font> alimg_none-big}}
    {.Tex2 .fra T 1 6 {<font color=#653760>-st</font> nsew <font color=#653760>-pady</font> 4 <font color=#653760>-rw</font> 1} {<font color=#653760>-h</font> 11 <font color=#653760>-w</font> 80 <font color=#653760>-wrap</font> none <font color=#653760>-font</font> {<font color=#1b1baa>$al(FONT,txt)</font>}}}
    {.frawhat + T 1 6}
    {.frawhat.labwhat - - - - {<font color=#653760>-st</font> e} {<font color=#653760>-t</font> <font color=#8b2a0e>&quot;Process .tcl file(s):&quot;</font>}}
    {.frawhat.rad1 + L 1 1 {<font color=#653760>-padx</font> 20} {<font color=#653760>-t</font> {<font color=#1b1baa>$selected</font>} <font color=#653760>-var</font> ::alited::format::da(what) <font color=#653760>-value</font> 1}}
    {.frawhat.rad2 + L 1 1 {} {<font color=#653760>-t</font> {<font color=#1b1baa>$allopen</font>} <font color=#653760>-var</font> ::alited::format::da(what) <font color=#653760>-value</font> 2}}
    {.seh2 .frawhat T 1 6}
    {.butHelp + T 1 1 {<font color=#653760>-st</font> w} {<font color=#653760>-t</font> Help <font color=#653760>-com</font> alited::format::Help}}
    {.h_ + L 1 4}
    {.frabut + L 1 1 {<font color=#653760>-st</font> e}}
    {.frabut.butOK + L 1 1 {<font color=#653760>-st</font> e} {<font color=#653760>-t</font> OK <font color=#653760>-com</font> alited::format::Ok}}
    {.frabut.butCancel + L 1 1 {<font color=#653760>-st</font> e} {<font color=#653760>-t</font> Cancel <font color=#653760>-com</font> alited::format::Cancel}}
  }
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$da(dir)</font>==1} {<b><font color=#3a6797>set</font></b> da(separ) <font color=#1b1baa>$da(separSav2)</font>} {<b><font color=#3a6797>set</font></b> da(separ) <font color=#1b1baa>$da(separSav1)</font>}
  ChangeTo
  <b><font color=#134070>bind</font></b> <font color=#1b1baa>$win</font> &lt;F1&gt; alited::format::Help
  <b><font color=#3a6797>set</font></b> res [<font color=#1b1baa>$obDl2</font> showModal <font color=#1b1baa>$win</font> <font color=#653760>-resizable</font> 1 <font color=#653760>-minsize</font> {650 400} {<b><font color=#3a6797>*</font></b>}<font color=#1b1baa>$da(geo)</font>]
  <b><font color=#3a6797>set</font></b> al(prjuseleafRE) <font color=#1b1baa>$da(prjuselfRESav)</font>
  <b><font color=#3a6797>set</font></b> al(prjleafRE) <font color=#1b1baa>$da(prjlfRESav)</font>
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$res</font>} {
    alited::main::UpdateAll
  } <b><font color=#3a6797>else</font></b> {
    <b><font color=#3a6797>set</font></b> da(separSav1) <font color=#1b1baa>$separSav1</font>
    <b><font color=#3a6797>set</font></b> da(separSav2) <font color=#1b1baa>$separSav2</font>
  }
  <b><font color=#3a6797>set</font></b> da(geo) <font color=#8b2a0e>&quot;-geometry <font color=#1b1baa>[</font>wm geometry <font color=#1b1baa>$</font>win<font color=#1b1baa>]</font>&quot;</font>
  <b><font color=#3a6797>catch</font></b> {<b><font color=#134070>destroy</font></b> <font color=#1b1baa>$win</font>}
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=format::ChangeTo></a>
<b><font color=#ca14ca>proc</font></b> format::ChangeTo {} {
  <i><font color=#4b5d50># At changing the direction, fills 2 texts with &quot;from/to&quot; examples.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al obDl2 obDl2
  <b><font color=#3a6797>variable</font></b> da
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$da(dir)</font>==1} {
    <b><font color=#3a6797>set</font></b> da(separSav2) <font color=#1b1baa>$da(separ)</font>
    <b><font color=#3a6797>set</font></b> da(separ) <font color=#1b1baa>$da(separSav1)</font>
    <b><font color=#3a6797>set</font></b> img alimg_up-big
  } <b><font color=#3a6797>else</font></b> {
    <b><font color=#3a6797>set</font></b> da(separSav1) <font color=#1b1baa>$da(separ)</font>
    <b><font color=#3a6797>set</font></b> da(separ) <font color=#1b1baa>$da(separSav2)</font>
    <b><font color=#3a6797>set</font></b> img alimg_down-big
  }
  ::apave::blinkWidgetImage [<font color=#1b1baa>$obDl2</font> LabFromTo] <font color=#1b1baa>$img</font>
  ShowUnitDesc
  Re_FgColor
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=format::ValidateUnitDesc></a>
<b><font color=#ca14ca>proc</font></b> format::ValidateUnitDesc {{dovalid no}} {
  <i><font color=#4b5d50># Validates the separator's entry</font></i>
  <i><font color=#4b5d50>#   dovalid - if yes runs the validation</font></i>

  <b><font color=#3a6797>variable</font></b> da
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$dovalid</font>} {
    <b><font color=#3a6797>set</font></b> da(separSav<font color=#1b1baa>$da(dir)</font>) <font color=#1b1baa>$da(separ)</font>
    ShowUnitDesc
  } <b><font color=#3a6797>else</font></b> {
    <b><font color=#3a6797>after</font></b> idle {alited::format::ValidateUnitDesc yes}
  }
  <b><font color=#ca14ca>return</font></b> yes
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=format::ShowUnitDesc></a>
<b><font color=#ca14ca>proc</font></b> format::ShowUnitDesc {} {
  <i><font color=#4b5d50># Displays unit descriptions to move.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited obDl2 obDl2
  <b><font color=#3a6797>variable</font></b> da
  <b><font color=#3a6797>set</font></b> pad [alited::main::CalcPad]
  <b><font color=#3a6797>set</font></b> descIn <font color=#8b2a0e>&quot; SEPAR\n\n proc ::K <font color=#1b1baa>{</font>x y<font color=#1b1baa>}</font> <font color=#1b1baa>{</font>\n\n <font color=#1b1baa>$</font>pad# K combinator.\</font>
<font color=#8b2a0e>    \n <font color=#1b1baa>$</font>pad#   x - returned value\n <font color=#1b1baa>$</font>pad#   y - discarded value\n\n <font color=#1b1baa>${</font>pad<font color=#1b1baa>}</font>set x\n <font color=#1b1baa>}</font>&quot;</font>
  <b><font color=#3a6797>set</font></b> descOut <font color=#8b2a0e>&quot; SEPAR\n\n # K combinator.\</font>
<font color=#8b2a0e>    \n #   x - returned value\n #   y - discarded value\n\n proc ::K <font color=#1b1baa>{</font>x y<font color=#1b1baa>}</font> <font color=#1b1baa>{</font>\n\n <font color=#1b1baa>${</font>pad<font color=#1b1baa>}</font>set x\n <font color=#1b1baa>}</font>&quot;</font>
  <b><font color=#3a6797>lassign</font></b> [Separ1 <font color=#1b1baa>$da(separSav1)</font>] separ1 limit
  <b><font color=#3a6797>set</font></b> separ1 [<b><font color=#3a6797>string</font></b> range [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> n ::K N ::K] <font color=#1b1baa>$separ1</font>] 0 <font color=#1b1baa>$limit</font>]
  <b><font color=#3a6797>set</font></b> cont1 [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> SEPAR <font color=#1b1baa>$separ1</font>] <font color=#1b1baa>$descOut</font>]
  <b><font color=#3a6797>set</font></b> cont2 [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> SEPAR <font color=#1b1baa>$da(separSav2)</font>] <font color=#1b1baa>$descIn</font>]
  <b><font color=#3a6797>set</font></b> tex1 [<font color=#1b1baa>$obDl2</font> Tex1]
  <b><font color=#3a6797>set</font></b> tex2 [<font color=#1b1baa>$obDl2</font> Tex2]
  <font color=#1b1baa>$tex1</font> replace 1.0 end <font color=#1b1baa>$cont1</font>
  <font color=#1b1baa>$tex2</font> replace 1.0 end <font color=#1b1baa>$cont2</font>
  <b><font color=#3a6797>set</font></b> colors [alited::SyntaxColors]
  <b><font color=#3a6797>set</font></b> colors [<b><font color=#3a6797>lreplace</font></b> <font color=#1b1baa>$colors</font> end-1 end-1 [<b><font color=#3a6797>lindex</font></b> [<font color=#1b1baa>$obDl2</font> csGet] 2]]
  alited::SyntaxHighlight tcl <font color=#1b1baa>$tex1</font> <font color=#1b1baa>$colors</font>
  alited::SyntaxHighlight tcl <font color=#1b1baa>$tex2</font> <font color=#1b1baa>$colors</font>
  Re_FgColor
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=format::Help></a>
<b><font color=#ca14ca>proc</font></b> format::Help {} {
  <i><font color=#4b5d50># Handles &quot;Help&quot; button.</font></i>

  alited::Help <font color=#1b1baa>$::alited::format::win</font> 1
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=format::StandardOptions></a>
<b><font color=#ca14ca>proc</font></b> format::StandardOptions {} {
  <i><font color=#4b5d50># Sets standard options of Move Descr.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al obDl2 obDl2
  <b><font color=#3a6797>variable</font></b> da
  <b><font color=#3a6797>set</font></b> curRE [alited::unit::LeafRegexp]
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$curRE</font> ne <font color=#1b1baa>$al(RE,leafDEF)</font>} {
    <b><font color=#3a6797>set</font></b> msg [msgcat::mc \
      <font color=#8b2a0e>&quot; Current leaf's RE\n\n   &lt;r&gt;%r1&lt;/r&gt;\n\n is not equal to standard\n\n   &lt;r&gt;%r2&lt;/r&gt;\n\n as set in Projects/Options and Preferences/Units.&quot;</font>]
    <b><font color=#3a6797>set</font></b> msg [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> %r1 <font color=#1b1baa>$curRE</font> %r2 <font color=#1b1baa>$al(RE,leafDEF)</font>] <font color=#1b1baa>$msg</font>]
    <b><font color=#3a6797>set</font></b> tags [alited::MessageTags]
    <b><font color=#3a6797>set</font></b> ok [alited::msg okcancel warn <font color=#1b1baa>$msg</font> CANCEL <font color=#653760>-text</font> 1 {<b><font color=#3a6797>*</font></b>}<font color=#1b1baa>$tags</font>]
    <b><font color=#3a6797>if</font></b> {!<font color=#1b1baa>$ok</font>} <b><font color=#ca14ca>return</font></b>
  }
  <b><font color=#3a6797>set</font></b> da(separSav1) <font color=#1b1baa>$al(format_separ1DEF)</font>
  <b><font color=#3a6797>set</font></b> da(separSav2) <font color=#1b1baa>$al(format_separ2DEF)</font>
  <b><font color=#3a6797>set</font></b> da(separ) <font color=#1b1baa>$da(separSav$da(dir)</font>)
  [<font color=#1b1baa>$obDl2</font> LabRE2] configure <font color=#653760>-text</font> <font color=#1b1baa>$al(RE,leafDEF)</font>
  ShowUnitDesc
  Re_FgColor
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=format::Re_Colors></a>
<b><font color=#ca14ca>proc</font></b> format::Re_Colors {} {
  <i><font color=#4b5d50># Gets colors for leaf's regexp (comment's fg & bg).</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited obDl2 obDl2
  <b><font color=#3a6797>lassign</font></b> [::hl_tcl::hl_colors .] - - - - fg
  <b><font color=#3a6797>lassign</font></b> [<font color=#1b1baa>$obDl2</font> csGet] - - bg
  <b><font color=#ca14ca>return</font></b> [<b><font color=#3a6797>list</font></b> <font color=#1b1baa>$fg</font> <font color=#1b1baa>$bg</font>]
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=format::Re_FgColor></a>
<b><font color=#ca14ca>proc</font></b> format::Re_FgColor {} {
  <i><font color=#4b5d50># Sets foreground color for leaf's regexp.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al obDl2 obDl2
  <b><font color=#3a6797>variable</font></b> da
  <b><font color=#3a6797>lassign</font></b> [Re_Colors] fg
  <b><font color=#3a6797>lassign</font></b> [Separ1 <font color=#1b1baa>$da(separSav1)</font>] separ
  <b><font color=#3a6797>if</font></b> {![<b><font color=#3a6797>regexp</font></b> [LeafRE] <font color=#1b1baa>$separ</font>]} {
    <b><font color=#3a6797>set</font></b> fg [<b><font color=#3a6797>lindex</font></b> [alited::FgFgBold] 2]
  }
  [<font color=#1b1baa>$obDl2</font> LabRE2] configure <font color=#653760>-foreground</font> <font color=#1b1baa>$fg</font>
}

<a id=Move_actions></a>
<i><font color=#4b5d50>## ________________________ Move actions _________________________ ##</font></i>
<a id=format::Separ1></a>
<b><font color=#ca14ca>proc</font></b> format::Separ1 {title} {
  <i><font color=#4b5d50># Gets &quot;real&quot; separator and limit of its length (extracted from it).</font></i>
  <i><font color=#4b5d50>#   title - title</font></i>

  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>set</font></b> limit [<b><font color=#3a6797>regexp</font></b> <font color=#653760>-inline</font> {\(\d+\)} <font color=#1b1baa>$title</font>]] ne {}} {
    <b><font color=#3a6797>set</font></b> title [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> <font color=#1b1baa>$limit</font> {}] <font color=#1b1baa>$title</font>]
    <b><font color=#3a6797>set</font></b> limit [<b><font color=#3a6797>string</font></b> trim <font color=#1b1baa>$limit</font> ()]
  } <b><font color=#3a6797>else</font></b> {
    <b><font color=#3a6797>set</font></b> limit 9999
  }
  <b><font color=#ca14ca>return</font></b> [<b><font color=#3a6797>list</font></b> <font color=#1b1baa>$title</font> [<b><font color=#3a6797>incr</font></b> limit -1]]
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=format::MoveOut></a>
<b><font color=#ca14ca>proc</font></b> format::MoveOut {cont title l1 l2} {
  <i><font color=#4b5d50># Move a unit description outside the unit.</font></i>
  <i><font color=#4b5d50>#   cont - file's content</font></i>
  <i><font color=#4b5d50>#   title - initial comment with unit's name</font></i>
  <i><font color=#4b5d50>#   l1 - 1st unit line number</font></i>
  <i><font color=#4b5d50>#   l2 - last unit line number</font></i>
  <i><font color=#4b5d50># Returns file's contents and 1 (for processed) or 0 (for not processed).</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <b><font color=#3a6797>set</font></b> line [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$cont</font> [<b><font color=#3a6797>expr</font></b> {<font color=#1b1baa>$l1</font>-1}]]
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>regexp</font></b> [LeafRE] <font color=#1b1baa>$line</font>]} {
    <b><font color=#ca14ca>return</font></b> [<b><font color=#3a6797>list</font></b> <font color=#1b1baa>$cont</font> 0]  ;<i><font color=#4b5d50># already processed?</font></i>
  }
  <i><font color=#4b5d50># padding (indentation) of unit's declaration</font></i>
  <b><font color=#3a6797>set</font></b> pad [obj leadingSpaces <font color=#1b1baa>$line</font>]
  <b><font color=#3a6797>set</font></b> pad [<b><font color=#3a6797>string</font></b> repeat { } <font color=#1b1baa>$pad</font>]
  <b><font color=#3a6797>set</font></b> replcont [<b><font color=#3a6797>set</font></b> replln [<b><font color=#3a6797>list</font></b>]]
  <i><font color=#4b5d50># find the inside description</font></i>
  <b><font color=#3a6797>for</font></b> {<b><font color=#3a6797>set</font></b> i <font color=#1b1baa>$l1</font>} {<font color=#1b1baa>$i</font>&lt;<font color=#1b1baa>$l2</font>} {<b><font color=#3a6797>incr</font></b> i} {
    <b><font color=#3a6797>set</font></b> line [<b><font color=#3a6797>string</font></b> trimleft [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$cont</font> <font color=#1b1baa>$i</font>]]
    <b><font color=#3a6797>if</font></b> {![<b><font color=#3a6797>string</font></b> match #* <font color=#1b1baa>$line</font>]} {
      <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$replcont</font>] || <font color=#1b1baa>$line</font> ne {}} <b><font color=#ca14ca>break</font></b>
    } <b><font color=#3a6797>else</font></b> {
      <b><font color=#3a6797>lappend</font></b> replcont <font color=#1b1baa>$pad$line</font>
    }
    <b><font color=#3a6797>lappend</font></b> replln <font color=#1b1baa>$i</font>
  }
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$replln</font>]} {
    <b><font color=#3a6797>set</font></b> replcont [<b><font color=#3a6797>linsert</font></b> <font color=#1b1baa>$replcont</font> 0 {}]
    <i><font color=#4b5d50># remove old description</font></i>
    <b><font color=#3a6797>set</font></b> i1 [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$replln</font> 0]
    <b><font color=#3a6797>set</font></b> i2 [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$replln</font> end]
    <b><font color=#3a6797>set</font></b> cont [<b><font color=#3a6797>lreplace</font></b> <font color=#1b1baa>$cont</font> <font color=#1b1baa>$i1</font> <font color=#1b1baa>$i2</font>]
  }
  <i><font color=#4b5d50># above the unit's declaration - find the first &quot;meaningful&quot; line</font></i>
  <b><font color=#3a6797>for</font></b> {<b><font color=#3a6797>set</font></b> i [<b><font color=#3a6797>incr</font></b> l1 -2]} {<font color=#1b1baa>$i</font>&gt;=0} {<b><font color=#3a6797>incr</font></b> i -1} {
    <b><font color=#3a6797>set</font></b> line [<b><font color=#3a6797>string</font></b> trimleft [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$cont</font> <font color=#1b1baa>$i</font>]]
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$line</font> ne {} && (![<b><font color=#3a6797>string</font></b> match #* <font color=#1b1baa>$line</font>] || [<b><font color=#3a6797>regexp</font></b> {[[:alnum:]]} <font color=#1b1baa>$line</font>])} {
      <b><font color=#ca14ca>break</font></b>
    }
  }
  <i><font color=#4b5d50># remove old description, insert new one</font></i>
  <b><font color=#3a6797>set</font></b> title <font color=#1b1baa>$pad</font>[<b><font color=#3a6797>string</font></b> trim <font color=#1b1baa>$title</font>]
  <b><font color=#3a6797>set</font></b> cont [<b><font color=#3a6797>lreplace</font></b> <font color=#1b1baa>$cont</font> [<b><font color=#3a6797>incr</font></b> i] <font color=#1b1baa>$l1</font>]
  <b><font color=#3a6797>set</font></b> cont [<b><font color=#3a6797>linsert</font></b> <font color=#1b1baa>$cont</font> <font color=#1b1baa>$i</font> {} <font color=#1b1baa>$title</font> {<b><font color=#3a6797>*</font></b>}<font color=#1b1baa>$replcont</font> {}]
  <b><font color=#ca14ca>return</font></b> [<b><font color=#3a6797>list</font></b> <font color=#1b1baa>$cont</font> 1]
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=format::MoveInside></a>
<b><font color=#ca14ca>proc</font></b> format::MoveInside {cont l1 l2 pad} {
  <i><font color=#4b5d50># Move a unit description outside the unit.</font></i>
  <i><font color=#4b5d50>#   cont - file's content</font></i>
  <i><font color=#4b5d50>#   l1 - 1st unit line number</font></i>
  <i><font color=#4b5d50>#   l2 - last unit line number</font></i>
  <i><font color=#4b5d50>#   pad - padding (indentation) of text</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <b><font color=#3a6797>variable</font></b> da
  <b><font color=#3a6797>set</font></b> l0 [<b><font color=#3a6797>expr</font></b> {<font color=#1b1baa>$l1</font>-1}]
  <b><font color=#3a6797>set</font></b> line [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$cont</font> <font color=#1b1baa>$l0</font>]
  <b><font color=#3a6797>if</font></b> {![<b><font color=#3a6797>regexp</font></b> [LeafRE] <font color=#1b1baa>$line</font>]} {
    <b><font color=#ca14ca>return</font></b> [<b><font color=#3a6797>list</font></b> <font color=#1b1baa>$cont</font> 0]  ;<i><font color=#4b5d50># not unit's declaraion - already processed?</font></i>
  }
  <b><font color=#3a6797>set</font></b> pad0 [obj leadingSpaces <font color=#1b1baa>$line</font>]
  <b><font color=#3a6797>set</font></b> pad0 [<b><font color=#3a6797>string</font></b> repeat { } <font color=#1b1baa>$pad0</font>]
  <i><font color=#4b5d50># get the outside description</font></i>
  <b><font color=#3a6797>set</font></b> replln 0
  <b><font color=#3a6797>set</font></b> replcont [<b><font color=#3a6797>list</font></b>]
  <b><font color=#3a6797>for</font></b> {<b><font color=#3a6797>set</font></b> i <font color=#1b1baa>$l1</font>} {<font color=#1b1baa>$i</font>&lt;<font color=#1b1baa>$l2</font>} {<b><font color=#3a6797>incr</font></b> i} {
    <b><font color=#3a6797>set</font></b> line [<b><font color=#3a6797>string</font></b> trimleft [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$cont</font> <font color=#1b1baa>$i</font>]]
    <b><font color=#3a6797>if</font></b> {![<b><font color=#3a6797>string</font></b> match #* <font color=#1b1baa>$line</font>]} {
      <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$line</font> ne {}} {
        <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>regexp</font></b> <font color=#1b1baa>$al(RE,proc2)</font> <font color=#1b1baa>$line</font>]} {
          <i><font color=#4b5d50># unit's declaration found in this line</font></i>
          <b><font color=#3a6797>set</font></b> replln [<b><font color=#3a6797>incr</font></b> i -1]
        }
        <b><font color=#ca14ca>break</font></b>
      }
    } <b><font color=#3a6797>else</font></b> {
      <i><font color=#4b5d50># only comments included into the description</font></i>
      <b><font color=#3a6797>lappend</font></b> replcont <font color=#1b1baa>$pad$line</font>
    }
  }
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$replln</font> &lt;= 0} {
    <i><font color=#4b5d50># unit's declaration not found</font></i>
    <b><font color=#ca14ca>return</font></b> [<b><font color=#3a6797>list</font></b> <font color=#1b1baa>$cont</font> 0]
  }
  <i><font color=#4b5d50># insert it inside the unit's body</font></i>
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$replcont</font>]} {
    <i><font color=#4b5d50># find the unit's body</font></i>
    <b><font color=#3a6797>set</font></b> body [<b><font color=#3a6797>set</font></b> insln 0]
    <b><font color=#3a6797>for</font></b> {<b><font color=#3a6797>set</font></b> i <font color=#1b1baa>$l1</font>} {<font color=#1b1baa>$i</font>&lt;<font color=#1b1baa>$l2</font>} {<b><font color=#3a6797>incr</font></b> i} {
      <b><font color=#3a6797>set</font></b> line [<b><font color=#3a6797>string</font></b> trim [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$cont</font> <font color=#1b1baa>$i</font>]]
      <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>regexp</font></b> <font color=#1b1baa>$al(RE,proc2)</font> <font color=#1b1baa>$line</font>]} {
        <b><font color=#3a6797>incr</font></b> body
      }
      <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$body</font> && [<b><font color=#3a6797>string</font></b> index <font color=#1b1baa>$line</font> end] ne <font color=#8b2a0e>&quot;\\&quot;</font>} {
        <b><font color=#3a6797>set</font></b> insln [<b><font color=#3a6797>incr</font></b> i]
        <b><font color=#ca14ca>break</font></b>
      }
    }
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$insln</font>} {
      <i><font color=#4b5d50># unit's body found - insert the description inside it</font></i>
      <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$cont</font> <font color=#1b1baa>$insln</font>] ne {}} {<b><font color=#3a6797>lappend</font></b> replcont {}}
      <b><font color=#3a6797>set</font></b> cont [<b><font color=#3a6797>linsert</font></b> <font color=#1b1baa>$cont</font> <font color=#1b1baa>$insln</font> {} {<b><font color=#3a6797>*</font></b>}<font color=#1b1baa>$replcont</font>]
    }
  }
  <i><font color=#4b5d50># replace the the outside description with 2nd separator</font></i>
  <b><font color=#3a6797>set</font></b> separ2 [<b><font color=#3a6797>string</font></b> trim <font color=#1b1baa>$da(separSav2)</font>]
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$separ2</font> ne {}} {
    <b><font color=#3a6797>set</font></b> separ2 <font color=#1b1baa>$pad0$separ2</font>\n
    <i><font color=#4b5d50># if there is a comment above, no separator</font></i>
    <b><font color=#3a6797>for</font></b> {<b><font color=#3a6797>set</font></b> i <font color=#1b1baa>$l0</font>} {<font color=#1b1baa>$i</font>&gt;1} {} {
      <b><font color=#3a6797>incr</font></b> i -1
      <b><font color=#3a6797>set</font></b> line [<b><font color=#3a6797>string</font></b> trimleft [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$cont</font> <font color=#1b1baa>$i</font>]]
      <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$line</font> ne {}} {
        <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>string</font></b> match #* <font color=#1b1baa>$line</font>]} {
          <b><font color=#3a6797>set</font></b> separ2 {}
        }
        <b><font color=#ca14ca>break</font></b>
      }
    }
  }
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$separ2</font> eq {}} {
    <b><font color=#3a6797>set</font></b> cont [<b><font color=#3a6797>lreplace</font></b> <font color=#1b1baa>$cont</font> <font color=#1b1baa>$l0</font> <font color=#1b1baa>$replln</font>]
  } <b><font color=#3a6797>else</font></b> {
    <b><font color=#3a6797>set</font></b> cont [<b><font color=#3a6797>lreplace</font></b> <font color=#1b1baa>$cont</font> <font color=#1b1baa>$l0</font> <font color=#1b1baa>$replln</font> <font color=#1b1baa>$separ2</font>]
  }
  <b><font color=#ca14ca>return</font></b> [<b><font color=#3a6797>list</font></b> <font color=#1b1baa>$cont</font> 1]
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=format::MoveUnitDesc></a>
<b><font color=#ca14ca>proc</font></b> format::MoveUnitDesc {TID} {
  <i><font color=#4b5d50># Does move the unit descriptions.</font></i>
  <i><font color=#4b5d50>#   TID - tab's ID</font></i>
  <i><font color=#4b5d50># Returns 1 if the moves done, 0 if no moves.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <b><font color=#3a6797>variable</font></b> da
  <b><font color=#3a6797>if</font></b> {![alited::isTclScript <font color=#1b1baa>$TID</font>]} {<b><font color=#ca14ca>return</font></b> 0}
  <b><font color=#3a6797>set</font></b> infdat [<b><font color=#3a6797>list</font></b> <font color=#1b1baa>$TID</font> 1]
  <b><font color=#3a6797>set</font></b> fname [<b><font color=#3a6797>file</font></b> tail [alited::bar::FileName <font color=#1b1baa>$TID</font>]]
  <b><font color=#3a6797>set</font></b> cont [alited::file::ReadFileByTID <font color=#1b1baa>$TID</font>]  ;<i><font color=#4b5d50># let it be read anyhow</font></i>
  <b><font color=#3a6797>set</font></b> wtxt [alited::main::GetWTXT <font color=#1b1baa>$TID</font>]
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$wtxt</font> eq {}} {
    <b><font color=#3a6797>lassign</font></b> [alited::main::GetText <font color=#1b1baa>$TID</font> no no] -&gt; wtxt
  }
  <b><font color=#3a6797>set</font></b> lfRE <font color=#1b1baa>$al(prjuseleafRE)</font>
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$da(RE_SWITCHED)</font> || <font color=#1b1baa>$da(dir)</font>==1} {
    <i><font color=#4b5d50># if &quot;Use leaf's RE&quot; was switched or moving to outside and</font></i>
    <i><font color=#4b5d50># the unit tree contains already appropriate leaf units, then no actions more</font></i>
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$da(dir)</font>==1} {
      <i><font color=#4b5d50># in-to-out mode: recreate the &quot;use leafRE&quot; tree to check it for leaf units</font></i>
      <b><font color=#3a6797>set</font></b> al(prjuseleafRE) 1
      alited::unit::RecreateUnits <font color=#1b1baa>$TID</font> <font color=#1b1baa>$wtxt</font>
    }
    <b><font color=#3a6797>lassign</font></b> [alited::unit::UnitHeaderMode <font color=#1b1baa>$TID</font>] isLeafRE isProc leafRE
    <b><font color=#3a6797>foreach</font></b> item [<b><font color=#3a6797>lreverse</font></b> <font color=#1b1baa>$al(_unittree,$TID)</font>] {
      <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$item</font>]&lt;3} <b><font color=#ca14ca>continue</font></b>
      <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$item</font> lev leaf fl1 title l1 l2
      <b><font color=#3a6797>set</font></b> line [<font color=#1b1baa>$wtxt</font> get <font color=#1b1baa>$l1</font>.0 <font color=#1b1baa>$l1</font>.end]
      <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$isProc</font> && [<b><font color=#3a6797>regexp</font></b> <font color=#1b1baa>$al(RE,proc)</font> <font color=#1b1baa>$line</font>] || <font color=#1b1baa>$isLeafRE</font> && [<b><font color=#3a6797>regexp</font></b> <font color=#1b1baa>$leafRE</font> <font color=#1b1baa>$line</font>]} {
        <b><font color=#3a6797>set</font></b> msg [msgcat::mc <font color=#1b1baa>$al(MC,unitprocsd)</font>]
        <b><font color=#3a6797>set</font></b> msg [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> %f <font color=#1b1baa>$fname</font> %n 0] <font color=#1b1baa>$msg</font>]
        alited::info::Put <font color=#1b1baa>$line</font> [<b><font color=#3a6797>list</font></b> <font color=#1b1baa>$TID</font> <font color=#1b1baa>$l1</font>]  ;<i><font color=#4b5d50># line of issue</font></i>
        alited::info::Put <font color=#1b1baa>$msg</font> <font color=#1b1baa>$infdat</font>           ;<i><font color=#4b5d50># file of issue</font></i>
        <b><font color=#3a6797>set</font></b> al(prjuseleafRE) <font color=#1b1baa>$lfRE</font>
        <b><font color=#ca14ca>return</font></b> 0
      }
    }
  }
  <b><font color=#3a6797>set</font></b> al(prjuseleafRE) <font color=#1b1baa>$lfRE</font>
  alited::unit::RecreateUnits <font color=#1b1baa>$TID</font> <font color=#1b1baa>$wtxt</font>
  <b><font color=#3a6797>set</font></b> cont1 [<font color=#1b1baa>$wtxt</font> get 1.0 end]
  <b><font color=#3a6797>set</font></b> cont2 [<b><font color=#3a6797>string</font></b> trimright <font color=#1b1baa>$cont1</font>]
  <b><font color=#3a6797>set</font></b> cont [<b><font color=#3a6797>split</font></b> <font color=#1b1baa>$cont2</font> \n]
  <b><font color=#3a6797>set</font></b> moved 0
  <b><font color=#3a6797>foreach</font></b> item [<b><font color=#3a6797>lreverse</font></b> <font color=#1b1baa>$al(_unittree,$TID)</font>] {
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$item</font>]&lt;3} <b><font color=#ca14ca>continue</font></b>
    <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$item</font> lev leaf fl1 title l1 l2
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$leaf</font> && <font color=#1b1baa>$title</font> ne {}} {
      <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>string</font></b> first { } <font color=#1b1baa>$title</font>]&gt;0 && <font color=#1b1baa>$l1</font>==1} {
        <b><font color=#ca14ca>continue</font></b> ;<i><font color=#4b5d50># intro lines</font></i>
      }
      <b><font color=#3a6797>lassign</font></b> [Separ1 <font color=#1b1baa>$da(separSav1)</font>] separ limit
      <b><font color=#3a6797>set</font></b> title [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> n <font color=#1b1baa>$title</font> N <font color=#1b1baa>$title</font>] <font color=#1b1baa>$separ</font>]
      <b><font color=#3a6797>set</font></b> title [<b><font color=#3a6797>string</font></b> range <font color=#1b1baa>$title</font> 0 <font color=#1b1baa>$limit</font>]
      <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$da(dir)</font>==1} {
        <i><font color=#4b5d50># to out</font></i>
        <b><font color=#3a6797>lassign</font></b> [MoveOut <font color=#1b1baa>$cont</font> <font color=#1b1baa>$title</font> <font color=#1b1baa>$l1</font> <font color=#1b1baa>$l2</font>] cont i
      } <b><font color=#3a6797>else</font></b> {
        <i><font color=#4b5d50># to inside</font></i>
        <b><font color=#3a6797>set</font></b> pad [alited::main::CalcPad <font color=#1b1baa>$wtxt</font>]
        <b><font color=#3a6797>lassign</font></b> [MoveInside <font color=#1b1baa>$cont</font> <font color=#1b1baa>$l1</font> <font color=#1b1baa>$l2</font> <font color=#1b1baa>$pad</font>] cont i
      }
      <b><font color=#3a6797>incr</font></b> moved <font color=#1b1baa>$i</font>
    }
  }
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$moved</font>} {
    alited::bar::BAR markTab <font color=#1b1baa>$TID</font>
    <b><font color=#3a6797>set</font></b> newcont {}
    <b><font color=#3a6797>foreach</font></b> c <font color=#1b1baa>$cont</font> {
      <b><font color=#3a6797>append</font></b> newcont <font color=#1b1baa>$c</font> \n
    }
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>string</font></b> length <font color=#1b1baa>$cont1</font>]==[<b><font color=#3a6797>string</font></b> length <font color=#1b1baa>$cont2</font>]} {
      <b><font color=#3a6797>set</font></b> newcont [<b><font color=#3a6797>string</font></b> trimright <font color=#1b1baa>$newcont</font>]
    }
    <font color=#1b1baa>$wtxt</font> replace 1.0 end <font color=#1b1baa>$newcont</font>
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$wtxt</font> eq [alited::main::CurrentWTXT]} {
      alited::main::UpdateAll
    } <b><font color=#3a6797>else</font></b> {
      alited::unit::RecreateUnits <font color=#1b1baa>$TID</font> <font color=#1b1baa>$wtxt</font>
    }
    <b><font color=#3a6797>set</font></b> msg [msgcat::mc {%f processed, units touched: %n}]
  } <b><font color=#3a6797>else</font></b> {
    <b><font color=#3a6797>set</font></b> msg [msgcat::mc <font color=#1b1baa>$al(MC,unitprocsd)</font>]
  }
  <b><font color=#3a6797>set</font></b> msg [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> %f <font color=#1b1baa>$fname</font> %n <font color=#1b1baa>$moved</font>] <font color=#1b1baa>$msg</font>]
  alited::info::Put <font color=#1b1baa>$msg</font> <font color=#1b1baa>$infdat</font>
  alited::file::MakeThemHighlighted <font color=#1b1baa>$TID</font>
  <b><font color=#ca14ca>return</font></b> [<b><font color=#3a6797>expr</font></b> {<font color=#1b1baa>$moved</font>&gt;0}]
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=format::LeafRE></a>
<b><font color=#ca14ca>proc</font></b> format::LeafRE {} {
  <i><font color=#4b5d50># Gets the chosen leaf's RE (current or standard, seen by the user).</font></i>

  <b><font color=#ca14ca>return</font></b> [[<font color=#1b1baa>$::alited::obDl2</font> LabRE2] cget <font color=#653760>-text</font>]
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=format::CheckOk></a>
<b><font color=#ca14ca>proc</font></b> format::CheckOk {} {
  <i><font color=#4b5d50># Check options of Move Descriptions dialogue.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al obDl2 obDl2
  <b><font color=#3a6797>variable</font></b> da
  <b><font color=#3a6797>set</font></b> res yes
  <b><font color=#3a6797>set</font></b> REleaf [LeafRE]
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$da(dir)</font>==1} {
    <i><font color=#4b5d50># move from inside to out</font></i>
    <b><font color=#3a6797>lassign</font></b> [Separ1 <font color=#1b1baa>$da(separ)</font>] separ
    <b><font color=#3a6797>if</font></b> {![<b><font color=#3a6797>regexp</font></b> <font color=#1b1baa>$REleaf</font> <font color=#1b1baa>$separ</font>]} {
      <b><font color=#3a6797>set</font></b> err [msgcat::mc <font color=#8b2a0e>&quot;The separator doesn't match to the regexp:\n\n  &quot;</font>]
      <b><font color=#3a6797>append</font></b> err <font color=#8b2a0e>&quot;\&quot;<font color=#1b1baa>$</font>REleaf\&quot;&quot;</font>
      <b><font color=#3a6797>set</font></b> res no
    }
    <b><font color=#3a6797>if</font></b> {![<b><font color=#3a6797>regexp</font></b> {[Nn]} <font color=#1b1baa>$da(separ)</font>]} {
      <b><font color=#3a6797>set</font></b> err {Separator must contain <font color=#8b2a0e>&quot;n&quot;</font> or <font color=#8b2a0e>&quot;N&quot;</font> for unit name!}
      <b><font color=#3a6797>set</font></b> res no
    }
  } <b><font color=#3a6797>else</font></b> {
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>string</font></b> trimright <font color=#1b1baa>$da(separ)</font>] ne {} && ![<b><font color=#3a6797>string</font></b> match #* <font color=#1b1baa>$da(separ)</font>]} {
      <b><font color=#3a6797>set</font></b> err <font color=#8b2a0e>&quot;The separator should be Tcl comment!&quot;</font>
      <b><font color=#3a6797>set</font></b> res no
      <b><font color=#3a6797>set</font></b> da(separ) #<font color=#1b1baa>$da(separ)</font>
    }
  }
  <b><font color=#3a6797>set</font></b> da(separSav<font color=#1b1baa>$da(dir)</font>) <font color=#1b1baa>$da(separ)</font>
  <b><font color=#3a6797>if</font></b> {!<font color=#1b1baa>$res</font>} {
    <b><font color=#134070>bell</font></b>
    [<font color=#1b1baa>$obDl2</font> Tex1] replace 1.0 end <font color=#8b2a0e>&quot;\n#! <font color=#1b1baa>[</font>msgcat::mc ERROR<font color=#1b1baa>]</font>:\n#!\n#! <font color=#1b1baa>[</font>msgcat::mc <font color=#1b1baa>$</font>err<font color=#1b1baa>]</font>&quot;</font>
  }
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$res</font> && <font color=#1b1baa>$da(what)</font>==2 && \
  ![alited::msg yesno ques {Were all files properly backed up?}]} {
    <b><font color=#ca14ca>return</font></b> 0
  }
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$res</font>} {
    alited::info::Put {}
    alited::ProcessFiles alited::InitUnitTree <font color=#1b1baa>$da(what)</font>
    <b><font color=#3a6797>set</font></b> lfRE [alited::unit::IsLeafRegexp]
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$da(dir)</font>==1 && <font color=#1b1baa>$lfRE</font> || <font color=#1b1baa>$da(dir)</font>==2 && !<font color=#1b1baa>$lfRE</font>} {
      <b><font color=#3a6797>set</font></b> al(prjuseleafRE) [<b><font color=#3a6797>expr</font></b> {!<font color=#1b1baa>$lfRE</font>}]
      <b><font color=#3a6797>set</font></b> al(prjleafRE) <font color=#1b1baa>$REleaf</font>
      <b><font color=#3a6797>set</font></b> msg [msgcat::mc <font color=#8b2a0e>&quot;PROJECT OPTION \&quot;Use leaf's regexp\&quot; SWITCHED TEMPORARILY TO &quot;</font>]
      <b><font color=#3a6797>append</font></b> msg <font color=#8b2a0e>&quot;\&quot;<font color=#1b1baa>$</font>al(prjuseleafRE)\&quot;&quot;</font>
      alited::info::Put <font color=#1b1baa>$msg</font> {} yes
      <b><font color=#3a6797>set</font></b> da(RE_SWITCHED) 1
    } <b><font color=#3a6797>else</font></b> {
      <b><font color=#3a6797>set</font></b> da(RE_SWITCHED) 0
    }
  }
  <b><font color=#ca14ca>return</font></b> <font color=#1b1baa>$res</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=format::Ok></a>
<b><font color=#ca14ca>proc</font></b> format::Ok {} {
  <i><font color=#4b5d50># Handles pressing OK button of Move Descriptions dialogue.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al obDl2 obDl2
  <b><font color=#3a6797>variable</font></b> win
  <b><font color=#3a6797>variable</font></b> da
  <b><font color=#3a6797>if</font></b> {[CheckOk]} {
    <b><font color=#3a6797>set</font></b> al(format_separ1) <font color=#1b1baa>$da(separSav1)</font>
    <b><font color=#3a6797>set</font></b> al(format_separ2) <font color=#1b1baa>$da(separSav2)</font>
    <b><font color=#3a6797>lassign</font></b> [alited::ProcessFiles alited::format::MoveUnitDesc <font color=#1b1baa>$da(what)</font>] all processed
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$processed</font>} alited::main::UpdateIcons
    <b><font color=#3a6797>set</font></b> msg [msgcat::mc {Files processed successfully: %n}]
    <b><font color=#3a6797>set</font></b> msg [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> %n <font color=#1b1baa>$processed</font>] <font color=#1b1baa>$msg</font>]
    alited::info::Put <font color=#1b1baa>$msg</font> {} yes [<b><font color=#3a6797>expr</font></b> {!<font color=#1b1baa>$processed</font>}] yes
    <font color=#1b1baa>$obDl2</font> res <font color=#1b1baa>$win</font> 1
  }
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=format::Cancel></a>
<b><font color=#ca14ca>proc</font></b> format::Cancel {} {
  <i><font color=#4b5d50># Handles pressing Cancel button of Move Descriptions dialogue.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited obDl2 obDl2
  <b><font color=#3a6797>variable</font></b> win
  <font color=#1b1baa>$obDl2</font> res <font color=#1b1baa>$win</font> 0
}
<a id=Format_by_modes></a>
<i><font color=#4b5d50># ________________________ Format by modes _________________________ #</font></i>
<a id=format::BeforeFormatting></a>
<b><font color=#ca14ca>proc</font></b> format::BeforeFormatting {{islines no}} {
  <i><font color=#4b5d50># Gets option for formatting - text's path, selected text and positions to process.</font></i>
  <i><font color=#4b5d50>#   islines - yes, if positions are lines' start and end</font></i>
  <i><font color=#4b5d50># Also, sets valueOrig to the original contents of selected text.</font></i>
  <i><font color=#4b5d50># See also: AfterFormatting</font></i>

  <b><font color=#3a6797>variable</font></b> valueOrig
  <b><font color=#3a6797>set</font></b> wtxt [alited::main::CurrentWTXT]
  <b><font color=#3a6797>set</font></b> selection [<font color=#1b1baa>$wtxt</font> tag ranges sel]
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>set</font></b> llen [<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$selection</font>]]&gt;2} {
    alited::Message {Applied to one selection only!} 4
    <b><font color=#ca14ca>return</font></b> {}
  }
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$llen</font>} {
    <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$selection</font> pos1 pos2
    <b><font color=#3a6797>if</font></b> {[<font color=#1b1baa>$wtxt</font> compare <font color=#1b1baa>$pos2</font> == [<font color=#1b1baa>$wtxt</font> index end]]} {
      <b><font color=#3a6797>set</font></b> pos2 [<font color=#1b1baa>$wtxt</font> index <font color=#8b2a0e>&quot;<font color=#1b1baa>$</font>pos2 -1c&quot;</font>]
    }
  } <b><font color=#3a6797>else</font></b> {
    <b><font color=#3a6797>set</font></b> pos [<b><font color=#3a6797>expr</font></b> {int([<font color=#1b1baa>$wtxt</font> index insert])}]
    <b><font color=#3a6797>set</font></b> pos1 <font color=#1b1baa>$pos</font>.0
    <b><font color=#3a6797>set</font></b> pos2 <font color=#1b1baa>$pos</font>.end
  }
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$islines</font>} {
    <b><font color=#3a6797>set</font></b> pos1 [::apave::pint <font color=#1b1baa>$pos1</font>].0
    <b><font color=#3a6797>set</font></b> pos2 [::apave::pint <font color=#1b1baa>$pos2</font>].end
  }
  <b><font color=#3a6797>set</font></b> valueOrig [<b><font color=#3a6797>set</font></b> value [<font color=#1b1baa>$wtxt</font> get <font color=#1b1baa>$pos1</font> <font color=#1b1baa>$pos2</font>]]
  <b><font color=#ca14ca>return</font></b> [<b><font color=#3a6797>list</font></b> <font color=#1b1baa>$wtxt</font> <font color=#1b1baa>$value</font> <font color=#1b1baa>$pos1</font> <font color=#1b1baa>$pos2</font>]
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=format::AfterFormatting></a>
<b><font color=#ca14ca>proc</font></b> format::AfterFormatting {wtxt pos1 pos2 value} {
  <i><font color=#4b5d50># Actions after formatting:</font></i>
  <i><font color=#4b5d50># replace & update all & select the formatted stuff.</font></i>
  <i><font color=#4b5d50>#   wtxt - text's path</font></i>
  <i><font color=#4b5d50>#   pos1 - 1st position formatted</font></i>
  <i><font color=#4b5d50>#   pos2 - last position formatted</font></i>
  <i><font color=#4b5d50>#   value - content formatted</font></i>
  <i><font color=#4b5d50># See also: BeforeFormatting</font></i>

  <b><font color=#3a6797>variable</font></b> valueOrig
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$valueOrig</font> ne <font color=#1b1baa>$value</font>} {
    <font color=#1b1baa>$wtxt</font> replace <font color=#1b1baa>$pos1</font> <font color=#1b1baa>$pos2</font> <font color=#1b1baa>$value</font>
  }
  alited::main::UpdateAll
  focusByForce <font color=#1b1baa>$wtxt</font>
  <font color=#1b1baa>$wtxt</font> tag remove sel 1.0
  <b><font color=#3a6797>set</font></b> nch [<b><font color=#3a6797>string</font></b> length <font color=#1b1baa>$value</font>]
  <font color=#1b1baa>$wtxt</font> tag add sel <font color=#1b1baa>$pos1</font> <font color=#8b2a0e>&quot;<font color=#1b1baa>$</font>pos1 +<font color=#1b1baa>$</font>nch chars&quot;</font>
}
<a id=map></a>
<i><font color=#4b5d50>## ________________________ map _________________________ ##</font></i>

<a id=format::Mode1></a>
<b><font color=#ca14ca>proc</font></b> format::Mode1 {cont args} {
  <i><font color=#4b5d50># Maps selection by pairs taken from config.file.</font></i>
  <i><font color=#4b5d50>#   cont - list of config.file's lines (pairs from-to)</font></i>

  <b><font color=#3a6797>lassign</font></b> [BeforeFormatting] wtxt value pos1 pos2
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$wtxt</font> eq {}} <b><font color=#ca14ca>return</font></b>
  <i><font color=#4b5d50># check the list of mapping</font></i>
  <b><font color=#3a6797>set</font></b> prevlist [<b><font color=#3a6797>list</font></b>]
  <b><font color=#3a6797>foreach</font></b> line <font color=#1b1baa>$cont</font> {
    <b><font color=#3a6797>set</font></b> line [<b><font color=#3a6797>split</font></b> [<b><font color=#3a6797>string</font></b> trim <font color=#1b1baa>$line</font>]]
    <b><font color=#3a6797>set</font></b> llen [<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$line</font>]
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$llen</font>==1 || <font color=#1b1baa>$llen</font>&gt;2} {
      <b><font color=#3a6797>set</font></b> msg [msgcat::mc <font color=#8b2a0e>&quot;Incorrect mapped 'from-to' in: %l&quot;</font>]
      <b><font color=#3a6797>set</font></b> msg [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> %l <font color=#1b1baa>$line</font>] <font color=#1b1baa>$msg</font>]
      alited::Message <font color=#1b1baa>$msg</font> 4
    } <b><font color=#3a6797>elseif</font></b> {<font color=#1b1baa>$llen</font>} {
      <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$line</font> from to
      <b><font color=#3a6797>set</font></b> i [<b><font color=#3a6797>lsearch</font></b> <font color=#653760>-exact</font> <font color=#653760>-index</font> 1 <font color=#1b1baa>$prevlist</font> <font color=#1b1baa>$from</font>]
      <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$i</font>&gt;=0} {
        <b><font color=#3a6797>set</font></b> msg [msgcat::mc <font color=#8b2a0e>&quot;'from' refers to previous 'to' in: %l (see: %n)&quot;</font>]
        <b><font color=#3a6797>set</font></b> msg [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> %l <font color=#1b1baa>$line</font> %n [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$prevlist</font> <font color=#1b1baa>$i</font>]] <font color=#1b1baa>$msg</font>]
        alited::Message <font color=#1b1baa>$msg</font> 4
      }
      <b><font color=#3a6797>lappend</font></b> prevlist <font color=#1b1baa>$line</font>
    }
  }
  <b><font color=#3a6797>foreach</font></b> line <font color=#1b1baa>$cont</font> {
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>catch</font></b> {
      <b><font color=#3a6797>set</font></b> line [<b><font color=#3a6797>split</font></b> [<b><font color=#3a6797>string</font></b> trim <font color=#1b1baa>$line</font>]]
      <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$line</font>]==2} {
        <b><font color=#3a6797>set</font></b> value [<b><font color=#3a6797>string</font></b> map <font color=#1b1baa>$line</font> <font color=#1b1baa>$value</font>]
      }
    } e]} <b><font color=#3a6797>then</font></b> {
      alited::Message <font color=#8b2a0e>&quot;<font color=#1b1baa>$</font>e (<font color=#1b1baa>$</font>line)&quot;</font> 3
    }
  }
  AfterFormatting <font color=#1b1baa>$wtxt</font> <font color=#1b1baa>$pos1</font> <font color=#1b1baa>$pos2</font> <font color=#1b1baa>$value</font>
}
<a id=commands></a>
<i><font color=#4b5d50>## ________________________ commands _________________________ ##</font></i>
<a id=format::Mode2></a>
<b><font color=#ca14ca>proc</font></b> format::Mode2 {cont args} {
  <i><font color=#4b5d50># Applies a command to selection/current line.</font></i>
  <i><font color=#4b5d50>#   cont - list of config.file's lines</font></i>

  <b><font color=#3a6797>lassign</font></b> [BeforeFormatting] wtxt value pos1 pos2
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$wtxt</font> eq {}} <b><font color=#ca14ca>return</font></b>
  <b><font color=#3a6797>set</font></b> err 0
  <b><font color=#3a6797>foreach</font></b> line <font color=#1b1baa>$cont</font> {
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>set</font></b> com [alited::edit::IniParameter command <font color=#1b1baa>$line</font>]] ne {}} {
      <b><font color=#3a6797>set</font></b> value [alited::edit::EscapeValue <font color=#1b1baa>$value</font>]
      <b><font color=#3a6797>set</font></b> com [alited::Map <font color=#653760>-nocase</font> <font color=#1b1baa>$com</font> %v <font color=#1b1baa>$value</font>]
      <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>catch</font></b> {<b><font color=#3a6797>set</font></b> value [<b><font color=#3a6797>eval</font></b> <font color=#1b1baa>$com</font>]} e]} {
        alited::Message <font color=#1b1baa>$e</font> 4
        <b><font color=#3a6797>set</font></b> err 1
        <b><font color=#ca14ca>break</font></b>
      }
      <b><font color=#3a6797>set</font></b> value [alited::edit::UnEscapeValue <font color=#1b1baa>$value</font>]
    }
  }
  <b><font color=#3a6797>if</font></b> {!<font color=#1b1baa>$err</font>} {AfterFormatting <font color=#1b1baa>$wtxt</font> <font color=#1b1baa>$pos1</font> <font color=#1b1baa>$pos2</font> <font color=#1b1baa>$value</font>}
}
<a id=on_line_list></a>
<i><font color=#4b5d50>## ________________________ on line list _________________________ ##</font></i>
<a id=format::Mode3></a>
<b><font color=#ca14ca>proc</font></b> format::Mode3 {cont args} {
  <i><font color=#4b5d50># Applies command(s) to lines of selection.</font></i>
  <i><font color=#4b5d50>#   cont - list of config.file's lines</font></i>

  <b><font color=#3a6797>lassign</font></b> [BeforeFormatting yes] wtxt value pos1 pos2
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$wtxt</font> eq {}} <b><font color=#ca14ca>return</font></b>
  <b><font color=#3a6797>set</font></b> value [<b><font color=#3a6797>split</font></b> <font color=#1b1baa>$value</font> \n]
  <b><font color=#3a6797>set</font></b> err 0
  <b><font color=#3a6797>foreach</font></b> line <font color=#1b1baa>$cont</font> {
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>set</font></b> com [alited::edit::IniParameter command <font color=#1b1baa>$line</font>]] ne {}} {
      <b><font color=#3a6797>set</font></b> com [alited::Map {} <font color=#1b1baa>$com</font> %v <font color=#1b1baa>$value</font>]
      <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>catch</font></b> {<b><font color=#3a6797>set</font></b> value [<b><font color=#3a6797>eval</font></b> <font color=#1b1baa>$com</font>]} e]} {
        alited::Message <font color=#1b1baa>$e</font> 4
        <b><font color=#3a6797>set</font></b> err 1
        <b><font color=#ca14ca>break</font></b>
      }
    }
  }
  <b><font color=#3a6797>if</font></b> {!<font color=#1b1baa>$err</font>} {
    <b><font color=#3a6797>set</font></b> resvalue {}
    <b><font color=#3a6797>set</font></b> was no
    <b><font color=#3a6797>foreach</font></b> line <font color=#1b1baa>$value</font> {
      <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$was</font>} {<b><font color=#3a6797>append</font></b> resvalue \n}
      <b><font color=#3a6797>append</font></b> resvalue <font color=#1b1baa>$line</font>
      <b><font color=#3a6797>set</font></b> was yes
    }
    AfterFormatting <font color=#1b1baa>$wtxt</font> <font color=#1b1baa>$pos1</font> <font color=#1b1baa>$pos2</font> <font color=#1b1baa>$resvalue</font>
  }
}
<a id=externals></a>
<i><font color=#4b5d50>## ________________________ externals _________________________ ##</font></i>
<a id=format::Mode4></a>
<b><font color=#ca14ca>proc</font></b> format::Mode4 {cont args} {
  <i><font color=#4b5d50># Applies external command(s) to selection or lines of selection.</font></i>
  <i><font color=#4b5d50>#   cont - list of config.file's lines</font></i>
  <i><font color=#4b5d50># The selection (or lines of selection) is saved to a temporary file</font></i>
  <i><font color=#4b5d50># that is processed by commands.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <b><font color=#3a6797>variable</font></b> valueSel
  <b><font color=#3a6797>variable</font></b> valueLines
  <b><font color=#3a6797>lassign</font></b> [BeforeFormatting] wtxt valueSel
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$wtxt</font> eq {}} <b><font color=#ca14ca>return</font></b>
  <b><font color=#3a6797>lassign</font></b> [BeforeFormatting yes] wtxt valueLines
  <b><font color=#3a6797>set</font></b> comcount 0
  <b><font color=#3a6797>set</font></b> tmpname [alited::TmpFile FORMAT~]
  <b><font color=#3a6797>foreach</font></b> line <font color=#1b1baa>$cont</font> {
    <b><font color=#3a6797>set</font></b> com {}
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>set</font></b> comu [alited::edit::IniParameter Unix,Linux <font color=#1b1baa>$line</font>]] ne {}} {
      <b><font color=#3a6797>if</font></b> {[::isunix]} {
        <b><font color=#3a6797>set</font></b> com <font color=#1b1baa>$comu</font>
        <b><font color=#3a6797>incr</font></b> comcount
      }
    } <b><font color=#3a6797>elseif</font></b> {[<b><font color=#3a6797>set</font></b> comw [alited::edit::IniParameter Windows <font color=#1b1baa>$line</font>]] ne {}} {
      <b><font color=#3a6797>if</font></b> {[::iswindows]} {
        <b><font color=#3a6797>set</font></b> com <font color=#1b1baa>$comu</font>
        <b><font color=#3a6797>incr</font></b> comcount
      }
    } <b><font color=#3a6797>elseif</font></b> {[<b><font color=#3a6797>set</font></b> com [alited::edit::IniParameter Command <font color=#1b1baa>$line</font>]] ne {}} {
      <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$comcount</font>} <b><font color=#ca14ca>break</font></b>
    }
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$com</font> ne {}} {
      <b><font color=#3a6797>set</font></b> com [alited::MapWildCards <font color=#1b1baa>$com</font>]
      <i><font color=#4b5d50>#   %S - file name for saved selection</font></i>
      <i><font color=#4b5d50>#   %L - file name for saved lines of selection</font></i>
      <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>string</font></b> first %S <font color=#1b1baa>$com</font>]&gt;=0 && <font color=#1b1baa>$valueSel</font> ne {}} {
        writeTextFile <font color=#1b1baa>$tmpname</font> ::alited::format::valueSel
      } <b><font color=#3a6797>elseif</font></b> {[<b><font color=#3a6797>string</font></b> first %L <font color=#1b1baa>$com</font>]&gt;=0 && <font color=#1b1baa>$valueLines</font> ne {}} {
        writeTextFile <font color=#1b1baa>$tmpname</font> ::alited::format::valueLines
      }
      <b><font color=#3a6797>set</font></b> com [alited::Map <font color=#653760>-nocase</font> <font color=#1b1baa>$com</font> %S <font color=#1b1baa>$tmpname</font> %L <font color=#1b1baa>$tmpname</font>]
      alited::tool::Run_in_e_menu <font color=#1b1baa>$com</font>
    }
  }
  alited::FocusText
}
<a id=insertions></a>
<i><font color=#4b5d50>## ________________________ insertions _________________________ ##</font></i>
<a id=format::Mode5></a>
<b><font color=#ca14ca>proc</font></b> format::Mode5 {cont args} {
  <i><font color=#4b5d50># Inserts a string at the current cursor position.</font></i>
  <i><font color=#4b5d50># Or does something without changing the text (if commands return &quot;&quot;).</font></i>
  <i><font color=#4b5d50>#   cont - list of config.file's lines or variable name containing it</font></i>
  <i><font color=#4b5d50>#   args - contains the edited file name etc.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al DIR DIR
  <b><font color=#3a6797>lassign</font></b> [BeforeFormatting] wtxt value
  <b><font color=#3a6797>set</font></b> value [alited::edit::EscapeValue <font color=#1b1baa>$value</font>]
  <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$args</font> -&gt; fname
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>info</font></b> exists <font color=#1b1baa>$cont</font>]} {
    <b><font color=#3a6797>set</font></b> cont [<b><font color=#3a6797>set</font></b> <font color=#1b1baa>$cont</font>]
  }
  <b><font color=#3a6797>foreach</font></b> line <font color=#1b1baa>$cont</font> {
    <b><font color=#3a6797>incr</font></b> il
    <b><font color=#3a6797>set</font></b> pos [<font color=#1b1baa>$wtxt</font> index insert]
    <b><font color=#3a6797>set</font></b> com [alited::edit::IniParameter command <font color=#1b1baa>$line</font> <font color=#653760>-nocase</font> -]
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$com</font> ne {}} {
      <b><font color=#3a6797>set</font></b> ending [<b><font color=#3a6797>expr</font></b> {<font color=#1b1baa>$com</font> eq <font color=#8b2a0e>&quot;-&quot;</font>}]
      <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$ending</font>} {
        <b><font color=#3a6797>set</font></b> com [<b><font color=#3a6797>join</font></b> [<b><font color=#3a6797>lrange</font></b> <font color=#1b1baa>$cont</font> <font color=#1b1baa>$il</font> end] \n]
      }
      <b><font color=#3a6797>set</font></b> selection [<font color=#1b1baa>$wtxt</font> tag ranges sel]
      <b><font color=#3a6797>set</font></b> lsel [<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$selection</font>]
      <b><font color=#3a6797>if</font></b> {!<font color=#1b1baa>$lsel</font>} {
        <b><font color=#3a6797>set</font></b> value {}
      }
      <i><font color=#4b5d50># map format's own and template's woildcards</font></i>
      <b><font color=#3a6797>set</font></b> com [alited::Map {} \
        <font color=#1b1baa>$com</font> %W <font color=#1b1baa>$wtxt</font> %v <font color=#1b1baa>$value</font> %f <font color=#1b1baa>$fname</font> \
        %d <font color=#1b1baa>$al(TPL,%d)</font> \
        %t <font color=#1b1baa>$al(TPL,%t)</font> \
        %u <font color=#1b1baa>$al(TPL,%u)</font> \
        %U <font color=#1b1baa>$al(TPL,%U)</font> \
        %w <font color=#1b1baa>$al(TPL,%w)</font> \
        %A <font color=#1b1baa>$DIR</font> \
        %M <font color=#1b1baa>$al(EM,mnudir)</font>]
      <b><font color=#3a6797>set</font></b> value [<b><font color=#3a6797>eval</font></b> <font color=#1b1baa>$com</font>]
      <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$value</font> ne {}} {
        <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$lsel</font>} {
          <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$selection</font> pos1 pos2
          <font color=#1b1baa>$wtxt</font> replace <font color=#1b1baa>$pos1</font> <font color=#1b1baa>$pos2</font> <font color=#1b1baa>$value</font>
        } <b><font color=#3a6797>else</font></b> {
          <font color=#1b1baa>$wtxt</font> insert <font color=#1b1baa>$pos</font> <font color=#1b1baa>$value</font>
        }
      }
      <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$ending</font>} <b><font color=#ca14ca>break</font></b>
    }
  }
  alited::FocusText
}
<a id=pluginable></a>
<i><font color=#4b5d50>## ________________________ pluginable _________________________ ##</font></i>
<a id=format::Mode6></a>
<b><font color=#ca14ca>proc</font></b> format::Mode6 {cont args} {
  <i><font color=#4b5d50># Runs a pluginable formatter.</font></i>
  <i><font color=#4b5d50>#   cont - list of config.file's lines</font></i>
  <i><font color=#4b5d50>#   args - formatter's file name etc.</font></i>
  <i><font color=#4b5d50># Returns 1st event to run the formatter or {}.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <b><font color=#3a6797>variable</font></b> cont6
  <b><font color=#3a6797>variable</font></b> bind6
  <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$args</font> fullformname
  <b><font color=#3a6797>set</font></b> fform [alited::edit::FormatterName <font color=#1b1baa>$fullformname</font>]
  <b><font color=#3a6797>set</font></b> com [<b><font color=#3a6797>list</font></b> alited::format::Mode5 ::alited::format::cont6(<font color=#1b1baa>$fform</font>) {<b><font color=#3a6797>*</font></b>}<font color=#1b1baa>$args</font>]
  <b><font color=#3a6797>set</font></b> wtxt [alited::main::CurrentWTXT]
  <b><font color=#3a6797>set</font></b> bind6(<font color=#1b1baa>$fform</font>) [<b><font color=#3a6797>list</font></b>]
  <b><font color=#3a6797>set</font></b> res [<b><font color=#3a6797>set</font></b> icon {}]
  <b><font color=#3a6797>set</font></b> sep 0
  <b><font color=#3a6797>foreach</font></b> line <font color=#1b1baa>$cont</font> {
    <b><font color=#3a6797>incr</font></b> il
    <b><font color=#3a6797>set</font></b> sp [alited::edit::IniParameter sep <font color=#1b1baa>$line</font> <font color=#653760>-nocase</font>]
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>string</font></b> is true <font color=#653760>-strict</font> <font color=#1b1baa>$sp</font>]} {<b><font color=#3a6797>set</font></b> sep 1}
    <b><font color=#3a6797>set</font></b> ic [alited::edit::IniParameter icon <font color=#1b1baa>$line</font> <font color=#653760>-nocase</font>]
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$ic</font> ne {}} {<b><font color=#3a6797>set</font></b> icon <font color=#1b1baa>$ic</font>}
    <b><font color=#3a6797>set</font></b> events [alited::edit::IniParameter events <font color=#1b1baa>$line</font> <font color=#653760>-nocase</font>]
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$events</font> ne {}} {
      <b><font color=#3a6797>foreach</font></b> ev [<b><font color=#3a6797>split</font></b> <font color=#1b1baa>$events</font> { ,}] {
        <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$ev</font> ne {}} {
          <b><font color=#3a6797>set</font></b> wasacc [<b><font color=#3a6797>info</font></b> exist cont6(<font color=#1b1baa>$fform</font>)]
          <b><font color=#3a6797>if</font></b> {[EventOK <font color=#1b1baa>$fullformname</font> <font color=#1b1baa>$fform</font> <font color=#1b1baa>$ev</font> <font color=#1b1baa>$wasacc</font>]} {
            <b><font color=#3a6797>catch</font></b> {<b><font color=#134070>bind</font></b> <font color=#1b1baa>$wtxt</font> <font color=#1b1baa>$ev</font> <font color=#1b1baa>$com</font>}
            <b><font color=#3a6797>if</font></b> {![<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$bind6($fform)</font>]} {<b><font color=#3a6797>set</font></b> res <font color=#1b1baa>$ev</font>}
            <b><font color=#3a6797>lappend</font></b> bind6(<font color=#1b1baa>$fform</font>) [<b><font color=#3a6797>list</font></b> <font color=#1b1baa>$ev</font> <font color=#1b1baa>$com</font>]
          } <b><font color=#3a6797>else</font></b> {
            <b><font color=#3a6797>set</font></b> res {}
            <b><font color=#ca14ca>break</font></b>
          }
        }
        <b><font color=#3a6797>set</font></b> cont6(<font color=#1b1baa>$fform</font>) [<b><font color=#3a6797>lrange</font></b> <font color=#1b1baa>$cont</font> <font color=#1b1baa>$il</font> end]
      }
      <b><font color=#ca14ca>break</font></b>
    }
  }
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$icon</font> ne {}} {
    CreateFormatIcon <font color=#1b1baa>$icon</font> <font color=#1b1baa>$sep</font> <font color=#1b1baa>$com</font> <font color=#1b1baa>$fform</font>
  } <b><font color=#3a6797>elseif</font></b> {<font color=#1b1baa>$res</font> eq {}} {
    <i><font color=#4b5d50># no event encountered - run the formatter once</font></i>
    Mode5 <font color=#1b1baa>$cont</font> {<b><font color=#3a6797>*</font></b>}<font color=#1b1baa>$args</font>
  }
  <b><font color=#ca14ca>return</font></b> <font color=#1b1baa>$res</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=format::EventOK></a>
<b><font color=#ca14ca>proc</font></b> format::EventOK {fullformname fform ev wasacc} {
  <i><font color=#4b5d50># Checks if an event is correct (not overlap alited key mapping).</font></i>
  <i><font color=#4b5d50>#   fullformname - full path to formatter</font></i>
  <i><font color=#4b5d50>#   fform - formatter's name</font></i>
  <i><font color=#4b5d50>#   ev - the event</font></i>
  <i><font color=#4b5d50>#   wasacc - if true, -accelerator of $fform menu item was made</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <b><font color=#3a6797>variable</font></b> cont6
  <b><font color=#3a6797>set</font></b> ev2 [<b><font color=#3a6797>string</font></b> trim <font color=#1b1baa>$ev</font> &lt;&gt;]
  <b><font color=#3a6797>set</font></b> keys [alited::keys::EngagedList]
  <b><font color=#3a6797>lappend</font></b> keys {<b><font color=#3a6797>*</font></b>}[alited::keys::ReservedList]
  <b><font color=#3a6797>foreach</font></b> key <font color=#1b1baa>$keys</font> {
    <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$key</font> ev1
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$ev1</font> eq <font color=#1b1baa>$ev2</font>} {
      <b><font color=#3a6797>set</font></b> mitem [alited::menu::FormatsItemName <font color=#1b1baa>$fform</font>]
      <b><font color=#3a6797>set</font></b> msg [msgcat::mc {%e is overlapped by formatter <font color=#8b2a0e>&quot;%f&quot;</font>}]
      <b><font color=#3a6797>set</font></b> msg [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> %e <font color=#1b1baa>$ev</font> %f <font color=#1b1baa>$mitem</font>] <font color=#1b1baa>$msg</font>]
      alited::MessageError <font color=#1b1baa>$msg</font>
      <b><font color=#ca14ca>return</font></b> no
    }
  }
  <b><font color=#3a6797>if</font></b> {!<font color=#1b1baa>$wasacc</font>} {
    <i><font color=#4b5d50># add -accelerator to Formats menu item of $fform</font></i>
    <b><font color=#3a6797>set</font></b> mnu <font color=#1b1baa>$al(MENUFORMATS)</font>
    <b><font color=#3a6797>set</font></b> itemttl [alited::menu::FormatsItemName <font color=#1b1baa>$fform</font>]
    alited::edit::PluginAccelerator <font color=#1b1baa>$mnu</font> <font color=#1b1baa>$itemttl</font> <font color=#1b1baa>$ev2</font>
  }
  <b><font color=#3a6797>set</font></b> al(FORMATS,<font color=#1b1baa>$fform</font>,<font color=#1b1baa>$ev2</font>) [<b><font color=#3a6797>list</font></b> <font color=#1b1baa>$fullformname</font> <font color=#1b1baa>$ev2</font>]
  <b><font color=#ca14ca>return</font></b> yes
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=format::CreateFormatIcon></a>
<b><font color=#ca14ca>proc</font></b> format::CreateFormatIcon {icon sep com fform} {
  <i><font color=#4b5d50># Create icon of formatter in toolbar.</font></i>
  <i><font color=#4b5d50>#   icon - icon name</font></i>
  <i><font color=#4b5d50>#   sep - true if separated</font></i>
  <i><font color=#4b5d50>#   com - command</font></i>
  <i><font color=#4b5d50>#   fform - formatter file name</font></i>

  <b><font color=#3a6797>variable</font></b> icon6
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>info</font></b> exists icon6(<font color=#1b1baa>$icon</font>)]} <b><font color=#ca14ca>return</font></b>
  <b><font color=#3a6797>set</font></b> icon6(<font color=#1b1baa>$icon</font>) 1
  <b><font color=#3a6797>set</font></b> but [alited::tool::ToolButName <font color=#1b1baa>$icon</font>]_2
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$sep</font>} {
    <b><font color=#3a6797>set</font></b> separ [<b><font color=#134070>ttk::separator</font></b> <font color=#1b1baa>${but}</font>_sep <font color=#653760>-orient</font> vertical]
    <b><font color=#134070>pack</font></b> <font color=#1b1baa>$separ</font> <font color=#653760>-side</font> left <font color=#653760>-fill</font> y <font color=#653760>-padx</font> 6
  }
  <b><font color=#3a6797>lassign</font></b> [obj csGet] fga fg bga bg
  <b><font color=#3a6797>set</font></b> fontB [obj boldTextFont 16]
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>catch</font></b> {<b><font color=#3a6797>set</font></b> img [alited::ini::CreateIcon <font color=#1b1baa>$icon</font>]-big; <b><font color=#134070>image</font></b> inuse <font color=#1b1baa>$img</font>}]} {
    <b><font color=#3a6797>set</font></b> txt <font color=#1b1baa>$icon</font>
    <b><font color=#3a6797>set</font></b> istext 1
  } <b><font color=#3a6797>else</font></b> {
    <b><font color=#3a6797>set</font></b> txt {}
    <b><font color=#3a6797>set</font></b> istext 0
  }
  <b><font color=#3a6797>set</font></b> attrs [obj toolbarItem_Attrs <font color=#1b1baa>$istext</font> <font color=#1b1baa>$img</font> <font color=#1b1baa>$fontB</font> <font color=#1b1baa>$fg</font> <font color=#1b1baa>$bg</font> <font color=#1b1baa>$fga</font> <font color=#1b1baa>$bga</font>]
  <b><font color=#134070>button</font></b> <font color=#1b1baa>$but</font> <font color=#653760>-text</font> <font color=#1b1baa>$txt</font> <font color=#653760>-command</font> <font color=#1b1baa>$com</font> {<b><font color=#3a6797>*</font></b>}<font color=#1b1baa>$attrs</font>
  ::baltip tip <font color=#1b1baa>$but</font> [msgcat::mc Pluginable]\n[alited::menu::FormatsItemName <font color=#1b1baa>$fform</font>]
  <b><font color=#134070>bind</font></b> <font color=#1b1baa>$but</font> &lt;Button-3&gt; {alited::tool::PopupBar %X %Y}
  <b><font color=#134070>pack</font></b> <font color=#1b1baa>$but</font> <font color=#653760>-side</font> left
}
<a id=EOF></a>
<i><font color=#4b5d50># ________________________ EOF _________________________ #</font></i>

</pre>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>format.tcl</b></font></div></td></table>

<!-- Made by alited (END) -->