<!-- Made by alited -->
<link rel="stylesheet" href="../../css/style.css">

<title>img.tcl</title>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>README.md</b></font></div></td></table>


<div id="bodyContent" class="dokuwiki">
<div id="dw__toc" class="dw__toc">
<h3 class="toggle open" style="cursor: pointer;">img.tcl</h3>
<div aria-expanded="true" style="">

<ul class="toc">
<li><b><a href="#img.tcl">img.tcl</a></b></li>
<li><b><a href="#proc/method_red_bars">proc/method red bars</a></b></li>
<li><b><a href="#Tcl_files">Tcl files</a></b></li>
<li><b><a href="#e_menu">e_menu</a></b></li>
<li><b><a href="#keyboard_(key)">keyboard (key)</a></b></li>
<li><b><a href="#Tcl_&_alited">Tcl & alited</a></b></li>
<li><b><a href="#EOF">EOF</a></b></li>

</ul>

</div>
</div>
</div>
<!-- TOC END -->

<h1><font color=#ca14ca> alited's source</font></h1>
</p><p>
The <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/about.html">alited/src</a> directory contains alited's own source files.
</p><p>
Some additional alited's files are also contained in <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_alm.html">alited/lib/addon</a> directory (<i><font color=#1b1baa>alited/lib</font></i> directory contains all library files).
</p><p>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/about.html">about.tcl</a> - "About alited" dialogue.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/alited.html">alited.tcl</a> - The alited's main script to start.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/bar.html">bar.tcl</a> - Handles the bar of tabs.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/check.html">check.tcl</a> - "Check Tcl" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/complete.html">complete.tcl</a> - Handles auto-completion.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/edit.html">edit.tcl</a> - "Edit" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/favor.html">favor.tcl</a> - Handles the favorite and last visited units.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/favor_ls.html">favor_ls.tcl</a> - "Saved lists of favorites" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/file.html">file.tcl</a> - "File" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/find.html">find.tcl</a> - "Find / Replace" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/format.html">format.tcl</a> - "Edit / Formats" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/img.html">img.tcl</a> - List of images used by alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/indent.html">indent.tcl</a> - Handles text indentation.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/info.html">info.tcl</a> - Handles the info bar.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/ini.html">ini.tcl</a> - Handles initializing alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/keys.html">keys.tcl</a> - Handles keyboard (mapping etc.).</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/main.html">main.tcl</a> - Handles the main form of alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/menu.html">menu.tcl</a> - Handles alited's menus.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/msgs.html">msgs.tcl</a> - Localized messages used in several places.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/paver.html">paver.tcl</a> - "Tools / Paver" tool.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/pkgIndex.html">pkgIndex.tcl</a> - Includes README.md text (for Ruff doc generator).</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/pref.html">pref.tcl</a> - "Preferences" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/preview.html">preview.tcl</a> - "Preview (theme, CS)" dialogue called by "Preferences".</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/printer.html">printer.tcl</a> - "Tools / Project Printer" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/project.html">project.tcl</a> - "Projects" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/run.html">run.tcl</a> - "Tools / Run..." dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/tool.html">tool.tcl</a> - "Tools" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/tree.html">tree.tcl</a> - Handles the tree of units and files.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/unit.html">unit.tcl</a> - Handles the unit tree.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/unit_tpl.html">unit_tpl.tcl</a> - "Templates" dialogue and procedures.</li>
</p><p>

</p>


<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>img.tcl</b></font></div></td></table>

<pre class="code"><i><font color=#4b5d50>###########################################################<a id=img.tcl></a></font></i>
<i><font color=#4b5d50># Name:    img.tcl</font></i>
<i><font color=#4b5d50># Author:  Alex Plotnikov  (aplsimple@gmail.com)</font></i>
<i><font color=#4b5d50># Date:    07/03/2021</font></i>
<i><font color=#4b5d50># Brief:   Handles images for alited.tcl (base64).</font></i>
<i><font color=#4b5d50># License: MIT.</font></i>
<i><font color=#4b5d50>###########################################################</font></i>
<a id=proc/method_red_bars></a>
<i><font color=#4b5d50># _________________________ proc/method &quot;red bars&quot; ________________________ #</font></i>

<b><font color=#ca14ca>namespace</font></b> eval img {

<b><font color=#3a6797>set</font></b> _AL_IMG(0) {iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAABlBMVEUAAAAAtv86+l98AAAAAXRS
TlMAQObYZgAAABRJREFUCNdjwAT//zM0MAIRiIEBAHh/BP9K+QllAAAAAElFTkSuQmCC}

<b><font color=#3a6797>set</font></b> _AL_IMG(1) {iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAACVBMVEUAAAAAtv/tHCS5r+j6AAAA
AXRSTlMAQObYZgAAABdJREFUCNdjwA9CgYAhg4GBEUxAuHgBAIyVA3uaLu15AAAAAElFTkSuQmCC}

<b><font color=#3a6797>set</font></b> _AL_IMG(2) {iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAACVBMVEUAAAAAtv/tHCS5r+j6AAAA
AXRSTlMAQObYZgAAABdJREFUCNdjwA9CgYAhq4GBEUxAuHgBALW7BH+TzwWIAAAAAElFTkSuQmCC}

<b><font color=#3a6797>set</font></b> _AL_IMG(3) {iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAACVBMVEUAAAAAtv/tHCS5r+j6AAAA
AXRSTlMAQObYZgAAABdJREFUCNdjwA9CgYAhawUDI5iAcPECAMJjBM+vW7PvAAAAAElFTkSuQmCC}

<b><font color=#3a6797>set</font></b> _AL_IMG(4) {iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAACVBMVEUAAAAAtv/tHCS5r+j6AAAA
AXRSTlMAQObYZgAAABdJREFUCNdjwA9CgYAha1UDI5iAcPECAOqFBdNjIsJTAAAAAElFTkSuQmCC}

<b><font color=#3a6797>set</font></b> _AL_IMG(5) {iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAACVBMVEUAAAAAtv/tHCS5r+j6AAAA
AXRSTlMAQObYZgAAABdJREFUCNdjwA9CgYAha9UKRjAB4eIFAPbdBiPyKo3yAAAAAElFTkSuQmCC}

<b><font color=#3a6797>set</font></b> _AL_IMG(6) {iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAACVBMVEUAAAAAtv/tHCS5r+j6AAAA
AXRSTlMAQObYZgAAABdJREFUCNdjwA9CgYAha9WqRjAB4eIFAB4KBycPp4bQAAAAAElFTkSuQmCC}

<b><font color=#3a6797>set</font></b> _AL_IMG(7) {iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAgMAAABinRfyAAAACVBMVEUAAAAAtv/tHCS5r+j6AAAA
AXRSTlMAQObYZgAAABdJREFUCNdjwA9CgYAha9WqlWACwsULACoSB3dYfX36AAAAAElFTkSuQmCC}
<a id=Tcl_files></a>
<i><font color=#4b5d50># ________________________ Tcl files _________________________ #</font></i>

<b><font color=#3a6797>set</font></b> _AL_IMG(Tcl) {iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAG1BMVEUAAABEebIcVpN6oMOFqMp5
nsLb////SUlJbZK4hOm9AAAABnRSTlMA4bzy7uoa1GpmAAAAPklEQVQI12NgdgGCBgYGBtY0IMgA
MpjTQKABJAIWgomkCQBFIAwSRdLL08vKwCJl6WkgBiuQUVaOokYJDAQAbKolE+c3DpQAAAAASUVO
RK5CYII=}
<a id=e_menu></a>
<i><font color=#4b5d50># ________________________ e_menu _________________________ #</font></i>

<b><font color=#3a6797>set</font></b> _AL_IMG(e_menu) {iVBORw0KGgoAAAANSUhEUgAAABYAAAAcCAMAAABS8b9vAAAAD1BMVEUrRF3Y2tab4+U9Oz4jKjDz
nD2xAAAAP0lEQVQoz2NgwgoYmBiwAKKEGaEAXZgFDLAIM2ITxm4IcS5hRANgYSYmRkYUL+IVxmEI
1VyCohav8PByCVYAAFFEAcBPpMHrAAAAAElFTkSuQmCC}
<a id=keyboard_(key)></a>
<i><font color=#4b5d50># ________________________ keyboard (&quot;key&quot;) _________________________ #</font></i>

<b><font color=#3a6797>set</font></b> _AL_IMG(kbd) {iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAABAlBMVEUAAAAQEBZ9fZsYGCF/f5oa
GiF/f52AgJ13d5RnZ4l5eZgaGiISEhcNDRCGhqKLi6V7e5pvb45hYYVRUWc5OVMSEhsICAg6OmoZ
GSUBAQUAAADg4Onn5+7k5OzZ2eWFhalubpb6+vx+fqnb2+XCwtLX1+HR0d7NzdvExNXw8PfW1uDT
0963t8W0tMOxscH////r6/Hp6fHm5u7d3ea/v8+rq72oqLicnLCYmK9wcIX29vzt7fbt7fPi4uzg
4OvW1uTJydrGxta9vdXFxdG9vcq4uMq1tce4uMacnMGWlsCRkbShobKAgKyUlKiQkKaMjJ1xcZuG
hpZ9fZJnZ5J6eotOTmdxldK8AAAAG3RSTlMAuPnA+sD5+/v7+cW7nfz7+/v71dOrko8lIxvPqped
AAAAt0lEQVQY0z3O1XbCQBRA0dtpmra424RgYYjg7u6u//8r3GEx7MfzdADChMhElgmRJMntjwLY
svXWotmYaIgVnQCu2rJzuOzGuq5rbO4A+K02jte7xnJIXX1hqLQKp45pWpbFaB6DVK2zWV7NIjPO
g0ehNTrMvFQKGGxl+tHj4a+vxAWjyINRVoQuD16jlBJKTQz/I6q+ZQZtHvRtQpjy4Fvv08ImgeuB
W/Lj/AgBRIL2b+4H2Z2xJ1dcH5DXF1JFAAAAAElFTkSuQmCC}
<a id=Tcl_&_alited></a>
<i><font color=#4b5d50># ________________________ Tcl & alited _________________________ #</font></i>

<b><font color=#3a6797>set</font></b> _AL_IMG(feather) {iVBORw0KGgoAAAANSUhEUgAAAEgAAABICAMAAABiM0N1AAAABlBMVEUAAAD/AEv68RU6AAAAAnRS
TlMA/1uRIrUAAADmSURBVFjD3djLEsIgDIXhc97/pd24aFXIhR9xzJK23zApJaHSP4ZNOYYYAPIz
GGXN8TUQpA35QyBI3fEwEKQC2YTjOCAmA5lxbASyGQhybAY64bjhiEmzmOXzOtz9KIbD1f2vkep9
TnNr3OUEyzMNBas866jtqOR4vyPKUYHBnBy06OjXHFGOKEdzp9hLTYtI0Vnu8GInDUEd59w500eP
ihFwOjh64HndRs6fBnln34QGpWV0UB/PpwdpFQoSdLlyu+ntiSjRWSh8Yd+GUn1KAsr1KXlIq1Cy
nM9bjXuFJSBBEPGL7AEx9we9fjFHxQAAAABJRU5ErkJggg==}

<b><font color=#3a6797>set</font></b> _AL_IMG(ale) {iVBORw0KGgoAAAANSUhEUgAAAEgAAABICAMAAABiM0N1AAAABlBMVEUAAAD/AEv68RU6AAAAAnRS
TlMA/1uRIrUAAADySURBVFjD3djJDsMgDEVRv///6W66yACeuIiq3kTKcATEAROzfwyJcgQxAKRv
MMqao2sgSBvSIBCk7mgaCFKBJMJRHBCTgcQ4EgJJDAQ5EgOdcNRwjBlmY9Lnebr7UUxPV+e/xlDv
c5pT4y4nSM80FGR51rG2YyVH+x2jHCswmJODFh37NccoxyjHfKdYS7mLSNFZrvBiJw1BFafvnKmj
Z4sRsDs4uuF5TiPnd4O8s7VB10u3WwYPue1pQKlZ2IOCjr0Pk38QUceykKKOOVC6Y4MVeAoFGZSG
okz0oeybLwx2pv66HwZL6Wjk1yCDIOIX2QdlGgfl1r+rLQAAAABJRU5ErkJggg==}

}<a id=EOF></a>
<i><font color=#4b5d50># _________________________________ EOF _________________________________ #</font></i>

</pre>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>img.tcl</b></font></div></td></table>

<!-- Made by alited (END) -->