<!-- Made by alited -->
<link rel="stylesheet" href="../../css/style.css">

<title>indent.tcl</title>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>README.md</b></font></div></td></table>


<div id="bodyContent" class="dokuwiki">
<div id="dw__toc" class="dw__toc">
<h3 class="toggle open" style="cursor: pointer;">indent.tcl</h3>
<div aria-expanded="true" style="">

<ul class="toc">
<li><b><a href="#indent.tcl">indent.tcl</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#indent::indent">indent</a><span class=tooltiptext> indent::indent : Indents Tcl code.
tclcode - text of Tcl code
pad - number of spaces per 1 indent
padchar - indenting character
indcnt - initial indent</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#indent::normalize">normalize</a><span class=tooltiptext> indent::normalize : Normalizes all indents of the current Tcl text.</span></div></li></ul>
<li><b><a href="#EOF">EOF</a></b></li>

</ul>

</div>
</div>
</div>
<!-- TOC END -->

<h1><font color=#ca14ca> alited's source</font></h1>
</p><p>
The <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/about.html">alited/src</a> directory contains alited's own source files.
</p><p>
Some additional alited's files are also contained in <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_alm.html">alited/lib/addon</a> directory (<i><font color=#1b1baa>alited/lib</font></i> directory contains all library files).
</p><p>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/about.html">about.tcl</a> - "About alited" dialogue.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/alited.html">alited.tcl</a> - The alited's main script to start.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/bar.html">bar.tcl</a> - Handles the bar of tabs.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/check.html">check.tcl</a> - "Check Tcl" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/complete.html">complete.tcl</a> - Handles auto-completion.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/edit.html">edit.tcl</a> - "Edit" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/favor.html">favor.tcl</a> - Handles the favorite and last visited units.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/favor_ls.html">favor_ls.tcl</a> - "Saved lists of favorites" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/file.html">file.tcl</a> - "File" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/find.html">find.tcl</a> - "Find / Replace" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/format.html">format.tcl</a> - "Edit / Formats" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/img.html">img.tcl</a> - List of images used by alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/indent.html">indent.tcl</a> - Handles text indentation.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/info.html">info.tcl</a> - Handles the info bar.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/ini.html">ini.tcl</a> - Handles initializing alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/keys.html">keys.tcl</a> - Handles keyboard (mapping etc.).</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/main.html">main.tcl</a> - Handles the main form of alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/menu.html">menu.tcl</a> - Handles alited's menus.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/msgs.html">msgs.tcl</a> - Localized messages used in several places.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/paver.html">paver.tcl</a> - "Tools / Paver" tool.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/pkgIndex.html">pkgIndex.tcl</a> - Includes README.md text (for Ruff doc generator).</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/pref.html">pref.tcl</a> - "Preferences" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/preview.html">preview.tcl</a> - "Preview (theme, CS)" dialogue called by "Preferences".</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/printer.html">printer.tcl</a> - "Tools / Project Printer" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/project.html">project.tcl</a> - "Projects" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/run.html">run.tcl</a> - "Tools / Run..." dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/tool.html">tool.tcl</a> - "Tools" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/tree.html">tree.tcl</a> - Handles the tree of units and files.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/unit.html">unit.tcl</a> - Handles the unit tree.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/unit_tpl.html">unit_tpl.tcl</a> - "Templates" dialogue and procedures.</li>
</p><p>

</p>


<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>indent.tcl</b></font></div></td></table>

<pre class="code"><i><font color=#4b5d50>###########################################################<a id=indent.tcl></a></font></i>
<i><font color=#4b5d50># Name:    indent.tcl</font></i>
<i><font color=#4b5d50># Author:  Alex Plotnikov  (aplsimple@gmail.com)</font></i>
<i><font color=#4b5d50># Date:    06/11/2021</font></i>
<i><font color=#4b5d50># Brief:   Handles indenting Tcl file.</font></i>
<i><font color=#4b5d50># License: MIT.</font></i>
<i><font color=#4b5d50>###########################################################</font></i>

<b><font color=#ca14ca>namespace</font></b> eval indent {
}
<a id=indent::indent></a>
<b><font color=#ca14ca>proc</font></b> indent::indent {tclcode pad padchar indcnt} {
  <i><font color=#4b5d50># Indents Tcl code.</font></i>
  <i><font color=#4b5d50>#   tclcode - text of Tcl code</font></i>
  <i><font color=#4b5d50>#   pad - number of spaces per 1 indent</font></i>
  <i><font color=#4b5d50>#   padchar - indenting character</font></i>
  <i><font color=#4b5d50>#   indcnt - initial indent</font></i>

  <b><font color=#3a6797>set</font></b> lines [<b><font color=#3a6797>split</font></b> <font color=#1b1baa>$tclcode</font> \n]
  <b><font color=#3a6797>set</font></b> out {}
  <b><font color=#3a6797>set</font></b> nquot 0   ;<i><font color=#4b5d50># count of quotes</font></i>
  <b><font color=#3a6797>set</font></b> ncont 0   ;<i><font color=#4b5d50># count of continued strings</font></i>
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$padchar</font> ne <font color=#8b2a0e>&quot;\t&quot;</font>} {<b><font color=#3a6797>set</font></b> padchar { }}
  <b><font color=#3a6797>set</font></b> padst [<b><font color=#3a6797>string</font></b> repeat <font color=#1b1baa>$padchar</font> <font color=#1b1baa>$pad</font>]
  <b><font color=#3a6797>foreach</font></b> orig <font color=#1b1baa>$lines</font> {
    <b><font color=#3a6797>incr</font></b> lineindex
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$lineindex</font>&gt;1} {<b><font color=#3a6797>append</font></b> out \n}
    <b><font color=#3a6797>set</font></b> newline [<b><font color=#3a6797>string</font></b> trim <font color=#1b1baa>$orig</font>]
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$newline</font> eq {}} <b><font color=#ca14ca>continue</font></b>
    <b><font color=#3a6797>set</font></b> is_quoted <font color=#1b1baa>$nquot</font>
    <b><font color=#3a6797>set</font></b> is_continued <font color=#1b1baa>$ncont</font>
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>string</font></b> index <font color=#1b1baa>$orig</font> end] eq <font color=#8b2a0e>&quot;\\&quot;</font>} {
      <b><font color=#3a6797>incr</font></b> ncont
    } <b><font color=#3a6797>else</font></b> {
      <b><font color=#3a6797>set</font></b> ncont 0
    }
    <b><font color=#3a6797>set</font></b> npad [<b><font color=#3a6797>expr</font></b> {<font color=#1b1baa>$indcnt</font> * <font color=#1b1baa>$pad</font>}]
    <b><font color=#3a6797>set</font></b> line [<b><font color=#3a6797>string</font></b> repeat <font color=#1b1baa>$padst</font> <font color=#1b1baa>$indcnt</font>]<font color=#1b1baa>$newline</font>
    <b><font color=#3a6797>set</font></b> ns [<b><font color=#3a6797>set</font></b> nl [<b><font color=#3a6797>set</font></b> nr [<b><font color=#3a6797>set</font></b> body 0]]]
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>string</font></b> index <font color=#1b1baa>$newline</font> 0] ne {#}} {
      <b><font color=#3a6797>for</font></b> {<b><font color=#3a6797>set</font></b> i 0; <b><font color=#3a6797>set</font></b> n [<b><font color=#3a6797>string</font></b> length <font color=#1b1baa>$newline</font>]} {<font color=#1b1baa>$i</font>&lt;<font color=#1b1baa>$n</font>} {<b><font color=#3a6797>incr</font></b> i} {
        <b><font color=#3a6797>set</font></b> ch [<b><font color=#3a6797>string</font></b> index <font color=#1b1baa>$newline</font> <font color=#1b1baa>$i</font>]
        <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$ch</font> eq <font color=#8b2a0e>&quot;\\&quot;</font>} {
          <b><font color=#3a6797>set</font></b> ns [<b><font color=#3a6797>expr</font></b> {[<b><font color=#3a6797>incr</font></b> ns] % 2}]
        } <b><font color=#3a6797>elseif</font></b> {!<font color=#1b1baa>$ns</font>} {
          <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$ch</font> eq {&quot;}} {
            <b><font color=#3a6797>set</font></b> nquot [<b><font color=#3a6797>expr</font></b> {[<b><font color=#3a6797>incr</font></b> nquot] % 2}]
          } <b><font color=#3a6797>elseif</font></b> {!<font color=#1b1baa>$nquot</font>} {
            <b><font color=#3a6797>switch</font></b> <font color=#1b1baa>$ch</font> {
              <font color=#8b2a0e>&quot;\{&quot;</font> {
                <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>string</font></b> range <font color=#1b1baa>$newline</font> <font color=#1b1baa>$i</font> <font color=#1b1baa>$i</font>+2] eq <font color=#8b2a0e>&quot;\{\&quot;\}&quot;</font>} {
                  <i><font color=#4b5d50># quote in braces - correct (though tricky)</font></i>
                  <b><font color=#3a6797>incr</font></b> i 2
                } <b><font color=#3a6797>else</font></b> {
                  <b><font color=#3a6797>incr</font></b> nl
                  <b><font color=#3a6797>set</font></b> body -1
                }
              }
              <font color=#8b2a0e>&quot;\}&quot;</font> {
                <b><font color=#3a6797>incr</font></b> nr
                <b><font color=#3a6797>set</font></b> body 0
              }
            }
          }
        } <b><font color=#3a6797>else</font></b> {
          <b><font color=#3a6797>set</font></b> ns 0
        }
      }
    }
    <b><font color=#3a6797>set</font></b> nbbraces [<b><font color=#3a6797>expr</font></b> {<font color=#1b1baa>$nl</font> - <font color=#1b1baa>$nr</font>}]
    <b><font color=#3a6797>incr</font></b> totalbraces <font color=#1b1baa>$nbbraces</font>
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$totalbraces</font>&lt;0} {
      <b><font color=#3a6797>set</font></b> msg [msgcat::mc {The line %n: unbalanced brace!}]
      <b><font color=#3a6797>set</font></b> msg [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> %n <font color=#1b1baa>$lineindex</font>] <font color=#1b1baa>$msg</font>]
      alited::msg ok err <font color=#1b1baa>$msg</font>
      <b><font color=#ca14ca>return</font></b> {}
    }
    <b><font color=#3a6797>incr</font></b> indcnt <font color=#1b1baa>$nbbraces</font>
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$nbbraces</font>==0} { <b><font color=#3a6797>set</font></b> nbbraces <font color=#1b1baa>$body</font> }
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$is_quoted</font> || <font color=#1b1baa>$is_continued</font>} {
      <b><font color=#3a6797>set</font></b> line <font color=#1b1baa>$orig</font>     ;<i><font color=#4b5d50># don't touch quoted and continued strings</font></i>
    } <b><font color=#3a6797>else</font></b> {
      <b><font color=#3a6797>set</font></b> np [<b><font color=#3a6797>expr</font></b> {- <font color=#1b1baa>$nbbraces</font> * <font color=#1b1baa>$pad</font>}]
      <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$np</font>&gt;<font color=#1b1baa>$npad</font>} { ;<i><font color=#4b5d50># for safety too</font></i>
        <b><font color=#3a6797>set</font></b> np <font color=#1b1baa>$npad</font>
      }
      <b><font color=#3a6797>set</font></b> line [<b><font color=#3a6797>string</font></b> range <font color=#1b1baa>$line</font> <font color=#1b1baa>$np</font> end]
    }
    <b><font color=#3a6797>append</font></b> out <font color=#1b1baa>$line</font>
  }
  <b><font color=#ca14ca>return</font></b> <font color=#1b1baa>$out</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=indent::normalize></a>
<b><font color=#ca14ca>proc</font></b> indent::normalize {} {
  <i><font color=#4b5d50># Normalizes all indents of the current Tcl text.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <b><font color=#3a6797>set</font></b> txtcurr [alited::main::CurrentWTXT]
  <b><font color=#3a6797>lassign</font></b> [alited::main::CalcIndentation <font color=#1b1baa>$txtcurr</font>] pad padchar
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$pad</font>&lt;1} {
    alited::msg ok err <font color=#8b2a0e>&quot;No indentation set.\nSee 'Setup/Projects/Options'.&quot;</font>
    <b><font color=#ca14ca>return</font></b>
  }
  <b><font color=#3a6797>set</font></b> msg [msgcat::mc <font color=#8b2a0e>&quot;Correct the indentation of \&quot;%f\&quot;\nwith indenting %i spaces?&quot;</font>]
  <b><font color=#3a6797>set</font></b> ipad <font color=#1b1baa>$pad</font>
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$padchar</font> eq <font color=#8b2a0e>&quot;\t&quot;</font>} {<b><font color=#3a6797>append</font></b> ipad { Tab}}
  <b><font color=#3a6797>set</font></b> msg [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> %i <font color=#1b1baa>$ipad</font>] <font color=#1b1baa>$msg</font>]
  <b><font color=#3a6797>set</font></b> msg [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> %f [<b><font color=#3a6797>file</font></b> tail [alited::bar::FileName]]] <font color=#1b1baa>$msg</font>]
  <b><font color=#3a6797>set</font></b> res [alited::msg yesno ques <font color=#1b1baa>$msg</font> YES <font color=#653760>-title</font> <font color=#1b1baa>$al(MC,corrindent)</font> <font color=#653760>-ch</font> <font color=#1b1baa>$al(MC,othertcl)</font>]
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$res</font>} {
    ::apave::setTextIndent <font color=#1b1baa>$pad</font> <font color=#1b1baa>$padchar</font>
    <b><font color=#3a6797>foreach</font></b> tab [alited::bar::BAR listTab] {
      <b><font color=#3a6797>set</font></b> TID [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$tab</font> 0]
      <b><font color=#3a6797>lassign</font></b> [alited::main::GetText <font color=#1b1baa>$TID</font> no no] fname txt
      <b><font color=#3a6797>if</font></b> {[alited::file::IsTcl <font color=#1b1baa>$fname</font>] && (<font color=#1b1baa>$res</font>==11 || <font color=#1b1baa>$txt</font> eq <font color=#1b1baa>$txtcurr</font>)} {
        <b><font color=#3a6797>set</font></b> contents [<font color=#1b1baa>$txt</font> get 1.0 {end -1 chars}]
        <b><font color=#3a6797>set</font></b> contents [indent <font color=#1b1baa>$contents</font> <font color=#1b1baa>$pad</font> <font color=#1b1baa>$padchar</font> 0]
        <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$contents</font> ne {}} {
          undoIn <font color=#1b1baa>$txt</font>
          <font color=#1b1baa>$txt</font> replace 1.0 end <font color=#1b1baa>$contents</font>
          undoOut <font color=#1b1baa>$txt</font>
          alited::bar::BAR markTab <font color=#1b1baa>$TID</font>
        }
      }
    }
    alited::main::UpdateTextGutterTreeIcons
  }
}
<a id=EOF></a>
<i><font color=#4b5d50># _________________________________ EOF _________________________________ #</font></i>

</pre>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>indent.tcl</b></font></div></td></table>

<!-- Made by alited (END) -->