<!-- Made by alited -->
<link rel="stylesheet" href="../../css/style.css">

<title>info.tcl</title>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>README.md</b></font></div></td></table>


<div id="bodyContent" class="dokuwiki">
<div id="dw__toc" class="dw__toc">
<h3 class="toggle open" style="cursor: pointer;">info.tcl</h3>
<div aria-expanded="true" style="">

<ul class="toc">
<li><b><a href="#info.tcl">info.tcl</a></b></li>
<li><b><a href="#Variables">Variables</a></b></li>
<li><b><a href="#Common">Common</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#info::Get">Get</a><span class=tooltiptext> info::Get : Gets a message of the info listbox widget by its index.
i - index of message</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#info::Put">Put</a><span class=tooltiptext> info::Put : Puts a message to the info listbox widget.
msg - the message
inf - additional data for the message (1st line of unit etc.)
bold - if yes, displays the message bolded
red - if yes, makes the message seen in red color
see - if yes, makes the message seen
fg - {} or foreground color or -fg</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#info::Clear">Clear</a><span class=tooltiptext> info::Clear : Clears the info listbox widget and the related data.
i - index of message (if omitted, clears all messages)</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#info::ClearOut">ClearOut</a><span class=tooltiptext> info::ClearOut : Clears and out of the info listbox.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#info::ClearRed">ClearRed</a><span class=tooltiptext> info::ClearRed : Clears a red message in info bar (if it was displayed).</span></div></li></ul>
<li><b><a href="#GUI">GUI</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#info::ListboxSelect">ListboxSelect</a><span class=tooltiptext> info::ListboxSelect : Handles a selection event of the info listbox.
w - listbox's path
checkit - flag to check for the repeated calls of this procedure</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#info::FocusIn">FocusIn</a><span class=tooltiptext> info::FocusIn : At focusing in the info listbox, shows its scrollbar.
sbhi - scrollbar's path
lbxi - listbox's path</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#info::FocusOut">FocusOut</a><span class=tooltiptext> info::FocusOut : At focusing out of the info listbox, hides its scrollbar.
sbhi - scrollbar's path</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#info::SwitchFocustext">SwitchFocustext</a><span class=tooltiptext> info::SwitchFocustext : Switches a variable of flag "listbox is focused".</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#info::PopupMenu">PopupMenu</a><span class=tooltiptext> info::PopupMenu : Runs a popup menu on the info listbox.
X - x-coordinate of mouse pointer
Y - y-coordinate of mouse pointer</span></div></li></ul>
<li><b><a href="#EOF">EOF</a></b></li>

</ul>

</div>
</div>
</div>
<!-- TOC END -->

<h1><font color=#ca14ca> alited's source</font></h1>
</p><p>
The <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/about.html">alited/src</a> directory contains alited's own source files.
</p><p>
Some additional alited's files are also contained in <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_alm.html">alited/lib/addon</a> directory (<i><font color=#1b1baa>alited/lib</font></i> directory contains all library files).
</p><p>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/about.html">about.tcl</a> - "About alited" dialogue.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/alited.html">alited.tcl</a> - The alited's main script to start.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/bar.html">bar.tcl</a> - Handles the bar of tabs.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/check.html">check.tcl</a> - "Check Tcl" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/complete.html">complete.tcl</a> - Handles auto-completion.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/edit.html">edit.tcl</a> - "Edit" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/favor.html">favor.tcl</a> - Handles the favorite and last visited units.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/favor_ls.html">favor_ls.tcl</a> - "Saved lists of favorites" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/file.html">file.tcl</a> - "File" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/find.html">find.tcl</a> - "Find / Replace" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/format.html">format.tcl</a> - "Edit / Formats" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/img.html">img.tcl</a> - List of images used by alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/indent.html">indent.tcl</a> - Handles text indentation.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/info.html">info.tcl</a> - Handles the info bar.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/ini.html">ini.tcl</a> - Handles initializing alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/keys.html">keys.tcl</a> - Handles keyboard (mapping etc.).</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/main.html">main.tcl</a> - Handles the main form of alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/menu.html">menu.tcl</a> - Handles alited's menus.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/msgs.html">msgs.tcl</a> - Localized messages used in several places.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/paver.html">paver.tcl</a> - "Tools / Paver" tool.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/pkgIndex.html">pkgIndex.tcl</a> - Includes README.md text (for Ruff doc generator).</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/pref.html">pref.tcl</a> - "Preferences" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/preview.html">preview.tcl</a> - "Preview (theme, CS)" dialogue called by "Preferences".</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/printer.html">printer.tcl</a> - "Tools / Project Printer" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/project.html">project.tcl</a> - "Projects" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/run.html">run.tcl</a> - "Tools / Run..." dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/tool.html">tool.tcl</a> - "Tools" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/tree.html">tree.tcl</a> - Handles the tree of units and files.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/unit.html">unit.tcl</a> - Handles the unit tree.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/unit_tpl.html">unit_tpl.tcl</a> - "Templates" dialogue and procedures.</li>
</p><p>

</p>


<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>info.tcl</b></font></div></td></table>

<pre class="code"><i><font color=#4b5d50>###########################################################<a id=info.tcl></a></font></i>
<i><font color=#4b5d50># Name:    info.tcl</font></i>
<i><font color=#4b5d50># Author:  Alex Plotnikov  (aplsimple@gmail.com)</font></i>
<i><font color=#4b5d50># Date:    07/03/2021</font></i>
<i><font color=#4b5d50># Brief:   Handles the info listbox widget.</font></i>
<i><font color=#4b5d50># License: MIT.</font></i>
<i><font color=#4b5d50>###########################################################</font></i>
<a id=Variables></a>
<i><font color=#4b5d50># _________________________ Variables ________________________ #</font></i>

<b><font color=#ca14ca>namespace</font></b> eval ::alited::info {
  <b><font color=#3a6797>variable</font></b> list [<b><font color=#3a6797>list</font></b>]   ;<i><font color=#4b5d50># list of listbox items</font></i>
  <b><font color=#3a6797>variable</font></b> info [<b><font color=#3a6797>list</font></b>]   ;<i><font color=#4b5d50># data of listbox items (file, found position etc.)</font></i>
  <b><font color=#3a6797>variable</font></b> focustext yes ;<i><font color=#4b5d50># if yes, focuses on a text at the listbox selections</font></i>
  <b><font color=#3a6797>variable</font></b> lastred -2

  <i><font color=#4b5d50># these two allow to disable text updates at constant key pressings</font></i>
  <b><font color=#3a6797>variable</font></b> selectmsec 0   ;<i><font color=#4b5d50># saved time at key pressing</font></i>
  <b><font color=#3a6797>variable</font></b> selectafter {} ;<i><font color=#4b5d50># saved after ID at key pressing</font></i>
}
<a id=Common></a>
<i><font color=#4b5d50># ________________________ Common _________________________ #</font></i>
<a id=info::Get></a>
<b><font color=#ca14ca>proc</font></b> info::Get {i} {
  <i><font color=#4b5d50># Gets a message of the info listbox widget by its index.</font></i>
  <i><font color=#4b5d50>#   i - index of message</font></i>

  <b><font color=#3a6797>variable</font></b> list
  <b><font color=#3a6797>variable</font></b> info
  <b><font color=#ca14ca>return</font></b> list [[<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$list</font> <font color=#1b1baa>$i</font>] [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$info</font> <font color=#1b1baa>$i</font>]]
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=info::Put></a>
<b><font color=#ca14ca>proc</font></b> info::Put {msg {inf <font color=#8b2a0e>&quot;&quot;</font>} {bold no} {red no} {see no} {fg <font color=#8b2a0e>&quot;&quot;</font>}} {
  <i><font color=#4b5d50># Puts a message to the info listbox widget.</font></i>
  <i><font color=#4b5d50>#   msg - the message</font></i>
  <i><font color=#4b5d50>#   inf - additional data for the message (1st line of unit etc.)</font></i>
  <i><font color=#4b5d50>#   bold - if yes, displays the message bolded</font></i>
  <i><font color=#4b5d50>#   red - if yes, makes the message seen in red color</font></i>
  <i><font color=#4b5d50>#   see - if yes, makes the message seen</font></i>
  <i><font color=#4b5d50>#   fg - {} or foreground color or -fg</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited obPav obPav
  <b><font color=#3a6797>variable</font></b> list
  <b><font color=#3a6797>variable</font></b> info
  <b><font color=#3a6797>variable</font></b> lastred
  ClearRed
  <b><font color=#3a6797>set</font></b> llen [<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$list</font>]
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$list</font> end] eq {} && <font color=#1b1baa>$msg</font> eq {}} <b><font color=#ca14ca>return</font></b>
  <b><font color=#3a6797>lappend</font></b> list <font color=#1b1baa>$msg</font>
  <b><font color=#3a6797>lappend</font></b> info <font color=#1b1baa>$inf</font>
  <b><font color=#3a6797>set</font></b> lbx [<font color=#1b1baa>$obPav</font> LbxInfo]
  <b><font color=#3a6797>lassign</font></b> [alited::FgFgBold] -&gt; fgbold fgred
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$red</font> || <font color=#1b1baa>$see</font>} {
    <font color=#1b1baa>$lbx</font> see end
  }
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$red</font>} {
    <b><font color=#3a6797>set</font></b> fgbold <font color=#1b1baa>$fgred</font>
    <b><font color=#3a6797>set</font></b> lastred <font color=#1b1baa>$llen</font>
  } <b><font color=#3a6797>elseif</font></b> {!<font color=#1b1baa>$bold</font> && <font color=#1b1baa>$fg</font> eq {}} {
    <b><font color=#ca14ca>return</font></b>
  }
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$fg</font> ne {}} {
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$fg</font> eq <font color=#8b2a0e>&quot;-fg&quot;</font>} {
      <b><font color=#3a6797>lassign</font></b> [alited::FgAdditional] -&gt; fg
    }
    <b><font color=#3a6797>set</font></b> fgbold <font color=#1b1baa>$fg</font>
  }
  <font color=#1b1baa>$lbx</font> itemconfigure end <font color=#653760>-foreground</font> <font color=#1b1baa>$fgbold</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=info::Clear></a>
<b><font color=#ca14ca>proc</font></b> info::Clear {{i -1}} {
  <i><font color=#4b5d50># Clears the info listbox widget and the related data.</font></i>
  <i><font color=#4b5d50>#   i - index of message (if omitted, clears all messages)</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited obPav obPav
  <b><font color=#3a6797>variable</font></b> list
  <b><font color=#3a6797>variable</font></b> info
  <b><font color=#3a6797>variable</font></b> lastred
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$i</font> == -2} {
    <i><font color=#4b5d50># no action</font></i>
  } <b><font color=#3a6797>elseif</font></b> {<font color=#1b1baa>$i</font> == -1} {
    <b><font color=#3a6797>set</font></b> list [<b><font color=#3a6797>list</font></b>]
    <b><font color=#3a6797>set</font></b> info [<b><font color=#3a6797>list</font></b>]
  } <b><font color=#3a6797>else</font></b> {
    <b><font color=#3a6797>lassign</font></b> [<font color=#1b1baa>$obPav</font> csGet] fg
    <b><font color=#3a6797>catch</font></b> {[<font color=#1b1baa>$obPav</font> LbxInfo] itemconfigure <font color=#1b1baa>$i</font> <font color=#653760>-foreground</font> <font color=#1b1baa>$fg</font>}
    <b><font color=#3a6797>set</font></b> list [<b><font color=#3a6797>lreplace</font></b> <font color=#1b1baa>$list</font> <font color=#1b1baa>$i</font> <font color=#1b1baa>$i</font>]
    <b><font color=#3a6797>set</font></b> info [<b><font color=#3a6797>lreplace</font></b> <font color=#1b1baa>$info</font> <font color=#1b1baa>$i</font> <font color=#1b1baa>$i</font>]
  }
  <b><font color=#3a6797>set</font></b> lastred -2
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=info::ClearOut></a>
<b><font color=#ca14ca>proc</font></b> info::ClearOut {} {
  <i><font color=#4b5d50># Clears and out of the info listbox.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited obPav obPav
  Clear
  alited::main::FocusText
  FocusOut [<font color=#1b1baa>$obPav</font> SbhInfo]
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=info::ClearRed></a>
<b><font color=#ca14ca>proc</font></b> info::ClearRed {} {
  <i><font color=#4b5d50># Clears a red message in info bar (if it was displayed).</font></i>

  <b><font color=#3a6797>variable</font></b> lastred
  Clear <font color=#1b1baa>$lastred</font>
}
<a id=GUI></a>
<i><font color=#4b5d50># ________________________ GUI _________________________ #</font></i>
<a id=info::ListboxSelect></a>
<b><font color=#ca14ca>proc</font></b> info::ListboxSelect {w {checkit no}} {
  <i><font color=#4b5d50># Handles a selection event of the info listbox.</font></i>
  <i><font color=#4b5d50>#   w - listbox's path</font></i>
  <i><font color=#4b5d50>#   checkit - flag to check for the repeated calls of this procedure</font></i>

  <b><font color=#3a6797>variable</font></b> info
  <b><font color=#3a6797>variable</font></b> focustext
  <b><font color=#3a6797>variable</font></b> selectmsec
  <b><font color=#3a6797>variable</font></b> selectafter
  <b><font color=#3a6797>set</font></b> msec [<b><font color=#3a6797>clock</font></b> milliseconds]
  <b><font color=#3a6797>if</font></b> {(<font color=#1b1baa>$msec</font>-<font color=#1b1baa>$selectmsec</font>)&lt;500 && <font color=#1b1baa>$checkit</font>} {
    <i><font color=#4b5d50># this disables updating at key pressing, let a user release the key</font></i>
    <b><font color=#3a6797>catch</font></b> {<b><font color=#3a6797>after</font></b> cancel <font color=#1b1baa>$selectafter</font>}
    <b><font color=#3a6797>set</font></b> selectafter [<b><font color=#3a6797>after</font></b> idle <font color=#8b2a0e>&quot;alited::info::ListboxSelect <font color=#1b1baa>$</font>w yes&quot;</font>]
  } <b><font color=#3a6797>else</font></b> {
    <b><font color=#3a6797>set</font></b> sel [<b><font color=#3a6797>lindex</font></b> [<font color=#1b1baa>$w</font> curselection] 0]
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>string</font></b> is digit <font color=#653760>-strict</font> <font color=#1b1baa>$sel</font>]} {
      <b><font color=#3a6797>update</font></b>
      <b><font color=#3a6797>lassign</font></b> [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$info</font> <font color=#1b1baa>$sel</font>] TID line
      <b><font color=#3a6797>if</font></b> {[alited::bar::BAR isTab <font color=#1b1baa>$TID</font>]} {
        <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$TID</font> ne [alited::bar::CurrentTabID]} {
          alited::favor::SkipVisited yes
          alited::bar::BAR <font color=#1b1baa>$TID</font> show
          alited::find::SetTags [alited::main::GetWTXT <font color=#1b1baa>$TID</font>]
        }
        <b><font color=#3a6797>after</font></b> idle <font color=#8b2a0e>&quot;catch <font color=#1b1baa>{</font> \</font>
<font color=#8b2a0e>          alited::main::FocusText <font color=#1b1baa>$</font>TID <font color=#1b1baa>$</font>line.0 ; \</font>
<font color=#8b2a0e>          alited::tree::NewSelection <font color=#1b1baa>{}</font> <font color=#1b1baa>$</font>line.0 yes ; \</font>
<font color=#8b2a0e>          alited::main::HighlightLine<font color=#1b1baa>}</font>&quot;</font>
        <b><font color=#3a6797>if</font></b> {!<font color=#1b1baa>$focustext</font>} {<b><font color=#3a6797>after</font></b> 100 <font color=#8b2a0e>&quot;focus <font color=#1b1baa>$</font>w&quot;</font>}
      }
    }
  }
  <b><font color=#3a6797>set</font></b> selectmsec <font color=#1b1baa>$msec</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=info::FocusIn></a>
<b><font color=#ca14ca>proc</font></b> info::FocusIn {sbhi lbxi} {
  <i><font color=#4b5d50># At focusing in the info listbox, shows its scrollbar.</font></i>
  <i><font color=#4b5d50>#   sbhi - scrollbar's path</font></i>
  <i><font color=#4b5d50>#   lbxi - listbox's path</font></i>

  <b><font color=#3a6797>if</font></b> {![<b><font color=#134070>winfo</font></b> ismapped <font color=#1b1baa>$sbhi</font>]} {
    <b><font color=#134070>pack</font></b> <font color=#1b1baa>$sbhi</font> <font color=#653760>-side</font> bottom <font color=#653760>-before</font> <font color=#1b1baa>$lbxi</font> <font color=#653760>-fill</font> both
  }
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=info::FocusOut></a>
<b><font color=#ca14ca>proc</font></b> info::FocusOut {sbhi} {
  <i><font color=#4b5d50># At focusing out of the info listbox, hides its scrollbar.</font></i>
  <i><font color=#4b5d50>#   sbhi - scrollbar's path</font></i>

  <b><font color=#3a6797>variable</font></b> focustext
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$focustext</font>} {
    <b><font color=#134070>pack</font></b> forget <font color=#1b1baa>$sbhi</font>
  }
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=info::SwitchFocustext></a>
<b><font color=#ca14ca>proc</font></b> info::SwitchFocustext {} {
  <i><font color=#4b5d50># Switches a variable of flag &quot;listbox is focused&quot;.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited obPav obPav
  <b><font color=#3a6797>variable</font></b> focustext
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$focustext</font>} {
    <b><font color=#3a6797>set</font></b> focustext 0
    <b><font color=#3a6797>set</font></b> lbx [<font color=#1b1baa>$obPav</font> LbxInfo]
    <b><font color=#134070>focus</font></b> <font color=#1b1baa>$lbx</font>
    <b><font color=#3a6797>catch</font></b> {
      <font color=#1b1baa>$lbx</font> selection clear 0 end
      <font color=#1b1baa>$lbx</font> selection set 0
      <font color=#1b1baa>$lbx</font> activate 0
      <font color=#1b1baa>$lbx</font> see 0
    }
  } <b><font color=#3a6797>else</font></b> {
    <b><font color=#3a6797>set</font></b> focustext 1
    FocusOut [<font color=#1b1baa>$obPav</font> SbhInfo]
    alited::main::FocusText
  }
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=info::PopupMenu></a>
<b><font color=#ca14ca>proc</font></b> info::PopupMenu {X Y} {
  <i><font color=#4b5d50># Runs a popup menu on the info listbox.</font></i>
  <i><font color=#4b5d50>#   X - x-coordinate of mouse pointer</font></i>
  <i><font color=#4b5d50>#   Y - y-coordinate of mouse pointer</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al obPav obPav
  <b><font color=#3a6797>variable</font></b> focustext
  <b><font color=#3a6797>set</font></b> popm <font color=#1b1baa>$al(WIN)</font>.popupInfo
  <b><font color=#3a6797>catch</font></b> {<b><font color=#134070>destroy</font></b> <font color=#1b1baa>$popm</font>}
  <b><font color=#134070>menu</font></b> <font color=#1b1baa>$popm</font> <font color=#653760>-tearoff</font> 0
  <font color=#1b1baa>$popm</font> add command <font color=#653760>-label</font> <font color=#1b1baa>$al(MC,favordelall)</font> <font color=#653760>-command</font> alited::info::ClearOut
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$focustext</font>} {
    <b><font color=#3a6797>set</font></b> msg [msgcat::mc {Don't focus a text after selecting in infobar}]
  } <b><font color=#3a6797>else</font></b> {
    <b><font color=#3a6797>set</font></b> msg [msgcat::mc {Focus a text after selecting in infobar}]
  }
  <font color=#1b1baa>$popm</font> add command <font color=#653760>-label</font> <font color=#1b1baa>$msg</font> <font color=#653760>-command</font> alited::info::SwitchFocustext
  <font color=#1b1baa>$obPav</font> themePopup <font color=#1b1baa>$popm</font>
  <b><font color=#134070>tk_popup</font></b> <font color=#1b1baa>$popm</font> <font color=#1b1baa>$X</font> <font color=#1b1baa>$Y</font>
}
<a id=EOF></a>
<i><font color=#4b5d50># _________________________________ EOF _________________________________ #</font></i>

</pre>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>info.tcl</b></font></div></td></table>

<!-- Made by alited (END) -->