<!-- Made by alited -->
<link rel="stylesheet" href="../../css/style.css">

<title>keys.tcl</title>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>README.md</b></font></div></td></table>


<div id="bodyContent" class="dokuwiki">
<div id="dw__toc" class="dw__toc">
<h3 class="toggle open" style="cursor: pointer;">keys.tcl</h3>
<div aria-expanded="true" style="">

<ul class="toc">
<li><b><a href="#keys.tcl">keys.tcl</a></b></li>
<li><b><a href="#Common">Common</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#keys::BindKeys">BindKeys</a><span class=tooltiptext> keys::BindKeys : Binds keys to appropriate events of text.
wtxt - text's path
type - type of keys (template etc.)
asfind - do it for "find/replace" as well</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#keys::UnBindKeys">UnBindKeys</a><span class=tooltiptext> keys::UnBindKeys : Clears key bindings of text.
wtxt - text's path
type - type of keys (template etc.)</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#keys::BindAllKeys">BindAllKeys</a><span class=tooltiptext> keys::BindAllKeys : Binds all keys to appropriate events of text.
wtxt - text's path
asfind - do it for "find/replace" as well</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#keys::Test">Test</a><span class=tooltiptext> keys::Test : It's just for testing keys.
klist - list of key combinations</span></div></li></ul>
<li><b><a href="#Lists_of_keys">Lists of keys</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#keys::ReservedList">ReservedList</a><span class=tooltiptext> keys::ReservedList : Returns a list of keys reserved by alited.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#keys::UserList">UserList</a><span class=tooltiptext> keys::UserList : Returns a list of keys available to a user.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#keys::EngagedList">EngagedList</a><span class=tooltiptext> keys::EngagedList : Returns a list of keys engaged by a user.
type - a type of keys ("template" etc.)
mode - if "all", returns full info of keys; if "keysonly" - only key names; if "keyscont" - only key contents</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#keys::VacantList">VacantList</a><span class=tooltiptext> keys::VacantList : Returns a list of keys not yet engaged.</span></div></li></ul>
<li><b><a href="#Handling_keys_data">Handling keys data</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#keys::ReservedAdd">ReservedAdd</a><span class=tooltiptext> keys::ReservedAdd : Saves reserved ("action") keys to a list of keys data.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#keys::Add">Add</a><span class=tooltiptext> keys::Add : Adds an item to a list of keys data.
type - type of key
name - name of item
keys - key combination
cont - contents (data of binding)</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#keys::Delete">Delete</a><span class=tooltiptext> keys::Delete : Deletes an item from a list of keys data.
type - type of key
name - name of item</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#keys::Search">Search</a><span class=tooltiptext> keys::Search : Searches an item in a list of keys data.
type - type of key
name - name of item</span></div></li></ul>
<li><b><a href="#EOF">EOF</a></b></li>

</ul>

</div>
</div>
</div>
<!-- TOC END -->

<h1><font color=#ca14ca> alited's source</font></h1>
</p><p>
The <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/about.html">alited/src</a> directory contains alited's own source files.
</p><p>
Some additional alited's files are also contained in <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_alm.html">alited/lib/addon</a> directory (<i><font color=#1b1baa>alited/lib</font></i> directory contains all library files).
</p><p>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/about.html">about.tcl</a> - "About alited" dialogue.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/alited.html">alited.tcl</a> - The alited's main script to start.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/bar.html">bar.tcl</a> - Handles the bar of tabs.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/check.html">check.tcl</a> - "Check Tcl" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/complete.html">complete.tcl</a> - Handles auto-completion.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/edit.html">edit.tcl</a> - "Edit" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/favor.html">favor.tcl</a> - Handles the favorite and last visited units.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/favor_ls.html">favor_ls.tcl</a> - "Saved lists of favorites" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/file.html">file.tcl</a> - "File" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/find.html">find.tcl</a> - "Find / Replace" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/format.html">format.tcl</a> - "Edit / Formats" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/img.html">img.tcl</a> - List of images used by alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/indent.html">indent.tcl</a> - Handles text indentation.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/info.html">info.tcl</a> - Handles the info bar.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/ini.html">ini.tcl</a> - Handles initializing alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/keys.html">keys.tcl</a> - Handles keyboard (mapping etc.).</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/main.html">main.tcl</a> - Handles the main form of alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/menu.html">menu.tcl</a> - Handles alited's menus.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/msgs.html">msgs.tcl</a> - Localized messages used in several places.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/paver.html">paver.tcl</a> - "Tools / Paver" tool.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/pkgIndex.html">pkgIndex.tcl</a> - Includes README.md text (for Ruff doc generator).</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/pref.html">pref.tcl</a> - "Preferences" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/preview.html">preview.tcl</a> - "Preview (theme, CS)" dialogue called by "Preferences".</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/printer.html">printer.tcl</a> - "Tools / Project Printer" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/project.html">project.tcl</a> - "Projects" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/run.html">run.tcl</a> - "Tools / Run..." dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/tool.html">tool.tcl</a> - "Tools" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/tree.html">tree.tcl</a> - Handles the tree of units and files.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/unit.html">unit.tcl</a> - Handles the unit tree.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/unit_tpl.html">unit_tpl.tcl</a> - "Templates" dialogue and procedures.</li>
</p><p>

</p>


<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>keys.tcl</b></font></div></td></table>

<pre class="code"><i><font color=#4b5d50>###########################################################<a id=keys.tcl></a></font></i>
<i><font color=#4b5d50># Name:    keys.tcl</font></i>
<i><font color=#4b5d50># Author:  Alex Plotnikov  (aplsimple@gmail.com)</font></i>
<i><font color=#4b5d50># Date:    07/03/2021</font></i>
<i><font color=#4b5d50># Brief:   Handles hot keys settings & bindings.</font></i>
<i><font color=#4b5d50># License: MIT.</font></i>
<i><font color=#4b5d50>###########################################################</font></i>


<b><font color=#ca14ca>namespace</font></b> eval ::alited::keys {
  <b><font color=#3a6797>variable</font></b> firstbind yes
}
<a id=Common></a>
<i><font color=#4b5d50># ________________________ Common _________________________ #</font></i>
<a id=keys::BindKeys></a>
<b><font color=#ca14ca>proc</font></b> keys::BindKeys {wtxt type {asfind no}} {
  <i><font color=#4b5d50># Binds keys to appropriate events of text.</font></i>
  <i><font color=#4b5d50>#   wtxt - text's path</font></i>
  <i><font color=#4b5d50>#   type - type of keys (template etc.)</font></i>
  <i><font color=#4b5d50>#   asfind - do it for &quot;find/replace&quot; as well</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited obPav obPav
  <b><font color=#3a6797>variable</font></b> firstbind
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$firstbind</font> || <font color=#1b1baa>$asfind</font>} {
    <i><font color=#4b5d50># some bindings must be active in &quot;info&quot; listbox, &quot;find units&quot; combobox and tree</font></i>
    <b><font color=#3a6797>set</font></b> activeForOthers [<b><font color=#3a6797>list</font></b> ::tool: ::find:: ::file:: ::main::GotoLine ::bar::BAR]
    <b><font color=#3a6797>set</font></b> w1 [<font color=#1b1baa>$obPav</font> LbxInfo]
    <b><font color=#3a6797>set</font></b> w2 [<font color=#1b1baa>$obPav</font> CbxFindSTD]
    <b><font color=#3a6797>set</font></b> w3 [<font color=#1b1baa>$obPav</font> Tree]
    <b><font color=#3a6797>set</font></b> w4 <font color=#1b1baa>$::alited::find::win</font>
  }
  <b><font color=#3a6797>foreach</font></b> kb [alited::keys::EngagedList <font color=#1b1baa>$type</font> all] {
    <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$kb</font> -&gt; tpl keys tpldata
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>catch</font></b> {
      <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>set</font></b> i [<b><font color=#3a6797>string</font></b> last - <font color=#1b1baa>$keys</font>]]&gt;0} {
        <b><font color=#3a6797>set</font></b> lt [<b><font color=#3a6797>string</font></b> range <font color=#1b1baa>$keys</font> <font color=#1b1baa>$i</font>+1 end]
        <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>string</font></b> length <font color=#1b1baa>$lt</font>]==1} {  ;<i><font color=#4b5d50># for lower case of letters</font></i>
          <b><font color=#3a6797>lappend</font></b> keys <font color=#8b2a0e>&quot;<font color=#1b1baa>[</font>string range <font color=#1b1baa>$</font>keys 0 <font color=#1b1baa>$</font>i<font color=#1b1baa>][</font>string tolower <font color=#1b1baa>$</font>lt<font color=#1b1baa>]</font>&quot;</font>
        }
      }
      <b><font color=#3a6797>foreach</font></b> k <font color=#1b1baa>$keys</font> {
        <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$type</font> eq <font color=#8b2a0e>&quot;template&quot;</font>} {
          <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$tpldata</font> tex pos place
          <b><font color=#3a6797>set</font></b> tex [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> <font color=#1b1baa>$::alited::EOL</font> \n % %%] <font color=#1b1baa>$tex</font>]
          <b><font color=#134070>bind</font></b> <font color=#1b1baa>$wtxt</font> <font color=#8b2a0e>&quot;&lt;<font color=#1b1baa>$</font>k&gt;&quot;</font> [<b><font color=#3a6797>list</font></b> ::alited::unit::InsertTemplate [<b><font color=#3a6797>list</font></b> <font color=#1b1baa>$tex</font> <font color=#1b1baa>$pos</font> <font color=#1b1baa>$place</font>]]
        } <b><font color=#3a6797>elseif</font></b> {<font color=#1b1baa>$type</font> eq <font color=#8b2a0e>&quot;preference&quot;</font>} {
          <b><font color=#3a6797>set</font></b> tpldata [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> %k <font color=#1b1baa>$keys</font>] <font color=#1b1baa>$tpldata</font>]
          {<b><font color=#3a6797>*</font></b>}<font color=#1b1baa>$tpldata</font>
        } <b><font color=#3a6797>else</font></b> {
          <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$firstbind</font> || <font color=#1b1baa>$asfind</font>} {
            <b><font color=#3a6797>foreach</font></b> afo <font color=#1b1baa>$activeForOthers</font> {
              <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>string</font></b> first <font color=#1b1baa>$afo</font> <font color=#1b1baa>$tpldata</font>]&gt;-1} {
                <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$asfind</font>} {
                  <b><font color=#134070>bind</font></b> <font color=#1b1baa>$w4</font> <font color=#8b2a0e>&quot;&lt;<font color=#1b1baa>$</font>k&gt;&quot;</font> <font color=#1b1baa>$tpldata</font>
                } <b><font color=#3a6797>else</font></b> {
                  <b><font color=#134070>bind</font></b> <font color=#1b1baa>$w1</font> <font color=#8b2a0e>&quot;&lt;<font color=#1b1baa>$</font>k&gt;&quot;</font> <font color=#1b1baa>$tpldata</font>
                  <b><font color=#134070>bind</font></b> <font color=#1b1baa>$w2</font> <font color=#8b2a0e>&quot;&lt;<font color=#1b1baa>$</font>k&gt;&quot;</font> <font color=#1b1baa>$tpldata</font>
                  <b><font color=#134070>bind</font></b> <font color=#1b1baa>$w3</font> <font color=#8b2a0e>&quot;&lt;<font color=#1b1baa>$</font>k&gt;&quot;</font> <font color=#1b1baa>$tpldata</font>
                }
                <b><font color=#ca14ca>break</font></b>
              }
            }
          }
          <b><font color=#134070>bind</font></b> <font color=#1b1baa>$wtxt</font> <font color=#8b2a0e>&quot;&lt;<font color=#1b1baa>$</font>k&gt;&quot;</font> <font color=#1b1baa>$tpldata</font>
        }
      }
    } err]} <b><font color=#3a6797>then</font></b> {
      <b><font color=#3a6797>puts</font></b> <font color=#8b2a0e>&quot;Error of binding: <font color=#1b1baa>$</font>tpl &lt;<font color=#1b1baa>$</font>keys&gt; - <font color=#1b1baa>$</font>err&quot;</font>
    }
  }
  <b><font color=#3a6797>set</font></b> firstbind no
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=keys::UnBindKeys></a>
<b><font color=#ca14ca>proc</font></b> keys::UnBindKeys {wtxt type} {
  <i><font color=#4b5d50># Clears key bindings of text.</font></i>
  <i><font color=#4b5d50>#   wtxt - text's path</font></i>
  <i><font color=#4b5d50>#   type - type of keys (template etc.)</font></i>

  <b><font color=#3a6797>foreach</font></b> kb [alited::keys::EngagedList <font color=#1b1baa>$type</font> all] {
    <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$kb</font> -&gt; tpl keys tpldata
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>catch</font></b> {
      <b><font color=#3a6797>set</font></b> tpldata [::alited::ProcEOL <font color=#1b1baa>$tpldata</font> in]
      <b><font color=#134070>bind</font></b> <font color=#1b1baa>$wtxt</font> <font color=#8b2a0e>&quot;&lt;<font color=#1b1baa>$</font>keys&gt;&quot;</font> {}
    } err]} <b><font color=#3a6797>then</font></b> {
      <b><font color=#3a6797>puts</font></b> <font color=#8b2a0e>&quot;Error of unbinding: <font color=#1b1baa>$</font>tpl &lt;<font color=#1b1baa>$</font>keys&gt; - <font color=#1b1baa>$</font>err&quot;</font>
    }
  }
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=keys::BindAllKeys></a>
<b><font color=#ca14ca>proc</font></b> keys::BindAllKeys {wtxt asfind} {
  <i><font color=#4b5d50># Binds all keys to appropriate events of text.</font></i>
  <i><font color=#4b5d50>#   wtxt - text's path</font></i>
  <i><font color=#4b5d50>#   asfind - do it for &quot;find/replace&quot; as well</font></i>

  BindKeys <font color=#1b1baa>$wtxt</font> action <font color=#1b1baa>$asfind</font>
  BindKeys <font color=#1b1baa>$wtxt</font> template <font color=#1b1baa>$asfind</font>
  BindKeys <font color=#1b1baa>$wtxt</font> preference <font color=#1b1baa>$asfind</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=keys::Test></a>
<b><font color=#ca14ca>proc</font></b> keys::Test {klist} {
  <i><font color=#4b5d50># It's just for testing keys.</font></i>
  <i><font color=#4b5d50>#   klist - list of key combinations</font></i>

  <b><font color=#3a6797>foreach</font></b> k <font color=#1b1baa>$klist</font> {
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>catch</font></b> {<b><font color=#134070>bind</font></b> . <font color=#8b2a0e>&quot;&lt;<font color=#1b1baa>$</font>k&gt;&quot;</font> <font color=#8b2a0e>&quot;puts <font color=#1b1baa>$</font>k&quot;</font>} err]} {
      <b><font color=#3a6797>puts</font></b> <font color=#1b1baa>$err</font>
    } <b><font color=#3a6797>else</font></b> {
      <b><font color=#3a6797>puts</font></b> <font color=#8b2a0e>&quot;Valid key combination: <font color=#1b1baa>$</font>k&quot;</font>
    }
    <b><font color=#3a6797>catch</font></b> {<b><font color=#134070>bind</font></b> . <font color=#8b2a0e>&quot;&lt;<font color=#1b1baa>$</font>k&gt;&quot;</font> {}}
  }
}
<a id=Lists_of_keys></a>
<i><font color=#4b5d50># _________________________ Lists of keys ________________________ #</font></i>
<a id=keys::ReservedList></a>
<b><font color=#ca14ca>proc</font></b> keys::ReservedList {} {
  <i><font color=#4b5d50># Returns a list of keys reserved by alited.</font></i>

  <b><font color=#ca14ca>return</font></b> [<b><font color=#3a6797>list</font></b> \
    F1 \
    F10 \
    Control-A \
    Control-B \
    Control-C \
    Control-E \
    Control-F \
    Control-N \
    Control-O \
    Control-T \
    Control-V \
    Control-W \
    Control-X \
    Control-Z \
    Control-Alt-W \
    Control-Shift-Z \
    Control-Shift-F \
    Alt-Up \
    Alt-Down \
    Alt-Left \
    Alt-Right \
    Alt-F4
  ]
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=keys::UserList></a>
<b><font color=#ca14ca>proc</font></b> keys::UserList {} {
  <i><font color=#4b5d50># Returns a list of keys available to a user.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <b><font color=#3a6797>set</font></b> reserved [ReservedList]
  <b><font color=#3a6797>lappend</font></b> reserved {<b><font color=#3a6797>*</font></b>}[alited::edit::PluginAccelerator <font color=#1b1baa>$al(MENUFORMATS)</font>]
  <b><font color=#3a6797>foreach</font></b> mod {<font color=#8b2a0e>&quot;&quot;</font> Control- Alt- Shift- Control-Shift- Control-Alt-} {
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$mod</font> ni {Control- Control-Alt-}} {
      <b><font color=#3a6797>foreach</font></b> k {F1 F2 F3 F4 F5 F6 F7 F8 F9 F10 F11 F12} {
        <b><font color=#3a6797>set</font></b> key <font color=#8b2a0e>&quot;<font color=#1b1baa>$</font>mod<font color=#1b1baa>$</font>k&quot;</font>
        <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$key</font> ni <font color=#1b1baa>$reserved</font>} {<b><font color=#3a6797>lappend</font></b> res <font color=#1b1baa>$key</font>}
      }
    }
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$mod</font> ni {<font color=#8b2a0e>&quot;&quot;</font> <font color=#8b2a0e>&quot;Shift-&quot;</font>}} {
      <b><font color=#3a6797>foreach</font></b> k [<b><font color=#3a6797>split</font></b> 0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ {}] {
        <b><font color=#3a6797>set</font></b> key <font color=#8b2a0e>&quot;<font color=#1b1baa>$</font>mod<font color=#1b1baa>$</font>k&quot;</font>
        <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$key</font> ni <font color=#1b1baa>$reserved</font>} {<b><font color=#3a6797>lappend</font></b> res <font color=#1b1baa>$key</font>}
      }
    }
  }
  <b><font color=#3a6797>lappend</font></b> res Control-bracketleft
  <b><font color=#3a6797>lappend</font></b> res Control-bracketright
  <b><font color=#3a6797>lappend</font></b> res Tab
  <b><font color=#ca14ca>return</font></b> <font color=#1b1baa>$res</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=keys::EngagedList></a>
<b><font color=#ca14ca>proc</font></b> keys::EngagedList {{type <font color=#8b2a0e>&quot;&quot;</font>} {mode <font color=#8b2a0e>&quot;keyscont&quot;</font>}} {
  <i><font color=#4b5d50># Returns a list of keys engaged by a user.</font></i>
  <i><font color=#4b5d50>#   type - a type of keys (&quot;template&quot; etc.)</font></i>
  <i><font color=#4b5d50>#   mode - if &quot;all&quot;, returns full info of keys; if &quot;keysonly&quot; - only key names; if &quot;keyscont&quot; - only key contents</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <b><font color=#3a6797>set</font></b> res [<b><font color=#3a6797>list</font></b>]
  <b><font color=#3a6797>foreach</font></b> kb <font color=#1b1baa>$al(KEYS,bind)</font> {
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$type</font> eq <font color=#8b2a0e>&quot;&quot;</font> || <font color=#1b1baa>$type</font> eq [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$kb</font> 0]} {
      <b><font color=#3a6797>switch</font></b> <font color=#1b1baa>$mode</font> {
        all      {<b><font color=#3a6797>lappend</font></b> res <font color=#1b1baa>$kb</font>}
        keysonly {<b><font color=#3a6797>lappend</font></b> res [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$kb</font> 2]}
        keyscont {<b><font color=#3a6797>lappend</font></b> res [<b><font color=#3a6797>lrange</font></b> <font color=#1b1baa>$kb</font> 2 3]}
      }
    }
  }
  <b><font color=#ca14ca>return</font></b> <font color=#1b1baa>$res</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=keys::VacantList></a>
<b><font color=#ca14ca>proc</font></b> keys::VacantList {} {
  <i><font color=#4b5d50># Returns a list of keys not yet engaged.</font></i>

  <b><font color=#3a6797>set</font></b> userlist [UserList]
  <b><font color=#3a6797>set</font></b> englist [EngagedList {} keysonly]
  <b><font color=#3a6797>set</font></b> res [<b><font color=#3a6797>list</font></b>]
  <b><font color=#3a6797>foreach</font></b> k <font color=#1b1baa>$userlist</font> {
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$k</font> ni <font color=#1b1baa>$englist</font>} {<b><font color=#3a6797>lappend</font></b> res <font color=#1b1baa>$k</font>}
  }
  <b><font color=#ca14ca>return</font></b> <font color=#1b1baa>$res</font>
}<a id=Handling_keys_data></a>
<i><font color=#4b5d50># _______________________ Handling keys data _____________________ #</font></i>
<a id=keys::ReservedAdd></a>
<b><font color=#ca14ca>proc</font></b> keys::ReservedAdd {} {
  <i><font color=#4b5d50># Saves reserved (&quot;action&quot;) keys to a list of keys data.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  Add action exit-app     Alt-F4 {alited::Exit; <b><font color=#ca14ca>break</font></b>}
  Add action find-replace Control-F {alited::find::_run; <b><font color=#ca14ca>break</font></b>}
  Add action find-unit    Shift-Control-F {::alited::find::FindUnit; <b><font color=#ca14ca>break</font></b>}
  Add action new-file     Control-N {::alited::file::NewFile; <b><font color=#ca14ca>break</font></b>}
  Add action open-file    Control-O {::alited::file::OpenFile; <b><font color=#ca14ca>break</font></b>}
  Add action save-all     Shift-Control-S {::alited::file::SaveAll; <b><font color=#ca14ca>break</font></b>}
  Add action save-close   Control-W {::alited::file::SaveAndClose; <b><font color=#ca14ca>break</font></b>}
  Add action close-delete Control-Alt-W {::alited::file::CloseAndDelete; <b><font color=#ca14ca>break</font></b>}
  Add action help         F1 {alited::tool::Help}
  <i><font color=#4b5d50># other keys are customized in Preferences</font></i>
  Add action save-file    [alited::pref::BindKey 0 - F2] ::alited::file::SaveFile
  Add action save-as      [alited::pref::BindKey 1 - Control-S] {::alited::file::SaveFileAs; <b><font color=#ca14ca>break</font></b>}
  Add action e_menu       [alited::pref::BindKey 2 - F4] alited::tool::e_menu3
  Add action run          [alited::pref::BindKey 3 - F5] alited::tool::_run
  Add action indent       [alited::pref::BindKey 6 - Control-I] {::alited::edit::Indent; <b><font color=#ca14ca>break</font></b>}
  Add action unindent     [alited::pref::BindKey 7 - Control-U] {::alited::edit::UnIndent; <b><font color=#ca14ca>break</font></b>}
  Add action comment      [alited::pref::BindKey 8 - Control-bracketleft] {::alited::edit::Comment; <b><font color=#ca14ca>break</font></b>}
  Add action uncomment    [alited::pref::BindKey 9 - Control-bracketright] {::alited::edit::UnComment; <b><font color=#ca14ca>break</font></b>}
  Add action find-next    [alited::pref::BindKey 12 - F3] alited::find::FindNext
  Add action look-declaration    [alited::pref::BindKey 13 - Control-L] <font color=#8b2a0e>&quot;::alited::find::LookDecl ; break&quot;</font>
  Add action look-word    [alited::pref::BindKey 14 - Control-Shift-L] <font color=#8b2a0e>&quot;::alited::find::SearchWordInSession ; break&quot;</font>
  Add action RESERVED     [alited::pref::BindKey 15 - F11] {+ ::apave::None}
  Add action play-macro   [alited::pref::BindKey 16 - F12] {+ ::alited::edit::DispatchMacro}
  Add action goto-line    [alited::pref::BindKey 17 - Control-G] {alited::main::GotoLine; <b><font color=#ca14ca>break</font></b>}
  Add action insert-line  [alited::pref::BindKey 18 - Control-P] {alited::main::InsertLine; <b><font color=#ca14ca>break</font></b>}
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$::alited::al(IsWindows)</font>} {<b><font color=#3a6797>set</font></b> i1 %s==0} {<b><font color=#3a6797>set</font></b> i1 1}
  Add action autocomplete [alited::pref::BindKey 19 - Tab] [<b><font color=#3a6797>list</font></b> + if <font color=#1b1baa>$i1</font> {alited::complete::AutoCompleteCommand; <b><font color=#ca14ca>break</font></b>}]
  Add action goto-bracket [alited::pref::BindKey 20 - Alt-B] {alited::main::GotoBracket; <b><font color=#ca14ca>break</font></b>}
  Add action file-list [alited::pref::BindKey 21 - F9] {alited::bar::BAR popList %X %Y; <b><font color=#ca14ca>break</font></b>}
  Add action run-file [alited::pref::BindKey 22 - Shift-F5] <font color=#1b1baa>$al(runAsIs)</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=keys::Add></a>
<b><font color=#ca14ca>proc</font></b> keys::Add {type name keys cont} {
  <i><font color=#4b5d50># Adds an item to a list of keys data.</font></i>
  <i><font color=#4b5d50>#   type - type of key</font></i>
  <i><font color=#4b5d50>#   name - name of item</font></i>
  <i><font color=#4b5d50>#   keys - key combination</font></i>
  <i><font color=#4b5d50>#   cont - contents (data of binding)</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>string</font></b> trim <font color=#1b1baa>$keys</font>] ne {}} {
    <b><font color=#3a6797>set</font></b> item [<b><font color=#3a6797>list</font></b> <font color=#1b1baa>$type</font> <font color=#1b1baa>$name</font> <font color=#1b1baa>$keys</font> <font color=#1b1baa>$cont</font>]
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>set</font></b> i [Search <font color=#1b1baa>$type</font> <font color=#1b1baa>$name</font>]]&gt;-1} {
      <b><font color=#3a6797>set</font></b> al(KEYS,bind) [<b><font color=#3a6797>lreplace</font></b> <font color=#1b1baa>$al(KEYS,bind)</font> <font color=#1b1baa>$i</font> <font color=#1b1baa>$i</font> <font color=#1b1baa>$item</font>]
    } <b><font color=#3a6797>else</font></b> {
      <b><font color=#3a6797>lappend</font></b> al(KEYS,bind) <font color=#1b1baa>$item</font>
    }
  }
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=keys::Delete></a>
<b><font color=#ca14ca>proc</font></b> keys::Delete {type {name <font color=#8b2a0e>&quot;&quot;</font>}} {
  <i><font color=#4b5d50># Deletes an item from a list of keys data.</font></i>
  <i><font color=#4b5d50>#   type - type of key</font></i>
  <i><font color=#4b5d50>#   name - name of item</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <b><font color=#3a6797>set</font></b> deleted 0
  <b><font color=#3a6797>while</font></b> {[<b><font color=#3a6797>set</font></b> i [Search <font color=#1b1baa>$type</font> <font color=#1b1baa>$name</font>]]&gt;-1} {
    <b><font color=#3a6797>set</font></b> al(KEYS,bind) [<b><font color=#3a6797>lreplace</font></b> <font color=#1b1baa>$al(KEYS,bind)</font> <font color=#1b1baa>$i</font> <font color=#1b1baa>$i</font>]
    <b><font color=#3a6797>incr</font></b> deleted
  }
  <b><font color=#ca14ca>return</font></b> <font color=#1b1baa>$deleted</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=keys::Search></a>
<b><font color=#ca14ca>proc</font></b> keys::Search {type name} {
  <i><font color=#4b5d50># Searches an item in a list of keys data.</font></i>
  <i><font color=#4b5d50>#   type - type of key</font></i>
  <i><font color=#4b5d50>#   name - name of item</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <b><font color=#3a6797>set</font></b> i 0
  <b><font color=#3a6797>foreach</font></b> kb <font color=#1b1baa>$al(KEYS,bind)</font> {
    <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$kb</font> t n n2
    <b><font color=#3a6797>if</font></b> {(<font color=#1b1baa>$type</font> eq {} || <font color=#1b1baa>$t</font> eq <font color=#1b1baa>$type</font>) && (<font color=#1b1baa>$name</font> eq {} || <font color=#1b1baa>$name</font> eq <font color=#1b1baa>$n</font> || <font color=#1b1baa>$name</font> eq <font color=#1b1baa>$n2</font>)} {
      <b><font color=#ca14ca>return</font></b> <font color=#1b1baa>$i</font>
    }
    <b><font color=#3a6797>incr</font></b> i
  }
  <b><font color=#ca14ca>return</font></b> -1
}
<a id=EOF></a>
<i><font color=#4b5d50># _________________________________ EOF _________________________________ #</font></i>

</pre>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>keys.tcl</b></font></div></td></table>

<!-- Made by alited (END) -->