<!-- Made by alited -->
<link rel="stylesheet" href="../../css/style.css">

<title>msgs.tcl</title>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>README.md</b></font></div></td></table>


<div id="bodyContent" class="dokuwiki">
<div id="dw__toc" class="dw__toc">
<h3 class="toggle open" style="cursor: pointer;">msgs.tcl</h3>
<div aria-expanded="true" style="">

<ul class="toc">
<li><b><a href="#msgs.tcl">&nbsp;&nbsp;msgs.tcl</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#msgcatMessages">msgcatMessages</a><span class=tooltiptext> msgcatMessages : Sets common localized messages.
alited_checked</span></div></li></ul>
<li><b><a href="#common">&nbsp;&nbsp;common</a></b></li>
<li><b><a href="#menu_items">&nbsp;&nbsp;menu items</a></b></li>
<li><b><a href="#project_options">&nbsp;&nbsp;project options</a></b></li>
<li><b><a href="#templates">&nbsp;&nbsp;templates</a></b></li>
<li><b><a href="#projects">&nbsp;&nbsp;projects</a></b></li>
<li><b><a href="#favorites">&nbsp;&nbsp;favorites</a></b></li>
<li><b><a href="#find-replace_dialogue">&nbsp;&nbsp;find-replace dialogue</a></b></li>
<li><b><a href="#file_&_directory">&nbsp;&nbsp;file & directory</a></b></li>
<li><b><a href="#start_and_update">&nbsp;&nbsp;start and update</a></b></li>
<li><b><a href="#misc">&nbsp;&nbsp;misc</a></b></li>
<li><b><a href="#icons_of_toolbar">&nbsp;&nbsp;icons of toolbar</a></b></li>
<li><b><a href="#find_units">&nbsp;&nbsp;find units</a></b></li>
<li><b><a href="#EOF">EOF</a></b></li>

</ul>

</div>
</div>
</div>
<!-- TOC END -->

<h1><font color=#ca14ca> alited's source</font></h1>
</p><p>
The <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/about.html">alited/src</a> directory contains alited's own source files.
</p><p>
Some additional alited's files are also contained in <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_alm.html">alited/lib/addon</a> directory (<i><font color=#1b1baa>alited/lib</font></i> directory contains all library files).
</p><p>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/about.html">about.tcl</a> - "About alited" dialogue.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/alited.html">alited.tcl</a> - The alited's main script to start.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/bar.html">bar.tcl</a> - Handles the bar of tabs.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/check.html">check.tcl</a> - "Check Tcl" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/complete.html">complete.tcl</a> - Handles auto-completion.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/edit.html">edit.tcl</a> - "Edit" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/favor.html">favor.tcl</a> - Handles the favorite and last visited units.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/favor_ls.html">favor_ls.tcl</a> - "Saved lists of favorites" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/file.html">file.tcl</a> - "File" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/find.html">find.tcl</a> - "Find / Replace" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/format.html">format.tcl</a> - "Edit / Formats" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/img.html">img.tcl</a> - List of images used by alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/indent.html">indent.tcl</a> - Handles text indentation.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/info.html">info.tcl</a> - Handles the info bar.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/ini.html">ini.tcl</a> - Handles initializing alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/keys.html">keys.tcl</a> - Handles keyboard (mapping etc.).</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/main.html">main.tcl</a> - Handles the main form of alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/menu.html">menu.tcl</a> - Handles alited's menus.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/msgs.html">msgs.tcl</a> - Localized messages used in several places.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/paver.html">paver.tcl</a> - "Tools / Paver" tool.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/pkgIndex.html">pkgIndex.tcl</a> - Includes README.md text (for Ruff doc generator).</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/pref.html">pref.tcl</a> - "Preferences" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/preview.html">preview.tcl</a> - "Preview (theme, CS)" dialogue called by "Preferences".</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/printer.html">printer.tcl</a> - "Tools / Project Printer" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/project.html">project.tcl</a> - "Projects" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/run.html">run.tcl</a> - "Tools / Run..." dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/tool.html">tool.tcl</a> - "Tools" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/tree.html">tree.tcl</a> - Handles the tree of units and files.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/unit.html">unit.tcl</a> - Handles the unit tree.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/unit_tpl.html">unit_tpl.tcl</a> - "Templates" dialogue and procedures.</li>
</p><p>

</p>


<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>msgs.tcl</b></font></div></td></table>

<pre class="code"><i><font color=#4b5d50>###########################################################<a id=msgs.tcl></a></font></i>
<i><font color=#4b5d50># Name:    msgs.tcl</font></i>
<i><font color=#4b5d50># Author:  Alex Plotnikov  (aplsimple@gmail.com)</font></i>
<i><font color=#4b5d50># Date:    06/30/2021</font></i>
<i><font color=#4b5d50># Brief:   Handles common localized messages.</font></i>
<i><font color=#4b5d50># License: MIT.</font></i>
<i><font color=#4b5d50>###########################################################</font></i>

<b><font color=#ca14ca>namespace</font></b> eval ::alited {
<a id=msgcatMessages></a>
  <b><font color=#ca14ca>proc</font></b> msgcatMessages {} {
    <i><font color=#4b5d50># Sets common localized messages.</font></i>

    <i><font color=#4b5d50># alited_checked</font></i>

    <b><font color=#3a6797>variable</font></b> al
<a id=common></a>
    <i><font color=#4b5d50>## _ common _ ##</font></i>
    <b><font color=#3a6797>set</font></b> al(MC,nofile)      [msgcat::mc {No name}]
    <b><font color=#3a6797>set</font></b> al(MC,info)        [msgcat::mc Information]
    <b><font color=#3a6797>set</font></b> al(MC,warning)     [msgcat::mc Warning]
    <b><font color=#3a6797>set</font></b> al(MC,error)       [msgcat::mc Error]
    <b><font color=#3a6797>set</font></b> al(MC,question)    [msgcat::mc Question]
    <b><font color=#3a6797>set</font></b> al(MC,wait)        [msgcat::mc {Wait a little ...}]
    <b><font color=#3a6797>set</font></b> al(MC,help)        [msgcat::mc Help]
    <b><font color=#3a6797>set</font></b> al(MC,select)      [msgcat::mc Select]  ;<i><font color=#4b5d50># verb</font></i>
    <b><font color=#3a6797>set</font></b> al(MC,notsaved)    [msgcat::mc <font color=#8b2a0e>&quot;\&quot;%f\&quot; wasn't saved.\n\nSave it?&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,saving)      [msgcat::mc Saving]
    <b><font color=#3a6797>set</font></b> al(MC,files)       [msgcat::mc Files]
    <b><font color=#3a6797>set</font></b> al(MC,moving)      [msgcat::mc Moving]
    <b><font color=#3a6797>set</font></b> al(MC,run)         [msgcat::mc Run]
    <b><font color=#3a6797>set</font></b> al(MC,runAsIs)     [msgcat::mc {Run as Is}]
    <b><font color=#3a6797>set</font></b> al(MC,new)         [msgcat::mc New]
    <b><font color=#3a6797>set</font></b> al(MC,open...)     [msgcat::mc Open...]
    <b><font color=#3a6797>set</font></b> al(MC,openwith)    [msgcat::mc {Open Selected Files with}]
    <b><font color=#3a6797>set</font></b> al(MC,close)       [msgcat::mc Close]
    <b><font color=#3a6797>set</font></b> al(MC,save)        [msgcat::mc Save]
    <b><font color=#3a6797>set</font></b> al(MC,saveas...)   [msgcat::mc {Save as...}]
    <b><font color=#3a6797>set</font></b> al(MC,saveall)     [msgcat::mc {Save All}]
    <b><font color=#3a6797>set</font></b> al(MC,clall)       [msgcat::mc {... All}]
    <b><font color=#3a6797>set</font></b> al(MC,clallleft)   [msgcat::mc {... All at Left}]
    <b><font color=#3a6797>set</font></b> al(MC,clallright)  [msgcat::mc {... All at Right}]
    <b><font color=#3a6797>set</font></b> al(MC,detach)      [msgcat::mc Detach]
    <b><font color=#3a6797>set</font></b> al(MC,detachsel)   [msgcat::mc {Detach Selected Files}]
    <b><font color=#3a6797>set</font></b> al(MC,pref)        [msgcat::mc Preferences]
    <b><font color=#3a6797>set</font></b> al(MC,pref...)     [msgcat::mc Preferences...]
    <b><font color=#3a6797>set</font></b> al(MC,notrecomm)   [msgcat::mc <font color=#8b2a0e>&quot;Not recommended for projects\nwith large files (&gt;2000 LOC)!&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,quit)        [msgcat::mc Quit]
    <b><font color=#3a6797>set</font></b> al(MC,indent)      [msgcat::mc Indent]
    <b><font color=#3a6797>set</font></b> al(MC,unindent)    [msgcat::mc Unindent]
    <b><font color=#3a6797>set</font></b> al(MC,corrindent)  [msgcat::mc {Correct Indentation}]
    <b><font color=#3a6797>set</font></b> al(MC,comment)     [msgcat::mc Comment]
    <b><font color=#3a6797>set</font></b> al(MC,uncomment)   [msgcat::mc Uncomment]
    <b><font color=#3a6797>set</font></b> al(MC,findreplace) [msgcat::mc {Find / Replace}]
    <b><font color=#3a6797>set</font></b> al(MC,findnext)    [msgcat::mc {Find Next}]
    <b><font color=#3a6797>set</font></b> al(MC,alloffile)   [msgcat::mc <font color=#8b2a0e>&quot;All of \&quot;%f\&quot;&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,lines)       [msgcat::mc Lines]
    <b><font color=#3a6797>set</font></b> al(MC,moveupU)     [msgcat::mc {Move Unit Up}]
    <b><font color=#3a6797>set</font></b> al(MC,movedownU)   [msgcat::mc {Move Unit Down}]
    <b><font color=#3a6797>set</font></b> al(MC,moveupF)     [msgcat::mc {Move File Up}]
    <b><font color=#3a6797>set</font></b> al(MC,movedownF)   [msgcat::mc {Move File Down}]
    <b><font color=#3a6797>set</font></b> al(MC,FavLists)    [msgcat::mc {Saved Lists of Favorites}]
    <b><font color=#3a6797>set</font></b> al(MC,swfiles)     [msgcat::mc {Switch to Unit Tree}]
    <b><font color=#3a6797>set</font></b> al(MC,swunits)     [msgcat::mc {Switch to File Tree}]
    <b><font color=#3a6797>set</font></b> al(MC,filesadd)    [msgcat::mc {Create File}]
    <b><font color=#3a6797>set</font></b> al(MC,filesadd...) [msgcat::mc {Create File...}]
    <b><font color=#3a6797>set</font></b> al(MC,filesadd2)   [msgcat::mc <font color=#8b2a0e>&quot;Enter a name of file to create in:\n%d\n\nIf it is a directory, check 'Directory' box.\nThe directory can include subdirectories (a/b/c).&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,filesdel)    [msgcat::mc {Delete File}]
    <b><font color=#3a6797>set</font></b> al(MC,fileexist)   [msgcat::mc <font color=#8b2a0e>&quot;\nFile \&quot;%f\&quot; already exists in\n%d\n&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,filenoexist) [msgcat::mc <font color=#8b2a0e>&quot;\nFile\n  \&quot;%f\&quot;\ndoesn't exist.\n&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,unitsdel)    [msgcat::mc {Delete Unit(s)}]
    <b><font color=#3a6797>set</font></b> al(MC,favoradd)    [msgcat::mc {Add to Favorites}]
    <b><font color=#3a6797>set</font></b> al(MC,favordel)    [msgcat::mc {Delete}]
    <b><font color=#3a6797>set</font></b> al(MC,favorren)    [msgcat::mc {Rename}]
    <b><font color=#3a6797>set</font></b> al(MC,favordelall) [msgcat::mc {Delete All}]
    <b><font color=#3a6797>set</font></b> al(MC,updtree)     [msgcat::mc {Update Tree}]
    <b><font color=#3a6797>set</font></b> al(MC,movefile)    [msgcat::mc <font color=#8b2a0e>&quot;Move %f\nto\n%d\n?&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,introln1)    [msgcat::mc {First Lines}]
    <b><font color=#3a6797>set</font></b> al(MC,introln2)    [msgcat::mc {Can't touch the first %n lines.}]
    <b><font color=#3a6797>set</font></b> al(MC,favorites)   [msgcat::mc Favorites]
    <b><font color=#3a6797>set</font></b> al(MC,currfavs)    [msgcat::mc {Current list of favorites}]
    <b><font color=#3a6797>set</font></b> al(MC,lastvisit)   [msgcat::mc {Last Visited}]
    <b><font color=#3a6797>set</font></b> al(MC,addfavor)    [msgcat::mc <font color=#8b2a0e>&quot;Add \&quot;%n\&quot; of %f\nto Favorites?&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,addexist)    [msgcat::mc <font color=#8b2a0e>&quot;Item \&quot;%n\&quot; of %f\nis already in Favorites.&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,delfavor)    [msgcat::mc <font color=#8b2a0e>&quot;Remove \&quot;%n\&quot; of %f\nfrom Favorites?&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,notfavor)    [msgcat::mc <font color=#8b2a0e>&quot;\&quot;%n\&quot; unit of %f is not in the list.&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,selfavor)    [msgcat::mc <font color=#8b2a0e>&quot;Click \&quot;%t\&quot;&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,copydecl)    [msgcat::mc {Copy Declaration}]
    <b><font color=#3a6797>set</font></b> al(MC,openofdir)   [msgcat::mc <font color=#8b2a0e>&quot;Open All Tcl Files of \&quot;%n\&quot;&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,delitem)     [msgcat::mc <font color=#8b2a0e>&quot;Remove \&quot;%n\&quot;\nfrom \&quot;%f\&quot;?&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,delfile)     [msgcat::mc <font color=#8b2a0e>&quot;Delete \&quot;%f\&quot;?&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,modiffile)   [msgcat::mc <font color=#8b2a0e>&quot;File \&quot;%f\&quot; was modified by some application.\n\nCancel your edition and reload the file?&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,wasdelfile)  [msgcat::mc <font color=#8b2a0e>&quot;File \&quot;%f\&quot; was deleted by some application.\n\nSave the file?&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,Row:)        [msgcat::mc {Row }]
    <b><font color=#3a6797>set</font></b> al(MC,Col:)        [msgcat::mc { Col }]
    <b><font color=#3a6797>set</font></b> al(MC,Item)        [msgcat::mc Item]
    <b><font color=#3a6797>set</font></b> al(MC,errmove)     [msgcat::mc <font color=#8b2a0e>&quot;\&quot;%n\&quot; contains unbalanced \{\}: %1!=%2&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,afterstart)  [msgcat::mc {For Start}]
    <b><font color=#3a6797>set</font></b> al(MC,locale)      [msgcat::mc <font color=#8b2a0e>&quot;This is a language code: ru, uk, de...\nIn alited, \&quot;en\&quot; means American English.&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,noask)       [msgcat::mc {Don't show anymore}]
    <b><font color=#3a6797>set</font></b> al(MC,needcs)      [msgcat::mc <font color=#8b2a0e>&quot;These themes need\nlight / dark color schemes\naccordingly&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,nocs)        [msgcat::mc {No color scheme at all}]
    <b><font color=#3a6797>set</font></b> al(MC,fitcs)       [msgcat::mc {Fit for theme}]
    <b><font color=#3a6797>set</font></b> al(MC,hue)         [msgcat::mc {Makes colors darker .. lighter}]
    <b><font color=#3a6797>set</font></b> al(MC,maxbak)      [msgcat::mc {Maximum of backup copies per a file}]
    <b><font color=#3a6797>set</font></b> al(MC,othertcl)    [msgcat::mc {Do it in other Tcl files}]
    <b><font color=#3a6797>set</font></b> al(MC,otherfiles)  [msgcat::mc {Do it in other files}]
    <b><font color=#3a6797>set</font></b> al(MC,inconsole)   [msgcat::mc {in console}]
    <b><font color=#3a6797>set</font></b> al(MC,intkcon)     [msgcat::mc {in Tkcon}]
    <b><font color=#3a6797>set</font></b> al(MC,asis)        [msgcat::mc {as is}]
    <b><font color=#3a6797>set</font></b> al(MC,on)          [msgcat::mc on]
    <b><font color=#3a6797>set</font></b> al(MC,test)        [msgcat::mc Test]
    <b><font color=#3a6797>set</font></b> al(MC,restart)     [msgcat::mc <font color=#8b2a0e>&quot;For the settings to be active,\nalited application should be restarted.&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,incorrname)  [msgcat::mc {Incorrect name: <font color=#8b2a0e>&quot;%n&quot;</font>}]
    <b><font color=#3a6797>set</font></b> al(MC,allfiles)    [msgcat::mc {All files}]
    <b><font color=#3a6797>set</font></b> al(MC,currfile)    [msgcat::mc {Current}]
    <b><font color=#3a6797>set</font></b> al(MC,none)        [msgcat::mc {None}]
<a id=menu_items></a>
    <i><font color=#4b5d50>## _  menu items _ ##</font></i>
    <b><font color=#3a6797>set</font></b> al(MC,lookdecl)    [msgcat::mc {Look for Declaration}]
    <b><font color=#3a6797>set</font></b> al(MC,lookword)    [msgcat::mc {Look for Word}]
    <b><font color=#3a6797>set</font></b> al(MC,toline)      [msgcat::mc {Go to Line}]
    <b><font color=#3a6797>set</font></b> al(MC,tomatched)   [msgcat::mc {To Matched Bracket}]
    <b><font color=#3a6797>set</font></b> al(MC,hlcolors)    [msgcat::mc {Display Colors}]
    <b><font color=#3a6797>set</font></b> al(MC,playtkl)     [msgcat::mc {Play Macro}]
    <b><font color=#3a6797>set</font></b> al(MC,quickmacro)  {Quick macro}
    <b><font color=#3a6797>set</font></b> al(MC,formatdesc)  [msgcat::mc {Moving Unit Descriptions}]
    <b><font color=#3a6797>set</font></b> al(MC,formatdesc...) [msgcat::mc {Moving Unit Descriptions...}]
    <b><font color=#3a6797>set</font></b> al(MC,middlefont)  [msgcat::mc {Middle font size:}]
<a id=project_options></a>
    <i><font color=#4b5d50>## _  project options _ ##</font></i>
    <b><font color=#3a6797>set</font></b> al(MC,Ign:)        [msgcat::mc {Skip files/directories:}]
    <b><font color=#3a6797>set</font></b> al(MC,EOL:)        [msgcat::mc {End of line:}]
    <b><font color=#3a6797>set</font></b> al(MC,indent:)     [msgcat::mc {Indentation:}]
    <b><font color=#3a6797>set</font></b> al(MC,indentAuto)  [msgcat::mc {Auto detection}]
    <b><font color=#3a6797>set</font></b> al(MC,redunit)     [msgcat::mc {Unit lines per 1 red bar:}]
    <b><font color=#3a6797>set</font></b> al(MC,multiline)   [msgcat::mc {Multi-line strings:}]
    <b><font color=#3a6797>set</font></b> al(MC,trailwhite)  [msgcat::mc {Remove trailing whitespaces:}]
    <b><font color=#3a6797>set</font></b> al(MC,useleafRE)   [msgcat::mc {Use leaf's regexp:}]
    <b><font color=#3a6797>set</font></b> al(MC,leafRE)      [msgcat::mc {Leaf's regexp:}]
<a id=templates></a>
    <i><font color=#4b5d50>## _ templates _ ##</font></i>
    <b><font color=#3a6797>set</font></b> al(MC,tpl)         [msgcat::mc Templates]
    <b><font color=#3a6797>set</font></b> al(MC,tplsel)      [msgcat::mc {Click a template}]
    <b><font color=#3a6797>set</font></b> al(MC,tplnew)      [msgcat::mc {The template #%n added}]
    <b><font color=#3a6797>set</font></b> al(MC,tplupd)      [msgcat::mc {The template #%n updated}]
    <b><font color=#3a6797>set</font></b> al(MC,tplrem)      [msgcat::mc {The template #%n removed}]
    <b><font color=#3a6797>set</font></b> al(MC,tplent1)     [msgcat::mc {Enter a name of the template}]
    <b><font color=#3a6797>set</font></b> al(MC,tplent2)     [msgcat::mc {Enter a text of the template}]
    <b><font color=#3a6797>set</font></b> al(MC,tplent3)     [msgcat::mc <font color=#8b2a0e>&quot;Choose a hot key combination\nfor the template insertion.&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,tplaft1)     [msgcat::mc <font color=#8b2a0e>&quot;Inserts a template\nbelow a current line&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,tplaft2)     [msgcat::mc <font color=#8b2a0e>&quot;Inserts a template\nbelow a current unit&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,tplaft3)     [msgcat::mc <font color=#8b2a0e>&quot;Inserts a template at the cursor\n(good for one-liners)&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,tplaft4)     [msgcat::mc <font color=#8b2a0e>&quot;Inserts a template after 1st line of a file\n(License, Introduction etc.)&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,tplexists)   [msgcat::mc {A template with the attribute(s) already exists.}]
    <b><font color=#3a6797>set</font></b> al(MC,tpldelq)     [msgcat::mc {Delete a template #%n ?}]
<a id=projects></a>
    <i><font color=#4b5d50>## _ projects _ ##</font></i>
    <b><font color=#3a6797>set</font></b> al(MC,projects)    [msgcat::mc Projects]
    <b><font color=#3a6797>set</font></b> al(MC,prjgoing)    [msgcat::mc {You are going to %n!}]
    <b><font color=#3a6797>set</font></b> al(MC,prjadd)      [msgcat::mc {Add a project}]
    <b><font color=#3a6797>set</font></b> al(MC,prjchg)      [msgcat::mc {Change a project}]
    <b><font color=#3a6797>set</font></b> al(MC,prjdel1)     [msgcat::mc {Delete a project}]
    <b><font color=#3a6797>set</font></b> al(MC,prjcantdel)  [msgcat::mc {Don't delete the current project!}]
    <b><font color=#3a6797>set</font></b> al(MC,prjnew)      [msgcat::mc <font color=#8b2a0e>&quot;The project \&quot;%n\&quot; added&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,prjupd)      [msgcat::mc <font color=#8b2a0e>&quot;The project \&quot;%n\&quot; updated&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,prjdel2)     [msgcat::mc <font color=#8b2a0e>&quot;The project \&quot;%n\&quot; removed&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,prjOptions)  [msgcat::mc Options]
    <b><font color=#3a6797>set</font></b> al(MC,prjName)     [msgcat::mc {Project:}]
    <b><font color=#3a6797>set</font></b> al(MC,prjaddfl)    [msgcat::mc Add]
    <b><font color=#3a6797>set</font></b> al(MC,prjsubstfl)  [msgcat::mc Substitute]
    <b><font color=#3a6797>set</font></b> al(MC,prjdelfl)    [msgcat::mc Delete]
    <b><font color=#3a6797>set</font></b> al(MC,prjnochfl)   [msgcat::mc {Don't change}]
    <b><font color=#3a6797>set</font></b> al(MC,prjsel)      [msgcat::mc {Click a project}]
    <b><font color=#3a6797>set</font></b> al(MC,prjdelq)     [msgcat::mc <font color=#8b2a0e>&quot;Delete a project \&quot;%n\&quot; ?&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,prjexists)   [msgcat::mc <font color=#8b2a0e>&quot;A project \&quot;%n\&quot; already exists.&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,DEFopts)     [msgcat::mc {Options for new projects are set in <font color=#8b2a0e>&quot;Preferences/General/Projects&quot;</font>}]
    <b><font color=#3a6797>set</font></b> al(MC,prjTdelete)  [msgcat::mc {Erase a text}]
    <b><font color=#3a6797>set</font></b> al(MC,prjTpaste)   [msgcat::mc {Paste a text}]
    <b><font color=#3a6797>set</font></b> al(MC,prjTundo)    [msgcat::mc {Undo changes}]
    <b><font color=#3a6797>set</font></b> al(MC,prjTredo)    [msgcat::mc {Redo changes}]
    <b><font color=#3a6797>set</font></b> al(MC,prjTtext)    [msgcat::mc {Text of a reminder}]
    <b><font color=#3a6797>set</font></b> al(MC,prjTprevious)  [msgcat::mc {TODO previous day}]
    <b><font color=#3a6797>set</font></b> al(MC,prjTprevious2) [msgcat::mc {TODO previous week}]
    <b><font color=#3a6797>set</font></b> al(MC,prjTnext)    [msgcat::mc {TODO next day}]
    <b><font color=#3a6797>set</font></b> al(MC,prjTnext2)   [msgcat::mc {TODO next week}]
    <b><font color=#3a6797>set</font></b> al(MC,TemplPrj)    [msgcat::mc <font color=#8b2a0e>&quot;Enter a tree of directories for the project template.\nIndent them by equal indents to mean subdirectories.\n\nFiles like README*, CHANGELOG* will be created blank.\nFiles like LICENSE* will be taken from the current project.&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,CrTemplPrj)  [msgcat::mc {Create a project by template}]
    <b><font color=#3a6797>set</font></b> al(MC,ViewDir)     [msgcat::mc {Project directory}]
    <b><font color=#3a6797>set</font></b> al(MC,com)         [msgcat::mc Command]
    <b><font color=#3a6797>set</font></b> al(MC,coms)        [msgcat::mc Commands]
<a id=favorites></a>
    <i><font color=#4b5d50>## _ favorites _ ##</font></i>
    <b><font color=#3a6797>set</font></b> al(MC,favsel)      [msgcat::mc {Click a list of favorites}]
    <b><font color=#3a6797>set</font></b> al(MC,favnew)      [msgcat::mc {The list #%n added}]
    <b><font color=#3a6797>set</font></b> al(MC,favupd)      [msgcat::mc {The list #%n updated}]
    <b><font color=#3a6797>set</font></b> al(MC,favrem)      [msgcat::mc {The list #%n removed}]
    <b><font color=#3a6797>set</font></b> al(MC,favent1)     [msgcat::mc {Enter a name of the list}]
    <b><font color=#3a6797>set</font></b> al(MC,favent3)     [msgcat::mc {The current list is empty!}]
    <b><font color=#3a6797>set</font></b> al(MC,favexists)   [msgcat::mc {This list already exists}]
    <b><font color=#3a6797>set</font></b> al(MC,faverrsav)   [msgcat::mc <font color=#8b2a0e>&quot;This list not saved to\n\&quot;%f\&quot;.&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,favdelq)     [msgcat::mc {Delete a favorites' list #%n ?}]
    <b><font color=#3a6797>set</font></b> al(MC,unitprocsd)  [msgcat::mc {%f processed, units affected: %n - ALREADY PROCESSED?}]
<a id=find-replace_dialogue></a>
    <i><font color=#4b5d50>## _ find-replace dialogue _ ##</font></i>
    <b><font color=#3a6797>set</font></b> al(MC,frMatch) [msgcat::mc {Match: }]
    <b><font color=#3a6797>set</font></b> al(MC,frWord)  [msgcat::mc {Match whole word}]
    <b><font color=#3a6797>set</font></b> al(MC,frExact) [msgcat::mc {Exact}]
    <b><font color=#3a6797>set</font></b> al(MC,frCase)  [msgcat::mc {Match case}]
    <b><font color=#3a6797>set</font></b> al(MC,frres1)  [msgcat::mc <font color=#8b2a0e>&quot;Found %n matches for \&quot;%s\&quot;.&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,frres2)  [msgcat::mc <font color=#8b2a0e>&quot;Made %n replacements of \&quot;%s\&quot; with \&quot;%r\&quot; in \&quot;%f\&quot;.&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,frres3)  [msgcat::mc <font color=#8b2a0e>&quot;Made %n replacements of \&quot;%s\&quot; with \&quot;%r\&quot; in all of session.&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,frdoit1) [msgcat::mc <font color=#8b2a0e>&quot;Replace all of \&quot;%s\&quot;\n\nwith \&quot;%r\&quot;\n\nin \&quot;%f\&quot; ?&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,frdoit2) [msgcat::mc <font color=#8b2a0e>&quot;Replace all of \&quot;%s\&quot;\n\nwith \&quot;%r\&quot;\n\nin all%Stexts?&quot;</font>]
<a id=file_&_directory></a>
    <i><font color=#4b5d50>## _ file & directory _ ##</font></i>
    <b><font color=#3a6797>set</font></b> al(MC,removed)     [msgcat::mc <font color=#8b2a0e>&quot;\&quot;%f\&quot; removed to \&quot;%d\&quot;&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,nottoopen)   [msgcat::mc <font color=#8b2a0e>&quot;The file \&quot;%f\&quot; seems to be not of types\n%s.\n\nStill do you want to open it?&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,renamefile)  [msgcat::mc {Rename File}]
    <b><font color=#3a6797>set</font></b> al(MC,renamefile...) [msgcat::mc {Rename File...}]
    <b><font color=#3a6797>set</font></b> al(MC,clonefile)   [msgcat::mc {Clone File}]
    <b><font color=#3a6797>set</font></b> al(MC,clonefile...) [msgcat::mc {Clone File...}]
    <b><font color=#3a6797>set</font></b> al(MC,openselfile) [msgcat::mc {Open Selected Files}]
    <b><font color=#3a6797>set</font></b> al(MC,filelist)    [msgcat::mc {File List}]
<a id=start_and_update></a>
    <i><font color=#4b5d50>## _ start and update _ ##</font></i>
    <b><font color=#3a6797>set</font></b> al(MC,chini1)      [msgcat::mc {Choosing Directory for Settings}]
    <b><font color=#3a6797>set</font></b> al(MC,chini2)      [msgcat::mc <font color=#8b2a0e>&quot;\n The \&quot;alited\&quot; needs a configuration directory to store its settings.\n You can pass its name to alited as an argument.\n\n The default configuration directory is \&quot;%d\&quot;.\n It's preferable as used to run \&quot;alited\&quot; without arguments.\n&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,chini3)      [msgcat::mc {Choose a directory}]
    <b><font color=#3a6797>set</font></b> al(MC,updateALE)   [msgcat::mc {Updating alited}]
    <b><font color=#3a6797>set</font></b> al(MC,updLab1)     [msgcat::mc <font color=#8b2a0e>&quot; You are highly recommended to accept\n these changes in order to complete updating:&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,updmnu)      [msgcat::mc {.em files for <font color=#8b2a0e>&quot;Tools&quot;</font>}]
    <b><font color=#3a6797>set</font></b> al(MC,updini)      [msgcat::mc {.ini file for <font color=#8b2a0e>&quot;Templates&quot;</font>}]
    <b><font color=#3a6797>set</font></b> al(MC,updLab2)     [msgcat::mc { Your previous files will be saved to:}]
<a id=misc></a>
    <i><font color=#4b5d50>## _ misc _ ##</font></i>
    <b><font color=#3a6797>set</font></b> al(MC,notes)       [msgcat::mc <font color=#8b2a0e>&quot;Sort of diary.\nList of TODOs etc.&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,checktcl)    [msgcat::mc {Check Tcl}]
    <b><font color=#3a6797>set</font></b> al(MC,checktcl...) [msgcat::mc {Check Tcl...}]
    <b><font color=#3a6797>set</font></b> al(MC,colorpicker) [msgcat::mc {Color Picker}]
    <b><font color=#3a6797>set</font></b> al(MC,datepicker)  [msgcat::mc {Date Picker}]
    <b><font color=#3a6797>set</font></b> al(MC,marks)       [msgcat::mc Marks]
<a id=icons_of_toolbar></a>
    <i><font color=#4b5d50>## _ icons of toolbar _ ##</font></i>
    <b><font color=#3a6797>set</font></b> al(MC,icofile)     [msgcat::mc <font color=#8b2a0e>&quot;Create a file\nCtrl+N&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,icoOpenFile) [msgcat::mc <font color=#8b2a0e>&quot;Open a file\nCtrl+O&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,icoSaveFile) [msgcat::mc {Save the file}]
    <b><font color=#3a6797>set</font></b> al(MC,icosaveall)  [msgcat::mc <font color=#8b2a0e>&quot;Save all files\nCtrl+Shift+S&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,icohelp)     [msgcat::mc <font color=#8b2a0e>&quot;Tcl/Tk help on the selection\nF1&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,icoreplace)  [msgcat::mc <font color=#8b2a0e>&quot;Find / Replace\nCtrl+F&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,icook)       <font color=#1b1baa>$al(MC,checktcl)</font>
    <b><font color=#3a6797>set</font></b> al(MC,icocolor)    <font color=#1b1baa>$al(MC,colorpicker)</font>
    <b><font color=#3a6797>set</font></b> al(MC,icodate)     <font color=#1b1baa>$al(MC,datepicker)</font>
    <b><font color=#3a6797>set</font></b> al(MC,icoother)    Tkcon
    <b><font color=#3a6797>set</font></b> al(MC,icorun)      [msgcat::mc {Run the file}]
    <b><font color=#3a6797>set</font></b> al(MC,icoe_menu)   [msgcat::mc {Run e_menu}]
    <b><font color=#3a6797>set</font></b> al(MC,icoundo)     [msgcat::mc <font color=#8b2a0e>&quot;Undo changes\nCtrl+Z&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,icoredo)     [msgcat::mc <font color=#8b2a0e>&quot;Redo changes\nCtrl+Shift+Z&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,icobox)      [msgcat::mc Projects]
<a id=find_units></a>
    <i><font color=#4b5d50>## _ find units _ ##</font></i>
    <b><font color=#3a6797>set</font></b> al(MC,findunit)    [msgcat::mc <font color=#8b2a0e>&quot;Use glob patterns to find units' declarations\ne.g. \&quot;s*rt\&quot; would find \&quot;start\&quot; and \&quot;insert\&quot;.\nThe letter case is ignored.&quot;</font>]
    <b><font color=#3a6797>set</font></b> al(MC,notfndunit)  [msgcat::mc {Unit not found: %u}]
  }
}
<a id=EOF></a>
<i><font color=#4b5d50># _________________________________ EOF _________________________________ #</font></i>

</pre>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>msgs.tcl</b></font></div></td></table>

<!-- Made by alited (END) -->