<!-- Made by alited -->
<link rel="stylesheet" href="../../css/style.css">

<title>paver.tcl</title>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>README.md</b></font></div></td></table>


<div id="bodyContent" class="dokuwiki">
<div id="dw__toc" class="dw__toc">
<h3 class="toggle open" style="cursor: pointer;">paver.tcl</h3>
<div aria-expanded="true" style="">

<ul class="toc">
<li><b><a href="#paver.tcl">paver.tcl</a></b></li>
<li><b><a href="#paver">paver</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#paver::Close">Close</a><span class=tooltiptext> paver::Close : Closes paver's window.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#paver::Destroy">Destroy</a><span class=tooltiptext> paver::Destroy : Destroys paver's window.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#paver::Help">Help</a><span class=tooltiptext> paver::Help : Handles hitting Help button.</span></div></li></ul>
<li><b><a href="#Function">Function</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#paver::AutoUpdate">AutoUpdate</a><span class=tooltiptext> paver::AutoUpdate : Auto-updates the paver.
dorun - if 1, runs the paver</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#paver::Viewer">Viewer</a><span class=tooltiptext> paver::Viewer : Shows the widget list.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#paver::HandleViewer">HandleViewer</a><span class=tooltiptext> paver::HandleViewer : Handles viewer's save/close actions.
act - if 1, saves a code and updates the paver's window; if 0 closes the viewer</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#paver::ExitViewer">ExitViewer</a><span class=tooltiptext> paver::ExitViewer : Closes the viewer.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#paver::WidgetList">WidgetList</a><span class=tooltiptext> paver::WidgetList : Finds and gets a paveWindow's widget list from a current text.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#paver::RemoveVarOptions">RemoveVarOptions</a><span class=tooltiptext> paver::RemoveVarOptions : Removes some options with variable values.
attrs - list of options/value pairs</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#paver::CheckCommentedOptions">CheckCommentedOptions</a><span class=tooltiptext> paver::CheckCommentedOptions : Checks for commented options of gridpack & attrs of widget list item
gridpack - grid/pack item of widget list item
attrs - attrs item of widget list item</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#paver::MessageNotList">MessageNotList</a><span class=tooltiptext> paver::MessageNotList : Show a message about absent widget list.</span></div></li></ul>
<li><b><a href="#GUI">GUI</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#paver::_create">_create</a><span class=tooltiptext> paver::_create : Creates and shows the paver's window.
inplist - widget list to handle</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#paver::_run">_run</a><span class=tooltiptext> paver::_run : Runs the paver.</span></div></li></ul>
<li><b><a href="#EOF">EOF</a></b></li>

</ul>

</div>
</div>
</div>
<!-- TOC END -->

<h1><font color=#ca14ca> alited's source</font></h1>
</p><p>
The <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/about.html">alited/src</a> directory contains alited's own source files.
</p><p>
Some additional alited's files are also contained in <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_alm.html">alited/lib/addon</a> directory (<i><font color=#1b1baa>alited/lib</font></i> directory contains all library files).
</p><p>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/about.html">about.tcl</a> - "About alited" dialogue.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/alited.html">alited.tcl</a> - The alited's main script to start.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/bar.html">bar.tcl</a> - Handles the bar of tabs.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/check.html">check.tcl</a> - "Check Tcl" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/complete.html">complete.tcl</a> - Handles auto-completion.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/edit.html">edit.tcl</a> - "Edit" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/favor.html">favor.tcl</a> - Handles the favorite and last visited units.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/favor_ls.html">favor_ls.tcl</a> - "Saved lists of favorites" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/file.html">file.tcl</a> - "File" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/find.html">find.tcl</a> - "Find / Replace" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/format.html">format.tcl</a> - "Edit / Formats" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/img.html">img.tcl</a> - List of images used by alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/indent.html">indent.tcl</a> - Handles text indentation.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/info.html">info.tcl</a> - Handles the info bar.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/ini.html">ini.tcl</a> - Handles initializing alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/keys.html">keys.tcl</a> - Handles keyboard (mapping etc.).</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/main.html">main.tcl</a> - Handles the main form of alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/menu.html">menu.tcl</a> - Handles alited's menus.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/msgs.html">msgs.tcl</a> - Localized messages used in several places.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/paver.html">paver.tcl</a> - "Tools / Paver" tool.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/pkgIndex.html">pkgIndex.tcl</a> - Includes README.md text (for Ruff doc generator).</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/pref.html">pref.tcl</a> - "Preferences" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/preview.html">preview.tcl</a> - "Preview (theme, CS)" dialogue called by "Preferences".</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/printer.html">printer.tcl</a> - "Tools / Project Printer" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/project.html">project.tcl</a> - "Projects" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/run.html">run.tcl</a> - "Tools / Run..." dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/tool.html">tool.tcl</a> - "Tools" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/tree.html">tree.tcl</a> - Handles the tree of units and files.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/unit.html">unit.tcl</a> - Handles the unit tree.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/unit_tpl.html">unit_tpl.tcl</a> - "Templates" dialogue and procedures.</li>
</p><p>

</p>


<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>paver.tcl</b></font></div></td></table>

<pre class="code"><i><font color=#ff0000>#! /usr/bin/env tclsh<a id=paver.tcl></a></font></i>
<i><font color=#4b5d50>###########################################################</font></i>
<i><font color=#4b5d50># Name:    paver.tcl</font></i>
<i><font color=#4b5d50># Author:  Alex Plotnikov  (aplsimple@gmail.com)</font></i>
<i><font color=#4b5d50># Date:    Mar 28, 2023</font></i>
<i><font color=#4b5d50># Brief:   Handles the Paver tool.</font></i>
<i><font color=#4b5d50># License: MIT.</font></i>
<i><font color=#4b5d50>###########################################################</font></i>
<a id=paver></a>
<i><font color=#4b5d50># _________________________ paver ________________________ #</font></i>

<b><font color=#ca14ca>namespace</font></b> eval paver {
  <b><font color=#3a6797>variable</font></b> win <font color=#1b1baa>$::alited::al(WIN)</font>.paverwin
  <b><font color=#3a6797>variable</font></b> win2 {}
  <b><font color=#3a6797>variable</font></b> pobj ::alited::paver::pavedobj
  <b><font color=#3a6797>variable</font></b> widgetlist {} paverttl {} paverTID {} geometry {}
  <b><font color=#3a6797>variable</font></b> code {} modtime {} viewgeo {}
  <b><font color=#3a6797>variable</font></b> viewpos 1.0
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=paver::Close></a>
<b><font color=#ca14ca>proc</font></b> paver::Close {args} {
  <i><font color=#4b5d50># Closes paver's window.</font></i>

  <b><font color=#3a6797>variable</font></b> pobj
  <b><font color=#3a6797>variable</font></b> win
  <b><font color=#3a6797>variable</font></b> geometry
  <b><font color=#3a6797>catch</font></b> {
    <b><font color=#3a6797>set</font></b> geo [<b><font color=#134070>wm</font></b> geometry <font color=#1b1baa>$win</font>]
    <b><font color=#3a6797>set</font></b> geo [<b><font color=#3a6797>string</font></b> range <font color=#1b1baa>$geo</font> [<b><font color=#3a6797>string</font></b> first + <font color=#1b1baa>$geo</font>] end]
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$geo</font> ne {+0+0}} {<b><font color=#3a6797>set</font></b> geometry <font color=#1b1baa>$geo</font>}
  }
  <b><font color=#3a6797>catch</font></b> {<font color=#1b1baa>$pobj</font> res <font color=#1b1baa>$win</font> 0}
  <b><font color=#3a6797>catch</font></b> {<b><font color=#134070>destroy</font></b> <font color=#1b1baa>$win</font>}
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=paver::Destroy></a>
<b><font color=#ca14ca>proc</font></b> paver::Destroy {args} {
  <i><font color=#4b5d50># Destroys paver's window.</font></i>

  <b><font color=#3a6797>variable</font></b> pobj
  <b><font color=#3a6797>variable</font></b> win
  Close
  <b><font color=#3a6797>catch</font></b> {<font color=#1b1baa>$pobj</font> destroy}
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=paver::Help></a>
<b><font color=#ca14ca>proc</font></b> paver::Help {args} {
  <i><font color=#4b5d50># Handles hitting Help button.</font></i>

  alited::HelpAlited #paver
}
<a id=Function></a>
<i><font color=#4b5d50># ________________________ Function _________________________ #</font></i>
<a id=paver::AutoUpdate></a>
<b><font color=#ca14ca>proc</font></b> paver::AutoUpdate {{dorun 0}} {
  <i><font color=#4b5d50># Auto-updates the paver.</font></i>
  <i><font color=#4b5d50>#   dorun - if 1, runs the paver</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <b><font color=#3a6797>variable</font></b> pobj
  <b><font color=#3a6797>variable</font></b> win
  <b><font color=#3a6797>variable</font></b> paverTID
  <b><font color=#3a6797>variable</font></b> modtime
  <b><font color=#3a6797>set</font></b> fname [alited::bar::FileName]
  <b><font color=#3a6797>if</font></b> {!<font color=#1b1baa>$al(paverauto)</font>} <b><font color=#ca14ca>return</font></b>
  <b><font color=#3a6797>if</font></b> {!<font color=#1b1baa>$dorun</font> && [<b><font color=#134070>winfo</font></b> exists <font color=#1b1baa>$win</font>]} {
    ::apave::deiconify <font color=#1b1baa>$::alited::paver::win</font>
    <b><font color=#3a6797>after</font></b> idle alited::paver::_run
  }
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>file</font></b> exists <font color=#1b1baa>$fname</font>]} {
    <b><font color=#3a6797>set</font></b> TID [alited::bar::CurrentTabID]
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$TID</font> eq <font color=#1b1baa>$paverTID</font> && [<b><font color=#3a6797>set</font></b> dt [<b><font color=#3a6797>file</font></b> mtime <font color=#1b1baa>$fname</font>]] ne <font color=#1b1baa>$modtime</font>} {
      <b><font color=#3a6797>set</font></b> modtime <font color=#1b1baa>$dt</font>
      <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$dorun</font>==1} {<b><font color=#3a6797>after</font></b> idle alited::paver::_run}
      <b><font color=#3a6797>after</font></b> 500 {<b><font color=#3a6797>after</font></b> idle alited::main::FocusText}
    }
  }
  <b><font color=#3a6797>after</font></b> 300 {::alited::paver::AutoUpdate 1}
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=paver::Viewer></a>
<b><font color=#ca14ca>proc</font></b> paver::Viewer {} {
  <i><font color=#4b5d50># Shows the widget list.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al obDl2 obDl2
  <b><font color=#3a6797>variable</font></b> paverttl
  <b><font color=#3a6797>variable</font></b> code
  <b><font color=#3a6797>variable</font></b> geometry
  <b><font color=#3a6797>variable</font></b> viewgeo
  <b><font color=#3a6797>variable</font></b> viewpos
  <b><font color=#3a6797>variable</font></b> win2
  WidgetList
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$code</font> eq {}} {
    MessageNotList
    <b><font color=#ca14ca>return</font></b>
  }
  <b><font color=#3a6797>catch</font></b> {<b><font color=#134070>destroy</font></b> <font color=#1b1baa>$win2</font>}
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$viewgeo</font> ne {}} {
    <b><font color=#3a6797>set</font></b> geo <font color=#8b2a0e>&quot;-geometry <font color=#1b1baa>$</font>viewgeo&quot;</font>
  } <b><font color=#3a6797>else</font></b> {
    <b><font color=#3a6797>set</font></b> geo <font color=#653760>-geometry</font>\ +[<b><font color=#134070>winfo</font></b> vrootx <font color=#1b1baa>$al(WIN)</font>]+[<b><font color=#134070>winfo</font></b> vrooty <font color=#1b1baa>$al(WIN)</font>]
  }
  <b><font color=#3a6797>after</font></b> idle <font color=#8b2a0e>&quot;catch <font color=#1b1baa>{</font> \</font>
<font color=#8b2a0e>    set txt \[<font color=#1b1baa>$</font>obDl2 TexM\] ; \</font>
<font color=#8b2a0e>    ::hl_tcl::hl_init \$txt -dark <font color=#1b1baa>[$</font>obDl2 csDark<font color=#1b1baa>]</font> -colors <font color=#1b1baa>{[</font>alited::SyntaxColors<font color=#1b1baa>]}</font> \</font>
<font color=#8b2a0e>      -cmdpos ::apave::None -font <font color=#1b1baa>{$</font>al(FONT,txt)<font color=#1b1baa>}</font> ; \</font>
<font color=#8b2a0e>    ::hl_tcl::hl_text \$txt<font color=#1b1baa>}</font>&quot;</font>
  <b><font color=#3a6797>after</font></b> idle <font color=#8b2a0e>&quot;set ::alited::paver::win2 \[<font color=#1b1baa>$</font>obDl2 dlgPath\]&quot;</font>
  <font color=#1b1baa>$obDl2</font> misc info <font color=#1b1baa>$paverttl</font> <font color=#1b1baa>$code</font> \
    {OK ::alited::paver::HandleViewer Close ::alited::paver::ExitViewer} TEXT \
    <font color=#653760>-modal</font> no <font color=#653760>-waitvar</font> 1 <font color=#653760>-text</font> 1 <font color=#653760>-savetext</font> 0 <font color=#653760>-ro</font> 0 <font color=#653760>-rotext</font> ::alited::paver::code \
    <font color=#653760>-minsize</font> {300 200} <font color=#653760>-w</font> {40 80} <font color=#653760>-h</font> {5 20} <font color=#653760>-resizable</font> 1 <font color=#653760>-pos</font> <font color=#1b1baa>$viewpos</font> {<b><font color=#3a6797>*</font></b>}<font color=#1b1baa>$geo</font>
   <b><font color=#3a6797>catch</font></b> {<b><font color=#134070>destroy</font></b> <font color=#1b1baa>$win2</font>}
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=paver::HandleViewer></a>
<b><font color=#ca14ca>proc</font></b> paver::HandleViewer {{act 1} args} {
  <i><font color=#4b5d50># Handles viewer's save/close actions.</font></i>
  <i><font color=#4b5d50>#   act - if 1, saves a code and updates the paver's window; if 0 closes the viewer</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited obDl2 obDl2
  <b><font color=#3a6797>variable</font></b> win2
  <b><font color=#3a6797>variable</font></b> viewpos
  <b><font color=#3a6797>variable</font></b> code
  <b><font color=#3a6797>variable</font></b> viewgeo
  <b><font color=#3a6797>catch</font></b> {
    <b><font color=#3a6797>set</font></b> viewgeo [<b><font color=#134070>wm</font></b> geometry <font color=#1b1baa>$win2</font>]
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$act</font>} {
      <b><font color=#3a6797>set</font></b> tex [<font color=#1b1baa>$obDl2</font> TexM]
      <b><font color=#3a6797>set</font></b> code [<b><font color=#3a6797>string</font></b> trim [<font color=#1b1baa>$tex</font> get 1.0 end]]\n
      <b><font color=#3a6797>set</font></b> viewpos [<font color=#1b1baa>$tex</font> index insert]
      <b><font color=#3a6797>after</font></b> idle [<b><font color=#3a6797>list</font></b> alited::paver::_create <font color=#1b1baa>$code</font>]
      <b><font color=#3a6797>after</font></b> idle after 100 <font color=#8b2a0e>&quot;focusByForce <font color=#1b1baa>$</font>tex&quot;</font>
    } <b><font color=#3a6797>else</font></b> {
      <font color=#1b1baa>$obDl2</font> res <font color=#1b1baa>$win2</font> 0
      <b><font color=#134070>destroy</font></b> <font color=#1b1baa>$win2</font>
    }
  }
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=paver::ExitViewer></a>
<b><font color=#ca14ca>proc</font></b> paver::ExitViewer {args} {
  <i><font color=#4b5d50># Closes the viewer.</font></i>

  HandleViewer 0
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=paver::WidgetList></a>
<b><font color=#ca14ca>proc</font></b> paver::WidgetList {} {
  <i><font color=#4b5d50># Finds and gets a paveWindow's widget list from a current text.</font></i>

  <b><font color=#3a6797>variable</font></b> widgetlist
  <b><font color=#3a6797>variable</font></b> paverttl
  <b><font color=#3a6797>variable</font></b> paverTID
  <b><font color=#3a6797>variable</font></b> code
  <b><font color=#3a6797>set</font></b> code {}
  <i><font color=#4b5d50># 1st attempt: search the widget list in a current unit (by default)</font></i>
  <b><font color=#3a6797>lassign</font></b> [alited::tree::CurrentItemByLine {} 1] - - leaf - paverttl l1 l2
  <b><font color=#3a6797>set</font></b> wtxt [alited::main::CurrentWTXT]
  <b><font color=#3a6797>set</font></b> lcur [<b><font color=#3a6797>expr</font></b> {int([<font color=#1b1baa>$wtxt</font> index insert])}]
  <b><font color=#3a6797>set</font></b> lend [<b><font color=#3a6797>expr</font></b> {int([<font color=#1b1baa>$wtxt</font> index end])}]
  <i><font color=#4b5d50># 2nd attempt: search the widget list edged by &quot;# paver&quot; comments (by force)</font></i>
  <b><font color=#3a6797>set</font></b> RE {^\s*#\s*paver}
  <b><font color=#3a6797>for</font></b> {<b><font color=#3a6797>set</font></b> l <font color=#1b1baa>$lcur</font>} {<font color=#1b1baa>$l</font>&gt;0} {<b><font color=#3a6797>incr</font></b> l -1} {
    <b><font color=#3a6797>set</font></b> line [<font color=#1b1baa>$wtxt</font> get <font color=#1b1baa>$l</font>.0 <font color=#1b1baa>$l</font>.end]
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>regexp</font></b> <font color=#653760>-nocase</font> <font color=#1b1baa>$RE</font> <font color=#1b1baa>$line</font>] || [<b><font color=#3a6797>string</font></b> match {<b><font color=#3a6797>*</font></b> paveWindow *} <font color=#1b1baa>$line</font>]} {
      <b><font color=#3a6797>set</font></b> l1 [<b><font color=#3a6797>incr</font></b> l -1]
      <b><font color=#3a6797>set</font></b> l2 <font color=#1b1baa>$lend</font>
      <b><font color=#ca14ca>break</font></b>
    }
  }
  <b><font color=#3a6797>for</font></b> {<b><font color=#3a6797>set</font></b> l <font color=#1b1baa>$lcur</font>} {<font color=#1b1baa>$l</font>&lt;=<font color=#1b1baa>$lend</font>} {} {
    <b><font color=#3a6797>incr</font></b> l
    <b><font color=#3a6797>set</font></b> line [<font color=#1b1baa>$wtxt</font> get <font color=#1b1baa>$l</font>.0 <font color=#1b1baa>$l</font>.end]
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>regexp</font></b> <font color=#653760>-nocase</font> <font color=#1b1baa>$RE</font> <font color=#1b1baa>$line</font>]} {
      <b><font color=#3a6797>set</font></b> l2 <font color=#1b1baa>$l</font>
      <b><font color=#ca14ca>break</font></b>
    }
  }
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$l1</font>&gt;=<font color=#1b1baa>$l2</font>} {<b><font color=#ca14ca>return</font></b> {}}
  <b><font color=#3a6797>set</font></b> paverTID [alited::bar::CurrentTabID]
  <b><font color=#3a6797>set</font></b> widgetlist [<b><font color=#3a6797>set</font></b> com {}]
  <b><font color=#3a6797>for</font></b> {<b><font color=#3a6797>set</font></b> l [<b><font color=#3a6797>incr</font></b> l1]} {<font color=#1b1baa>$l</font>&lt;=<font color=#1b1baa>$l2</font>} {<b><font color=#3a6797>incr</font></b> l} {
    <b><font color=#3a6797>set</font></b> line [<font color=#1b1baa>$wtxt</font> get <font color=#1b1baa>$l</font>.0 <font color=#1b1baa>$l</font>.end]
    <b><font color=#3a6797>set</font></b> line [<b><font color=#3a6797>string</font></b> trimright <font color=#1b1baa>$line</font> <font color=#8b2a0e>&quot; \\&quot;</font>]
    <i><font color=#4b5d50># search by completeness of a command the cursor is in</font></i>
    <b><font color=#3a6797>append</font></b> com <font color=#1b1baa>$line</font> \n
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>info</font></b> complete <font color=#1b1baa>$com</font>]} {
      <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$l</font>&gt;=<font color=#1b1baa>$lcur</font>} {
        <b><font color=#3a6797>set</font></b> widgetlist <font color=#1b1baa>$com</font>
        <b><font color=#ca14ca>break</font></b>
      }
      <b><font color=#3a6797>set</font></b> com {}
    }
  }
  <b><font color=#3a6797>set</font></b> widgetlist [<b><font color=#3a6797>string</font></b> trim <font color=#1b1baa>$widgetlist</font>]
  <b><font color=#3a6797>set</font></b> i1 [<b><font color=#3a6797>string</font></b> first \{ <font color=#1b1baa>$widgetlist</font>]
  <b><font color=#3a6797>set</font></b> i2 [<b><font color=#3a6797>string</font></b> first \[<b><font color=#3a6797>list</font></b> <font color=#1b1baa>$widgetlist</font>]
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$i1</font>&gt;-1 && <font color=#1b1baa>$i2</font>&gt;-1 && <font color=#1b1baa>$i1</font>&lt;<font color=#1b1baa>$i2</font> || <font color=#1b1baa>$i2</font>&lt;0} {
    <b><font color=#3a6797>set</font></b> i <font color=#1b1baa>$i1</font>
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$i</font>&lt;0} {<b><font color=#3a6797>set</font></b> i 9999999}
  } <b><font color=#3a6797>else</font></b> {
    <b><font color=#3a6797>set</font></b> i <font color=#1b1baa>$i2</font>
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$i</font>&lt;0} {<b><font color=#3a6797>set</font></b> i 9999999} {<b><font color=#3a6797>incr</font></b> i 5}
  }
  <b><font color=#3a6797>set</font></b> widgetlist [<b><font color=#3a6797>string</font></b> trim [<b><font color=#3a6797>string</font></b> range <font color=#1b1baa>$widgetlist</font> [<b><font color=#3a6797>incr</font></b> i] end-1]]
  <b><font color=#3a6797>catch</font></b> {
    <b><font color=#3a6797>set</font></b> wlist [<b><font color=#3a6797>list</font></b>]
    <b><font color=#3a6797>foreach</font></b> widitem <font color=#1b1baa>$widgetlist</font> {
<i><font color=#ff0000>#!      catch #\{set widitem [subst -nobackslashes -nocommands $widitem]#\}</font></i>
      <b><font color=#3a6797>lappend</font></b> wlist <font color=#1b1baa>$widitem</font>
    }
    <b><font color=#3a6797>set</font></b> widgetlist <font color=#1b1baa>$wlist</font>
  }
  <b><font color=#3a6797>set</font></b> widgetlist [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> <font color=#8b2a0e>&quot;\[list &quot;</font> <font color=#8b2a0e>&quot;\{&quot;</font> <font color=#8b2a0e>&quot;\]&quot;</font> <font color=#8b2a0e>&quot;\}&quot;</font> <font color=#8b2a0e>&quot;\[&quot;</font> <font color=#8b2a0e>&quot;\{&quot;</font> <font color=#8b2a0e>&quot;\$&quot;</font> <font color=#8b2a0e>&quot;&quot;</font>] <font color=#1b1baa>$widgetlist</font>]
  <b><font color=#3a6797>set</font></b> wlist [<b><font color=#3a6797>list</font></b>]
  <b><font color=#3a6797>foreach</font></b> widitem <font color=#1b1baa>$widgetlist</font> {
    <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$widitem</font> wid nei pos rspan cspan gridpack attrs
    <b><font color=#3a6797>switch</font></b> <font color=#653760>-glob</font> <font color=#1b1baa>$wid</font> {
      {#*} - {<b><font color=#3a6797>after</font></b>} - {} <b><font color=#ca14ca>continue</font></b>
    }
    <b><font color=#3a6797>lassign</font></b> [CheckCommentedOptions <font color=#1b1baa>$gridpack</font> <font color=#1b1baa>$attrs</font>] gridpack attrs
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$gridpack</font> 0] eq {<b><font color=#134070>pack</font></b>}} {
      <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$gridpack</font> 1] eq {forget}} {<b><font color=#3a6797>set</font></b> i 2} {<b><font color=#3a6797>set</font></b> i 1}
      <b><font color=#3a6797>set</font></b> opts [<b><font color=#3a6797>lrange</font></b> <font color=#1b1baa>$gridpack</font> <font color=#1b1baa>$i</font> end]
      <b><font color=#3a6797>foreach</font></b> opt {<font color=#653760>-in</font>} {
        <b><font color=#3a6797>lassign</font></b> [::apave::extractOptions opts <font color=#1b1baa>$opt</font> {}] val
        <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$val</font> ne {} && [<b><font color=#3a6797>string</font></b> first . <font color=#1b1baa>$val</font>]==0} {
          <b><font color=#3a6797>lappend</font></b> opts <font color=#1b1baa>$opt</font> <font color=#1b1baa>$val</font>
        }
      }
      <b><font color=#3a6797>set</font></b> gridpack [<b><font color=#3a6797>lrange</font></b> <font color=#1b1baa>$gridpack</font> 0 <font color=#1b1baa>$i</font>-1]
      <b><font color=#3a6797>lappend</font></b> gridpack {<b><font color=#3a6797>*</font></b>}<font color=#1b1baa>$opts</font>
    }
    <b><font color=#3a6797>foreach</font></b> opt {<font color=#653760>-validate</font> <font color=#653760>-validatecommand</font> <font color=#653760>-foreground</font> <font color=#653760>-background</font> <font color=#653760>-fg</font> <font color=#653760>-bg</font> \
    <font color=#653760>-from</font> <font color=#653760>-to</font> <font color=#653760>-variable</font> <font color=#653760>-textvariable</font> <font color=#653760>-listvariable</font> <font color=#653760>-command</font> <font color=#653760>-var</font> <font color=#653760>-tvar</font> <font color=#653760>-lvar</font> \
    <font color=#653760>-com</font> <font color=#653760>-array</font> <font color=#653760>-afteridle</font> <font color=#653760>-ALL</font> <font color=#653760>-dateformat</font>} {
      ::apave::extractOptions attrs <font color=#1b1baa>$opt</font> {}
    }
    <b><font color=#3a6797>set</font></b> font [::apave::extractOptions attrs <font color=#653760>-font</font> {}]
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$font</font> ne <font color=#8b2a0e>&quot;<font color=#1b1baa>{}</font>&quot;</font> && ![<b><font color=#3a6797>catch</font></b> {<b><font color=#134070>font</font></b> actual <font color=#1b1baa>$font</font>}]} {
      <b><font color=#3a6797>append</font></b> attrs <font color=#8b2a0e>&quot; -font <font color=#1b1baa>$</font>font&quot;</font>
    }
    <b><font color=#3a6797>set</font></b> style [::apave::extractOptions attrs <font color=#653760>-style</font> {}]
    <b><font color=#3a6797>if</font></b> {![<b><font color=#3a6797>catch</font></b> {<b><font color=#3a6797>set</font></b> _ [<b><font color=#134070>ttk::style</font></b> configure <font color=#1b1baa>$style</font>]}] && <font color=#1b1baa>$_</font> ne {}} {
      <b><font color=#3a6797>append</font></b> attrs <font color=#8b2a0e>&quot; -style <font color=#1b1baa>$</font>style&quot;</font>
    }
    <b><font color=#3a6797>set</font></b> attrs [RemoveVarOptions <font color=#1b1baa>$attrs</font>]
    <b><font color=#3a6797>set</font></b> attrs2 [<b><font color=#3a6797>list</font></b>]
    <b><font color=#3a6797>foreach</font></b> {opt val} <font color=#1b1baa>$attrs</font> {
      <b><font color=#3a6797>set</font></b> val [RemoveVarOptions <font color=#1b1baa>$val</font>]
      <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$val</font>]%2} {
        <b><font color=#3a6797>lappend</font></b> attrs2 <font color=#1b1baa>$opt</font> <font color=#1b1baa>$val</font>
        <b><font color=#ca14ca>continue</font></b>
      }
      <b><font color=#3a6797>set</font></b> val2 [<b><font color=#3a6797>list</font></b>]
      <b><font color=#3a6797>foreach</font></b> {o v} <font color=#1b1baa>$val</font> {
        <b><font color=#3a6797>set</font></b> v [RemoveVarOptions <font color=#1b1baa>$v</font>]
        <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$v</font> eq {}} <b><font color=#ca14ca>continue</font></b>
        <b><font color=#3a6797>lappend</font></b> val2 <font color=#1b1baa>$o</font> <font color=#1b1baa>$v</font>
      }
      <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$val2</font> eq {}} <b><font color=#ca14ca>continue</font></b>
      <b><font color=#3a6797>lappend</font></b> attrs2 <font color=#1b1baa>$opt</font> <font color=#1b1baa>$val2</font>
    }
    <b><font color=#3a6797>set</font></b> attrs <font color=#1b1baa>$attrs2</font>
    <b><font color=#3a6797>set</font></b> widitem [<b><font color=#3a6797>list</font></b> <font color=#1b1baa>$wid</font> <font color=#1b1baa>$nei</font> <font color=#1b1baa>$pos</font> <font color=#1b1baa>$rspan</font> <font color=#1b1baa>$cspan</font> <font color=#1b1baa>$gridpack</font> <font color=#1b1baa>$attrs</font>]
    <b><font color=#3a6797>lappend</font></b> wlist <font color=#1b1baa>$widitem</font>
    <b><font color=#3a6797>append</font></b> code [<b><font color=#3a6797>list</font></b> <font color=#1b1baa>$widitem</font>] \n
  }
  <b><font color=#3a6797>set</font></b> widgetlist <font color=#1b1baa>$wlist</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=paver::RemoveVarOptions></a>
<b><font color=#ca14ca>proc</font></b> paver::RemoveVarOptions {attrs} {
  <i><font color=#4b5d50># Removes some options with variable values.</font></i>
  <i><font color=#4b5d50>#   attrs - list of options/value pairs</font></i>

  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$attrs</font>]%2} {<b><font color=#ca14ca>return</font></b> <font color=#1b1baa>$attrs</font>}
  <b><font color=#3a6797>set</font></b> wasvar 0
  <b><font color=#3a6797>set</font></b> attrsorig <font color=#1b1baa>$attrs</font>
  <b><font color=#3a6797>foreach</font></b> opt {<font color=#653760>-w</font> <font color=#653760>-h</font> <font color=#653760>-width</font> <font color=#653760>-height</font>} {
    <b><font color=#3a6797>lassign</font></b> [::apave::extractOptions attrs <font color=#1b1baa>$opt</font> {}] val
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$val</font> ne {}} {
      <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>string</font></b> is integer <font color=#653760>-strict</font> <font color=#1b1baa>$val</font>]} {
        <b><font color=#3a6797>lappend</font></b> attrs <font color=#1b1baa>$opt</font> <font color=#1b1baa>$val</font>
      }
      <b><font color=#3a6797>set</font></b> wasvar 1
    }
  }
  <b><font color=#3a6797>if</font></b> {!<font color=#1b1baa>$wasvar</font>} {
    <b><font color=#ca14ca>return</font></b> <font color=#1b1baa>$attrsorig</font>
  }
  <b><font color=#ca14ca>return</font></b> <font color=#1b1baa>$attrs</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=paver::CheckCommentedOptions></a>
<b><font color=#ca14ca>proc</font></b> paver::CheckCommentedOptions {gridpack attrs} {
  <i><font color=#4b5d50># Checks for commented options of gridpack & attrs of widget list item</font></i>
  <i><font color=#4b5d50>#   gridpack - grid/pack item of widget list item</font></i>
  <i><font color=#4b5d50>#   attrs - attrs item of widget list item</font></i>

  <b><font color=#3a6797>foreach</font></b> vl {gridpack attrs} {
    <i><font color=#4b5d50># gridpack & attrs lists: check both for items commented, e.g. #-side left...</font></i>
    <i><font color=#4b5d50># (not implemented in APave for the sake of performance)</font></i>
    <b><font color=#3a6797>set</font></b> lst [<b><font color=#3a6797>set</font></b> <font color=#1b1baa>$vl</font>]
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>set</font></b> i [<b><font color=#3a6797>lsearch</font></b> <font color=#653760>-glob</font> <font color=#1b1baa>$lst</font> #*]]&gt;-1} {
      <b><font color=#3a6797>set</font></b> <font color=#1b1baa>$vl</font> [<b><font color=#3a6797>lreplace</font></b> <font color=#1b1baa>$lst</font> <font color=#1b1baa>$i</font> end]
    }
  }
  <b><font color=#ca14ca>return</font></b> [<b><font color=#3a6797>list</font></b> <font color=#1b1baa>$gridpack</font> <font color=#1b1baa>$attrs</font>]
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=paver::MessageNotList></a>
<b><font color=#ca14ca>proc</font></b> paver::MessageNotList {} {
  <i><font color=#4b5d50># Show a message about absent widget list.</font></i>

  <b><font color=#3a6797>set</font></b> msg {For paveWindow's widget list to be recognized, set the cursor inside it.}
  alited::Message [msgcat::mc <font color=#1b1baa>$msg</font>] 4
}
<a id=GUI></a>
<i><font color=#4b5d50># ________________________ GUI _________________________ #</font></i>
<a id=paver::_create></a>
<b><font color=#ca14ca>proc</font></b> paver::_create {{inplist <font color=#8b2a0e>&quot;&quot;</font>}} {
  <i><font color=#4b5d50># Creates and shows the paver's window.</font></i>
  <i><font color=#4b5d50>#   inplist - widget list to handle</font></i>

  <b><font color=#3a6797>variable</font></b> pobj
  <b><font color=#3a6797>variable</font></b> win
  <b><font color=#3a6797>variable</font></b> paverttl
  <b><font color=#3a6797>variable</font></b> geometry
  <b><font color=#3a6797>variable</font></b> widgetlist
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$inplist</font> ne {}} {
    <b><font color=#3a6797>set</font></b> widgetlist [<b><font color=#3a6797>list</font></b>]
    <b><font color=#3a6797>foreach</font></b> widitem <font color=#1b1baa>$inplist</font> {
      <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$widitem</font> wid nei pos rspan cspan gridpack attrs
      <b><font color=#3a6797>lassign</font></b> [CheckCommentedOptions <font color=#1b1baa>$gridpack</font> <font color=#1b1baa>$attrs</font>] gridpack attrs
      <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>string</font></b> index <font color=#1b1baa>$wid</font> 0] ne {#}} {
        <b><font color=#3a6797>lappend</font></b> widgetlist [<b><font color=#3a6797>list</font></b> <font color=#1b1baa>$wid</font> <font color=#1b1baa>$nei</font> <font color=#1b1baa>$pos</font> <font color=#1b1baa>$rspan</font> <font color=#1b1baa>$cspan</font> <font color=#1b1baa>$gridpack</font> <font color=#1b1baa>$attrs</font>]
      }
    }
  }
  Destroy
  ::apave::APave create <font color=#1b1baa>$pobj</font> <font color=#1b1baa>$win</font>
  <font color=#1b1baa>$pobj</font> makeWindow <font color=#1b1baa>$win</font>.fra <font color=#1b1baa>$paverttl</font>
  <font color=#1b1baa>$pobj</font> paveWindow <font color=#1b1baa>$win</font>.fra <font color=#1b1baa>$widgetlist</font>
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$geometry</font> ne {}} {<b><font color=#3a6797>set</font></b> geo <font color=#8b2a0e>&quot;-geometry <font color=#1b1baa>$</font>geometry&quot;</font>} {<b><font color=#3a6797>set</font></b> geo {}}
  <b><font color=#3a6797>after</font></b> 300 {::alited::paver::AutoUpdate 2}
  <b><font color=#3a6797>set</font></b> res [<font color=#1b1baa>$pobj</font> showModal <font color=#1b1baa>$win</font> <font color=#653760>-modal</font> no <font color=#653760>-waitvar</font> 1 <font color=#653760>-resizable</font> 1 <font color=#653760>-minsize</font> {50 50} \
    <font color=#653760>-escape</font> 1 <font color=#653760>-onclose</font> ::alited::paver::Close {<b><font color=#3a6797>*</font></b>}<font color=#1b1baa>$geo</font>]
  Destroy
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=paver::_run></a>
<b><font color=#ca14ca>proc</font></b> paver::_run {} {
  <i><font color=#4b5d50># Runs the paver.</font></i>

  <b><font color=#3a6797>variable</font></b> widgetlist
  <b><font color=#3a6797>variable</font></b> viewpos
  WidgetList
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$widgetlist</font> eq {}} {
    MessageNotList
  } <b><font color=#3a6797>else</font></b> {
    <b><font color=#3a6797>set</font></b> viewpos 1.0
    _create
  }
}
<a id=EOF></a>
<i><font color=#4b5d50># ________________________ EOF _________________________ #</font></i>

</pre>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>paver.tcl</b></font></div></td></table>

<!-- Made by alited (END) -->