<!-- Made by alited -->
<link rel="stylesheet" href="../../css/style.css">

<title>preview.tcl</title>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>README.md</b></font></div></td></table>


<div id="bodyContent" class="dokuwiki">
<div id="dw__toc" class="dw__toc">
<h3 class="toggle open" style="cursor: pointer;">preview.tcl</h3>
<div aria-expanded="true" style="">

<ul class="toc">
<li><b><a href="#preview.tcl">preview.tcl</a></b></li>
<li><b><a href="#NS_preview">NS preview</a></b></li>
<li><b><a href="#Procedures">Procedures</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#::tracer">tracer</a><span class=tooltiptext> ::tracer</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#preview::InitArgs">InitArgs</a><span class=tooltiptext> preview::InitArgs : Reads arguments to preview.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#preview::Rerun">Rerun</a><span class=tooltiptext> preview::Rerun : Reads arguments and at need reruns the preview.
obj - apave object
win - window's path</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#preview::SyntaxHighlight">SyntaxHighlight</a><span class=tooltiptext> preview::SyntaxHighlight : Makes a text being syntax highlighted.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#preview::Run">Run</a><span class=tooltiptext> preview::Run : Creates a window to preview widgets.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#preview::Exit">Exit</a><span class=tooltiptext> preview::Exit : Quits the preview.</span></div></li></ul>
<li><b><a href="#Run_me">Run me</a></b></li>
<li><b><a href="#EOF">EOF</a></b></li>

</ul>

</div>
</div>
</div>
<!-- TOC END -->

<h1><font color=#ca14ca> alited's source</font></h1>
</p><p>
The <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/about.html">alited/src</a> directory contains alited's own source files.
</p><p>
Some additional alited's files are also contained in <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_alm.html">alited/lib/addon</a> directory (<i><font color=#1b1baa>alited/lib</font></i> directory contains all library files).
</p><p>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/about.html">about.tcl</a> - "About alited" dialogue.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/alited.html">alited.tcl</a> - The alited's main script to start.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/bar.html">bar.tcl</a> - Handles the bar of tabs.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/check.html">check.tcl</a> - "Check Tcl" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/complete.html">complete.tcl</a> - Handles auto-completion.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/edit.html">edit.tcl</a> - "Edit" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/favor.html">favor.tcl</a> - Handles the favorite and last visited units.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/favor_ls.html">favor_ls.tcl</a> - "Saved lists of favorites" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/file.html">file.tcl</a> - "File" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/find.html">find.tcl</a> - "Find / Replace" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/format.html">format.tcl</a> - "Edit / Formats" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/img.html">img.tcl</a> - List of images used by alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/indent.html">indent.tcl</a> - Handles text indentation.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/info.html">info.tcl</a> - Handles the info bar.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/ini.html">ini.tcl</a> - Handles initializing alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/keys.html">keys.tcl</a> - Handles keyboard (mapping etc.).</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/main.html">main.tcl</a> - Handles the main form of alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/menu.html">menu.tcl</a> - Handles alited's menus.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/msgs.html">msgs.tcl</a> - Localized messages used in several places.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/paver.html">paver.tcl</a> - "Tools / Paver" tool.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/pkgIndex.html">pkgIndex.tcl</a> - Includes README.md text (for Ruff doc generator).</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/pref.html">pref.tcl</a> - "Preferences" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/preview.html">preview.tcl</a> - "Preview (theme, CS)" dialogue called by "Preferences".</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/printer.html">printer.tcl</a> - "Tools / Project Printer" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/project.html">project.tcl</a> - "Projects" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/run.html">run.tcl</a> - "Tools / Run..." dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/tool.html">tool.tcl</a> - "Tools" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/tree.html">tree.tcl</a> - Handles the tree of units and files.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/unit.html">unit.tcl</a> - Handles the unit tree.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/unit_tpl.html">unit_tpl.tcl</a> - "Templates" dialogue and procedures.</li>
</p><p>

</p>


<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>preview.tcl</b></font></div></td></table>

<pre class="code"><i><font color=#ff0000>#! /usr/bin/env tclsh<a id=preview.tcl></a></font></i>
<i><font color=#4b5d50>###########################################################</font></i>
<i><font color=#4b5d50># Name:    preview.tcl</font></i>
<i><font color=#4b5d50># Author:  Alex Plotnikov  (aplsimple@gmail.com)</font></i>
<i><font color=#4b5d50># Date:    01/06/2023</font></i>
<i><font color=#4b5d50># Brief:   Previews some widgets of chosen theme & CS.</font></i>
<i><font color=#4b5d50># License: MIT.</font></i>
<i><font color=#4b5d50>###########################################################</font></i>

<b><font color=#3a6797>package</font></b> require Tk
<b><font color=#134070>wm</font></b> withdraw .
<a id=NS_preview></a>
<i><font color=#4b5d50># _________________________ NS preview ________________________ #</font></i>

<b><font color=#ca14ca>namespace</font></b> eval ::preview {
  <b><font color=#3a6797>variable</font></b> solo [<b><font color=#3a6797>expr</font></b> {[<b><font color=#3a6797>info</font></b> exist ::argv0] && [<b><font color=#3a6797>file</font></b> normalize <font color=#1b1baa>$::argv0</font>] eq \
    [<b><font color=#3a6797>file</font></b> normalize [<b><font color=#3a6797>info</font></b> script]]} ? 1 : 0]
  <b><font color=#3a6797>variable</font></b> argfile [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$::argv</font> 0]
  <b><font color=#3a6797>variable</font></b> prefCheckID [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$::argv</font> 1]
  <b><font color=#3a6797>variable</font></b> argline {} iniline {}
  <b><font color=#3a6797>variable</font></b> theme alt CS -2 tint 0 algeom +1+1 title Test
  <b><font color=#3a6797>variable</font></b> curswidth 2 cursclr {} cursblink 0
  <b><font color=#3a6797>variable</font></b> SCRIPT [<b><font color=#3a6797>file</font></b> normalize [<b><font color=#3a6797>info</font></b> script]]
  <b><font color=#3a6797>variable</font></b> DIR [<b><font color=#3a6797>file</font></b> dirname [<b><font color=#3a6797>file</font></b> dirname <font color=#1b1baa>$SCRIPT</font>]]
  <b><font color=#3a6797>variable</font></b> LIBDIR [<b><font color=#3a6797>file</font></b> join <font color=#1b1baa>$DIR</font> lib]
  <b><font color=#3a6797>variable</font></b> PAVEDIR [<b><font color=#3a6797>file</font></b> join <font color=#1b1baa>$LIBDIR</font> e_menu src]
}

<b><font color=#ca14ca>namespace</font></b> eval :: {
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$::preview::solo</font>} {
    <b><font color=#3a6797>source</font></b> [<b><font color=#3a6797>file</font></b> join <font color=#1b1baa>$::preview::PAVEDIR</font> apave.tcl]
    <b><font color=#3a6797>source</font></b> [<b><font color=#3a6797>file</font></b> join <font color=#1b1baa>$::preview::LIBDIR</font> hl_tcl hl_tcl.tcl]
  }
}
<b><font color=#3a6797>namespace</font></b> import ::apave::obj<a id=Procedures></a>
<i><font color=#4b5d50># ________________________ Procedures _________________________ #</font></i>
<a id=::tracer></a>
<b><font color=#ca14ca>proc</font></b> ::tracer {args} {
  <b><font color=#3a6797>set</font></b> ::sc2 [<b><font color=#3a6797>expr</font></b> {round(<font color=#1b1baa>$::sc</font>)}]
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=preview::InitArgs></a>
<b><font color=#ca14ca>proc</font></b> ::preview::InitArgs {} {
  <i><font color=#4b5d50># Reads arguments to preview.</font></i>

  <b><font color=#3a6797>variable</font></b> argfile
  <b><font color=#3a6797>variable</font></b> argline
  <b><font color=#3a6797>variable</font></b> theme
  <b><font color=#3a6797>variable</font></b> CS
  <b><font color=#3a6797>variable</font></b> tint
  <b><font color=#3a6797>variable</font></b> algeom
  <b><font color=#3a6797>variable</font></b> title
  <b><font color=#3a6797>variable</font></b> curswidth
  <b><font color=#3a6797>variable</font></b> cursclr
  <b><font color=#3a6797>variable</font></b> cursblink
  <b><font color=#3a6797>variable</font></b> prefCheckID
  <b><font color=#3a6797>if</font></b> {![<b><font color=#3a6797>file</font></b> exists <font color=#1b1baa>$argfile</font>]} <b><font color=#3a6797>exit</font></b>
  <b><font color=#3a6797>set</font></b> ch [<b><font color=#3a6797>open</font></b> <font color=#1b1baa>$argfile</font>]
  <b><font color=#3a6797>set</font></b> argline [<b><font color=#3a6797>gets</font></b> <font color=#1b1baa>$ch</font>]
  <b><font color=#3a6797>close</font></b> <font color=#1b1baa>$ch</font>
  <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$argline</font> algeom theme CS tint curswidth cursblink cursclr title ID
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$ID</font> ne <font color=#1b1baa>$prefCheckID</font>} <b><font color=#3a6797>exit</font></b>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=preview::Rerun></a>
<b><font color=#ca14ca>proc</font></b> ::preview::Rerun {obj win} {
  <i><font color=#4b5d50># Reads arguments and at need reruns the preview.</font></i>
  <i><font color=#4b5d50>#   obj - apave object</font></i>
  <i><font color=#4b5d50>#   win - window's path</font></i>

  <b><font color=#3a6797>variable</font></b> theme
  <b><font color=#3a6797>variable</font></b> tint
  <b><font color=#3a6797>variable</font></b> iniline
  <b><font color=#3a6797>variable</font></b> argline
  <b><font color=#3a6797>set</font></b> theme_saved <font color=#1b1baa>$theme</font>
  <b><font color=#3a6797>set</font></b> tint_saved <font color=#1b1baa>$tint</font>
  InitArgs
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$iniline</font> ne <font color=#1b1baa>$argline</font>} <b><font color=#3a6797>exit</font></b>
  <b><font color=#3a6797>after</font></b> 300 <font color=#8b2a0e>&quot;preview::Rerun <font color=#1b1baa>$</font>obj <font color=#1b1baa>$</font>win&quot;</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=preview::SyntaxHighlight></a>
<b><font color=#ca14ca>proc</font></b> ::preview::SyntaxHighlight {} {
  <i><font color=#4b5d50># Makes a text being syntax highlighted.</font></i>

  <b><font color=#3a6797>variable</font></b> curswidth
  <b><font color=#3a6797>set</font></b> cs [obj csCurrent]
  <b><font color=#3a6797>set</font></b> wtxt .win.fra.nbk.f1.texftx1
  ::hl_tcl::hl_init <font color=#1b1baa>$wtxt</font> <font color=#653760>-dark</font> [obj csDark <font color=#1b1baa>$cs</font>] <font color=#653760>-multiline</font> 1 <font color=#653760>-insertwidth</font> <font color=#1b1baa>$curswidth</font>
  ::hl_tcl::hl_text <font color=#1b1baa>$wtxt</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=preview::Run></a>
<b><font color=#ca14ca>proc</font></b> ::preview::Run {} {
  <i><font color=#4b5d50># Creates a window to preview widgets.</font></i>

  <b><font color=#3a6797>variable</font></b> LIBDIR
  <b><font color=#3a6797>variable</font></b> theme
  <b><font color=#3a6797>variable</font></b> CS
  <b><font color=#3a6797>variable</font></b> tint
  <b><font color=#3a6797>variable</font></b> algeom
  <b><font color=#3a6797>variable</font></b> SCRIPT
  <b><font color=#3a6797>variable</font></b> title
  <b><font color=#3a6797>variable</font></b> curswidth
  <b><font color=#3a6797>variable</font></b> cursclr
  <b><font color=#3a6797>variable</font></b> cursblink
  ::apave::InitTheme <font color=#1b1baa>$theme</font> <font color=#1b1baa>$LIBDIR</font>
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$cursclr</font> eq {}} {
    <b><font color=#3a6797>set</font></b> cursclr [<b><font color=#3a6797>lindex</font></b> [obj csGet <font color=#1b1baa>$CS</font>] 7]
  }
  ::apave::initWM <font color=#653760>-theme</font> <font color=#1b1baa>$theme</font> <font color=#653760>-cs</font> <font color=#1b1baa>$CS</font> <font color=#653760>-cursorwidth</font> <font color=#1b1baa>$curswidth</font>
  obj csSet <font color=#1b1baa>$CS</font> . <font color=#653760>-clrcurs</font> <font color=#1b1baa>$cursclr</font>
  obj csToned <font color=#1b1baa>$CS</font> <font color=#1b1baa>$tint</font> yes
  <b><font color=#3a6797>if</font></b> {!<font color=#1b1baa>$cursblink</font>} {
    <b><font color=#3a6797>lassign</font></b> [obj defaultATTRS tex] texopts texattrs
    obj defaultATTRS tex <font color=#1b1baa>$texopts</font> [<b><font color=#3a6797>dict</font></b> set texattrs <font color=#653760>-insertofftime</font> 0]
  }
  <b><font color=#3a6797>set</font></b> ::tclversion <font color=#8b2a0e>&quot;Tcl <font color=#1b1baa>[</font>package require Tcl<font color=#1b1baa>]</font> : <font color=#1b1baa>[</font>info nameofexecutable<font color=#1b1baa>]</font>&quot;</font>
  <b><font color=#3a6797>set</font></b> obj previewobj
  <b><font color=#3a6797>set</font></b> win .win
  <b><font color=#3a6797>catch</font></b> {::apave::APave create <font color=#1b1baa>$obj</font> <font color=#1b1baa>$win</font>}
  <b><font color=#3a6797>set</font></b> ::en1 {Entry value}
  <b><font color=#3a6797>set</font></b> ::en2 {Combo 1}
  <b><font color=#3a6797>set</font></b> ::v1 [<b><font color=#3a6797>set</font></b> ::v2 [<b><font color=#3a6797>set</font></b> ::c1 1]]
  <b><font color=#3a6797>set</font></b> ::c2 0
  <b><font color=#3a6797>set</font></b> ::sc [<b><font color=#3a6797>set</font></b> ::sc2 50]
  <b><font color=#3a6797>set</font></b> ::clr1 #e00042
  <b><font color=#3a6797>set</font></b> ::datefmt %Y/%m/%d
  <b><font color=#3a6797>set</font></b> ::dat1 [<b><font color=#3a6797>clock</font></b> format [<b><font color=#3a6797>clock</font></b> seconds] <font color=#653760>-format</font> <font color=#1b1baa>$::datefmt</font>]
  <b><font color=#3a6797>trace</font></b> add variable ::sc write ::tracer
  <b><font color=#3a6797>set</font></b> ::opc default
  <b><font color=#3a6797>set</font></b> ::opcSet [<b><font color=#3a6797>list</font></b> default clam classic alt -- {{light / dark} awlight awdark \
    -- forest-light forest-dark -- lightbrown darkbrown -- plastik}]
  <b><font color=#3a6797>set</font></b> ttl [<font color=#1b1baa>$obj</font> csGetName <font color=#1b1baa>$CS</font>]
  <b><font color=#3a6797>set</font></b> ttl [<b><font color=#3a6797>string</font></b> range <font color=#1b1baa>$ttl</font> [<b><font color=#3a6797>string</font></b> first { } <font color=#1b1baa>$ttl</font>]+1 end]
  <font color=#1b1baa>$obj</font> makeWindow <font color=#1b1baa>$win</font>.fra <font color=#8b2a0e>&quot;<font color=#1b1baa>$</font>title: <font color=#1b1baa>$</font>theme, <font color=#1b1baa>$</font>ttl, <font color=#1b1baa>$</font>tint&quot;</font>
  <font color=#1b1baa>$obj</font> paveWindow <font color=#1b1baa>$win</font>.fra {
    {nbk - - - - {<b><font color=#134070>pack</font></b> <font color=#653760>-expand</font> 1 <font color=#653760>-fill</font> both} {
      f1 {<font color=#653760>-t</font> Notebook <font color=#653760>-underline</font> 0 <font color=#653760>-tip</font> <font color=#8b2a0e>&quot;Tab #1&quot;</font>}
      f2 {<font color=#653760>-t</font> <font color=#8b2a0e>&quot;Tab #2&quot;</font> <font color=#653760>-underline</font> 0 <font color=#653760>-tip</font> <font color=#8b2a0e>&quot;Tab #2&quot;</font>}
      <font color=#653760>-traverse</font> yes
    }}
    {seh3 - - - - {<b><font color=#134070>pack</font></b> <font color=#653760>-fill</font> x}}
    {lab - - - - {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> left <font color=#653760>-fill</font> x} {<font color=#653760>-t</font> <font color=#8b2a0e>&quot;<font color=#1b1baa>$</font>::tclversion&quot;</font> <font color=#653760>-font</font> TkTooltipFont}}
    {but5 - - - - {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> right} {<font color=#653760>-t</font> Close <font color=#653760>-com</font> ::preview::Exit}}
  }
  <font color=#1b1baa>$obj</font> paveWindow <font color=#1b1baa>$win</font>.fra.nbk.f1 {
    {lab1 - - 1 1    {<font color=#653760>-st</font> wsn}  {<font color=#653760>-t</font> <font color=#8b2a0e>&quot;Entry: &quot;</font>}}
    {Ent1 + L 1 4 {<font color=#653760>-st</font> wes} {<font color=#653760>-tvar</font> ::en1}}
    {labm lab1 T 1 1 {<font color=#653760>-st</font> wsn} {<font color=#653760>-t</font> <font color=#8b2a0e>&quot;Radiobutton: &quot;</font>}}
    {radA + L 1 1 {<font color=#653760>-st</font> ws} {<font color=#653760>-t</font> <font color=#8b2a0e>&quot;Choice 1&quot;</font> <font color=#653760>-var</font> ::v1 <font color=#653760>-value</font> 1}}
    {radB + L 1 1 {<font color=#653760>-st</font> ws} {<font color=#653760>-t</font> <font color=#8b2a0e>&quot;Choice 2&quot;</font> <font color=#653760>-var</font> ::v1 <font color=#653760>-value</font> 2}}
    {lab2 labm T 1 1 {<font color=#653760>-st</font> wsn} {<font color=#653760>-t</font> <font color=#8b2a0e>&quot;Swi/Chb: &quot;</font>}}
    {swi1 + L 1 1 {<font color=#653760>-st</font> ws} {<font color=#653760>-t</font> <font color=#8b2a0e>&quot;Switch&quot;</font> <font color=#653760>-var</font> ::c1}}
    {chb1 + L 1 1 {<font color=#653760>-st</font> ws} {<font color=#653760>-t</font> <font color=#8b2a0e>&quot;Checkbox&quot;</font> <font color=#653760>-var</font> ::c2}}
    {lab3 lab2 T 1 1 {<font color=#653760>-st</font> wsn} {<font color=#653760>-t</font> <font color=#8b2a0e>&quot;Combobox: &quot;</font>}}
    {cbx1 + L 1 1 {<font color=#653760>-st</font> ws} {<font color=#653760>-w</font> 12 <font color=#653760>-tvar</font> ::en2 <font color=#653760>-state</font> readonly \
      <font color=#653760>-values</font> {<font color=#8b2a0e>&quot;Combo 1&quot;</font> <font color=#8b2a0e>&quot;Combo 2&quot;</font> <font color=#8b2a0e>&quot;Combo 3&quot;</font>}}}
    {lab4 lab3 T 1 1 {<font color=#653760>-st</font> en} \
      {<font color=#653760>-t</font> <font color=#8b2a0e>&quot;Labelframe:\nText:\nTooltip:\nScrollbar:\nTool button:\nPopup menu:\nButton:&quot;</font>}}
    {ftx1 + L 1 4 {<font color=#653760>-st</font> wesn <font color=#653760>-cw</font> 1 <font color=#653760>-rw</font> 1} \
      {<font color=#653760>-h</font> 5 <font color=#653760>-w</font> 50 <font color=#653760>-ro</font> 0 <font color=#653760>-tvar</font> ::preview::SCRIPT <font color=#653760>-title</font> {Pick a file to view} \
      <font color=#653760>-filetypes</font> {{{Tcl scripts} .tcl} {{Text files} {.txt .test}}} <font color=#653760>-wrap</font> none \
      <font color=#653760>-tabnext</font> .win.fra.but5 <font color=#653760>-tip</font> <font color=#8b2a0e>&quot;After choosing a file\nthe text will be read-only.&quot;</font>}}
  }
  <font color=#1b1baa>$obj</font> paveWindow <font color=#1b1baa>$win</font>.fra.nbk.f2 {
    {lab0 - - 1 1 {<font color=#653760>-st</font> wsn}  {<font color=#653760>-t</font> <font color=#8b2a0e>&quot;Spinbox: &quot;</font>}}
    {spx + L 1 1 {<font color=#653760>-st</font> wes} {<font color=#653760>-tvar</font> ::v2 <font color=#653760>-from</font> 1 <font color=#653760>-to</font> 99 <font color=#653760>-w</font> 5 <font color=#653760>-justify</font> center}}
    {h_ + L 1 1 {<font color=#653760>-st</font> ew <font color=#653760>-cw</font> 1}}
    {v_ lab0 T 1 1 {<font color=#653760>-pady</font> 10}}
    {lab1 + T 1 1 {<font color=#653760>-st</font> wsn}  {<font color=#653760>-t</font> <font color=#8b2a0e>&quot;Progress: &quot;</font>}}
    {pro + L 1 2 {<font color=#653760>-st</font> ew} {<font color=#653760>-mode</font> indeterminate <font color=#653760>-afteridle</font> {%w start}}}
    {h_2 lab1}
    {lab2 + L 1 2 {<font color=#653760>-st</font> ew} {<font color=#653760>-tvar</font> ::sc2 <font color=#653760>-anchor</font> center}}
    {lab3 h_2 T 1 1 {<font color=#653760>-st</font> wsn} {<font color=#653760>-t</font> <font color=#8b2a0e>&quot;Scale: &quot;</font>}}
    {sca + L 1 2 {<font color=#653760>-st</font> we} {<font color=#653760>-length</font> 200 <font color=#653760>-orient</font> horiz <font color=#653760>-var</font> ::sc <font color=#653760>-from</font> 0 <font color=#653760>-to</font> 100}}
    {h_3 lab3}
    {lab4 h_3 T 1 1 {<font color=#653760>-st</font> wsn} {<font color=#653760>-t</font> <font color=#8b2a0e>&quot;OptCascade: &quot;</font>}}
    {opc + L 1 1 {<font color=#653760>-st</font> we} {::opc ::opcSet {<font color=#653760>-w</font> 10}}}
    {lab5 lab4 T 1 1 {<font color=#653760>-st</font> wsn} {<font color=#653760>-t</font> <font color=#8b2a0e>&quot;Color picker: &quot;</font>}}
    {clr + L 1 1 {<font color=#653760>-st</font> we} {<font color=#653760>-tvar</font> ::clr1 <font color=#653760>-w</font> 12}}
    {lab6 lab5 T 1 1 {<font color=#653760>-st</font> wsn} {<font color=#653760>-t</font> <font color=#8b2a0e>&quot;Date picker: &quot;</font>}}
    {dat + L 1 1 {<font color=#653760>-st</font> we} {<font color=#653760>-tvar</font> ::dat1 <font color=#653760>-title</font> {Pick a date} <font color=#653760>-dateformat</font> <font color=#1b1baa>$::datefmt</font> <font color=#653760>-w</font> 8}}
    {v_2 lab6 T 1 1 {<font color=#653760>-st</font> ew <font color=#653760>-rw</font> 1}}
    {pro2 h_ L 10 1 {<font color=#653760>-st</font> ns} {<font color=#653760>-orient</font> vert <font color=#653760>-mode</font> indeterminate <font color=#653760>-afteridle</font> {%w start}}}
  }
  <b><font color=#3a6797>after</font></b> idle ::preview::SyntaxHighlight
  <b><font color=#3a6797>after</font></b> 100 <font color=#8b2a0e>&quot;preview::Rerun <font color=#1b1baa>$</font>obj <font color=#1b1baa>$</font>win&quot;</font>
  <font color=#1b1baa>$obj</font> showModal <font color=#1b1baa>$win</font> <font color=#653760>-focus</font> [<font color=#1b1baa>$obj</font> Ent1] <font color=#653760>-geometry</font> <font color=#1b1baa>$algeom</font> <font color=#653760>-ontop</font> [::asKDE]
  <b><font color=#134070>destroy</font></b> <font color=#1b1baa>$win</font>
  <font color=#1b1baa>$obj</font> destroy
  Exit
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=preview::Exit></a>
<b><font color=#ca14ca>proc</font></b> ::preview::Exit {} {
  <i><font color=#4b5d50># Quits the preview.</font></i>

  <b><font color=#3a6797>variable</font></b> argfile
  <b><font color=#3a6797>catch</font></b> {<b><font color=#3a6797>file</font></b> delete <font color=#1b1baa>$argfile</font>}
  <b><font color=#3a6797>exit</font></b>
}
<a id=Run_me></a>
<i><font color=#4b5d50># ________________________ Run me _________________________ #</font></i>

  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$::preview::solo</font> && <font color=#1b1baa>$::argc</font> == 2} {
    ::preview::InitArgs
    <b><font color=#3a6797>set</font></b> ::preview::iniline <font color=#1b1baa>$::preview::argline</font>
    ::preview::Run
  } <b><font color=#3a6797>else</font></b> {
    <b><font color=#3a6797>puts</font></b> <font color=#8b2a0e>&quot;Called by alited.&quot;</font>
  }<a id=EOF></a>
<i><font color=#4b5d50># ________________________ EOF _________________________ #</font></i>

</pre>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>preview.tcl</b></font></div></td></table>

<!-- Made by alited (END) -->