<!-- Made by alited -->
<link rel="stylesheet" href="../../css/style.css">

<title>run.tcl</title>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>README.md</b></font></div></td></table>


<div id="bodyContent" class="dokuwiki">
<div id="dw__toc" class="dw__toc">
<h3 class="toggle open" style="cursor: pointer;">run.tcl</h3>
<div aria-expanded="true" style="">

<ul class="toc">
<li><b><a href="#run.tcl">run.tcl</a></b></li>
<li><b><a href="#Options">Options</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#run::RunOptions">RunOptions</a><span class=tooltiptext> run::RunOptions : Sets options of "Run..." dialogue.</span></div></li></ul>
<li><b><a href="#Button_commands">Button commands</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#run::Run">Run</a><span class=tooltiptext> run::Run : Runs a command of "Run..." dialogue.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#run::Save">Save</a><span class=tooltiptext> run::Save : Saves settings of "Run..." dialogue.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#run::Cancel">Cancel</a><span class=tooltiptext> run::Cancel : Handles hitting "Cancel" button.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#run::Help">Help</a><span class=tooltiptext> run::Help : Shows Run's help.</span></div></li></ul>
<li><b><a href="#GUI">GUI</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#run::InitTex12">InitTex12</a><span class=tooltiptext> run::InitTex12 : Initializes texts & combobox (colors, events, highlighting etc.).
tex1 - 1st text's path
tex2 - 2nd text's path
cbx - compobox's path</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#run::FillTex1">FillTex1</a><span class=tooltiptext> run::FillTex1 : Fills command content text.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#run::FillTex2">FillTex2</a><span class=tooltiptext> run::FillTex2 : Fills "commands before running" text.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#run::FillCbx">FillCbx</a><span class=tooltiptext> run::FillCbx : Fill the command combobox.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#run::DeleteForcedRun">DeleteForcedRun</a><span class=tooltiptext> run::DeleteForcedRun : Clears current combobox' value.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#run::ValidatePath">ValidatePath</a><span class=tooltiptext> run::ValidatePath : Validates a path chosen from the file picker.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#run::ChbForced">ChbForced</a><span class=tooltiptext> run::ChbForced : Checks states & values of widgets.</span></div></li></ul>
<li><b><a href="#Main">Main</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#run::_create">_create</a><span class=tooltiptext> run::_create : Dialogue to define a command for "Tools/Run".</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#run::_run">_run</a><span class=tooltiptext> run::_run</span></div></li></ul>
<li><b><a href="#EOF">EOF</a></b></li>

</ul>

</div>
</div>
</div>
<!-- TOC END -->

<h1><font color=#ca14ca> alited's source</font></h1>
</p><p>
The <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/about.html">alited/src</a> directory contains alited's own source files.
</p><p>
Some additional alited's files are also contained in <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_alm.html">alited/lib/addon</a> directory (<i><font color=#1b1baa>alited/lib</font></i> directory contains all library files).
</p><p>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/about.html">about.tcl</a> - "About alited" dialogue.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/alited.html">alited.tcl</a> - The alited's main script to start.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/bar.html">bar.tcl</a> - Handles the bar of tabs.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/check.html">check.tcl</a> - "Check Tcl" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/complete.html">complete.tcl</a> - Handles auto-completion.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/edit.html">edit.tcl</a> - "Edit" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/favor.html">favor.tcl</a> - Handles the favorite and last visited units.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/favor_ls.html">favor_ls.tcl</a> - "Saved lists of favorites" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/file.html">file.tcl</a> - "File" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/find.html">find.tcl</a> - "Find / Replace" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/format.html">format.tcl</a> - "Edit / Formats" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/img.html">img.tcl</a> - List of images used by alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/indent.html">indent.tcl</a> - Handles text indentation.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/info.html">info.tcl</a> - Handles the info bar.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/ini.html">ini.tcl</a> - Handles initializing alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/keys.html">keys.tcl</a> - Handles keyboard (mapping etc.).</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/main.html">main.tcl</a> - Handles the main form of alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/menu.html">menu.tcl</a> - Handles alited's menus.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/msgs.html">msgs.tcl</a> - Localized messages used in several places.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/paver.html">paver.tcl</a> - "Tools / Paver" tool.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/pkgIndex.html">pkgIndex.tcl</a> - Includes README.md text (for Ruff doc generator).</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/pref.html">pref.tcl</a> - "Preferences" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/preview.html">preview.tcl</a> - "Preview (theme, CS)" dialogue called by "Preferences".</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/printer.html">printer.tcl</a> - "Tools / Project Printer" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/project.html">project.tcl</a> - "Projects" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/run.html">run.tcl</a> - "Tools / Run..." dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/tool.html">tool.tcl</a> - "Tools" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/tree.html">tree.tcl</a> - Handles the tree of units and files.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/unit.html">unit.tcl</a> - Handles the unit tree.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/unit_tpl.html">unit_tpl.tcl</a> - "Templates" dialogue and procedures.</li>
</p><p>

</p>


<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>run.tcl</b></font></div></td></table>

<pre class="code"><i><font color=#4b5d50>###########################################################<a id=run.tcl></a></font></i>
<i><font color=#4b5d50># Name:    run.tcl</font></i>
<i><font color=#4b5d50># Author:  Alex Plotnikov  (aplsimple@gmail.com)</font></i>
<i><font color=#4b5d50># Date:    01/14/2023</font></i>
<i><font color=#4b5d50># Brief:   Handles &quot;Tool/Run...&quot; menu item.</font></i>
<i><font color=#4b5d50># License: MIT.</font></i>
<i><font color=#4b5d50>###########################################################</font></i>

<b><font color=#ca14ca>namespace</font></b> eval run {
  <b><font color=#3a6797>variable</font></b> win .alwin.rundlg
  <b><font color=#3a6797>variable</font></b> vent {}
}
<a id=Options></a>
<i><font color=#4b5d50># ________________________ Options _________________________ #</font></i>
<a id=run::RunOptions></a>
<b><font color=#ca14ca>proc</font></b> run::RunOptions {args} {
  <i><font color=#4b5d50># Sets options of &quot;Run...&quot; dialogue.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al obRun obRun
  <b><font color=#3a6797>set</font></b> cbx [<font color=#1b1baa>$obRun</font> CbxfiL]
  <b><font color=#3a6797>set</font></b> com [<b><font color=#3a6797>string</font></b> trim [<font color=#1b1baa>$cbx</font> get]]
  <b><font color=#3a6797>set</font></b> al(comForce) <font color=#1b1baa>$com</font>
  <b><font color=#3a6797>set</font></b> al(comForceLs) [<font color=#1b1baa>$cbx</font> cget <font color=#653760>-values</font>]
  <b><font color=#3a6797>set</font></b> befrun [[<font color=#1b1baa>$obRun</font> Tex2] get 1.0 end]
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$com</font> ne {}} {
    <b><font color=#3a6797>set</font></b> i [<b><font color=#3a6797>lsearch</font></b> <font color=#653760>-exact</font> <font color=#1b1baa>$al(comForceLs)</font> <font color=#1b1baa>$com</font>]
    <b><font color=#3a6797>set</font></b> al(comForceLs) [<b><font color=#3a6797>lreplace</font></b> <font color=#1b1baa>$al(comForceLs)</font> <font color=#1b1baa>$i</font> <font color=#1b1baa>$i</font>]
  }
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$al(comForceLs)</font>]&lt;2} {<b><font color=#3a6797>set</font></b> al(comForceLs) [<b><font color=#3a6797>list</font></b> {}]}
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$com</font> ne {}} {
    <b><font color=#3a6797>set</font></b> al(comForceLs) [<b><font color=#3a6797>linsert</font></b> <font color=#1b1baa>$al(comForceLs)</font> 1 <font color=#1b1baa>$com</font>]
  }
  <b><font color=#3a6797>for</font></b> {<b><font color=#3a6797>set</font></b> i [<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$al(comForceLs)</font>]} {<font color=#1b1baa>$i</font>&gt;1} {} {
    <b><font color=#3a6797>incr</font></b> i -1
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>string</font></b> trim [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$al(comForceLs)</font> <font color=#1b1baa>$i</font>]] eq {}} {
      <b><font color=#3a6797>set</font></b> al(comForceLs) [<b><font color=#3a6797>lreplace</font></b> <font color=#1b1baa>$al(comForceLs)</font> <font color=#1b1baa>$i</font> <font color=#1b1baa>$i</font>]
    }
  }
  <b><font color=#3a6797>set</font></b> al(comForceLs) [<b><font color=#3a6797>lrange</font></b> <font color=#1b1baa>$al(comForceLs)</font> 0 <font color=#1b1baa>$al(prjmaxcoms)</font>]
  <b><font color=#3a6797>set</font></b> al(prjbeforerun) [::alited::ProcEOL [<b><font color=#3a6797>string</font></b> trim <font color=#1b1baa>$befrun</font>] out]
}
<a id=Button_commands></a>
<i><font color=#4b5d50># ________________________ Button commands _________________________ #</font></i>
<a id=run::Run></a>
<b><font color=#ca14ca>proc</font></b> run::Run {} {
  <i><font color=#4b5d50># Runs a command of &quot;Run...&quot; dialogue.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <b><font color=#3a6797>variable</font></b> win
  <b><font color=#134070>wm</font></b> attributes <font color=#1b1baa>$win</font> <font color=#653760>-topmost</font> 0  ;<i><font color=#4b5d50># let Run dialogue be hidden</font></i>
  RunOptions
  <b><font color=#3a6797>if</font></b> {![alited::file::IsTcl [alited::bar::FileName]]} {
    <b><font color=#3a6797>set</font></b> in {}
  } <b><font color=#3a6797>elseif</font></b> {<font color=#1b1baa>$al(prjincons)</font>==1} {
    <b><font color=#3a6797>set</font></b> in terminal
  } <b><font color=#3a6797>elseif</font></b> {<font color=#1b1baa>$al(prjincons)</font>==2} {
    <b><font color=#3a6797>set</font></b> in {as is}
  } <b><font color=#3a6797>else</font></b> {
    <b><font color=#3a6797>set</font></b> in tkcon
  }
  alited::tool::_run {} <font color=#1b1baa>$in</font> <font color=#653760>-doit</font> yes
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=run::Save></a>
<b><font color=#ca14ca>proc</font></b> run::Save {} {
  <i><font color=#4b5d50># Saves settings of &quot;Run...&quot; dialogue.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al obRun obRun
  <b><font color=#3a6797>variable</font></b> win
  <b><font color=#3a6797>set</font></b> al(runGeometry) [<b><font color=#134070>wm</font></b> geometry <font color=#1b1baa>$win</font>]
  RunOptions
  alited::SaveRunOptions
  alited::ini::SaveIniPrj
  alited::main::UpdateProjectInfo
  <b><font color=#3a6797>catch</font></b> {<font color=#1b1baa>$obRun</font> res <font color=#1b1baa>$win</font> 1}
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=run::Cancel></a>
<b><font color=#ca14ca>proc</font></b> run::Cancel {args} {
  <i><font color=#4b5d50># Handles hitting &quot;Cancel&quot; button.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al obRun obRun
  <b><font color=#3a6797>variable</font></b> win
  alited::RestoreRunOptions
  <b><font color=#3a6797>catch</font></b> {
    <b><font color=#3a6797>set</font></b> al(runGeometry) [<b><font color=#134070>wm</font></b> geometry <font color=#1b1baa>$win</font>]
    <font color=#1b1baa>$obRun</font> res <font color=#1b1baa>$win</font> 0
  }
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=run::Help></a>
<b><font color=#ca14ca>proc</font></b> run::Help {} {
  <i><font color=#4b5d50># Shows Run's help.</font></i>

  alited::HelpAlited #runme
}
<a id=GUI></a>
<i><font color=#4b5d50># ________________________ GUI _________________________ #</font></i>

<a id=run::InitTex12></a>
<b><font color=#ca14ca>proc</font></b> run::InitTex12 {tex1 tex2 cbx} {
  <i><font color=#4b5d50># Initializes texts & combobox (colors, events, highlighting etc.).</font></i>
  <i><font color=#4b5d50>#   tex1 - 1st text's path</font></i>
  <i><font color=#4b5d50>#   tex2 - 2nd text's path</font></i>
  <i><font color=#4b5d50>#   cbx - compobox's path</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al obRun obRun
  ::hl_tcl::hl_init <font color=#1b1baa>$tex1</font> <font color=#653760>-dark</font> [<font color=#1b1baa>$obRun</font> csDark] <font color=#653760>-plaintext</font> 1 \
    <font color=#653760>-cmd</font> ::alited::run::FillCbx <font color=#653760>-cmdpos</font> ::alited::run::FillCbx \
    <font color=#653760>-font</font> <font color=#1b1baa>$al(FONT)</font> <font color=#653760>-dobind</font> yes
  ::hl_tcl::hl_text <font color=#1b1baa>$tex1</font>
  ::hl_tcl::hl_init <font color=#1b1baa>$tex2</font> <font color=#653760>-dark</font> [<font color=#1b1baa>$obRun</font> csDark] <font color=#653760>-plaintext</font> 1 \
    <font color=#653760>-font</font> <font color=#1b1baa>$al(FONT)</font> <font color=#653760>-cmdpos</font> ::apave::None <font color=#653760>-dobind</font> yes
  ::hl_tcl::hl_text <font color=#1b1baa>$tex2</font>
  <b><font color=#134070>bind</font></b> <font color=#1b1baa>$tex1</font> &lt;FocusIn&gt; {<b><font color=#3a6797>set</font></b> ::alited::al(run_checkmaxcomms) 1}
  <b><font color=#134070>bind</font></b> <font color=#1b1baa>$cbx</font> &lt;FocusOut&gt; alited::run::FillTex1
  <b><font color=#134070>bind</font></b> <font color=#1b1baa>$cbx</font> &lt;&lt;ComboboxSelected&gt;&gt; alited::run::FillTex1
  ChbForced
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=run::FillTex1></a>
<b><font color=#ca14ca>proc</font></b> run::FillTex1 {args} {
  <i><font color=#4b5d50># Fills command content text.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al obRun obRun
  <b><font color=#3a6797>set</font></b> tex1 [<font color=#1b1baa>$::alited::obRun</font> Tex1]
  <b><font color=#3a6797>set</font></b> tex2 [<font color=#1b1baa>$::alited::obRun</font> Tex2]
  <b><font color=#3a6797>set</font></b> cbx [<font color=#1b1baa>$obRun</font> CbxfiL]
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$al(_startRunDialogue)</font>} {
    <b><font color=#3a6797>set</font></b> al(_startRunDialogue) no
    InitTex12 <font color=#1b1baa>$tex1</font> <font color=#1b1baa>$tex2</font> <font color=#1b1baa>$cbx</font>
  }
  <b><font color=#3a6797>if</font></b> {!<font color=#1b1baa>$al(comForceCh)</font>} {
    <font color=#1b1baa>$obRun</font> displayText <font color=#1b1baa>$tex1</font> [[<font color=#1b1baa>$::alited::obRun</font> Ent] get]
    <b><font color=#ca14ca>return</font></b>
  }
  <b><font color=#3a6797>if</font></b> {[<b><font color=#134070>focus</font></b>] eq <font color=#1b1baa>$tex1</font>} <b><font color=#ca14ca>return</font></b>
  <b><font color=#3a6797>set</font></b> com [<font color=#1b1baa>$cbx</font> get]
  <b><font color=#3a6797>set</font></b> coms {}
  <b><font color=#3a6797>set</font></b> l1 0
  <b><font color=#3a6797>foreach</font></b> c [<font color=#1b1baa>$cbx</font> cget <font color=#653760>-values</font>] {
    <b><font color=#3a6797>incr</font></b> l
    <b><font color=#3a6797>set</font></b> c [<b><font color=#3a6797>string</font></b> trim <font color=#1b1baa>$c</font>]
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$c</font> eq <font color=#1b1baa>$com</font> && !<font color=#1b1baa>$l1</font>} {<b><font color=#3a6797>set</font></b> l1 <font color=#1b1baa>$l</font>}
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$c</font> ne {}} {
      <b><font color=#3a6797>append</font></b> coms <font color=#1b1baa>$c</font>\n\n
    }
  }
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$l1</font>} {
    <b><font color=#3a6797>catch</font></b> {::tk::TextSetCursor <font color=#1b1baa>$tex1</font> <font color=#1b1baa>$l1</font>.0}
  } <b><font color=#3a6797>else</font></b> {
    <b><font color=#3a6797>set</font></b> coms <font color=#1b1baa>$com</font>\n\n<font color=#1b1baa>$coms</font>
  }
  <font color=#1b1baa>$obRun</font> displayText <font color=#1b1baa>$tex1</font> <font color=#1b1baa>$coms</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=run::FillTex2></a>
<b><font color=#ca14ca>proc</font></b> run::FillTex2 {args} {
  <i><font color=#4b5d50># Fills &quot;commands before running&quot; text.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al obRun obRun
  <b><font color=#3a6797>set</font></b> tex2 [<font color=#1b1baa>$::alited::obRun</font> Tex2]
  <font color=#1b1baa>$obRun</font> displayText <font color=#1b1baa>$tex2</font> [::alited::ProcEOL [<b><font color=#3a6797>string</font></b> trim <font color=#1b1baa>$al(prjbeforerun)</font>] in]
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=run::FillCbx></a>
<b><font color=#ca14ca>proc</font></b> run::FillCbx {args} {
  <i><font color=#4b5d50># Fill the command combobox.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al obRun obRun
  <b><font color=#3a6797>if</font></b> {!<font color=#1b1baa>$al(comForceCh)</font>} <b><font color=#ca14ca>return</font></b>
  <b><font color=#3a6797>set</font></b> tex1 [<font color=#1b1baa>$::alited::obRun</font> Tex1]
  <b><font color=#3a6797>if</font></b> {!<font color=#1b1baa>$al(comForceCh)</font> || [<b><font color=#134070>focus</font></b>] ne <font color=#1b1baa>$tex1</font>} <b><font color=#ca14ca>return</font></b>
  <b><font color=#3a6797>set</font></b> cbx [<font color=#1b1baa>$obRun</font> CbxfiL]
  <b><font color=#3a6797>set</font></b> lst [<b><font color=#3a6797>list</font></b>]
  <b><font color=#3a6797>set</font></b> curline {}
  <b><font color=#3a6797>set</font></b> l1 [<b><font color=#3a6797>expr</font></b> {int([<font color=#1b1baa>$tex1</font> index insert])}]
  <b><font color=#3a6797>foreach</font></b> line [<b><font color=#3a6797>split</font></b> [<font color=#1b1baa>$tex1</font> get 1.0 end] \n] {
    <b><font color=#3a6797>incr</font></b> l
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$l</font>==1 || [<b><font color=#3a6797>set</font></b> line [<b><font color=#3a6797>string</font></b> trim <font color=#1b1baa>$line</font>]] ne {}} {
      <b><font color=#3a6797>lappend</font></b> lst <font color=#1b1baa>$line</font>
    }
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$l</font>==<font color=#1b1baa>$l1</font>} {
      <b><font color=#3a6797>set</font></b> curline <font color=#1b1baa>$line</font>
    }
  }
  <b><font color=#3a6797>set</font></b> llen [<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$lst</font>]
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$llen</font>&lt;<font color=#1b1baa>$al(prjmaxcoms)</font>} {
    alited::Message {}
  } <b><font color=#3a6797>else</font></b> {
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>info</font></b> exists al(run_checkmaxcomms)] && <font color=#1b1baa>$al(run_checkmaxcomms)</font>} {
      <b><font color=#3a6797>set</font></b> mm 4 ;<i><font color=#4b5d50># bell + red message</font></i>
    } <b><font color=#3a6797>else</font></b> {
      <b><font color=#3a6797>set</font></b> mm 6 ;<i><font color=#4b5d50># only red message</font></i>
    }
    <b><font color=#3a6797>set</font></b> al(run_checkmaxcomms) 0
    <b><font color=#3a6797>set</font></b> msg [msgcat::mc {Maximum commands reached: %n, current: %i (see Project/Options)}]
    alited::Message [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> %i <font color=#1b1baa>$llen</font> %n <font color=#1b1baa>$al(prjmaxcoms)</font>] <font color=#1b1baa>$msg</font>] <font color=#1b1baa>$mm</font>
  }
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$lst</font> 0] ne {}} {<b><font color=#3a6797>set</font></b> lst [<b><font color=#3a6797>linsert</font></b> <font color=#1b1baa>$lst</font> 0 {}]}
  <font color=#1b1baa>$cbx</font> configure <font color=#653760>-values</font> <font color=#1b1baa>$lst</font>
  <b><font color=#3a6797>set</font></b> curline [<b><font color=#3a6797>string</font></b> trim <font color=#1b1baa>$curline</font>]
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$curline</font> ne {}} {
    <font color=#1b1baa>$cbx</font> set <font color=#1b1baa>$curline</font>
    <b><font color=#134070>selection</font></b> clear <font color=#653760>-displayof</font> <font color=#1b1baa>$cbx</font>
    <font color=#1b1baa>$cbx</font> selection range 0 end
  }
  RunOptions
  ValidatePath
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=run::DeleteForcedRun></a>
<b><font color=#ca14ca>proc</font></b> run::DeleteForcedRun {} {
  <i><font color=#4b5d50># Clears current combobox' value.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al obRun obRun
  <b><font color=#3a6797>set</font></b> cbx [<font color=#1b1baa>$obRun</font> CbxfiL]
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>set</font></b> val [<b><font color=#3a6797>string</font></b> trim [<font color=#1b1baa>$cbx</font> get]]] eq {}} <b><font color=#ca14ca>return</font></b>
  <b><font color=#3a6797>set</font></b> values [<font color=#1b1baa>$cbx</font> cget <font color=#653760>-values</font>]
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>set</font></b> i [<b><font color=#3a6797>lsearch</font></b> <font color=#653760>-exact</font> <font color=#1b1baa>$values</font> <font color=#1b1baa>$val</font>]]&gt;-1} {
    <b><font color=#3a6797>set</font></b> al(comForceLs) [<b><font color=#3a6797>lreplace</font></b> <font color=#1b1baa>$values</font> <font color=#1b1baa>$i</font> <font color=#1b1baa>$i</font>]
    <font color=#1b1baa>$cbx</font> configure <font color=#653760>-values</font> <font color=#1b1baa>$al(comForceLs)</font>
  }
  <font color=#1b1baa>$cbx</font> set {}
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=run::ValidatePath></a>
<b><font color=#ca14ca>proc</font></b> run::ValidatePath {} {
  <i><font color=#4b5d50># Validates a path chosen from the file picker.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al obRun obRun
  <b><font color=#3a6797>set</font></b> cbx [<font color=#1b1baa>$obRun</font> CbxfiL]
  <b><font color=#3a6797>set</font></b> com [<b><font color=#3a6797>string</font></b> trim [<font color=#1b1baa>$cbx</font> get]]
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>file</font></b> exists <font color=#1b1baa>$com</font>]} {
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>llength</font></b> [<b><font color=#3a6797>split</font></b> <font color=#1b1baa>$com</font>]]&gt;1} {
      <b><font color=#3a6797>set</font></b> com <font color=#8b2a0e>&quot;\&quot;<font color=#1b1baa>$</font>com\&quot;&quot;</font>
    }
    <font color=#1b1baa>$cbx</font> set [<b><font color=#3a6797>file</font></b> nativename <font color=#1b1baa>$com</font>]
  }
  <b><font color=#ca14ca>return</font></b> 1
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=run::ChbForced></a>
<b><font color=#ca14ca>proc</font></b> run::ChbForced {} {
  <i><font color=#4b5d50># Checks states & values of widgets.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al obRun obRun
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$al(comForceCh)</font>} {<b><font color=#3a6797>set</font></b> state normal} {<b><font color=#3a6797>set</font></b> state disabled}
  <b><font color=#3a6797>set</font></b> cbx [<font color=#1b1baa>$obRun</font> CbxfiL]
  <b><font color=#3a6797>set</font></b> but [<b><font color=#3a6797>string</font></b> map {.cbx .btT} <font color=#1b1baa>$cbx</font>] ;<i><font color=#4b5d50># path to combobox' button</font></i>
  <font color=#1b1baa>$cbx</font> configure <font color=#653760>-state</font> <font color=#1b1baa>$state</font>
  <font color=#1b1baa>$but</font> configure <font color=#653760>-state</font> <font color=#1b1baa>$state</font>
  [<font color=#1b1baa>$obRun</font> Tex1] configure <font color=#653760>-state</font> <font color=#1b1baa>$state</font>
  FillTex1
  ValidatePath
}<a id=Main></a>
<i><font color=#4b5d50># ________________________ Main _________________________ #</font></i>
<a id=run::_create></a>
<b><font color=#ca14ca>proc</font></b> run::_create {} {
  <i><font color=#4b5d50># Dialogue to define a command for &quot;Tools/Run&quot;.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al obRun obRun
  <b><font color=#3a6797>variable</font></b> win
  <b><font color=#3a6797>variable</font></b> vent
  alited::SaveRunOptions
  <b><font color=#3a6797>set</font></b> al(_startRunDialogue) yes
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>catch</font></b> {
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$al(comForceLs)</font> 0] eq {-}} {
      <b><font color=#3a6797>set</font></b> al(comForceLs) [<b><font color=#3a6797>lreplace</font></b> <font color=#1b1baa>$al(comForceLs)</font> 0 0]  ;<i><font color=#4b5d50># legacy</font></i>
    }
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$al(comForceLs)</font> 0] ne {}} {
      <b><font color=#3a6797>set</font></b> i [<b><font color=#3a6797>lsearch</font></b> <font color=#1b1baa>$al(comForceLs)</font> {}]
      <b><font color=#3a6797>set</font></b> al(comForceLs) [<b><font color=#3a6797>lreplace</font></b> <font color=#1b1baa>$al(comForceLs)</font> <font color=#1b1baa>$i</font> <font color=#1b1baa>$i</font>]
      <b><font color=#3a6797>set</font></b> al(comForceLs) [<b><font color=#3a6797>linsert</font></b> <font color=#1b1baa>$al(comForceLs)</font> 0 {}]  ;<i><font color=#4b5d50># to allow blank value</font></i>
    }
  }]} {
    <b><font color=#3a6797>set</font></b> al(comForceLs) [<b><font color=#3a6797>list</font></b>]
  }
  <b><font color=#3a6797>set</font></b> fname [alited::bar::FileName]
  <b><font color=#3a6797>if</font></b> {![<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$al(comForceLs)</font>] && <font color=#1b1baa>$fname</font> ne <font color=#1b1baa>$al(MC,nofile)</font>} {
    <b><font color=#3a6797>set</font></b> al(comForceLs) [<b><font color=#3a6797>list</font></b> {} <font color=#1b1baa>$fname</font>]
  }
  <b><font color=#3a6797>lassign</font></b> [alited::tool::RunArgs] ar rf ex
  <b><font color=#3a6797>set</font></b> vent <font color=#8b2a0e>&quot;<font color=#1b1baa>$</font>ar<font color=#1b1baa>$</font>rf<font color=#1b1baa>$</font>ex&quot;</font>
  <b><font color=#3a6797>set</font></b> run [::alited::ProcEOL <font color=#1b1baa>$al(prjbeforerun)</font> in]
  <font color=#1b1baa>$obRun</font> makeWindow <font color=#1b1baa>$win</font>.fra <font color=#1b1baa>$al(MC,run)</font>
  <font color=#1b1baa>$obRun</font> paveWindow <font color=#1b1baa>$win</font>.fra {
    {h_ - - 1 5} \
    {lab T + 1 1 {<font color=#653760>-st</font> e <font color=#653760>-pady</font> 5 <font color=#653760>-padx</font> 8} {<font color=#653760>-t</font> Run:}} \
    {fraIn + L 1 4 {<font color=#653760>-st</font> ew}} \
    {.Rad1 - - 1 1 {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> left} {<font color=#653760>-tvar</font> ::alited::al(MC,inconsole) <font color=#653760>-value</font> 1 <font color=#653760>-var</font> ::alited::al(prjincons)}} \
    {.rad0 + L 1 1 {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> left <font color=#653760>-expand</font> 1} {<font color=#653760>-tvar</font> ::alited::al(MC,intkcon) <font color=#653760>-value</font> 0 <font color=#653760>-var</font> ::alited::al(prjincons)}} \
    {.Rad2 + L 1 1 {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> left} {<font color=#653760>-tvar</font> ::alited::al(MC,asis) <font color=#653760>-value</font> 2 <font color=#653760>-var</font> ::alited::al(prjincons)}} \
    {.h_ - - 1 1 {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> left <font color=#653760>-expand</font> 1}} \
    {seh1 lab T 1 5 {<font color=#653760>-pady</font> 5}} \
    {rad3 + T 1 1 {<font color=#653760>-st</font> w <font color=#653760>-padx</font> 8} {<font color=#653760>-t</font> {By #RUNF: / #EXEC:} <font color=#653760>-value</font> 0 <font color=#653760>-var</font> ::alited::al(comForceCh) <font color=#653760>-com</font> alited::run::ChbForced}} \
    {Ent + L 1 4 {<font color=#653760>-st</font> ew <font color=#653760>-pady</font> 5} {<font color=#653760>-state</font> disabled <font color=#653760>-tip</font> {<font color=#653760>-BALTIP</font> ! <font color=#653760>-COMMAND</font> {[<font color=#1b1baa>$::alited::obRun</font> Ent] get} <font color=#653760>-UNDER</font> 2 <font color=#653760>-PER10</font> 0} <font color=#653760>-tvar</font> ::alited::run::vent}} \
    {rad4 rad3 T 1 1 {<font color=#653760>-st</font> w <font color=#653760>-padx</font> 8} {<font color=#653760>-t</font> {By command:} <font color=#653760>-value</font> 1 <font color=#653760>-var</font> ::alited::al(comForceCh) <font color=#653760>-com</font> alited::run::ChbForced}} \
    {fiL + L 1 4 {<font color=#653760>-st</font> ew} {<font color=#653760>-h</font> 12 <font color=#653760>-cbxsel</font> <font color=#8b2a0e>&quot;<font color=#1b1baa>$</font>al(comForce)&quot;</font> <font color=#653760>-clearcom</font> alited::run::DeleteForcedRun <font color=#653760>-values</font> <font color=#8b2a0e>&quot;<font color=#1b1baa>$</font>al(comForceLs)&quot;</font> <font color=#653760>-validate</font> focus <font color=#653760>-validatecommand</font> alited::run::ValidatePath}} \
    {fra1 rad4 T 1 5 {<font color=#653760>-st</font> nsew <font color=#653760>-cw</font> 1 <font color=#653760>-rw</font> 1}} \
    {.Tex1 - - - - {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> left <font color=#653760>-fill</font> both <font color=#653760>-expand</font> 1} {<font color=#653760>-w</font> 50 <font color=#653760>-h</font> 9 <font color=#653760>-afteridle</font> alited::run::FillTex1 <font color=#653760>-tabnext</font> *tex2}} \
    {.sbv + L - - {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> left}} \
    {seh3 fra1 T 1 5 {<font color=#653760>-pady</font> 5}} \
    {lab2 + T 1 5 {} {<font color=#653760>-t</font> { OS or Tcl commands to be run before running a current file:}}} \
    {fra2 + T 1 5 {<font color=#653760>-st</font> nsew}} \
    {.Tex2 - - - - {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> left <font color=#653760>-fill</font> both <font color=#653760>-expand</font> 1} {<font color=#653760>-w</font> 50 <font color=#653760>-h</font> 4 <font color=#653760>-afteridle</font> alited::run::FillTex2 <font color=#653760>-tabnext</font> *butRun}} \
    {.sbv + L - - {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> left}} \
    {seh2 fra2 T 1 5 {<font color=#653760>-pady</font> 5}} \
    {butHelp + T 1 1 {<font color=#653760>-st</font> w <font color=#653760>-padx</font> 2} {<font color=#653760>-t</font> Help <font color=#653760>-com</font> alited::run::Help}} \
    {h_2 + L 1 2 {<font color=#653760>-st</font> ew}} \
    {fra3 + L 1 2 {<font color=#653760>-st</font> e}} \
    {.butRun - - 1 1 {<font color=#653760>-padx</font> 2} {<font color=#653760>-t</font> Run <font color=#653760>-com</font> alited::run::Run}} \
    {.butSave + L 1 1 {} {<font color=#653760>-t</font> Save <font color=#653760>-com</font> alited::run::Save}} \
    {.butCancel + L 1 1 {<font color=#653760>-padx</font> 2} {<font color=#653760>-t</font> Cancel <font color=#653760>-com</font> alited::run::Cancel}} \
  }
  ValidatePath
  <b><font color=#134070>bind</font></b> <font color=#1b1baa>$win</font> &lt;F1&gt; alited::run::Help
  <b><font color=#134070>bind</font></b> <font color=#1b1baa>$win</font> &lt;F5&gt; alited::run::Run
  <b><font color=#3a6797>set</font></b> geo <font color=#1b1baa>$al(runGeometry)</font>
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$geo</font> ne {}} {<b><font color=#3a6797>set</font></b> geo <font color=#8b2a0e>&quot;-geometry <font color=#1b1baa>$</font>geo&quot;</font>}
  <font color=#1b1baa>$obRun</font> showModal <font color=#1b1baa>$win</font> <font color=#653760>-modal</font> no <font color=#653760>-waitvar</font> yes <font color=#653760>-onclose</font> alited::run::Cancel <font color=#653760>-resizable</font> 1 <font color=#653760>-focus</font> [<font color=#1b1baa>$obRun</font> Rad1] <font color=#653760>-decor</font> 1 <font color=#653760>-minsize</font> {400 300} {<b><font color=#3a6797>*</font></b>}<font color=#1b1baa>$geo</font> <font color=#653760>-ontop</font> 0
  <b><font color=#3a6797>catch</font></b> {<b><font color=#134070>destroy</font></b> <font color=#1b1baa>$win</font>}
  ::apave::deiconify <font color=#1b1baa>$al(WIN)</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=run::_run></a>
<b><font color=#ca14ca>proc</font></b> run::_run {} {

  <b><font color=#3a6797>variable</font></b> win
  <b><font color=#3a6797>if</font></b> {[<b><font color=#134070>winfo</font></b> exists <font color=#1b1baa>$win</font>]} {
    ::apave::withdraw <font color=#1b1baa>$win</font>
    ::apave::deiconify <font color=#1b1baa>$win</font>
  } <b><font color=#3a6797>else</font></b> {
    _create
  }
}
<a id=EOF></a>
<i><font color=#4b5d50># ________________________ EOF _________________________ #</font></i>

</pre>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>run.tcl</b></font></div></td></table>

<!-- Made by alited (END) -->