<!-- Made by alited -->
<link rel="stylesheet" href="../../css/style.css">

<title>unit_tpl.tcl</title>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>README.md</b></font></div></td></table>


<div id="bodyContent" class="dokuwiki">
<div id="dw__toc" class="dw__toc">
<h3 class="toggle open" style="cursor: pointer;">unit_tpl.tcl</h3>
<div aria-expanded="true" style="">

<ul class="toc">
<li><b><a href="#unit_tpl.tcl">unit_tpl.tcl</a></b></li>
<li><b><a href="#Variables">Variables</a></b></li>
<li><b><a href="#Ini">Ini</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#unit_tpl::ReadIni">ReadIni</a><span class=tooltiptext> unit_tpl::ReadIni : Gets templates' data from al(TPL,list) saved in alited.ini.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit_tpl::SaveIni">SaveIni</a><span class=tooltiptext> unit_tpl::SaveIni : Puts templates' data to al(TPL,list) to save in alited.ini.</span></div></li></ul>
<li><b><a href="#Keys">Keys</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#unit_tpl::RegisterKeys">RegisterKeys</a><span class=tooltiptext> unit_tpl::RegisterKeys : Registers key bindings of templates, to save them to alited.ini afterwards.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit_tpl::GetKeyList">GetKeyList</a><span class=tooltiptext> unit_tpl::GetKeyList : Creates a key list for "Keys" combobox.</span></div></li></ul>
<li><b><a href="#List">List</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#unit_tpl::Focus">Focus</a><span class=tooltiptext> unit_tpl::Focus : Sets the focus on the template list's item.
isel - index of item</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit_tpl::UpdateTree">UpdateTree</a><span class=tooltiptext> unit_tpl::UpdateTree : Updates the template list.
saveini - save templates in ini-file</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit_tpl::Select">Select</a><span class=tooltiptext> unit_tpl::Select : Selects an item of the template list.
item - index (ID) of template list</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit_tpl::Selected">Selected</a><span class=tooltiptext> unit_tpl::Selected : Gets ID or index of currently selected item of the template list.
what - if "index", gets a current item's index
domsg - if yes, shows a message about the selection</span></div></li></ul>
<li><b><a href="#Text_of_template">Text of template</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#unit_tpl::Pos">Pos</a><span class=tooltiptext> unit_tpl::Pos : Returns a cursor position in the template's text.
pos - if not "", it's a position to be returned by default</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit_tpl::Text">Text</a><span class=tooltiptext> unit_tpl::Text : Returns the contents of the template's text.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit_tpl::InText">InText</a><span class=tooltiptext> unit_tpl::InText : Goes into the template's text and sets the cursor on it.
wtxt - text's path</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit_tpl::SyntaxText">SyntaxText</a><span class=tooltiptext> unit_tpl::SyntaxText : Prepares syntax highlighting of template's text
wtxt - the text's path</span></div></li></ul>
<li><b><a href="#GUI_Handlers">GUI Handlers</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#unit_tpl::Ok">Ok</a><span class=tooltiptext> unit_tpl::Ok : Handles "OK" button.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit_tpl::Cancel">Cancel</a><span class=tooltiptext> unit_tpl::Cancel : Handles "Cancel" button.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit_tpl::Help">Help</a><span class=tooltiptext> unit_tpl::Help : Handles "Help" button.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit_tpl::HelpMe">HelpMe</a><span class=tooltiptext> unit_tpl::HelpMe : 'Help' for start.</span></div></li></ul>
<li><b><a href="#GUI_cont.">&nbsp;&nbsp;GUI cont.</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#unit_tpl::ClearCbx">ClearCbx</a><span class=tooltiptext> unit_tpl::ClearCbx : Helper to clear the combobox's selection.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit_tpl::Add">Add</a><span class=tooltiptext> unit_tpl::Add : Handles "Add template" button.
inpos - cursor position in template text
Returns 1, if the template was added, else returns 0.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit_tpl::Change">Change</a><span class=tooltiptext> unit_tpl::Change : Handles "Change template" button.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit_tpl::Delete">Delete</a><span class=tooltiptext> unit_tpl::Delete : Handles "Delete template" button.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit_tpl::Import">Import</a><span class=tooltiptext> unit_tpl::Import : Handles "Import templates" button.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit_tpl::Message">Message</a><span class=tooltiptext> unit_tpl::Message : Displays a message in statusbar of templates dialogue.
msg - message
mode - mode of Message</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit_tpl::ProcMessage">ProcMessage</a><span class=tooltiptext> unit_tpl::ProcMessage : Handles clicking on message label.</span></div></li></ul>
<li><b><a href="#Main">Main</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#unit_tpl::_create">_create</a><span class=tooltiptext> unit_tpl::_create : Creates "Templates" dialogue.
geom - "-geometry" option for showModal</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit_tpl::_run">_run</a><span class=tooltiptext> unit_tpl::_run : Runs "Templates" dialogue.
doselect - if yes, enables "Select" action
geom - "-geometry" option for showModal</span></div></li></ul>
<li><b><a href="#EOF">EOF</a></b></li>

</ul>

</div>
</div>
</div>
<!-- TOC END -->

<h1><font color=#ca14ca> alited's source</font></h1>
</p><p>
The <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/about.html">alited/src</a> directory contains alited's own source files.
</p><p>
Some additional alited's files are also contained in <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_alm.html">alited/lib/addon</a> directory (<i><font color=#1b1baa>alited/lib</font></i> directory contains all library files).
</p><p>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/about.html">about.tcl</a> - "About alited" dialogue.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/alited.html">alited.tcl</a> - The alited's main script to start.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/bar.html">bar.tcl</a> - Handles the bar of tabs.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/check.html">check.tcl</a> - "Check Tcl" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/complete.html">complete.tcl</a> - Handles auto-completion.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/edit.html">edit.tcl</a> - "Edit" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/favor.html">favor.tcl</a> - Handles the favorite and last visited units.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/favor_ls.html">favor_ls.tcl</a> - "Saved lists of favorites" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/file.html">file.tcl</a> - "File" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/find.html">find.tcl</a> - "Find / Replace" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/format.html">format.tcl</a> - "Edit / Formats" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/img.html">img.tcl</a> - List of images used by alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/indent.html">indent.tcl</a> - Handles text indentation.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/info.html">info.tcl</a> - Handles the info bar.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/ini.html">ini.tcl</a> - Handles initializing alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/keys.html">keys.tcl</a> - Handles keyboard (mapping etc.).</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/main.html">main.tcl</a> - Handles the main form of alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/menu.html">menu.tcl</a> - Handles alited's menus.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/msgs.html">msgs.tcl</a> - Localized messages used in several places.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/paver.html">paver.tcl</a> - "Tools / Paver" tool.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/pkgIndex.html">pkgIndex.tcl</a> - Includes README.md text (for Ruff doc generator).</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/pref.html">pref.tcl</a> - "Preferences" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/preview.html">preview.tcl</a> - "Preview (theme, CS)" dialogue called by "Preferences".</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/printer.html">printer.tcl</a> - "Tools / Project Printer" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/project.html">project.tcl</a> - "Projects" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/run.html">run.tcl</a> - "Tools / Run..." dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/tool.html">tool.tcl</a> - "Tools" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/tree.html">tree.tcl</a> - Handles the tree of units and files.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/unit.html">unit.tcl</a> - Handles the unit tree.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/unit_tpl.html">unit_tpl.tcl</a> - "Templates" dialogue and procedures.</li>
</p><p>

</p>


<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>unit_tpl.tcl</b></font></div></td></table>

<pre class="code"><i><font color=#4b5d50>###########################################################<a id=unit_tpl.tcl></a></font></i>
<i><font color=#4b5d50># Name:    unit_tpl.tcl</font></i>
<i><font color=#4b5d50># Author:  Alex Plotnikov  (aplsimple@gmail.com)</font></i>
<i><font color=#4b5d50># Date:    07/01/2021</font></i>
<i><font color=#4b5d50># Brief:   Handles templates of code.</font></i>
<i><font color=#4b5d50># License: MIT.</font></i>
<i><font color=#4b5d50>###########################################################</font></i>
<a id=Variables></a>
<i><font color=#4b5d50># _________________________ Variables ________________________ #</font></i>

<b><font color=#ca14ca>namespace</font></b> eval ::alited::unit_tpl {

  <i><font color=#4b5d50># apave object of Templates</font></i>
  <b><font color=#3a6797>variable</font></b> obTpl pavedTemplates

  <i><font color=#4b5d50># &quot;Templates&quot; dialogue's path</font></i>
  <b><font color=#3a6797>variable</font></b> win <font color=#1b1baa>$::alited::al(WIN)</font>.fraTpl

  <b><font color=#3a6797>variable</font></b> tpllist [<b><font color=#3a6797>list</font></b>]  ;<i><font color=#4b5d50># list of templates' names</font></i>
  <b><font color=#3a6797>variable</font></b> tplcont [<b><font color=#3a6797>list</font></b>]  ;<i><font color=#4b5d50># list of content of templates</font></i>
  <b><font color=#3a6797>variable</font></b> tplpos  [<b><font color=#3a6797>list</font></b>]  ;<i><font color=#4b5d50># list of position of cursor for templates</font></i>
  <b><font color=#3a6797>variable</font></b> tplpla  [<b><font color=#3a6797>list</font></b>]  ;<i><font color=#4b5d50># list of &quot;where to place&quot; of templates</font></i>
  <b><font color=#3a6797>variable</font></b> tplid   [<b><font color=#3a6797>list</font></b>]  ;<i><font color=#4b5d50># list of IDs of templates (in treeview)</font></i>
  <b><font color=#3a6797>variable</font></b> tplkeys [<b><font color=#3a6797>list</font></b>]  ;<i><font color=#4b5d50># list of keys of templates</font></i>
  <b><font color=#3a6797>variable</font></b> tplkey {}       ;<i><font color=#4b5d50># current template's keys</font></i>
  <b><font color=#3a6797>variable</font></b> tpl {}          ;<i><font color=#4b5d50># current template's name</font></i>
  <b><font color=#3a6797>variable</font></b> place 1         ;<i><font color=#4b5d50># current template's &quot;where to place&quot;</font></i>
  <b><font color=#3a6797>variable</font></b> dosel yes       ;<i><font color=#4b5d50># if yes, enables &quot;Select&quot; action</font></i>
}
<a id=Ini></a>
<i><font color=#4b5d50># ________________________ Ini _________________________ #</font></i>
<a id=unit_tpl::ReadIni></a>
<b><font color=#ca14ca>proc</font></b> unit_tpl::ReadIni {} {
  <i><font color=#4b5d50># Gets templates' data from al(TPL,list) saved in alited.ini.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <b><font color=#3a6797>foreach</font></b> tv {tpllist tplcont tplkeys tplpos tplpla} {
    <b><font color=#3a6797>variable</font></b> <font color=#1b1baa>$tv</font>
    <b><font color=#3a6797>set</font></b> <font color=#1b1baa>$tv</font> [<b><font color=#3a6797>list</font></b>]
  }
  <b><font color=#3a6797>foreach</font></b> lst <font color=#1b1baa>$al(TPL,list)</font> {
    <b><font color=#3a6797>if</font></b> {![<b><font color=#3a6797>catch</font></b> {<b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$lst</font> tpl key cont pos pla}]} {
      <b><font color=#3a6797>set</font></b> cont [::alited::ProcEOL <font color=#1b1baa>$cont</font> in]
      <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$tpl</font> ne {} && <font color=#1b1baa>$cont</font> ne {} && <font color=#1b1baa>$pos</font> ne {}} {
        <b><font color=#3a6797>if</font></b> {![<b><font color=#3a6797>string</font></b> is double <font color=#653760>-strict</font> <font color=#1b1baa>$pos</font>]} {<b><font color=#3a6797>set</font></b> pos 1.0}
        <b><font color=#3a6797>lappend</font></b> tpllist <font color=#1b1baa>$tpl</font>
        <b><font color=#3a6797>lappend</font></b> tplcont <font color=#1b1baa>$cont</font>
        <b><font color=#3a6797>lappend</font></b> tplkeys <font color=#1b1baa>$key</font>
        <b><font color=#3a6797>lappend</font></b> tplpos <font color=#1b1baa>$pos</font>
        <b><font color=#3a6797>lappend</font></b> tplpla <font color=#1b1baa>$pla</font>
      }
    }
  }
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit_tpl::SaveIni></a>
<b><font color=#ca14ca>proc</font></b> unit_tpl::SaveIni {} {
  <i><font color=#4b5d50># Puts templates' data to al(TPL,list) to save in alited.ini.</font></i>

  <b><font color=#3a6797>set</font></b> ::alited::unit::ilast [Selected index no]
  RegisterKeys
  alited::ini::SaveIni
}
<a id=Keys></a>
<i><font color=#4b5d50># ________________________ Keys _________________________ #</font></i>
<a id=unit_tpl::RegisterKeys></a>
<b><font color=#ca14ca>proc</font></b> unit_tpl::RegisterKeys {} {
  <i><font color=#4b5d50># Registers key bindings of templates, to save them to alited.ini afterwards.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <b><font color=#3a6797>variable</font></b> tpllist
  <b><font color=#3a6797>variable</font></b> tplcont
  <b><font color=#3a6797>variable</font></b> tplkeys
  <b><font color=#3a6797>variable</font></b> tplpos
  <b><font color=#3a6797>variable</font></b> tplpla
  alited::keys::Delete template
  <b><font color=#3a6797>set</font></b> al(TPL,list) [<b><font color=#3a6797>list</font></b>]
  <b><font color=#3a6797>foreach</font></b> tpl <font color=#1b1baa>$tpllist</font> key <font color=#1b1baa>$tplkeys</font> cont <font color=#1b1baa>$tplcont</font> pos <font color=#1b1baa>$tplpos</font> pla <font color=#1b1baa>$tplpla</font> {
    <b><font color=#3a6797>set</font></b> cont [::alited::ProcEOL <font color=#1b1baa>$cont</font> out]
    <b><font color=#3a6797>lappend</font></b> al(TPL,list) [<b><font color=#3a6797>list</font></b> <font color=#1b1baa>$tpl</font> <font color=#1b1baa>$key</font> <font color=#1b1baa>$cont</font> <font color=#1b1baa>$pos</font> <font color=#1b1baa>$pla</font>]
    alited::keys::Add template <font color=#1b1baa>$tpl</font> <font color=#1b1baa>$key</font> [<b><font color=#3a6797>list</font></b> <font color=#1b1baa>$cont</font> <font color=#1b1baa>$pos</font> <font color=#1b1baa>$pla</font>]
  }
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit_tpl::GetKeyList></a>
<b><font color=#ca14ca>proc</font></b> unit_tpl::GetKeyList {} {
  <i><font color=#4b5d50># Creates a key list for &quot;Keys&quot; combobox.</font></i>

  <b><font color=#3a6797>variable</font></b> obTpl
  RegisterKeys
  <b><font color=#3a6797>set</font></b> keys [<b><font color=#3a6797>linsert</font></b> [alited::keys::VacantList] 0 <font color=#8b2a0e>&quot;&quot;</font>]
  [<font color=#1b1baa>$obTpl</font> CbxKey] configure <font color=#653760>-values</font> <font color=#1b1baa>$keys</font>
}
<a id=List></a>
<i><font color=#4b5d50># ________________________ List _________________________ #</font></i>
<a id=unit_tpl::Focus></a>
<b><font color=#ca14ca>proc</font></b> unit_tpl::Focus {isel} {
  <i><font color=#4b5d50># Sets the focus on the template list's item.</font></i>
  <i><font color=#4b5d50>#   isel - index of item</font></i>

  <b><font color=#3a6797>variable</font></b> obTpl
  <b><font color=#3a6797>set</font></b> tree [<font color=#1b1baa>$obTpl</font> TreeTpl]
  <font color=#1b1baa>$tree</font> selection set <font color=#1b1baa>$isel</font>
  <font color=#1b1baa>$tree</font> see <font color=#1b1baa>$isel</font>
  <font color=#1b1baa>$tree</font> focus <font color=#1b1baa>$isel</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit_tpl::UpdateTree></a>
<b><font color=#ca14ca>proc</font></b> unit_tpl::UpdateTree {{saveini yes}} {
  <i><font color=#4b5d50># Updates the template list.</font></i>
  <i><font color=#4b5d50>#   saveini - save templates in ini-file</font></i>

  <b><font color=#3a6797>variable</font></b> obTpl
  <b><font color=#3a6797>variable</font></b> tpllist
  <b><font color=#3a6797>variable</font></b> tplkeys
  <b><font color=#3a6797>variable</font></b> tplid
  <b><font color=#3a6797>set</font></b> tree [<font color=#1b1baa>$obTpl</font> TreeTpl]
  <font color=#1b1baa>$tree</font> delete [<font color=#1b1baa>$tree</font> children {}]
  <b><font color=#3a6797>set</font></b> tplid [<b><font color=#3a6797>list</font></b>]
  <b><font color=#3a6797>set</font></b> item0 {}
  <b><font color=#3a6797>foreach</font></b> tpl <font color=#1b1baa>$tpllist</font> tplkey <font color=#1b1baa>$tplkeys</font> {
    <b><font color=#3a6797>set</font></b> item [<font color=#1b1baa>$tree</font> insert {} end <font color=#653760>-values</font> [<b><font color=#3a6797>list</font></b> <font color=#1b1baa>$tpl</font> <font color=#1b1baa>$tplkey</font>]]
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$item0</font> eq {}} {<b><font color=#3a6797>set</font></b> item0 <font color=#1b1baa>$item</font>}
    <b><font color=#3a6797>lappend</font></b> tplid <font color=#1b1baa>$item</font>
  }
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$item0</font> ne {} && <font color=#1b1baa>$::alited::unit::ilast</font>&lt;0} {Focus <font color=#1b1baa>$item0</font>}
  ClearCbx
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$saveini</font>} SaveIni
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit_tpl::Select></a>
<b><font color=#ca14ca>proc</font></b> unit_tpl::Select {{item <font color=#8b2a0e>&quot;&quot;</font>}} {
  <i><font color=#4b5d50># Selects an item of the template list.</font></i>
  <i><font color=#4b5d50>#   item - index (ID) of template list</font></i>

  <b><font color=#3a6797>variable</font></b> obTpl
  <b><font color=#3a6797>variable</font></b> tpllist
  <b><font color=#3a6797>variable</font></b> tplkey
  <b><font color=#3a6797>variable</font></b> tplkeys
  <b><font color=#3a6797>variable</font></b> tplcont
  <b><font color=#3a6797>variable</font></b> tplid
  <b><font color=#3a6797>variable</font></b> tplpla
  <b><font color=#3a6797>variable</font></b> tpl
  <b><font color=#3a6797>variable</font></b> place
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$item</font> eq {}} {<b><font color=#3a6797>set</font></b> item [Selected item no]}
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$item</font> ne {}} {
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>string</font></b> is digit <font color=#1b1baa>$item</font>]} {  ;<i><font color=#4b5d50># the item is an index</font></i>
      <b><font color=#3a6797>set</font></b> item [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$tplid</font> <font color=#1b1baa>$item</font>]
    }
    <b><font color=#3a6797>catch</font></b> {
      <b><font color=#3a6797>set</font></b> tree [<font color=#1b1baa>$obTpl</font> TreeTpl]
      <b><font color=#3a6797>set</font></b> isel [<font color=#1b1baa>$tree</font> index <font color=#1b1baa>$item</font>]
      <b><font color=#3a6797>set</font></b> tpl [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$tpllist</font> <font color=#1b1baa>$isel</font>]
      <b><font color=#3a6797>set</font></b> tplkey [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$tplkeys</font> <font color=#1b1baa>$isel</font>]
      <b><font color=#3a6797>set</font></b> place [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$tplpla</font> <font color=#1b1baa>$isel</font>]
      <b><font color=#3a6797>set</font></b> cont [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$tplcont</font> <font color=#1b1baa>$isel</font>]
      <b><font color=#3a6797>set</font></b> wtxt [<font color=#1b1baa>$obTpl</font> TexTpl]
      ::hl_tcl::iscurline <font color=#1b1baa>$wtxt</font> no
      <font color=#1b1baa>$wtxt</font> delete 1.0 end
      <font color=#1b1baa>$wtxt</font> insert end <font color=#1b1baa>$cont</font>
      InText <font color=#1b1baa>$wtxt</font>
      <b><font color=#3a6797>if</font></b> {[<font color=#1b1baa>$tree</font> selection] ne <font color=#1b1baa>$item</font>} {
        <font color=#1b1baa>$tree</font> selection set <font color=#1b1baa>$item</font>
      }
      <b><font color=#134070>focus</font></b> <font color=#1b1baa>$tree</font>
      <font color=#1b1baa>$tree</font> see <font color=#1b1baa>$item</font>
      <font color=#1b1baa>$tree</font> focus <font color=#1b1baa>$item</font>
    }
  }
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit_tpl::Selected></a>
<b><font color=#ca14ca>proc</font></b> unit_tpl::Selected {what {domsg yes}} {
  <i><font color=#4b5d50># Gets ID or index of currently selected item of the template list.</font></i>
  <i><font color=#4b5d50>#   what - if &quot;index&quot;, gets a current item's index</font></i>
  <i><font color=#4b5d50>#   domsg - if yes, shows a message about the selection</font></i>

  <b><font color=#3a6797>variable</font></b> obTpl
  <b><font color=#3a6797>variable</font></b> tpllist
  <b><font color=#3a6797>set</font></b> tree [<font color=#1b1baa>$obTpl</font> TreeTpl]
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>set</font></b> isel [<font color=#1b1baa>$tree</font> selection]] eq {} && [<b><font color=#3a6797>set</font></b> isel [<font color=#1b1baa>$tree</font> focus]] eq {} && <font color=#1b1baa>$domsg</font>} {
    Message <font color=#1b1baa>$::alited::al(MC,tplsel)</font> 4
  }
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$isel</font> ne {} && <font color=#1b1baa>$what</font> eq {index}} {
    <b><font color=#3a6797>set</font></b> isel [<font color=#1b1baa>$tree</font> index <font color=#1b1baa>$isel</font>]
  }
  <b><font color=#ca14ca>return</font></b> <font color=#1b1baa>$isel</font>
}
<a id=Text_of_template></a>
<i><font color=#4b5d50># ________________________ Text of template _________________________ #</font></i>
<a id=unit_tpl::Pos></a>
<b><font color=#ca14ca>proc</font></b> unit_tpl::Pos {{pos <font color=#8b2a0e>&quot;&quot;</font>}} {
  <i><font color=#4b5d50># Returns a cursor position in the template's text.</font></i>
  <i><font color=#4b5d50>#   pos - if not &quot;&quot;, it's a position to be returned by default</font></i>

  <b><font color=#3a6797>variable</font></b> obTpl
  <b><font color=#3a6797>set</font></b> wtxt [<font color=#1b1baa>$obTpl</font> TexTpl]
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$wtxt</font> eq [<b><font color=#134070>focus</font></b>] || <font color=#1b1baa>$pos</font> eq {}} {
    <b><font color=#ca14ca>return</font></b> [<font color=#1b1baa>$wtxt</font> index insert]
  }
  <b><font color=#ca14ca>return</font></b> <font color=#1b1baa>$pos</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit_tpl::Text></a>
<b><font color=#ca14ca>proc</font></b> unit_tpl::Text {} {
  <i><font color=#4b5d50># Returns the contents of the template's text.</font></i>

  <b><font color=#3a6797>variable</font></b> obTpl
  <b><font color=#ca14ca>return</font></b> [[<font color=#1b1baa>$obTpl</font> TexTpl] get 1.0 {end -1 char}]
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit_tpl::InText></a>
<b><font color=#ca14ca>proc</font></b> unit_tpl::InText {wtxt} {
  <i><font color=#4b5d50># Goes into the template's text and sets the cursor on it.</font></i>
  <i><font color=#4b5d50>#   wtxt - text's path</font></i>

  <b><font color=#3a6797>variable</font></b> tplpos
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>set</font></b> isel [Selected index no]] ne {}} {
    <b><font color=#3a6797>set</font></b> pos [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$tplpos</font> <font color=#1b1baa>$isel</font>]
    <b><font color=#3a6797>after</font></b> idle <font color=#8b2a0e>&quot; \</font>
<font color=#8b2a0e>      ::hl_tcl::iscurline <font color=#1b1baa>$</font>wtxt yes ; \</font>
<font color=#8b2a0e>      ::tk::TextSetCursor <font color=#1b1baa>$</font>wtxt <font color=#1b1baa>$</font>pos ; \</font>
<font color=#8b2a0e>      event generate <font color=#1b1baa>$</font>wtxt &lt;Enter&gt; ;# to force highlighting</font>
<font color=#8b2a0e>      &quot;</font>
  }
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit_tpl::SyntaxText></a>
<b><font color=#ca14ca>proc</font></b> unit_tpl::SyntaxText {wtxt} {
  <i><font color=#4b5d50># Prepares syntax highlighting of template's text</font></i>
  <i><font color=#4b5d50>#   wtxt - the text's path</font></i>

  alited::SyntaxHighlight tcl <font color=#1b1baa>$wtxt</font> [alited::SyntaxColors]
}
<a id=GUI_Handlers></a>
<i><font color=#4b5d50># ________________________ GUI Handlers _________________________ #</font></i>
<a id=unit_tpl::Ok></a>
<b><font color=#ca14ca>proc</font></b> unit_tpl::Ok {args} {
  <i><font color=#4b5d50># Handles &quot;OK&quot; button.</font></i>

  <b><font color=#3a6797>variable</font></b> obTpl
  <b><font color=#3a6797>variable</font></b> win
  <b><font color=#3a6797>variable</font></b> tplpos
  <b><font color=#3a6797>variable</font></b> tplcont
  <b><font color=#3a6797>variable</font></b> tplpla
  <b><font color=#3a6797>variable</font></b> dosel
  alited::CloseDlg
  <b><font color=#3a6797>if</font></b> {!<font color=#1b1baa>$dosel</font> || [<b><font color=#3a6797>set</font></b> isel [Selected index]] eq {}} {
    <b><font color=#134070>focus</font></b> [<font color=#1b1baa>$obTpl</font> TreeTpl]
    <b><font color=#ca14ca>return</font></b>
  }
  <b><font color=#3a6797>set</font></b> tex [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$tplcont</font> <font color=#1b1baa>$isel</font>]
  <b><font color=#3a6797>set</font></b> pos [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$tplpos</font> <font color=#1b1baa>$isel</font>]
  <b><font color=#3a6797>set</font></b> pla [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$tplpla</font> <font color=#1b1baa>$isel</font>]
  SaveIni
  <font color=#1b1baa>$obTpl</font> res <font color=#1b1baa>$win</font> [<b><font color=#3a6797>list</font></b> <font color=#1b1baa>$tex</font> <font color=#1b1baa>$pos</font> <font color=#1b1baa>$pla</font>]
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit_tpl::Cancel></a>
<b><font color=#ca14ca>proc</font></b> unit_tpl::Cancel {args} {
  <i><font color=#4b5d50># Handles &quot;Cancel&quot; button.</font></i>

  <b><font color=#3a6797>variable</font></b> obTpl
  <b><font color=#3a6797>variable</font></b> win
  alited::CloseDlg
  SaveIni
  <font color=#1b1baa>$obTpl</font> res <font color=#1b1baa>$win</font> 0
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit_tpl::Help></a>
<b><font color=#ca14ca>proc</font></b> unit_tpl::Help {args} {
  <i><font color=#4b5d50># Handles &quot;Help&quot; button.</font></i>

  <b><font color=#3a6797>variable</font></b> win
  alited::Help <font color=#1b1baa>$win</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit_tpl::HelpMe></a>
<b><font color=#ca14ca>proc</font></b> unit_tpl::HelpMe {args} {
  <i><font color=#4b5d50># 'Help' for start.</font></i>

  <b><font color=#3a6797>variable</font></b> win
  alited::HelpMe <font color=#1b1baa>$win</font>
}
<a id=GUI_cont.></a>
<i><font color=#4b5d50>## ________________________ GUI cont. _________________________ ##</font></i>
<a id=unit_tpl::ClearCbx></a>
<b><font color=#ca14ca>proc</font></b> unit_tpl::ClearCbx {} {
  <i><font color=#4b5d50># Helper to clear the combobox's selection.</font></i>

  <b><font color=#3a6797>variable</font></b> obTpl
  [<font color=#1b1baa>$obTpl</font> CbxKey] selection clear
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit_tpl::Add></a>
<b><font color=#ca14ca>proc</font></b> unit_tpl::Add {{inpos <font color=#8b2a0e>&quot;&quot;</font>}} {
  <i><font color=#4b5d50># Handles &quot;Add template&quot; button.</font></i>
  <i><font color=#4b5d50>#   inpos - cursor position in template text</font></i>
  <i><font color=#4b5d50># Returns 1, if the template was added, else returns 0.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <b><font color=#3a6797>variable</font></b> obTpl
  <b><font color=#3a6797>variable</font></b> tpllist
  <b><font color=#3a6797>variable</font></b> tpl
  <b><font color=#3a6797>variable</font></b> tplcont
  <b><font color=#3a6797>variable</font></b> tplpos
  <b><font color=#3a6797>variable</font></b> tplpla
  <b><font color=#3a6797>variable</font></b> place
  <b><font color=#3a6797>variable</font></b> tplkeys
  <b><font color=#3a6797>variable</font></b> tplkey
  <b><font color=#3a6797>variable</font></b> tplid
  <b><font color=#3a6797>set</font></b> tpl [<b><font color=#3a6797>string</font></b> trim <font color=#1b1baa>$tpl</font>]
  <b><font color=#3a6797>set</font></b> txt [Text]
  <b><font color=#3a6797>set</font></b> tree [<font color=#1b1baa>$obTpl</font> TreeTpl]
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$tplkey</font> ne {}} {
    <b><font color=#3a6797>set</font></b> isel2 [<b><font color=#3a6797>lsearch</font></b> <font color=#653760>-exact</font> <font color=#1b1baa>$tplkeys</font> <font color=#1b1baa>$tplkey</font>]
  } <b><font color=#3a6797>else</font></b> {
    <b><font color=#3a6797>set</font></b> isel2 -1
  }
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$tpl</font> ne {} && <font color=#1b1baa>$txt</font> ne {} && ( \
  [<b><font color=#3a6797>set</font></b> isel1 [<b><font color=#3a6797>lsearch</font></b> <font color=#653760>-exact</font> <font color=#1b1baa>$tpllist</font> <font color=#1b1baa>$tpl</font>]]&gt;-1 || <font color=#1b1baa>$isel2</font>&gt;-1 ||
  [<b><font color=#3a6797>set</font></b> isel3 [<b><font color=#3a6797>lsearch</font></b> <font color=#653760>-exact</font> <font color=#1b1baa>$tplcont</font> <font color=#1b1baa>$txt</font>]]&gt;-1 )} {
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$isel1</font>&gt;-1} {
      <b><font color=#134070>focus</font></b> [<font color=#1b1baa>$obTpl</font> EntTpl]
    } <b><font color=#3a6797>elseif</font></b> {<font color=#1b1baa>$isel2</font>&gt;-1} {
      <b><font color=#134070>focus</font></b> [<font color=#1b1baa>$obTpl</font> CbxKey]
    } <b><font color=#3a6797>else</font></b> {
      <b><font color=#3a6797>set</font></b> wtxt [<font color=#1b1baa>$obTpl</font> TexTpl]
      <b><font color=#134070>focus</font></b> <font color=#1b1baa>$wtxt</font>
      <b><font color=#3a6797>set</font></b> pos [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$tplpos</font> <font color=#1b1baa>$isel3</font>]
      ::tk::TextSetCursor <font color=#1b1baa>$wtxt</font> <font color=#1b1baa>$pos</font>
    }
    Message <font color=#1b1baa>$al(MC,tplexists)</font> 4
    <b><font color=#ca14ca>return</font></b> 0
  } <b><font color=#3a6797>elseif</font></b> {<font color=#1b1baa>$tpl</font> eq {}} {
    <b><font color=#134070>focus</font></b> [<font color=#1b1baa>$obTpl</font> EntTpl]
    Message <font color=#1b1baa>$al(MC,tplent1)</font> 4
    <b><font color=#ca14ca>return</font></b> 0
  } <b><font color=#3a6797>elseif</font></b> {[<b><font color=#3a6797>string</font></b> trim <font color=#1b1baa>$txt</font>] eq {}} {
    <b><font color=#134070>focus</font></b> [<font color=#1b1baa>$obTpl</font> TexTpl]
    Message <font color=#1b1baa>$al(MC,tplent2)</font> 4
    <b><font color=#ca14ca>return</font></b> 0
  }
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$inpos</font> eq {}} {<b><font color=#3a6797>set</font></b> inpos [Pos]}
  <b><font color=#3a6797>lappend</font></b> tpllist <font color=#1b1baa>$tpl</font>
  <b><font color=#3a6797>lappend</font></b> tplcont <font color=#1b1baa>$txt</font>
  <b><font color=#3a6797>lappend</font></b> tplpos <font color=#1b1baa>$inpos</font>
  <b><font color=#3a6797>lappend</font></b> tplpla <font color=#1b1baa>$place</font>
  <b><font color=#3a6797>set</font></b> msg [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> %n [<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$tpllist</font>]] <font color=#1b1baa>$al(MC,tplnew)</font>]
  <b><font color=#3a6797>set</font></b> item [<font color=#1b1baa>$tree</font> insert {} end <font color=#653760>-values</font> [<b><font color=#3a6797>list</font></b> <font color=#1b1baa>$tpl</font> <font color=#1b1baa>$tplkey</font>]]
  <b><font color=#3a6797>lappend</font></b> tplkeys <font color=#1b1baa>$tplkey</font>
  UpdateTree
  <b><font color=#3a6797>set</font></b> item [<b><font color=#3a6797>lindex</font></b> [<font color=#1b1baa>$tree</font> children {}] end]
  <b><font color=#3a6797>lappend</font></b> tplid <font color=#1b1baa>$item</font>
  <b><font color=#3a6797>set</font></b> isel [<b><font color=#3a6797>expr</font></b> {[<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$tplid</font>]-1}]
  <b><font color=#3a6797>after</font></b> idle <font color=#8b2a0e>&quot;::alited::unit_tpl::Select <font color=#1b1baa>$</font>isel&quot;</font>
  Message <font color=#1b1baa>$msg</font> 3
  <b><font color=#ca14ca>return</font></b> 1
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit_tpl::Change></a>
<b><font color=#ca14ca>proc</font></b> unit_tpl::Change {} {
  <i><font color=#4b5d50># Handles &quot;Change template&quot; button.</font></i>

  <b><font color=#3a6797>variable</font></b> tpllist
  <b><font color=#3a6797>variable</font></b> tplcont
  <b><font color=#3a6797>variable</font></b> tplpos
  <b><font color=#3a6797>variable</font></b> tplpla
  <b><font color=#3a6797>variable</font></b> place
  <b><font color=#3a6797>variable</font></b> tplkeys
  <b><font color=#3a6797>variable</font></b> tplkey
  <b><font color=#3a6797>variable</font></b> tpl
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>set</font></b> isel [Selected index]] eq {}} <b><font color=#ca14ca>return</font></b>
  <b><font color=#3a6797>set</font></b> tpllist [<b><font color=#3a6797>lreplace</font></b> <font color=#1b1baa>$tpllist</font> <font color=#1b1baa>$isel</font> <font color=#1b1baa>$isel</font> <font color=#1b1baa>$tpl</font>]
  <b><font color=#3a6797>set</font></b> tplcont [<b><font color=#3a6797>lreplace</font></b> <font color=#1b1baa>$tplcont</font> <font color=#1b1baa>$isel</font> <font color=#1b1baa>$isel</font> [Text]]
  <b><font color=#3a6797>set</font></b> tplpos [<b><font color=#3a6797>lreplace</font></b> <font color=#1b1baa>$tplpos</font> <font color=#1b1baa>$isel</font> <font color=#1b1baa>$isel</font> [Pos [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$tplpos</font> <font color=#1b1baa>$isel</font>]]]
  <b><font color=#3a6797>set</font></b> tplpla [<b><font color=#3a6797>lreplace</font></b> <font color=#1b1baa>$tplpla</font> <font color=#1b1baa>$isel</font> <font color=#1b1baa>$isel</font> <font color=#1b1baa>$place</font>]
  <b><font color=#3a6797>set</font></b> tplkeys [<b><font color=#3a6797>lreplace</font></b> <font color=#1b1baa>$tplkeys</font> <font color=#1b1baa>$isel</font> <font color=#1b1baa>$isel</font> <font color=#1b1baa>$tplkey</font>]
  UpdateTree
  <b><font color=#3a6797>after</font></b> idle <font color=#8b2a0e>&quot;::alited::unit_tpl::Select <font color=#1b1baa>$</font>isel&quot;</font>
  <b><font color=#3a6797>set</font></b> msg [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> %n [<b><font color=#3a6797>incr</font></b> isel]] <font color=#1b1baa>$::alited::al(MC,tplupd)</font>]
  Message <font color=#1b1baa>$msg</font> 3
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit_tpl::Delete></a>
<b><font color=#ca14ca>proc</font></b> unit_tpl::Delete {} {
  <i><font color=#4b5d50># Handles &quot;Delete template&quot; button.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <b><font color=#3a6797>variable</font></b> tpllist
  <b><font color=#3a6797>variable</font></b> tplcont
  <b><font color=#3a6797>variable</font></b> tplpos
  <b><font color=#3a6797>variable</font></b> tplpla
  <b><font color=#3a6797>variable</font></b> tplkeys
  <b><font color=#3a6797>variable</font></b> tplid
  <b><font color=#3a6797>variable</font></b> win
  <b><font color=#3a6797>variable</font></b> dosel
  <b><font color=#3a6797>if</font></b> {!<font color=#1b1baa>$dosel</font> || [<b><font color=#3a6797>set</font></b> isel [Selected index]] eq {}} <b><font color=#ca14ca>return</font></b>
  <b><font color=#3a6797>set</font></b> nsel [<b><font color=#3a6797>expr</font></b> {<font color=#1b1baa>$isel</font>+1}]
  <b><font color=#3a6797>set</font></b> msg [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> %n <font color=#1b1baa>$nsel</font>] <font color=#1b1baa>$al(MC,tpldelq)</font>]
  <b><font color=#3a6797>if</font></b> {![alited::msg yesno warn <font color=#1b1baa>$msg</font> NO <font color=#653760>-centerme</font> <font color=#1b1baa>$win</font>]} {
    <b><font color=#ca14ca>return</font></b>
  }
  <b><font color=#3a6797>foreach</font></b> tl {tpllist tplcont tplpos tplpla tplid tplkeys} {
    <b><font color=#3a6797>set</font></b> <font color=#1b1baa>$tl</font> [<b><font color=#3a6797>lreplace</font></b> [<b><font color=#3a6797>set</font></b> <font color=#1b1baa>$tl</font>] <font color=#1b1baa>$isel</font> <font color=#1b1baa>$isel</font>]
  }
  <b><font color=#3a6797>set</font></b> llen [<b><font color=#3a6797>expr</font></b> {[<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$tpllist</font>]-1}]
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$isel</font>&gt;<font color=#1b1baa>$llen</font>} {<b><font color=#3a6797>set</font></b> isel <font color=#1b1baa>$llen</font>}
  UpdateTree
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$llen</font>&gt;=0} {<b><font color=#3a6797>after</font></b> idle <font color=#8b2a0e>&quot;alited::unit_tpl::Select <font color=#1b1baa>$</font>isel&quot;</font>}
  <b><font color=#3a6797>set</font></b> msg [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> %n <font color=#1b1baa>$nsel</font>] <font color=#1b1baa>$al(MC,tplrem)</font>]
  Message <font color=#1b1baa>$msg</font> 3
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit_tpl::Import></a>
<b><font color=#ca14ca>proc</font></b> unit_tpl::Import {} {
  <i><font color=#4b5d50># Handles &quot;Import templates&quot; button.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al DATAUSERINI DATAUSERINI
  <b><font color=#3a6797>variable</font></b> obTpl
  <b><font color=#3a6797>variable</font></b> tpl
  <b><font color=#3a6797>variable</font></b> tplkey
  <b><font color=#3a6797>variable</font></b> place
  <b><font color=#3a6797>variable</font></b> win
  <b><font color=#3a6797>set</font></b> al(TMPfname) alited.ini
  <b><font color=#3a6797>set</font></b> fname [<font color=#1b1baa>$obTpl</font> chooser tk_getOpenFile ::alited::al(TMPfname) \
    <font color=#653760>-initialdir</font> <font color=#1b1baa>$DATAUSERINI</font> <font color=#653760>-parent</font> <font color=#1b1baa>$win</font>]
  <b><font color=#3a6797>unset</font></b> al(TMPfname)
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$fname</font> eq {}} <b><font color=#ca14ca>return</font></b>
  <b><font color=#3a6797>set</font></b> imported 0
  <b><font color=#3a6797>set</font></b> wtxt [<font color=#1b1baa>$obTpl</font> TexTpl]
  <b><font color=#3a6797>foreach</font></b> line [textsplit [readTextFile <font color=#1b1baa>$fname</font>]] {
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>string</font></b> match tpl=* <font color=#1b1baa>$line</font>]} {
      <b><font color=#3a6797>set</font></b> line [<b><font color=#3a6797>string</font></b> range <font color=#1b1baa>$line</font> 4 end]
      <b><font color=#3a6797>if</font></b> {![<b><font color=#3a6797>catch</font></b> {<b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$line</font> tpl tplkey cont pos place}]} {
        <b><font color=#3a6797>set</font></b> cont [::alited::ProcEOL <font color=#1b1baa>$cont</font> in]
        <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$tpl</font> ne {} && <font color=#1b1baa>$cont</font> ne {} && <font color=#1b1baa>$pos</font> ne {}} {
          <b><font color=#3a6797>if</font></b> {![<b><font color=#3a6797>string</font></b> is double <font color=#653760>-strict</font> <font color=#1b1baa>$pos</font>]} {<b><font color=#3a6797>set</font></b> pos 1.0}
          <font color=#1b1baa>$wtxt</font> delete 1.0 end
          <font color=#1b1baa>$wtxt</font> insert end <font color=#1b1baa>$cont</font>
          <b><font color=#3a6797>incr</font></b> imported [Add <font color=#1b1baa>$pos</font>]
        }
      }
    }
  }
  <b><font color=#3a6797>set</font></b> msg [<b><font color=#3a6797>string</font></b> map <font color=#8b2a0e>&quot;%n <font color=#1b1baa>$</font>imported&quot;</font> [msgcat::mc <font color=#8b2a0e>&quot;Number of imported templates: %n&quot;</font>]]
  Message <font color=#1b1baa>$msg</font> 3
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit_tpl::Message></a>
<b><font color=#ca14ca>proc</font></b> unit_tpl::Message {msg {mode 2}} {
  <i><font color=#4b5d50># Displays a message in statusbar of templates dialogue.</font></i>
  <i><font color=#4b5d50>#   msg - message</font></i>
  <i><font color=#4b5d50>#   mode - mode of Message</font></i>

  <b><font color=#3a6797>variable</font></b> obTpl
  alited::Message <font color=#1b1baa>$msg</font> <font color=#1b1baa>$mode</font> [<font color=#1b1baa>$obTpl</font> LabMess]
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit_tpl::ProcMessage></a>
<b><font color=#ca14ca>proc</font></b> unit_tpl::ProcMessage {} {
  <i><font color=#4b5d50># Handles clicking on message label.</font></i>

  <b><font color=#3a6797>variable</font></b> obTpl
  <b><font color=#3a6797>set</font></b> msg [baltip cget [<font color=#1b1baa>$obTpl</font> LabMess] <font color=#653760>-text</font>]
  Message <font color=#1b1baa>$msg</font> 3
}
<a id=Main></a>
<i><font color=#4b5d50># ________________________ Main _________________________ #</font></i>
<a id=unit_tpl::_create></a>
<b><font color=#ca14ca>proc</font></b> unit_tpl::_create {{geom <font color=#8b2a0e>&quot;&quot;</font>}} {
  <i><font color=#4b5d50># Creates &quot;Templates&quot; dialogue.</font></i>
  <i><font color=#4b5d50>#   geom - &quot;-geometry&quot; option for showModal</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al tplgeometry tplgeometry
  <b><font color=#3a6797>variable</font></b> obTpl
  <b><font color=#3a6797>variable</font></b> win
  <b><font color=#3a6797>variable</font></b> tpllist
  <b><font color=#3a6797>variable</font></b> tplkey
  <b><font color=#3a6797>variable</font></b> dosel
  <b><font color=#3a6797>set</font></b> tipson [baltip::cget <font color=#653760>-on</font>]
  baltip::configure <font color=#653760>-on</font> <font color=#1b1baa>$al(TIPS,Templates)</font>
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$dosel</font>} {
    <b><font color=#3a6797>set</font></b> forget {}
    <b><font color=#3a6797>set</font></b> ::alited::unit_tpl::BUTEXIT Cancel
  } <b><font color=#3a6797>else</font></b> {
    <b><font color=#3a6797>set</font></b> forget forget
    <b><font color=#3a6797>set</font></b> ::alited::unit_tpl::BUTEXIT Close
  }
  ::apave::APave create <font color=#1b1baa>$obTpl</font> <font color=#1b1baa>$win</font>
  <font color=#1b1baa>$obTpl</font> makeWindow <font color=#1b1baa>$win</font> <font color=#1b1baa>$al(MC,tpl)</font>
  <font color=#1b1baa>$obTpl</font> paveWindow <font color=#1b1baa>$win</font> {
    {fraTreeTpl - - 10 10 {<font color=#653760>-st</font> nswe <font color=#653760>-rw</font> 3 <font color=#653760>-pady</font> 8} {}}
    {.fra - - - - {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> right <font color=#653760>-fill</font> both} {}}
    {.fra.btTAd - - - - {<b><font color=#134070>pack</font></b> <font color=#1b1baa>$forget</font> <font color=#653760>-side</font> top <font color=#653760>-anchor</font> n} \
      {<font color=#653760>-com</font> ::alited::unit_tpl::Add <font color=#653760>-tip</font> <font color=#8b2a0e>&quot;Add a template&quot;</font> <font color=#653760>-image</font> alimg_add-big}}
    {.fra.btTChg - - - - {<b><font color=#134070>pack</font></b> <font color=#1b1baa>$forget</font> <font color=#653760>-side</font> top} \
      {<font color=#653760>-com</font> ::alited::unit_tpl::Change <font color=#653760>-tip</font> <font color=#8b2a0e>&quot;Change a template&quot;</font> <font color=#653760>-image</font> alimg_change-big}}
    {.fra.btTDel - - - - {<b><font color=#134070>pack</font></b> <font color=#1b1baa>$forget</font> <font color=#653760>-side</font> top} \
      {<font color=#653760>-com</font> ::alited::unit_tpl::Delete <font color=#653760>-tip</font> <font color=#8b2a0e>&quot;Delete a template&quot;</font> <font color=#653760>-image</font> alimg_delete-big}}
    {.fra.v_ - - - - {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> top <font color=#653760>-expand</font> 1 <font color=#653760>-fill</font> x <font color=#653760>-pady</font> 2} {}}
    {.fra.btTImp - - - - {<b><font color=#134070>pack</font></b> <font color=#1b1baa>$forget</font> <font color=#653760>-side</font> top} \
      {<font color=#653760>-com</font> ::alited::unit_tpl::Import \
      <font color=#653760>-tip</font> <font color=#8b2a0e>&quot;Import templates\nfrom external alited.ini&quot;</font> <font color=#653760>-image</font> alimg_plus-big}}
    {.TreeTpl - - - - {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> left <font color=#653760>-expand</font> 1 <font color=#653760>-fill</font> both} \
      {<font color=#653760>-h</font> 12 <font color=#653760>-show</font> headings <font color=#653760>-columns</font> {C1 C2} <font color=#653760>-displaycolumns</font> {C1 C2} \
      <font color=#653760>-columnoptions</font> <font color=#8b2a0e>&quot;C2 <font color=#1b1baa>{</font>-stretch 0<font color=#1b1baa>}</font>&quot;</font>}}
    {.sbvTpls + L - - {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> left <font color=#653760>-fill</font> both}}
    {fra1 fraTreeTpl T 10 10 {<font color=#653760>-st</font> nsew}}
    {.h_ - - 1 1 {<font color=#653760>-st</font> we} {<font color=#653760>-h</font> 20}}
    {.labTpl .h_ T 1 1 {<font color=#653760>-st</font> e} {<font color=#653760>-anchor</font> center <font color=#653760>-t</font> <font color=#8b2a0e>&quot;Current template:&quot;</font>}}
    {.EntTpl .labTpl L 1 8 {<font color=#653760>-st</font> we} \
      {<font color=#653760>-tvar</font> ::alited::unit_tpl::tpl <font color=#653760>-w</font> 45 <font color=#653760>-tip</font> {<font color=#653760>-BALTIP</font> {<font color=#1b1baa>$al(MC,tplent1)</font>} <font color=#653760>-MAXEXP</font> 1}}}
    {.CbxKey + L 1 1 {<font color=#653760>-st</font> w} \
      {<font color=#653760>-tvar</font> ::alited::unit_tpl::tplkey <font color=#653760>-postcommand</font> ::alited::unit_tpl::GetKeyList \
      <font color=#653760>-state</font> readonly <font color=#653760>-h</font> 16 <font color=#653760>-w</font> 16 <font color=#653760>-tip</font> {<font color=#653760>-BALTIP</font> {<font color=#1b1baa>$al(MC,tplent3)</font>} <font color=#653760>-MAXEXP</font> 1}}}
    {fratex fra1 T 10 10 {<font color=#653760>-st</font> nsew <font color=#653760>-rw</font> 1 <font color=#653760>-cw</font> 1} {}}
    {.TexTpl - - - - {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> left <font color=#653760>-expand</font> 1 <font color=#653760>-fill</font> both} \
    {<font color=#653760>-h</font> 10 <font color=#653760>-w</font> 80 <font color=#653760>-tip</font>  {<font color=#653760>-BALTIP</font> {<font color=#1b1baa>$al(MC,tplent2)</font>} <font color=#653760>-MAXEXP</font> 1}}}
    {.sbvTpl + L - - pack {}}
    {fra2 fratex T 1 10 {<font color=#653760>-st</font> nsew} {<font color=#653760>-padding</font> {5 5 5 5} <font color=#653760>-relief</font> groove}}
    {.labBA - - - - {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> left} {<font color=#653760>-t</font> <font color=#8b2a0e>&quot;Place after:&quot;</font>}}
    {.radA - - - - {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> left <font color=#653760>-padx</font> 8} \
      {<font color=#653760>-t</font> <font color=#8b2a0e>&quot;line&quot;</font> <font color=#653760>-var</font> ::alited::unit_tpl::place <font color=#653760>-value</font> 1 \
      <font color=#653760>-tip</font> {<font color=#653760>-BALTIP</font> {<font color=#1b1baa>$al(MC,tplaft1)</font>} <font color=#653760>-UNDER</font> 4}}}
    {.radB - - - - {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> left <font color=#653760>-padx</font> 8} \
      {<font color=#653760>-t</font> <font color=#8b2a0e>&quot;unit&quot;</font> <font color=#653760>-var</font> ::alited::unit_tpl::place <font color=#653760>-value</font> 2 \
      <font color=#653760>-tip</font> {<font color=#653760>-BALTIP</font> {<font color=#1b1baa>$al(MC,tplaft2)</font>} <font color=#653760>-UNDER</font> 4}}}
    {.radC - - - - {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> left <font color=#653760>-padx</font> 8} \
      {<font color=#653760>-t</font> <font color=#8b2a0e>&quot;cursor&quot;</font> <font color=#653760>-var</font> ::alited::unit_tpl::place <font color=#653760>-value</font> 3 \
      <font color=#653760>-tip</font> {<font color=#653760>-BALTIP</font> {<font color=#1b1baa>$al(MC,tplaft3)</font>} <font color=#653760>-UNDER</font> 4}}}
    {.radD - - - - {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> left <font color=#653760>-padx</font> 8} \
      {<font color=#653760>-t</font> <font color=#8b2a0e>&quot;file's beginning&quot;</font> <font color=#653760>-var</font> ::alited::unit_tpl::place <font color=#653760>-value</font> 4 \
      <font color=#653760>-tip</font> {<font color=#653760>-BALTIP</font> {<font color=#1b1baa>$al(MC,tplaft4)</font>} <font color=#653760>-UNDER</font> 4}}}
    {LabMess fra2 T 1 10 {<font color=#653760>-st</font> nsew <font color=#653760>-pady</font> 0 <font color=#653760>-padx</font> 3} {<font color=#653760>-style</font> TLabelFS}}
    {fra3 + T 1 10 {<font color=#653760>-st</font> nsew}}
    {.ButHelp - - - - {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> left} \
      {<font color=#653760>-t</font> {<font color=#1b1baa>$al(MC,help)</font>} <font color=#653760>-tip</font> F1 <font color=#653760>-command</font> ::alited::unit_tpl::Help}}
    {.h_ - - - - {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> left <font color=#653760>-expand</font> 1 <font color=#653760>-fill</font> both}}
    {.butOK - - - - {<b><font color=#134070>pack</font></b> <font color=#1b1baa>$forget</font> <font color=#653760>-side</font> left <font color=#653760>-padx</font> 2} \
      {<font color=#653760>-t</font> <font color=#8b2a0e>&quot;<font color=#1b1baa>$</font>al(MC,select)&quot;</font> <font color=#653760>-command</font> ::alited::unit_tpl::Ok}}
    {.butCancel - - - - {<b><font color=#134070>pack</font></b> <font color=#653760>-side</font> left} \
      {<font color=#653760>-t</font> <font color=#1b1baa>$::alited::unit_tpl::BUTEXIT</font> <font color=#653760>-command</font> ::alited::unit_tpl::Cancel}}
  }
  <b><font color=#3a6797>set</font></b> tree [<font color=#1b1baa>$obTpl</font> TreeTpl]
  <font color=#1b1baa>$tree</font> heading C1 <font color=#653760>-text</font> [msgcat::mc Template]
  <font color=#1b1baa>$tree</font> heading C2 <font color=#653760>-text</font> [msgcat::mc {Hot keys}]
  UpdateTree no
  Select
  <b><font color=#3a6797>set</font></b> wtxt [<font color=#1b1baa>$obTpl</font> TexTpl]
  SyntaxText <font color=#1b1baa>$wtxt</font>
  <b><font color=#134070>bind</font></b> <font color=#1b1baa>$tree</font> &lt;&lt;TreeviewSelect&gt;&gt; ::alited::unit_tpl::Select
  <b><font color=#134070>bind</font></b> <font color=#1b1baa>$tree</font> &lt;Delete&gt; ::alited::unit_tpl::Delete
  <b><font color=#134070>bind</font></b> <font color=#1b1baa>$tree</font> &lt;Double-Button-1&gt; ::alited::unit_tpl::Ok
  <b><font color=#134070>bind</font></b> <font color=#1b1baa>$tree</font> &lt;Return&gt; ::alited::unit_tpl::Ok
  <b><font color=#134070>bind</font></b> <font color=#1b1baa>$wtxt</font> &lt;FocusIn&gt; <font color=#8b2a0e>&quot;::alited::unit_tpl::InText <font color=#1b1baa>$</font>wtxt&quot;</font>
  <b><font color=#134070>bind</font></b> [<font color=#1b1baa>$obTpl</font> CbxKey] &lt;FocusOut&gt; ::alited::unit_tpl::ClearCbx
  <b><font color=#134070>bind</font></b> <font color=#1b1baa>$win</font> &lt;F1&gt; <font color=#8b2a0e>&quot;<font color=#1b1baa>[$</font>obTpl ButHelp<font color=#1b1baa>]</font> invoke&quot;</font>
  <b><font color=#134070>bind</font></b> [<font color=#1b1baa>$obTpl</font> LabMess] &lt;Button-1&gt; alited::unit_tpl::ProcMessage
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$tpllist</font>]} {<b><font color=#3a6797>set</font></b> foc <font color=#1b1baa>$tree</font>} {<b><font color=#3a6797>set</font></b> foc [<font color=#1b1baa>$obTpl</font> EntTpl]}
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>set</font></b> il <font color=#1b1baa>$::alited::unit::ilast</font>] &gt; -1} {
    Select <font color=#1b1baa>$il</font>
    <b><font color=#3a6797>after</font></b> idle <font color=#8b2a0e>&quot;alited::unit_tpl::Select <font color=#1b1baa>$</font>il&quot;</font>  ;<i><font color=#4b5d50># just to highlight</font></i>
  }
  <b><font color=#3a6797>after</font></b> 500 ::alited::unit_tpl::HelpMe ;<i><font color=#4b5d50># show an introduction after a short pause</font></i>
  <b><font color=#3a6797>set</font></b> geo {<font color=#653760>-resizable</font> 1 <font color=#653760>-minsize</font> {640 480}}
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$geom</font> ne {}} {
    <b><font color=#3a6797>set</font></b> geo <font color=#1b1baa>$geom</font>
  } <b><font color=#3a6797>elseif</font></b> {<font color=#1b1baa>$tplgeometry</font> ne {}} {
    <b><font color=#3a6797>append</font></b> geo <font color=#8b2a0e>&quot; -geometry <font color=#1b1baa>$</font>tplgeometry&quot;</font>
  }
  <b><font color=#3a6797>set</font></b> res [<font color=#1b1baa>$obTpl</font> showModal <font color=#1b1baa>$win</font> <font color=#653760>-onclose</font> ::alited::unit_tpl::Cancel <font color=#653760>-focus</font> <font color=#1b1baa>$foc</font> {<b><font color=#3a6797>*</font></b>}<font color=#1b1baa>$geo</font>]
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$geom</font> eq {}} {
    <b><font color=#3a6797>set</font></b> tplgeometry [<b><font color=#134070>wm</font></b> geometry <font color=#1b1baa>$win</font>]
  }
  baltip::configure {<b><font color=#3a6797>*</font></b>}<font color=#1b1baa>$tipson</font>
  <b><font color=#3a6797>catch</font></b> {<b><font color=#134070>destroy</font></b> <font color=#1b1baa>$win</font>}
  <font color=#1b1baa>$obTpl</font> destroy
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$res</font>] &lt; 2} {<b><font color=#3a6797>set</font></b> res {}}
  <b><font color=#ca14ca>return</font></b> <font color=#1b1baa>$res</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit_tpl::_run></a>
<b><font color=#ca14ca>proc</font></b> unit_tpl::_run {{doselect yes} {geom <font color=#8b2a0e>&quot;&quot;</font>}} {
  <i><font color=#4b5d50># Runs &quot;Templates&quot; dialogue.</font></i>
  <i><font color=#4b5d50>#   doselect - if yes, enables &quot;Select&quot; action</font></i>
  <i><font color=#4b5d50>#   geom - &quot;-geometry&quot; option for showModal</font></i>

  <b><font color=#3a6797>variable</font></b> win
  <b><font color=#3a6797>variable</font></b> dosel
  <b><font color=#3a6797>if</font></b> {[<b><font color=#134070>winfo</font></b> exists <font color=#1b1baa>$win</font>]} {<b><font color=#ca14ca>return</font></b> {}}
  <b><font color=#3a6797>set</font></b> dosel <font color=#1b1baa>$doselect</font>
  <b><font color=#3a6797>set</font></b> wtxt [alited::main::CurrentWTXT]
  alited::keys::UnBindKeys <font color=#1b1baa>$wtxt</font> template
  ReadIni
  <b><font color=#3a6797>set</font></b> res [_create <font color=#1b1baa>$geom</font>]
  <b><font color=#134070>destroy</font></b> <font color=#1b1baa>$win</font>
  alited::keys::BindKeys <font color=#1b1baa>$wtxt</font> template
  <b><font color=#ca14ca>return</font></b> <font color=#1b1baa>$res</font>
}
<a id=EOF></a>
<i><font color=#4b5d50># _________________________________ EOF _________________________________ #</font></i>

</pre>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>unit_tpl.tcl</b></font></div></td></table>

<!-- Made by alited (END) -->