<!-- Made by alited -->
<link rel="stylesheet" href="../../css/style.css">

<title>unit.tcl</title>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>README.md</b></font></div></td></table>


<div id="bodyContent" class="dokuwiki">
<div id="dw__toc" class="dw__toc">
<h3 class="toggle open" style="cursor: pointer;">unit.tcl</h3>
<div aria-expanded="true" style="">

<ul class="toc">
<li><b><a href="#unit.tcl">unit.tcl</a></b></li>
<li><b><a href="#Common">Common</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#unit::GetDeclaration">GetDeclaration</a><span class=tooltiptext> unit::GetDeclaration : Gets a unit's declaration.
wtxt - text widget
tip - unit's name
l1 - 1st line of unit
l2 - last line of unit</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit::GetHeader">GetHeader</a><span class=tooltiptext> unit::GetHeader : Gets a header of unit: declaration + initial comments.
wtree - unit tree widget
ID - ID of item in the unit tree
NC - index of column of the unit tree
wtxt - text widget
tip - unit's name
l1 - 1st line of unit
l2 - last line of unit</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit::BranchLines">BranchLines</a><span class=tooltiptext> unit::BranchLines : Gets a line range of a branch.
ID - ID of the branch</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit::UnitHeaderMode">UnitHeaderMode</a><span class=tooltiptext> unit::UnitHeaderMode : Gets modes for unit tree : do use RE for leaf headers and do not.
TID - tab's ID
Returns 2 flags: "Use leaf's RE" and "Use proc/method declaration".</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit::GetUnits">GetUnits</a><span class=tooltiptext> unit::GetUnits : Gets a unit structure from a text.
TID - tab ID of the text
textcont - contents of the text
Returns a list of unit items.
An item contains:
- level
- 0 (branch) or 1 (INI,LEAF)
- title
- line1 - first text line for the item
- line2 - last text line for the item
The procedure searhes "branch" units in commented lines, e.g. for:
___ level 1 _____ #
___ level 2 _____ ##
___ level 3 _____ ###
using regexp {^\s*(#+) [_]+([^_]+)[_]+ (#+)} $line -> cmn1 title cmn2
it extracts two comment marks (#, ## or ###) and a title (level 1/2/3).

To search "leaf" units (containing procs and methods), another `regexp`
is used, e.g. for:
_____
_____ my leaf 1
regexp {^\s*# [_]+([^_]*)$} $line -> title
extracts a title (my leaf 1).

If "leaf" title is empty, it's taken from the proc/method name, e.g. for
proc unit::SelectUnit {} {...}
method unit::SelectUnit {} {...}
regexp {^\s*(proc|method)\s+([[:alnum:]_:]+)\s.+} $line -> type title
extracts a type (proc/method) and a title (unit::SelectUnit).
The last non-empty group is taken for the title.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit::SwitchUnits">SwitchUnits</a><span class=tooltiptext> unit::SwitchUnits : Switches between last two active units.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit::RecreateUnits">RecreateUnits</a><span class=tooltiptext> unit::RecreateUnits : Recreates the internal tree of units.
TID - tab's ID
wtxt - text's path</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit::LeafRegexp">LeafRegexp</a><span class=tooltiptext> unit::LeafRegexp : Gets "leaf's regexp" setting.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit::IsLeafRegexp">IsLeafRegexp</a><span class=tooltiptext> unit::IsLeafRegexp : Checks for using "leaf's regexp" setting.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit::UnitRegexp">UnitRegexp</a><span class=tooltiptext> unit::UnitRegexp : Gets RE to check unit's beginning.</span></div></li></ul>
<li><b><a href="#Templates">Templates</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#unit::TemplateMap">TemplateMap</a><span class=tooltiptext> unit::TemplateMap : Maps a string using template wildcards.
str - string to map</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit::TemplateData">TemplateData</a><span class=tooltiptext> unit::TemplateData : Replaces the template wildcards with data of current text and unit.
wtxt - text's path
l1 - 1st line of current unit
l2 - last line of current unit
tpldata - template</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit::InsertTemplate">InsertTemplate</a><span class=tooltiptext> unit::InsertTemplate : Inserts a template into a current text.
tpldata - template
dobreak - if yes, means "called from bindings, should return -code break"
for noname file - save it beforehand, as templates refer to a file name</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit::CorrectPos">CorrectPos</a><span class=tooltiptext> unit::CorrectPos : Corrects an insert position, counting the insertion point's indentation.
wtxt - current text widget
tex - template's text
posc - relative position of cursor
pos0 - position of insertion
posi - cursor position</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit::Source_unit_tpl">Source_unit_tpl</a><span class=tooltiptext> unit::Source_unit_tpl : Sources unit_tpl.tcl.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit::Run_unit_tpl">Run_unit_tpl</a><span class=tooltiptext> unit::Run_unit_tpl : Runs Templates dialogue.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit::Add">Add</a><span class=tooltiptext> unit::Add : Runs a dialog "Add Template" and adds a chosen template to a text.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit::Delete">Delete</a><span class=tooltiptext> unit::Delete : Deletes a unit from a text.
wtree - unit tree's path
fname - file name
sy - relative Y-coordinate for a query</span></div></li></ul>
<li><b><a href="#Moving_units">Moving units</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#unit::DropUnits">DropUnits</a><span class=tooltiptext> unit::DropUnits : Moves unit(s) from one location in the unit tree to other.
wtree - unit tree's path
fromIDs - IDs of tree item "to move from"
toID - ID of tree item "to move to"</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit::MoveL1L2">MoveL1L2</a><span class=tooltiptext> unit::MoveL1L2 : Moves a text lines to other location.
wtxt - text widget's path
i1 - first line to be moved
i2 - last line to be moved
io - destination line (to insert the moved lines before)
dosep - yes, if "edit separator" is required
Returns a position of destination line, if the moving was successful.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit::MoveUnit">MoveUnit</a><span class=tooltiptext> unit::MoveUnit : Moves a unit up/down the unit tree.
wtree - unit tree's path
to - direction (up/down)
hd - header of the moved unit
headers - headers of all selected units
f1112 - yes, if run by F11/F12 keys
dosep - yes, if "edit separator" is required</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit::MoveUnits">MoveUnits</a><span class=tooltiptext> unit::MoveUnits : Moves selected units up/down the unit tree.
wtree - unit tree's path
to - direction (up/down)
itemIDs - tree item IDs of selected units
f1112 - yes, if run by F11/F12 keys</span></div></li></ul>
<li><b><a href="#Search">Search</a></b></li>
<ul class=toc><li><div class=tooltip><a href="#unit::SearchInBranch">SearchInBranch</a><span class=tooltiptext> unit::SearchInBranch : Checks whether a unit is in a branch.
unit - ID of the unit
branch - the branch or its ID
If *branch* is omitted, searches in all of the tree.
If *branch* is set as ID, the branch is fetched from this ID.
Returns the unit's index in the branch or -1 if not found.</span></div></li></ul>
<ul class=toc><li><div class=tooltip><a href="#unit::SearchByHeader">SearchByHeader</a><span class=tooltiptext> unit::SearchByHeader : Gets tree item ID of a units by its header (declaration+initial comment).</span></div></li></ul>
<li><b><a href="#EOF">EOF</a></b></li>

</ul>

</div>
</div>
</div>
<!-- TOC END -->

<h1><font color=#ca14ca> alited's source</font></h1>
</p><p>
The <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/about.html">alited/src</a> directory contains alited's own source files.
</p><p>
Some additional alited's files are also contained in <a href="https://aplsimple.github.io/en/tcl/printer/alited/files/lib/addon/hl_alm.html">alited/lib/addon</a> directory (<i><font color=#1b1baa>alited/lib</font></i> directory contains all library files).
</p><p>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/about.html">about.tcl</a> - "About alited" dialogue.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/alited.html">alited.tcl</a> - The alited's main script to start.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/bar.html">bar.tcl</a> - Handles the bar of tabs.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/check.html">check.tcl</a> - "Check Tcl" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/complete.html">complete.tcl</a> - Handles auto-completion.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/edit.html">edit.tcl</a> - "Edit" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/favor.html">favor.tcl</a> - Handles the favorite and last visited units.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/favor_ls.html">favor_ls.tcl</a> - "Saved lists of favorites" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/file.html">file.tcl</a> - "File" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/find.html">find.tcl</a> - "Find / Replace" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/format.html">format.tcl</a> - "Edit / Formats" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/img.html">img.tcl</a> - List of images used by alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/indent.html">indent.tcl</a> - Handles text indentation.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/info.html">info.tcl</a> - Handles the info bar.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/ini.html">ini.tcl</a> - Handles initializing alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/keys.html">keys.tcl</a> - Handles keyboard (mapping etc.).</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/main.html">main.tcl</a> - Handles the main form of alited.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/menu.html">menu.tcl</a> - Handles alited's menus.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/msgs.html">msgs.tcl</a> - Localized messages used in several places.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/paver.html">paver.tcl</a> - "Tools / Paver" tool.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/pkgIndex.html">pkgIndex.tcl</a> - Includes README.md text (for Ruff doc generator).</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/pref.html">pref.tcl</a> - "Preferences" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/preview.html">preview.tcl</a> - "Preview (theme, CS)" dialogue called by "Preferences".</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/printer.html">printer.tcl</a> - "Tools / Project Printer" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/project.html">project.tcl</a> - "Projects" dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/run.html">run.tcl</a> - "Tools / Run..." dialogue and procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/tool.html">tool.tcl</a> - "Tools" menu's procedures.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/tree.html">tree.tcl</a> - Handles the tree of units and files.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/unit.html">unit.tcl</a> - Handles the unit tree.</li>
<li><a href="https://aplsimple.github.io/en/tcl/printer/alited/files/src/unit_tpl.html">unit_tpl.tcl</a> - "Templates" dialogue and procedures.</li>
</p><p>

</p>


<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>unit.tcl</b></font></div></td></table>

<pre class="code"><i><font color=#4b5d50>###########################################################<a id=unit.tcl></a></font></i>
<i><font color=#4b5d50># Name:    unit.tcl</font></i>
<i><font color=#4b5d50># Author:  Alex Plotnikov  (aplsimple@gmail.com)</font></i>
<i><font color=#4b5d50># Date:    06/30/2021</font></i>
<i><font color=#4b5d50># Brief:   Handles units (branches and leaves).</font></i>
<i><font color=#4b5d50># License: MIT.</font></i>
<i><font color=#4b5d50>###########################################################</font></i>

<b><font color=#ca14ca>namespace</font></b> eval unit {
  <b><font color=#3a6797>variable</font></b> ilast -1  ;<i><font color=#4b5d50># last selection in the list of templates</font></i>
  <b><font color=#3a6797>variable</font></b> REtodel {#!*\s*TODEL}
}
<a id=Common></a>
<i><font color=#4b5d50># ________________________ Common _________________________ #</font></i>
<a id=unit::GetDeclaration></a>
<b><font color=#ca14ca>proc</font></b> unit::GetDeclaration {wtxt tip l1 l2} {
  <i><font color=#4b5d50># Gets a unit's declaration.</font></i>
  <i><font color=#4b5d50>#   wtxt - text widget</font></i>
  <i><font color=#4b5d50>#   tip - unit's name</font></i>
  <i><font color=#4b5d50>#   l1 - 1st line of unit</font></i>
  <i><font color=#4b5d50>#   l2 - last line of unit</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <b><font color=#3a6797>set</font></b> unithead <font color=#1b1baa>$tip</font>
  <b><font color=#3a6797>if</font></b> {[IsLeafRegexp] && ![<b><font color=#3a6797>catch</font></b> {<b><font color=#3a6797>set</font></b> unittext [<font color=#1b1baa>$wtxt</font> get <font color=#1b1baa>$l1</font>.0 <font color=#1b1baa>$l2</font>.end]}]} {
    <b><font color=#3a6797>foreach</font></b> t [<b><font color=#3a6797>split</font></b> <font color=#1b1baa>$unittext</font> \n] {
      <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>regexp</font></b> <font color=#1b1baa>$al(RE,proc2)</font> <font color=#1b1baa>$t</font>]} {
        <b><font color=#3a6797>set</font></b> unithead <font color=#1b1baa>$t</font>
        <b><font color=#ca14ca>break</font></b>
      }
    }
  } <b><font color=#3a6797>else</font></b> {
    <b><font color=#3a6797>catch</font></b> {<b><font color=#3a6797>set</font></b> unithead [<font color=#1b1baa>$wtxt</font> get <font color=#1b1baa>$l1</font>.0 <font color=#1b1baa>$l1</font>.end]}
  }
  <b><font color=#ca14ca>return</font></b> <font color=#1b1baa>$unithead</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit::GetHeader></a>
<b><font color=#ca14ca>proc</font></b> unit::GetHeader {wtree ID {NC <font color=#8b2a0e>&quot;&quot;</font>} {wtxt <font color=#8b2a0e>&quot;&quot;</font>} {tip <font color=#8b2a0e>&quot;&quot;</font>} {l1 0} {l2 0}} {
  <i><font color=#4b5d50># Gets a header of unit: declaration + initial comments.</font></i>
  <i><font color=#4b5d50>#   wtree - unit tree widget</font></i>
  <i><font color=#4b5d50>#   ID - ID of item in the unit tree</font></i>
  <i><font color=#4b5d50>#   NC - index of column of the unit tree</font></i>
  <i><font color=#4b5d50>#   wtxt - text widget</font></i>
  <i><font color=#4b5d50>#   tip - unit's name</font></i>
  <i><font color=#4b5d50>#   l1 - 1st line of unit</font></i>
  <i><font color=#4b5d50>#   l2 - last line of unit</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$wtree</font> ne {}} {
    <b><font color=#3a6797>set</font></b> tip [<b><font color=#3a6797>string</font></b> trim [<font color=#1b1baa>$wtree</font> item <font color=#1b1baa>$ID</font> <font color=#653760>-text</font>]]
    <b><font color=#3a6797>lassign</font></b> [<font color=#1b1baa>$wtree</font> item <font color=#1b1baa>$ID</font> <font color=#653760>-values</font>] l1 l2 - id
    <b><font color=#3a6797>if</font></b> {!<font color=#1b1baa>$al(TREE,isunits)</font>} {
      <b><font color=#ca14ca>return</font></b> <font color=#1b1baa>$l2</font>  ;<i><font color=#4b5d50># for file tree, it's a full file name</font></i>
    }
  }
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$NC</font> eq {#1}} {
    <b><font color=#3a6797>set</font></b> tip <font color=#8b2a0e>&quot;<font color=#1b1baa>[</font>string map <font color=#1b1baa>{</font>al #<font color=#1b1baa>}</font> <font color=#1b1baa>$</font>id<font color=#1b1baa>]</font>\n<font color=#1b1baa>$</font>l1 - <font color=#1b1baa>[</font>expr <font color=#1b1baa>{</font>max(<font color=#1b1baa>$</font>l1,<font color=#1b1baa>$</font>l2)<font color=#1b1baa>}]</font>&quot;</font>
    <b><font color=#3a6797>set</font></b> ID {}
  } <b><font color=#3a6797>else</font></b> {
    <b><font color=#3a6797>catch</font></b> {
      <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$wtxt</font> eq {}} {
        <b><font color=#3a6797>set</font></b> wtxt [alited::main::CurrentWTXT]
      }
      <b><font color=#3a6797>set</font></b> tip2 [GetDeclaration <font color=#1b1baa>$wtxt</font> <font color=#1b1baa>$tip</font> <font color=#1b1baa>$l1</font> <font color=#1b1baa>$l2</font>]
      <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>string</font></b> match <font color=#8b2a0e>&quot;*\{&quot;</font> <font color=#1b1baa>$tip2</font>] || [<b><font color=#3a6797>string</font></b> match <font color=#8b2a0e>&quot;test *&quot;</font> <font color=#1b1baa>$tip2</font>]} {
        <b><font color=#3a6797>set</font></b> tip [<b><font color=#3a6797>string</font></b> trim <font color=#1b1baa>$tip2</font> <font color=#8b2a0e>&quot; \{\\&quot;</font>]
      }
      <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$NC</font> eq {}} {
        <b><font color=#ca14ca>return</font></b> <font color=#1b1baa>$tip</font>  ;<i><font color=#4b5d50># returns a declaration only</font></i>
      }
      <i><font color=#4b5d50># find first commented line, after the proc/method declaration</font></i>
      <b><font color=#3a6797>set</font></b> isleafRE [IsLeafRegexp]
      <b><font color=#3a6797>for</font></b> {} {<font color=#1b1baa>$l1</font>&lt;<font color=#1b1baa>$l2</font>} {} {
        <b><font color=#3a6797>incr</font></b> l1
        <b><font color=#3a6797>set</font></b> line [<b><font color=#3a6797>string</font></b> trim [<font color=#1b1baa>$wtxt</font> get <font color=#1b1baa>$l1</font>.0 <font color=#1b1baa>$l1</font>.end]]
        <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>string</font></b> index <font color=#1b1baa>$line</font> end] ni [<b><font color=#3a6797>list</font></b> \\ \{] && <font color=#1b1baa>$line</font> ni {{} # //} \
        && (<font color=#1b1baa>$isleafRE</font> || ![<b><font color=#3a6797>regexp</font></b> <font color=#1b1baa>$al(RE,proc)</font> <font color=#1b1baa>$line</font>])} {
          <b><font color=#3a6797>set</font></b> line1 [<b><font color=#3a6797>string</font></b> trimleft <font color=#1b1baa>$line</font> {#!;}]
          <b><font color=#3a6797>set</font></b> line2 [<b><font color=#3a6797>string</font></b> trimleft <font color=#1b1baa>$line</font> {/}]
          <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>string</font></b> match #* <font color=#1b1baa>$line</font>] && [<b><font color=#3a6797>string</font></b> trimleft <font color=#1b1baa>$line1</font>] ne {} && \
          ![<b><font color=#3a6797>regexp</font></b> <font color=#1b1baa>$::hl_tcl::my::data(RETODO)</font> <font color=#1b1baa>$line</font>]} {
            <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>regexp</font></b> {^\s+} <font color=#1b1baa>$line1</font>]} {<b><font color=#3a6797>set</font></b> line1 [<b><font color=#3a6797>string</font></b> range <font color=#1b1baa>$line1</font> 1 end]}
            <b><font color=#3a6797>append</font></b> tip \n <font color=#1b1baa>$line1</font>
            <b><font color=#ca14ca>break</font></b>
          } <b><font color=#3a6797>elseif</font></b> {[<b><font color=#3a6797>string</font></b> match //* <font color=#1b1baa>$line</font>] && [<b><font color=#3a6797>string</font></b> trimleft <font color=#1b1baa>$line2</font>] ne {}} {
            <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>regexp</font></b> {^\s+} <font color=#1b1baa>$line2</font>]} {<b><font color=#3a6797>set</font></b> line2 [<b><font color=#3a6797>string</font></b> range <font color=#1b1baa>$line2</font> 1 end]}
            <b><font color=#3a6797>append</font></b> tip \n <font color=#1b1baa>$line2</font>
            <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$al(RE,proc)</font> ne {}} <b><font color=#ca14ca>break</font></b>
          } <b><font color=#3a6797>elseif</font></b> {<font color=#1b1baa>$line</font> ne {}} {
            <b><font color=#ca14ca>break</font></b>
          }
        }
      }
    }
  }
  <b><font color=#ca14ca>return</font></b> <font color=#1b1baa>$tip</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit::BranchLines></a>
<b><font color=#ca14ca>proc</font></b> unit::BranchLines {ID} {
  <i><font color=#4b5d50># Gets a line range of a branch.</font></i>
  <i><font color=#4b5d50>#   ID - ID of the branch</font></i>

  <b><font color=#3a6797>set</font></b> branch [alited::tree::GetTree <font color=#1b1baa>$ID</font>]
  <b><font color=#3a6797>set</font></b> l1 [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$branch</font> 0 4 0]
  <b><font color=#3a6797>set</font></b> l2 [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$branch</font> end 4 1]
  <b><font color=#ca14ca>return</font></b> [<b><font color=#3a6797>list</font></b> <font color=#1b1baa>$l1</font> <font color=#1b1baa>$l2</font>]
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit::UnitHeaderMode></a>
<b><font color=#ca14ca>proc</font></b> unit::UnitHeaderMode {TID} {
  <i><font color=#4b5d50># Gets modes for unit tree : do use RE for leaf headers and do not.</font></i>
  <i><font color=#4b5d50>#   TID - tab's ID</font></i>
  <i><font color=#4b5d50># Returns 2 flags: &quot;Use leaf's RE&quot; and &quot;Use proc/method declaration&quot;.</font></i>

  <b><font color=#3a6797>set</font></b> isLeafRE [IsLeafRegexp]
  <b><font color=#3a6797>set</font></b> isProc [<b><font color=#3a6797>expr</font></b> {!<font color=#1b1baa>$isLeafRE</font> && \
    (<font color=#1b1baa>$TID</font> eq {TMP} || [alited::file::IsTcl [alited::bar::FileName <font color=#1b1baa>$TID</font>]])}]
  <b><font color=#3a6797>set</font></b> leafRE [LeafRegexp]
  <b><font color=#ca14ca>return</font></b> [<b><font color=#3a6797>list</font></b> <font color=#1b1baa>$isLeafRE</font> <font color=#1b1baa>$isProc</font> <font color=#1b1baa>$leafRE</font>]
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit::GetUnits></a>
<b><font color=#ca14ca>proc</font></b> unit::GetUnits {TID textcont} {
  <i><font color=#4b5d50># Gets a unit structure from a text.</font></i>
  <i><font color=#4b5d50>#   TID - tab ID of the text</font></i>
  <i><font color=#4b5d50>#   textcont - contents of the text</font></i>
  <i><font color=#4b5d50># Returns a list of unit items.</font></i>
  <i><font color=#4b5d50># An item contains:</font></i>
  <i><font color=#4b5d50>#   - level</font></i>
  <i><font color=#4b5d50>#   - 0 (branch) or 1 (INI,LEAF)</font></i>
  <i><font color=#4b5d50>#   - title</font></i>
  <i><font color=#4b5d50>#   - line1 - first text line for the item</font></i>
  <i><font color=#4b5d50>#   - line2 - last text line for the item</font></i>

  <i><font color=#4b5d50># The procedure searhes &quot;branch&quot; units in commented lines, e.g. for:</font></i>
  <i><font color=#4b5d50>#   # ___ level 1 _____ #</font></i>
  <i><font color=#4b5d50>#   ## ___ level 2 _____ ##</font></i>
  <i><font color=#4b5d50>#   ### ___ level 3 _____ ###</font></i>
  <i><font color=#4b5d50># using regexp {^\s*(#+) [_]+([^_]+)[_]+ (#+)} $line -&gt; cmn1 title cmn2</font></i>
  <i><font color=#4b5d50># it extracts two comment marks (#, ## or ###) and a title (level 1/2/3).</font></i>
  <i><font color=#4b5d50>#</font></i>
  <i><font color=#4b5d50># To search &quot;leaf&quot; units (containing procs and methods), another `regexp`</font></i>
  <i><font color=#4b5d50># is used, e.g. for:</font></i>
  <i><font color=#4b5d50>#   # _____</font></i>
  <i><font color=#4b5d50>#   # _____ my leaf 1</font></i>
  <i><font color=#4b5d50># regexp {^\s*# [_]+([^_]*)$} $line -&gt; title</font></i>
  <i><font color=#4b5d50># extracts a title (my leaf 1).</font></i>
  <i><font color=#4b5d50>#</font></i>
  <i><font color=#4b5d50># If &quot;leaf&quot; title is empty, it's taken from the proc/method name, e.g. for</font></i>
  <i><font color=#4b5d50>#   proc unit::SelectUnit {} {...}</font></i>
  <i><font color=#4b5d50>#   method unit::SelectUnit {} {...}</font></i>
  <i><font color=#4b5d50># regexp {^\s*(proc|method)\s+([[:alnum:]_:]+)\s.+} $line -&gt; type title</font></i>
  <i><font color=#4b5d50># extracts a type (proc/method) and a title (unit::SelectUnit).</font></i>
  <i><font color=#4b5d50># The last non-empty group is taken for the title.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <b><font color=#3a6797>set</font></b> retlist [<b><font color=#3a6797>set</font></b> item [<b><font color=#3a6797>set</font></b> title [<b><font color=#3a6797>list</font></b>]]]
  <b><font color=#3a6797>set</font></b> textcont [<b><font color=#3a6797>split</font></b> <font color=#1b1baa>$textcont</font> \n]
  <b><font color=#3a6797>set</font></b> llen [<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$textcont</font>]
  <b><font color=#3a6797>lappend</font></b> textcont <font color=#8b2a0e>&quot;&quot;</font>  ;<i><font color=#4b5d50># to save a last unit to the retlist</font></i>
  <b><font color=#3a6797>lassign</font></b> [UnitHeaderMode <font color=#1b1baa>$TID</font>] isLeafRE isProc leafRE
  <b><font color=#3a6797>set</font></b> i [<b><font color=#3a6797>set</font></b> lev [<b><font color=#3a6797>set</font></b> leaf [<b><font color=#3a6797>set</font></b> icomleaf -1]]]
  <b><font color=#3a6797>foreach</font></b> line <font color=#1b1baa>$textcont</font> {
    <b><font color=#3a6797>incr</font></b> i
    <b><font color=#3a6797>set</font></b> flag1 0
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>set</font></b> flag [<b><font color=#3a6797>regexp</font></b> <font color=#1b1baa>$al(RE,branch)</font> <font color=#1b1baa>$line</font> -&gt; cmn1 title]]} {
      <i><font color=#4b5d50># a branch</font></i>
      <b><font color=#3a6797>set</font></b> leaf [<b><font color=#3a6797>set</font></b> icomleaf 0]
      <b><font color=#3a6797>set</font></b> lev [<b><font color=#3a6797>expr</font></b> {max(0,[<b><font color=#3a6797>string</font></b> length <font color=#1b1baa>$cmn1</font>]-1)}]
    } <b><font color=#3a6797>elseif</font></b> { \
    <font color=#1b1baa>$isProc</font> && [<b><font color=#3a6797>regexp</font></b> <font color=#1b1baa>$al(RE,proc)</font> <font color=#1b1baa>$line</font> -&gt; t1 t2 t3 t4 t5 t6 t7] || \
    <font color=#1b1baa>$isLeafRE</font> && [<b><font color=#3a6797>regexp</font></b> <font color=#1b1baa>$leafRE</font> <font color=#1b1baa>$line</font> -&gt; t1 t2 t3 t4 t5 t6 t7]} {
      <b><font color=#3a6797>set</font></b> title <font color=#1b1baa>$t1</font>  ;<i><font color=#4b5d50># default title: just after found string</font></i>
      <b><font color=#3a6797>foreach</font></b> t {t7 t6 t5 t4 t3 t2} {
        <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>set</font></b> _ [<b><font color=#3a6797>set</font></b> <font color=#1b1baa>$t</font>]] ne <font color=#8b2a0e>&quot;&quot;</font>} {
          <b><font color=#3a6797>set</font></b> title <font color=#1b1baa>$_</font>  ;<i><font color=#4b5d50># last non-empty group of others is a real title</font></i>
          <b><font color=#ca14ca>break</font></b>
        }
      }
      <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>set</font></b> cl [<b><font color=#3a6797>string</font></b> last :: <font color=#1b1baa>$title</font>]]&gt;-1 && [<b><font color=#3a6797>set</font></b> cl [<b><font color=#3a6797>string</font></b> last :: <font color=#1b1baa>$title</font> <font color=#1b1baa>$cl</font>]]&gt;-1} {
        <i><font color=#4b5d50># let only a last namespace be present in the titles</font></i>
        <b><font color=#3a6797>set</font></b> title [<b><font color=#3a6797>string</font></b> range <font color=#1b1baa>$title</font> <font color=#1b1baa>$cl</font>+2 end]
      }
      <b><font color=#3a6797>set</font></b> flag1 <font color=#1b1baa>$al(INI,LEAF)</font>
      <b><font color=#3a6797>set</font></b> flag [<b><font color=#3a6797>set</font></b> leaf 1]
    } <b><font color=#3a6797>else</font></b> {
      <b><font color=#3a6797>set</font></b> flag [<b><font color=#3a6797>expr</font></b> {<font color=#1b1baa>$i</font>&gt;=<font color=#1b1baa>$llen</font>}]
    }
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$flag</font>} {
      <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$item</font>]} {
        <b><font color=#3a6797>set</font></b> l1 [<b><font color=#3a6797>expr</font></b> {[<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$item</font> 4]-1}]
        <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$l1</font>&gt;0 && ![<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$retlist</font>]} {
          <i><font color=#4b5d50># first found at line&gt;1 =&gt; create a starting leaf</font></i>
          <b><font color=#3a6797>set</font></b> treeID [alited::tree::NewItemID [<b><font color=#3a6797>incr</font></b> iit]]
          <b><font color=#3a6797>lappend</font></b> retlist [<b><font color=#3a6797>list</font></b> <font color=#1b1baa>$lev</font> 1 <font color=#1b1baa>$al(INI,LEAF)</font> <font color=#8b2a0e>&quot;&quot;</font> 1 <font color=#1b1baa>$l1</font> <font color=#1b1baa>$treeID</font>]
        }
        <b><font color=#3a6797>lassign</font></b> [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$retlist</font> end] levE leafE flE namE l1E - treeIDE
        <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$item</font> levC leafC flC namC l1C
        <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$flE</font> eq <font color=#8b2a0e>&quot;1&quot;</font> && <font color=#1b1baa>$flC</font> eq <font color=#8b2a0e>&quot;0&quot;</font> && <font color=#1b1baa>$levE</font>==<font color=#1b1baa>$levC</font> && <font color=#1b1baa>$leafE</font>==<font color=#1b1baa>$leafC</font>} {
          <i><font color=#4b5d50># found a named previous leaf</font></i>
          <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$namE</font> eq <font color=#8b2a0e>&quot;&quot;</font>} {<b><font color=#3a6797>set</font></b> namE <font color=#1b1baa>$namC</font>}
          <i><font color=#4b5d50># update the named leaf</font></i>
          <b><font color=#3a6797>set</font></b> retlist [<b><font color=#3a6797>lreplace</font></b> <font color=#1b1baa>$retlist</font> end end \
            [<b><font color=#3a6797>list</font></b> <font color=#1b1baa>$levE</font> <font color=#1b1baa>$leafE</font> <font color=#1b1baa>$flE</font> <font color=#1b1baa>$namE</font> <font color=#1b1baa>$l1E</font> <font color=#1b1baa>$i</font> <font color=#1b1baa>$treeIDE</font>]]
        } <b><font color=#3a6797>else</font></b> {
          <i><font color=#4b5d50># add l2 (last line of unit), ID of unit</font></i>
          <b><font color=#3a6797>set</font></b> treeID [alited::tree::NewItemID [<b><font color=#3a6797>incr</font></b> iit]]
          <b><font color=#3a6797>lappend</font></b> retlist [<b><font color=#3a6797>lappend</font></b> item <font color=#1b1baa>$i</font> <font color=#1b1baa>$treeID</font>]
        }
      }
      <i><font color=#4b5d50># prepare an item for saving</font></i>
      <b><font color=#3a6797>set</font></b> item [<b><font color=#3a6797>list</font></b> \
        [<b><font color=#3a6797>expr</font></b> {<font color=#1b1baa>$lev</font>+<font color=#1b1baa>$leaf</font>}] <font color=#1b1baa>$leaf</font> <font color=#1b1baa>$flag1</font> [<b><font color=#3a6797>string</font></b> trim <font color=#1b1baa>$title</font> <font color=#8b2a0e>&quot; #&quot;</font>] [<b><font color=#3a6797>expr</font></b> {<font color=#1b1baa>$i</font>+1}]]
    }
  }
  <b><font color=#3a6797>if</font></b> {![<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$retlist</font>]} {
    <b><font color=#3a6797>set</font></b> name [<b><font color=#3a6797>file</font></b> tail [alited::bar::FileName <font color=#1b1baa>$TID</font>]]
    <b><font color=#3a6797>set</font></b> name [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> %f <font color=#1b1baa>$name</font>] <font color=#1b1baa>$al(MC,alloffile)</font>]
    <b><font color=#3a6797>set</font></b> treeID [alited::tree::NewItemID [<b><font color=#3a6797>incr</font></b> iit]]
    <b><font color=#3a6797>lappend</font></b> retlist [<b><font color=#3a6797>list</font></b> 1 1 1 <font color=#1b1baa>$name</font> 1 <font color=#1b1baa>$llen</font> <font color=#1b1baa>$treeID</font>]
  }
  <b><font color=#ca14ca>return</font></b> <font color=#1b1baa>$retlist</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit::SwitchUnits></a>
<b><font color=#ca14ca>proc</font></b> unit::SwitchUnits {} {
  <i><font color=#4b5d50># Switches between last two active units.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$al(FAV,visited)</font>]&lt;2} <b><font color=#ca14ca>return</font></b>
  <b><font color=#3a6797>lassign</font></b> [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$al(FAV,visited)</font> 1 4] name fname header
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>set</font></b> TID [alited::favor::OpenSelectedFile <font color=#1b1baa>$fname</font>]] eq {}} <b><font color=#ca14ca>return</font></b>
  alited::favor::GoToUnit <font color=#1b1baa>$TID</font> <font color=#1b1baa>$name</font> <font color=#1b1baa>$header</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit::RecreateUnits></a>
<b><font color=#ca14ca>proc</font></b> unit::RecreateUnits {TID wtxt} {
  <i><font color=#4b5d50># Recreates the internal tree of units.</font></i>
  <i><font color=#4b5d50>#   TID - tab's ID</font></i>
  <i><font color=#4b5d50>#   wtxt - text's path</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <b><font color=#3a6797>set</font></b> al(_unittree,<font color=#1b1baa>$TID</font>) [GetUnits <font color=#1b1baa>$TID</font> [<font color=#1b1baa>$wtxt</font> get 1.0 {end -1 char}]]
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit::LeafRegexp></a>
<b><font color=#ca14ca>proc</font></b> unit::LeafRegexp {} {
  <i><font color=#4b5d50># Gets &quot;leaf's regexp&quot; setting.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$al(prjuseleafRE)</font> && <font color=#1b1baa>$al(prjleafRE)</font> ne {}} {
    <b><font color=#ca14ca>return</font></b> <font color=#1b1baa>$al(prjleafRE)</font>
  }
  <b><font color=#ca14ca>return</font></b> <font color=#1b1baa>$al(RE,leaf)</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit::IsLeafRegexp></a>
<b><font color=#ca14ca>proc</font></b> unit::IsLeafRegexp {} {
  <i><font color=#4b5d50># Checks for using &quot;leaf's regexp&quot; setting.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <b><font color=#3a6797>set</font></b> al(prjuseleafRE) [<b><font color=#3a6797>string</font></b> is true <font color=#653760>-strict</font> <font color=#1b1baa>$al(prjuseleafRE)</font>]
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$al(prjuseleafRE)</font> && <font color=#1b1baa>$al(prjleafRE)</font> ne {}} {
    <b><font color=#3a6797>set</font></b> res 1
  } <b><font color=#3a6797>else</font></b> {
    <b><font color=#3a6797>set</font></b> res [<b><font color=#3a6797>expr</font></b> {<font color=#1b1baa>$al(RE,leaf)</font> ne {} && <font color=#1b1baa>$al(INI,LEAF)</font>}]
  }
  <b><font color=#ca14ca>return</font></b> <font color=#1b1baa>$res</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit::UnitRegexp></a>
<b><font color=#ca14ca>proc</font></b> unit::UnitRegexp {} {
  <i><font color=#4b5d50># Gets RE to check unit's beginning.</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <b><font color=#3a6797>if</font></b> {[IsLeafRegexp]} {
    <b><font color=#ca14ca>return</font></b> [LeafRegexp]
  }
  <b><font color=#ca14ca>return</font></b> <font color=#1b1baa>$al(RE,proc2)</font>
}
<a id=Templates></a>
<i><font color=#4b5d50># ________________________ Templates _________________________ #</font></i>
<a id=unit::TemplateMap></a>
<b><font color=#ca14ca>proc</font></b> unit::TemplateMap {str} {
  <i><font color=#4b5d50># Maps a string using template wildcards.</font></i>
  <i><font color=#4b5d50>#   str - string to map</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al DIR DIR
  <b><font color=#3a6797>set</font></b> sec [<b><font color=#3a6797>clock</font></b> seconds]
  <b><font color=#3a6797>set</font></b> fname [alited::bar::FileName]
  <b><font color=#ca14ca>return</font></b> [alited::Map {} <font color=#1b1baa>$str</font> \
    %d [alited::tool::FormatDate <font color=#1b1baa>$sec</font>] \
    %t [<b><font color=#3a6797>clock</font></b> format <font color=#1b1baa>$sec</font> <font color=#653760>-format</font> <font color=#1b1baa>$al(TPL,%t)</font> <font color=#653760>-locale</font> <font color=#1b1baa>$::alited::al(LOCAL)</font>] \
    %u <font color=#1b1baa>$al(TPL,%u)</font> \
    %U <font color=#1b1baa>$al(TPL,%U)</font> \
    %m <font color=#1b1baa>$al(TPL,%m)</font> \
    %w <font color=#1b1baa>$al(TPL,%w)</font> \
    %F <font color=#1b1baa>$fname</font> \
    %f [<b><font color=#3a6797>file</font></b> tail <font color=#1b1baa>$fname</font>] \
    %n [<b><font color=#3a6797>file</font></b> rootname [<b><font color=#3a6797>file</font></b> tail <font color=#1b1baa>$fname</font>]] \
    %A <font color=#1b1baa>$DIR</font> \
    %M <font color=#1b1baa>$al(EM,mnudir)</font> \
    ]
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit::TemplateData></a>
<b><font color=#ca14ca>proc</font></b> unit::TemplateData {wtxt l1 l2 tpldata} {
  <i><font color=#4b5d50># Replaces the template wildcards with data of current text and unit.</font></i>
  <i><font color=#4b5d50>#   wtxt - text's path</font></i>
  <i><font color=#4b5d50>#   l1 - 1st line of current unit</font></i>
  <i><font color=#4b5d50>#   l2 - last line of current unit</font></i>
  <i><font color=#4b5d50>#   tpldata - template</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al DIR DIR MNUDIR MNUDIR
  <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$tpldata</font> tex pos place
  <b><font color=#3a6797>set</font></b> sec [<b><font color=#3a6797>clock</font></b> seconds]
  <b><font color=#3a6797>set</font></b> fname [alited::bar::FileName]
  <b><font color=#3a6797>set</font></b> tex [TemplateMap <font color=#1b1baa>$tex</font>]
  <i><font color=#4b5d50># get a list of proc/method's arguments:</font></i>
  <i><font color=#4b5d50># from &quot;proc pr {ar1 ar2 ar3} &quot; and a template &quot;  # %a -\n&quot;</font></i>
  <i><font color=#4b5d50># to get</font></i>
  <i><font color=#4b5d50>#   # ar1 -</font></i>
  <i><font color=#4b5d50>#   # ar2 -</font></i>
  <i><font color=#4b5d50>#   # ar3 -</font></i>
  <b><font color=#3a6797>set</font></b> unithead [GetDeclaration <font color=#1b1baa>$wtxt</font> {} <font color=#1b1baa>$l1</font> <font color=#1b1baa>$l2</font>]
  <b><font color=#3a6797>set</font></b> unithead [<b><font color=#3a6797>string</font></b> trim <font color=#1b1baa>$unithead</font> <font color=#8b2a0e>&quot;\{ &quot;</font>]
  <b><font color=#3a6797>lassign</font></b> [<b><font color=#3a6797>split</font></b> <font color=#1b1baa>$unithead</font> <font color=#8b2a0e>&quot;\{&quot;</font>] proc
  <b><font color=#3a6797>set</font></b> iarg [<b><font color=#3a6797>string</font></b> range <font color=#1b1baa>$unithead</font> [<b><font color=#3a6797>string</font></b> length <font color=#1b1baa>$proc</font>] end]
  <b><font color=#3a6797>catch</font></b> {
    <b><font color=#3a6797>set</font></b> ipad [obj leadingSpaces [<font color=#1b1baa>$wtxt</font> get <font color=#1b1baa>$l1</font>.0 <font color=#1b1baa>$l1</font>.end]]
    <b><font color=#3a6797>if</font></b> {![IsLeafRegexp]} {
      <b><font color=#3a6797>incr</font></b> ipad [obj leadingSpaces <font color=#1b1baa>$tex</font>]
    }
    <b><font color=#3a6797>set</font></b> pad [<b><font color=#3a6797>string</font></b> repeat <font color=#8b2a0e>&quot; &quot;</font> <font color=#1b1baa>$ipad</font>]
    <b><font color=#3a6797>set</font></b> tpla <font color=#1b1baa>$pad</font>[<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> \\n \n] <font color=#1b1baa>$al(TPL,%a)</font>]
    <b><font color=#3a6797>set</font></b> oarg [<b><font color=#3a6797>set</font></b> st1 <font color=#8b2a0e>&quot;&quot;</font>]
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>string</font></b> match \{<b><font color=#3a6797>*</font></b>\} <font color=#1b1baa>$iarg</font>]} {<b><font color=#3a6797>set</font></b> iarg [<b><font color=#3a6797>string</font></b> range <font color=#1b1baa>$iarg</font> 1 end-1]}
    <b><font color=#3a6797>foreach</font></b> a [<b><font color=#3a6797>list</font></b> {<b><font color=#3a6797>*</font></b>}<font color=#1b1baa>$iarg</font>] {
      <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$a</font> a
      <b><font color=#3a6797>set</font></b> a [<b><font color=#3a6797>string</font></b> trim <font color=#1b1baa>$a</font> <font color=#8b2a0e>&quot;\{\} &quot;</font>]
      <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$a</font> ne {}} {
        <b><font color=#3a6797>set</font></b> st [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> %a <font color=#1b1baa>$a</font>] <font color=#1b1baa>$tpla</font>]
        <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$st1</font> eq <font color=#8b2a0e>&quot;&quot;</font>} {<b><font color=#3a6797>set</font></b> st1 <font color=#1b1baa>$st</font>}
        <b><font color=#3a6797>append</font></b> oarg <font color=#1b1baa>$st</font>
      }
    }
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>string</font></b> first %a <font color=#1b1baa>$tex</font>]&gt;-1} {
      <b><font color=#3a6797>set</font></b> tex <font color=#1b1baa>$pad</font>[<b><font color=#3a6797>string</font></b> trimleft <font color=#1b1baa>$tex</font>]
      <b><font color=#3a6797>set</font></b> place 0
      <b><font color=#3a6797>set</font></b> pos 1.[<b><font color=#3a6797>string</font></b> length <font color=#1b1baa>$st1</font>]
    }
    <b><font color=#3a6797>set</font></b> tex [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> \\n \n %a <font color=#1b1baa>$oarg</font>] <font color=#1b1baa>$tex</font>]
  }
  <b><font color=#3a6797>set</font></b> ll1 [<b><font color=#3a6797>string</font></b> length <font color=#1b1baa>$tex</font>]
  <b><font color=#3a6797>set</font></b> tex [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> %p [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$proc</font> 1]] <font color=#1b1baa>$tex</font>]
  <b><font color=#3a6797>set</font></b> ll2 [<b><font color=#3a6797>string</font></b> length <font color=#1b1baa>$tex</font>]
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>set</font></b> ll [<b><font color=#3a6797>expr</font></b> {<font color=#1b1baa>$ll2</font>-<font color=#1b1baa>$ll1</font>}]]} {
    <b><font color=#3a6797>lassign</font></b> [<b><font color=#3a6797>split</font></b> <font color=#1b1baa>$pos</font> .] r c
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>string</font></b> is digit <font color=#653760>-strict</font> <font color=#1b1baa>$c</font>]} {
      <b><font color=#3a6797>set</font></b> pos <font color=#1b1baa>$r</font>.[<b><font color=#3a6797>expr</font></b> {<font color=#1b1baa>$c</font>+<font color=#1b1baa>$ll</font>}]
    }
  }
  <b><font color=#ca14ca>return</font></b> [<b><font color=#3a6797>list</font></b> <font color=#1b1baa>$tex</font> <font color=#1b1baa>$pos</font> <font color=#1b1baa>$place</font>]
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit::InsertTemplate></a>
<b><font color=#ca14ca>proc</font></b> unit::InsertTemplate {tpldata {dobreak yes}} {
  <i><font color=#4b5d50># Inserts a template into a current text.</font></i>
  <i><font color=#4b5d50>#   tpldata - template</font></i>
  <i><font color=#4b5d50>#   dobreak - if yes, means &quot;called from bindings, should return -code break&quot;</font></i>

  <i><font color=#4b5d50># for noname file - save it beforehand, as templates refer to a file name</font></i>
  <b><font color=#3a6797>if</font></b> {[alited::file::IsNoName [alited::bar::FileName]]} {
    <b><font color=#3a6797>if</font></b> {![alited::file::SaveFile]} {
      <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$dobreak</font>} {<b><font color=#ca14ca>return</font></b> <font color=#653760>-code</font> break}
      <b><font color=#ca14ca>return</font></b>
    }
  }
  <b><font color=#3a6797>set</font></b> wtxt [alited::main::CurrentWTXT]
  <b><font color=#3a6797>lassign</font></b> [alited::tree::CurrentItemByLine <font color=#8b2a0e>&quot;&quot;</font> 1] itemID - - - - l1 l2
  <b><font color=#3a6797>lassign</font></b> [TemplateData <font color=#1b1baa>$wtxt</font> <font color=#1b1baa>$l1</font> <font color=#1b1baa>$l2</font> <font color=#1b1baa>$tpldata</font>] tex posc place
  <b><font color=#3a6797>lassign</font></b> [<b><font color=#3a6797>split</font></b> <font color=#1b1baa>$posc</font> .] -&gt; col0
  <b><font color=#3a6797>switch</font></b> <font color=#1b1baa>$place</font> {
    0 { ;<i><font color=#4b5d50># returned by TemplateData: after a declaration</font></i>
      <b><font color=#3a6797>set</font></b> pos0 [<b><font color=#3a6797>expr</font></b> {<font color=#1b1baa>$l1</font>+1}].0
    }
    4 { ;<i><font color=#4b5d50># after 1st line</font></i>
      <b><font color=#3a6797>set</font></b> pos0 1.0
    }
    3 { ;<i><font color=#4b5d50># after cursor</font></i>
      <b><font color=#3a6797>set</font></b> pos0 [<font color=#1b1baa>$wtxt</font> index insert]
    }
    2 { ;<i><font color=#4b5d50># after unit</font></i>
      <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$l2</font> ne <font color=#8b2a0e>&quot;&quot;</font>} {
        <b><font color=#3a6797>set</font></b> pos0 [<font color=#1b1baa>$wtxt</font> index <font color=#8b2a0e>&quot;<font color=#1b1baa>$</font>l2.0 +1 line linestart&quot;</font>]
        <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>string</font></b> index <font color=#1b1baa>$tex</font> end] ne <font color=#8b2a0e>&quot;\n&quot;</font>} {<b><font color=#3a6797>append</font></b> tex \n}
        <b><font color=#3a6797>lassign</font></b> [CorrectPos <font color=#1b1baa>$wtxt</font> <font color=#1b1baa>$tex</font> <font color=#1b1baa>$posc</font> <font color=#1b1baa>$pos0</font> {}] tex pos0 posc
        <b><font color=#3a6797>lassign</font></b> [<b><font color=#3a6797>split</font></b> <font color=#1b1baa>$posc</font> .] -&gt; col0
      } <b><font color=#3a6797>else</font></b> {
        <b><font color=#3a6797>set</font></b> place 1
      }
    }
    <b><font color=#3a6797>default</font></b> { ;<i><font color=#4b5d50># after line</font></i>
      <b><font color=#3a6797>set</font></b> place 1
    }
  }
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$place</font> == 1} {
    <b><font color=#3a6797>set</font></b> pos0 [<font color=#1b1baa>$wtxt</font> index <font color=#8b2a0e>&quot;insert +1 line linestart&quot;</font>]
    <b><font color=#3a6797>set</font></b> posi [<font color=#1b1baa>$wtxt</font> index <font color=#8b2a0e>&quot;insert linestart&quot;</font>]
    <b><font color=#3a6797>lassign</font></b> [CorrectPos <font color=#1b1baa>$wtxt</font> <font color=#1b1baa>$tex</font> <font color=#1b1baa>$posc</font> <font color=#1b1baa>$pos0</font> <font color=#1b1baa>$posi</font>] tex pos0 posc
    <b><font color=#3a6797>lassign</font></b> [<b><font color=#3a6797>split</font></b> <font color=#1b1baa>$posc</font> .] -&gt; col0
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>string</font></b> index <font color=#1b1baa>$tex</font> end] ne <font color=#8b2a0e>&quot;\n&quot;</font>} {<b><font color=#3a6797>append</font></b> tex \n}
  }
  <b><font color=#3a6797>set</font></b> posc <font color=#8b2a0e>&quot;<font color=#1b1baa>[</font>expr <font color=#1b1baa>{</font>int(<font color=#1b1baa>$</font>posc)-1<font color=#1b1baa>}]</font>.<font color=#1b1baa>$</font>col0&quot;</font>
  <b><font color=#3a6797>set</font></b> posc [::apave::p+ <font color=#1b1baa>$pos0</font> <font color=#1b1baa>$posc</font>]
  <font color=#1b1baa>$wtxt</font> insert <font color=#1b1baa>$pos0</font> <font color=#1b1baa>$tex</font>
  ::tk::TextSetCursor <font color=#1b1baa>$wtxt</font> <font color=#1b1baa>$posc</font>
  alited::main::UpdateAll
  <b><font color=#3a6797>after</font></b> idle alited::main::FocusText
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$dobreak</font>} {<b><font color=#ca14ca>return</font></b> <font color=#653760>-code</font> break}
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit::CorrectPos></a>
<b><font color=#ca14ca>proc</font></b> unit::CorrectPos {wtxt tex posc pos0 posi} {
  <i><font color=#4b5d50># Corrects an insert position, counting the insertion point's indentation.</font></i>
  <i><font color=#4b5d50>#   wtxt - current text widget</font></i>
  <i><font color=#4b5d50>#   tex - template's text</font></i>
  <i><font color=#4b5d50>#   posc - relative position of cursor</font></i>
  <i><font color=#4b5d50>#   pos0 - position of insertion</font></i>
  <i><font color=#4b5d50>#   posi - cursor position</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <b><font color=#3a6797>variable</font></b> REtodel
  <b><font color=#3a6797>set</font></b> tlist [<b><font color=#3a6797>split</font></b> <font color=#1b1baa>$tex</font> \n]
  <b><font color=#3a6797>set</font></b> indent1 0
  <b><font color=#3a6797>foreach</font></b> t <font color=#1b1baa>$tlist</font> {
    <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>set</font></b> t [<b><font color=#3a6797>string</font></b> trim <font color=#1b1baa>$t</font>]] ne {}} {
      <b><font color=#3a6797>set</font></b> indent1 [obj leadingSpaces <font color=#1b1baa>$t</font>]  ;<i><font color=#4b5d50># indentation of the template</font></i>
      <b><font color=#ca14ca>break</font></b>
    }
  }
  <b><font color=#3a6797>set</font></b> pos1 [<b><font color=#3a6797>expr</font></b> {int([<font color=#1b1baa>$wtxt</font> index <font color=#1b1baa>$pos0</font>])}]
  <b><font color=#3a6797>set</font></b> line2 [<font color=#1b1baa>$wtxt</font> get <font color=#1b1baa>$pos1</font>.0 <font color=#1b1baa>$pos1</font>.end]
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$posi</font> eq {}} {
    <b><font color=#3a6797>set</font></b> indent2 [obj leadingSpaces <font color=#1b1baa>$line2</font>]  ;<i><font color=#4b5d50># indentation of the insert point</font></i>
  } <b><font color=#3a6797>else</font></b> {
    <b><font color=#3a6797>set</font></b> posi [<b><font color=#3a6797>expr</font></b> {int(<font color=#1b1baa>$posi</font>)}]
    <b><font color=#3a6797>set</font></b> linei [<b><font color=#3a6797>string</font></b> trimright [<font color=#1b1baa>$wtxt</font> get <font color=#1b1baa>$posi</font>.0 <font color=#1b1baa>$posi</font>.end]]
    <b><font color=#3a6797>set</font></b> indent2 [obj leadingSpaces <font color=#1b1baa>$linei</font>]
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$linei</font> eq {}} {
      <b><font color=#3a6797>foreach</font></b> i {+0 +1 +2 -1 -2} {
        <b><font color=#3a6797>set</font></b> i [<b><font color=#3a6797>expr</font></b> <font color=#1b1baa>$posi$i</font>]
        <b><font color=#3a6797>set</font></b> ind [obj leadingSpaces [<font color=#1b1baa>$wtxt</font> get <font color=#1b1baa>$i</font>.0 <font color=#1b1baa>$i</font>.end]=]
        <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$ind</font>} {
          <b><font color=#3a6797>set</font></b> indent2 <font color=#1b1baa>$ind</font>
          <b><font color=#ca14ca>break</font></b>
        }
      }
    }
  }
  <b><font color=#3a6797>lassign</font></b> [<b><font color=#3a6797>split</font></b> <font color=#1b1baa>$posc</font> .] pl pc
  <i><font color=#4b5d50># If 1st line of the template is underlined, we place it under a previous</font></i>
  <i><font color=#4b5d50># unit's closing brace. But if the insertion point is already underlined</font></i>
  <i><font color=#4b5d50># or is a branch, we move 1st line of the template to its end.</font></i>
  <i><font color=#4b5d50># Or remove it at all, at the end of branch.</font></i>
  <b><font color=#3a6797>set</font></b> line1 [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$tlist</font> 0]
  <b><font color=#3a6797>set</font></b> under {^\s*#\s?_+$}
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>regexp</font></b> <font color=#1b1baa>$under</font> <font color=#1b1baa>$line1</font>]} {
    <b><font color=#3a6797>set</font></b> isund [<b><font color=#3a6797>expr</font></b> {[<b><font color=#3a6797>regexp</font></b> <font color=#1b1baa>$under</font> <font color=#1b1baa>$line2</font>] || [<b><font color=#3a6797>regexp</font></b> <font color=#1b1baa>$al(RE,leaf2)</font> <font color=#1b1baa>$line2</font>]}]
    <b><font color=#3a6797>while</font></b> {[<b><font color=#3a6797>incr</font></b> pos1 -1]&gt;1} {
      <b><font color=#3a6797>set</font></b> line [<b><font color=#3a6797>string</font></b> trim [<font color=#1b1baa>$wtxt</font> get <font color=#1b1baa>$pos1</font>.0 <font color=#1b1baa>$pos1</font>.end]]
      <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$line</font> ne {}} {
        <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>regexp</font></b> <font color=#1b1baa>$under</font> <font color=#1b1baa>$line</font>] || [<b><font color=#3a6797>regexp</font></b> <font color=#1b1baa>$al(RE,leaf2)</font> <font color=#1b1baa>$line</font>]} {
          <b><font color=#3a6797>set</font></b> tex [<b><font color=#3a6797>string</font></b> range <font color=#1b1baa>$tex</font> [<b><font color=#3a6797>string</font></b> first \n <font color=#1b1baa>$tex</font>] end]
          <b><font color=#3a6797>set</font></b> len1 [<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$tlist</font>]
          <b><font color=#3a6797>set</font></b> len2 [<b><font color=#3a6797>llength</font></b> [<b><font color=#3a6797>split</font></b> [<b><font color=#3a6797>string</font></b> trimleft <font color=#1b1baa>$tex</font>] \n]]
          <b><font color=#3a6797>set</font></b> tex \n[<b><font color=#3a6797>string</font></b> trim <font color=#1b1baa>$tex</font>]\n
          <b><font color=#3a6797>if</font></b> {!<font color=#1b1baa>$isund</font>} {<b><font color=#3a6797>append</font></b> tex <font color=#1b1baa>$line1</font> \n}
          <b><font color=#3a6797>incr</font></b> pl [<b><font color=#3a6797>expr</font></b> {<font color=#1b1baa>$len2</font>-<font color=#1b1baa>$len1</font>+1}]  ;<i><font color=#4b5d50># cursor position changed too</font></i>
          <b><font color=#3a6797>set</font></b> posc <font color=#1b1baa>$pl</font>.<font color=#1b1baa>$pc</font>
        } <b><font color=#3a6797>elseif</font></b> {<font color=#1b1baa>$line</font> ne <font color=#8b2a0e>&quot;\}&quot;</font>} {
          <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$isund</font>} {<b><font color=#3a6797>append</font></b> tex \n}
          <b><font color=#ca14ca>break</font></b>
        }
        <b><font color=#3a6797>set</font></b> pos0 [<font color=#1b1baa>$wtxt</font> index <font color=#8b2a0e>&quot;<font color=#1b1baa>$</font>pos1.0 + 1 line&quot;</font>]
        <b><font color=#ca14ca>break</font></b>
      }
    }
  }
  Source_unit_tpl
  <i><font color=#4b5d50># indent the template & increment the cursor position</font></i>
  <b><font color=#3a6797>if</font></b> {![<b><font color=#3a6797>regexp</font></b> <font color=#1b1baa>$REtodel</font> <font color=#1b1baa>$tex</font>] && <font color=#1b1baa>$indent1</font>&lt;<font color=#1b1baa>$indent2</font>} {
    <b><font color=#3a6797>incr</font></b> indent2 -<font color=#1b1baa>$indent1</font>
    <b><font color=#3a6797>set</font></b> indent [<b><font color=#3a6797>string</font></b> repeat { } <font color=#1b1baa>$indent2</font>]
    <b><font color=#3a6797>lassign</font></b> [<b><font color=#3a6797>split</font></b> <font color=#1b1baa>$posc</font> .] pl pc
    <b><font color=#3a6797>set</font></b> posc <font color=#1b1baa>$pl</font>.[<b><font color=#3a6797>incr</font></b> pc <font color=#1b1baa>$indent2</font>]
    <b><font color=#3a6797>foreach</font></b> t [<b><font color=#3a6797>split</font></b> <font color=#1b1baa>$tex</font> \n] {
      <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>incr</font></b> _cnt]==1} {<b><font color=#3a6797>set</font></b> tex {}} {<b><font color=#3a6797>append</font></b> tex \n}
      <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$t</font> ne {}} {<b><font color=#3a6797>set</font></b> t <font color=#1b1baa>$indent$t</font>}
      <b><font color=#3a6797>append</font></b> tex <font color=#1b1baa>$t</font>
    }
  }
  <b><font color=#ca14ca>return</font></b> [<b><font color=#3a6797>list</font></b> <font color=#1b1baa>$tex</font> <font color=#1b1baa>$pos0</font> <font color=#1b1baa>$posc</font>]
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit::Source_unit_tpl></a>
<b><font color=#ca14ca>proc</font></b> unit::Source_unit_tpl {} {
  <i><font color=#4b5d50># Sources unit_tpl.tcl.</font></i>

  <b><font color=#3a6797>if</font></b> {![<b><font color=#3a6797>namespace</font></b> exists ::alited::unit_tpl]} {
    <b><font color=#ca14ca>namespace</font></b> eval ::alited {
      <b><font color=#3a6797>source</font></b> [<b><font color=#3a6797>file</font></b> join <font color=#1b1baa>$SRCDIR</font> unit_tpl.tcl]
    }
  }
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit::Run_unit_tpl></a>
<b><font color=#ca14ca>proc</font></b> unit::Run_unit_tpl {args} {
  <i><font color=#4b5d50># Runs Templates dialogue.</font></i>

  Source_unit_tpl
  <b><font color=#ca14ca>return</font></b> [::alited::unit_tpl::_run {<b><font color=#3a6797>*</font></b>}<font color=#1b1baa>$args</font>]
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit::Add></a>
<b><font color=#ca14ca>proc</font></b> unit::Add {} {
  <i><font color=#4b5d50># Runs a dialog &quot;Add Template&quot; and adds a chosen template to a text.</font></i>

  <b><font color=#3a6797>set</font></b> res [Run_unit_tpl]
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$res</font> ne {}} {InsertTemplate <font color=#1b1baa>$res</font> no}
  alited::keys::BindKeys [alited::main::CurrentWTXT] template
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit::Delete></a>
<b><font color=#ca14ca>proc</font></b> unit::Delete {wtree fname sy} {
  <i><font color=#4b5d50># Deletes a unit from a text.</font></i>
  <i><font color=#4b5d50>#   wtree - unit tree's path</font></i>
  <i><font color=#4b5d50>#   fname - file name</font></i>
  <i><font color=#4b5d50>#   sy - relative Y-coordinate for a query</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <b><font color=#3a6797>set</font></b> wtxt [alited::main::CurrentWTXT]
  <b><font color=#3a6797>set</font></b> selection [<font color=#1b1baa>$wtree</font> selection]
  <b><font color=#3a6797>set</font></b> wasdel no
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>set</font></b> llen [<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$selection</font>]]&gt;1} {
    <b><font color=#3a6797>set</font></b> dlg yesnocancel
    <b><font color=#3a6797>set</font></b> dlgopts [<b><font color=#3a6797>list</font></b> <font color=#653760>-ch</font> <font color=#1b1baa>$al(MC,noask)</font>]
  } <b><font color=#3a6797>else</font></b> {
    <b><font color=#3a6797>set</font></b> dlg yesno
    <b><font color=#3a6797>set</font></b> dlgopts [alited::tree::syOption <font color=#1b1baa>$sy</font>]
  }
  <b><font color=#3a6797>set</font></b> ans 1
  <b><font color=#3a6797>for</font></b> {<b><font color=#3a6797>set</font></b> i <font color=#1b1baa>$llen</font>} {<font color=#1b1baa>$i</font>} {} {
    <i><font color=#4b5d50># delete units from the text's bottom (text selection is sorted by items)</font></i>
    <b><font color=#3a6797>incr</font></b> i -1
    <b><font color=#3a6797>set</font></b> ID [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$selection</font> <font color=#1b1baa>$i</font>]
    <b><font color=#3a6797>set</font></b> name [<font color=#1b1baa>$wtree</font> item <font color=#1b1baa>$ID</font> <font color=#653760>-text</font>]
    <b><font color=#3a6797>set</font></b> msg [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> %n <font color=#1b1baa>$name</font> %f [<b><font color=#3a6797>file</font></b> tail <font color=#1b1baa>$fname</font>]] <font color=#1b1baa>$al(MC,delitem)</font>]
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$ans</font>&lt;11} {
      <b><font color=#3a6797>set</font></b> ans [alited::msg <font color=#1b1baa>$dlg</font> ques <font color=#1b1baa>$msg</font> YES {<b><font color=#3a6797>*</font></b>}<font color=#1b1baa>$dlgopts</font>]
    }
    <b><font color=#3a6797>switch</font></b> <font color=#1b1baa>$ans</font> {
      0 - 12 break
      1 - 11 {
        <b><font color=#3a6797>lassign</font></b> [<font color=#1b1baa>$wtree</font> item <font color=#1b1baa>$ID</font> <font color=#653760>-values</font>] l1 l2
        <b><font color=#3a6797>set</font></b> ind2 [<font color=#1b1baa>$wtxt</font> index <font color=#8b2a0e>&quot;<font color=#1b1baa>$</font>l2.end +1 char&quot;</font>]
        <font color=#1b1baa>$wtxt</font> delete <font color=#1b1baa>$l1</font>.0 <font color=#1b1baa>$ind2</font>
        <b><font color=#3a6797>set</font></b> wasdel yes
      }
    }
  }
}
<a id=Moving_units></a>
<i><font color=#4b5d50># ________________________ Moving units _________________________ #</font></i>
<a id=unit::DropUnits></a>
<b><font color=#ca14ca>proc</font></b> unit::DropUnits {wtree fromIDs toID} {
  <i><font color=#4b5d50># Moves unit(s) from one location in the unit tree to other.</font></i>
  <i><font color=#4b5d50>#   wtree - unit tree's path</font></i>
  <i><font color=#4b5d50>#   fromIDs - IDs of tree item &quot;to move from&quot;</font></i>
  <i><font color=#4b5d50>#   toID - ID of tree item &quot;to move to&quot;</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited obPav obPav
  <b><font color=#3a6797>set</font></b> tree [alited::tree::GetTree]
  <b><font color=#3a6797>set</font></b> wtxt [alited::main::CurrentWTXT]
  <b><font color=#3a6797>set</font></b> wtree [<font color=#1b1baa>$obPav</font> Tree]
  undoIn <font color=#1b1baa>$wtxt</font>
  <i><font color=#4b5d50># firstly, cut all moved lines</font></i>
  <b><font color=#3a6797>set</font></b> ijust 0
  <b><font color=#3a6797>set</font></b> movedlines [<b><font color=#3a6797>list</font></b>]
  <i><font color=#4b5d50># we must cut from below, so sort units reversely:</font></i>
  <b><font color=#3a6797>set</font></b> fromIDs [<b><font color=#3a6797>lsort</font></b> <font color=#653760>-decreasing</font> <font color=#653760>-dictionary</font> <font color=#1b1baa>$fromIDs</font>]
  <b><font color=#3a6797>set</font></b> headers [<b><font color=#3a6797>list</font></b>]
  <b><font color=#3a6797>foreach</font></b> fromID <font color=#1b1baa>$fromIDs</font> {
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$fromID</font> eq <font color=#1b1baa>$toID</font>} <b><font color=#ca14ca>continue</font></b>
    <i><font color=#4b5d50># simply for each unit: find its moved lines and a destination line</font></i>
    <b><font color=#3a6797>set</font></b> i1 [<b><font color=#3a6797>set</font></b> i2 [<b><font color=#3a6797>set</font></b> io 0]]
    <b><font color=#3a6797>foreach</font></b> item <font color=#1b1baa>$tree</font> {
      <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$item</font> lev cnt id title values
      <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$values</font> l1 l2 prl id lev leaf fl1
      <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$id</font> eq <font color=#1b1baa>$fromID</font>} {
        <b><font color=#3a6797>set</font></b> i1 <font color=#1b1baa>$l1</font>
        <b><font color=#3a6797>set</font></b> i2 <font color=#1b1baa>$l2</font>
      } <b><font color=#3a6797>elseif</font></b> {<font color=#1b1baa>$id</font> eq <font color=#1b1baa>$toID</font>} {
        <b><font color=#3a6797>set</font></b> io <font color=#1b1baa>$l1</font>
      }
    }
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$i1</font> && <font color=#1b1baa>$i2</font> && <font color=#1b1baa>$io</font>} {
      <b><font color=#3a6797>lappend</font></b> headers [GetHeader <font color=#1b1baa>$wtree</font> <font color=#1b1baa>$fromID</font>]
      <i><font color=#4b5d50># if the unit is above the destination, the destination should be adjusted</font></i>
      <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$i2</font>&lt;<font color=#1b1baa>$io</font>} {<b><font color=#3a6797>set</font></b> ijust [<b><font color=#3a6797>expr</font></b> {<font color=#1b1baa>$ijust</font>-<font color=#1b1baa>$i2</font>+<font color=#1b1baa>$i1</font>-1}]}
      <b><font color=#3a6797>set</font></b> ind2 [<font color=#1b1baa>$wtxt</font> index <font color=#8b2a0e>&quot;<font color=#1b1baa>$</font>i2.end +1 char&quot;</font>]
      <b><font color=#3a6797>set</font></b> lines [<font color=#1b1baa>$wtxt</font> get <font color=#1b1baa>$i1</font>.0 <font color=#1b1baa>$ind2</font>]
      <font color=#1b1baa>$wtxt</font> delete <font color=#1b1baa>$i1</font>.0 <font color=#1b1baa>$ind2</font>
      <i><font color=#4b5d50># the cut lines are saved, to paste them afterwards</font></i>
      <b><font color=#3a6797>lappend</font></b> movedlines <font color=#1b1baa>$lines</font>
    }
  }
  <i><font color=#4b5d50># secondly, paste all moved lines</font></i>
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$movedlines</font>]} {
    <b><font color=#3a6797>incr</font></b> io <font color=#1b1baa>$ijust</font>
    <b><font color=#3a6797>foreach</font></b> lines <font color=#1b1baa>$movedlines</font> {
      <font color=#1b1baa>$wtxt</font> insert <font color=#1b1baa>$io</font>.0 <font color=#1b1baa>$lines</font>
    }
    ::tk::TextSetCursor <font color=#1b1baa>$wtxt</font> <font color=#1b1baa>$io</font>.0
    alited::main::UpdateAll <font color=#1b1baa>$headers</font>
    alited::main::FocusText
  }
  undoOut <font color=#1b1baa>$wtxt</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit::MoveL1L2></a>
<b><font color=#ca14ca>proc</font></b> unit::MoveL1L2 {wtxt i1 i2 io {dosep yes}} {
  <i><font color=#4b5d50># Moves a text lines to other location.</font></i>
  <i><font color=#4b5d50>#   wtxt - text widget's path</font></i>
  <i><font color=#4b5d50>#   i1 - first line to be moved</font></i>
  <i><font color=#4b5d50>#   i2 - last line to be moved</font></i>
  <i><font color=#4b5d50>#   io - destination line (to insert the moved lines before)</font></i>
  <i><font color=#4b5d50>#   dosep - yes, if &quot;edit separator&quot; is required</font></i>
  <i><font color=#4b5d50># Returns a position of destination line, if the moving was successful.</font></i>

  <b><font color=#3a6797>set</font></b> ind2 [<font color=#1b1baa>$wtxt</font> index <font color=#8b2a0e>&quot;<font color=#1b1baa>$</font>i2.end +1 char&quot;</font>]
  <b><font color=#3a6797>if</font></b> {(<font color=#1b1baa>$i1</font>&lt;=<font color=#1b1baa>$io</font> && <font color=#1b1baa>$io</font>&lt;=<font color=#1b1baa>$i2</font>) || <font color=#1b1baa>$io</font>&lt;1 || <font color=#1b1baa>$i1</font>&lt;1 || <font color=#1b1baa>$i2</font>&lt;1 || \
  [<b><font color=#3a6797>set</font></b> linesmoved [<font color=#1b1baa>$wtxt</font> get <font color=#1b1baa>$i1</font>.0 <font color=#1b1baa>$ind2</font>]] eq <font color=#8b2a0e>&quot;&quot;</font>} {
    <b><font color=#ca14ca>return</font></b> <font color=#8b2a0e>&quot;&quot;</font> ;<i><font color=#4b5d50># nothing to do</font></i>
  }
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$dosep</font>} {undoIn <font color=#1b1baa>$wtxt</font>}
  <font color=#1b1baa>$wtxt</font> delete <font color=#1b1baa>$i1</font>.0 <font color=#1b1baa>$ind2</font>
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$io</font>&gt;<font color=#1b1baa>$i2</font>} {
    <i><font color=#4b5d50># 3. i1    if moved below, the moved (deleted) lines change 'io', so</font></i>
    <i><font color=#4b5d50># 4. i2    'io' is shifted up (by range of moved lines i.e. i1-i2-1)</font></i>
    <i><font color=#4b5d50># 5.</font></i>
    <i><font color=#4b5d50># 6. io    resulting io = io-(i2-i1+1) = io+i1-i2-1 (6+3-4-1=4)</font></i>
    <b><font color=#3a6797>set</font></b> io [<b><font color=#3a6797>expr</font></b> {<font color=#1b1baa>$io</font>+<font color=#1b1baa>$i1</font>-<font color=#1b1baa>$i2</font>-1}]
  }
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$io</font> == int([<font color=#1b1baa>$wtxt</font> index end])} {
    <i><font color=#4b5d50># &quot;If index refers to the end of the text (the character after the last newline)</font></i>
    <i><font color=#4b5d50># then the new text is inserted just before the last newline instead.&quot;</font></i>
    <i><font color=#4b5d50># (The text manual page)</font></i>
    <font color=#1b1baa>$wtxt</font> insert <font color=#8b2a0e>&quot;end&quot;</font> \n<font color=#1b1baa>$linesmoved</font>
    <font color=#1b1baa>$wtxt</font> delete [<font color=#1b1baa>$wtxt</font> index <font color=#8b2a0e>&quot;end -1 char&quot;</font>] end
  } <b><font color=#3a6797>else</font></b> {
    <font color=#1b1baa>$wtxt</font> insert <font color=#1b1baa>$io</font>.0 <font color=#1b1baa>$linesmoved</font>
  }
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$dosep</font>} {undoOut <font color=#1b1baa>$wtxt</font>}
  <b><font color=#ca14ca>return</font></b> <font color=#1b1baa>$io</font>
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit::MoveUnit></a>
<b><font color=#ca14ca>proc</font></b> unit::MoveUnit {wtree to hd headers f1112 {dosep yes}} {
  <i><font color=#4b5d50># Moves a unit up/down the unit tree.</font></i>
  <i><font color=#4b5d50>#   wtree - unit tree's path</font></i>
  <i><font color=#4b5d50>#   to - direction (up/down)</font></i>
  <i><font color=#4b5d50>#   hd - header of the moved unit</font></i>
  <i><font color=#4b5d50>#   headers - headers of all selected units</font></i>
  <i><font color=#4b5d50>#   f1112 - yes, if run by F11/F12 keys</font></i>
  <i><font color=#4b5d50>#   dosep - yes, if &quot;edit separator&quot; is required</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <b><font color=#3a6797>set</font></b> wtxt [alited::main::CurrentWTXT]
  <b><font color=#3a6797>set</font></b> tree [alited::tree::GetTree]
  <b><font color=#3a6797>set</font></b> itemID [SearchByHeader <font color=#1b1baa>$hd</font>]
  <b><font color=#3a6797>set</font></b> newparent [<b><font color=#3a6797>set</font></b> oldparent {}]
  <b><font color=#3a6797>set</font></b> newlev [<b><font color=#3a6797>set</font></b> oldlev [<b><font color=#3a6797>set</font></b> iold -1]]
  <b><font color=#3a6797>set</font></b> i1 [<b><font color=#3a6797>set</font></b> i2 [<b><font color=#3a6797>set</font></b> io 0]]
  <b><font color=#3a6797>foreach</font></b> item <font color=#1b1baa>$tree</font> {
    <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$item</font> lev cnt id title values
    <b><font color=#3a6797>lassign</font></b> <font color=#1b1baa>$values</font> l1 l2 prl id lev leaf fl1
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$id</font> eq <font color=#1b1baa>$itemID</font>} {
      <b><font color=#3a6797>set</font></b> oldlev <font color=#1b1baa>$lev</font>
      <b><font color=#3a6797>set</font></b> i1 <font color=#1b1baa>$l1</font>
      <b><font color=#3a6797>set</font></b> i2 <font color=#1b1baa>$l2</font>
      <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$to</font> eq <font color=#8b2a0e>&quot;up&quot;</font>} <b><font color=#ca14ca>break</font></b>
    } <b><font color=#3a6797>elseif</font></b> {<font color=#1b1baa>$to</font> ne <font color=#8b2a0e>&quot;up&quot;</font> && <font color=#1b1baa>$oldlev</font>&gt;-1} {
      <b><font color=#3a6797>set</font></b> io [<b><font color=#3a6797>expr</font></b> {<font color=#1b1baa>$l2</font>+1}]
      <b><font color=#ca14ca>break</font></b>
    }
    <b><font color=#3a6797>set</font></b> io <font color=#1b1baa>$l1</font>
  }
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$io</font>&lt;<font color=#1b1baa>$al(INI,LINES1)</font>} {
    <b><font color=#3a6797>set</font></b> msg [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> %n <font color=#1b1baa>$al(INI,LINES1)</font>] <font color=#1b1baa>$al(MC,introln2)</font>]
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$f1112</font>} {<b><font color=#3a6797>set</font></b> geo <font color=#8b2a0e>&quot;&quot;</font>} <b><font color=#3a6797>else</font></b> {<b><font color=#3a6797>set</font></b> geo <font color=#8b2a0e>&quot;-geometry pointer+10+10&quot;</font>}
    alited::msg ok err <font color=#1b1baa>$msg</font> <font color=#653760>-title</font> <font color=#1b1baa>$al(MC,introln1)</font> {<b><font color=#3a6797>*</font></b>}<font color=#1b1baa>$geo</font>
    <b><font color=#ca14ca>return</font></b> no
  }
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>set</font></b> pos [MoveL1L2 <font color=#1b1baa>$wtxt</font> <font color=#1b1baa>$i1</font> <font color=#1b1baa>$i2</font> <font color=#1b1baa>$io</font> <font color=#1b1baa>$dosep</font>]] ne {}} {
    ::tk::TextSetCursor <font color=#1b1baa>$wtxt</font> [<b><font color=#3a6797>expr</font></b> {int(<font color=#1b1baa>$pos</font>)}].0
    alited::tree::RecreateTree <font color=#1b1baa>$wtree</font> <font color=#1b1baa>$headers</font>
  } <b><font color=#3a6797>else</font></b> {
    <b><font color=#ca14ca>return</font></b> no
  }
  <b><font color=#ca14ca>return</font></b> yes
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit::MoveUnits></a>
<b><font color=#ca14ca>proc</font></b> unit::MoveUnits {wtree to itemIDs f1112} {
  <i><font color=#4b5d50># Moves selected units up/down the unit tree.</font></i>
  <i><font color=#4b5d50>#   wtree - unit tree's path</font></i>
  <i><font color=#4b5d50>#   to - direction (up/down)</font></i>
  <i><font color=#4b5d50>#   itemIDs - tree item IDs of selected units</font></i>
  <i><font color=#4b5d50>#   f1112 - yes, if run by F11/F12 keys</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited al al
  <i><font color=#4b5d50># update the unit tree, to act for sure</font></i>
  alited::tree::RecreateTree
  <i><font color=#4b5d50># check the moved units for the consistency of braces</font></i>
  <b><font color=#3a6797>set</font></b> wtxt [alited::main::CurrentWTXT]
  <b><font color=#3a6797>foreach</font></b> ID <font color=#1b1baa>$itemIDs</font> {
    <b><font color=#3a6797>lassign</font></b> [<font color=#1b1baa>$wtree</font> item <font color=#1b1baa>$ID</font> <font color=#653760>-values</font>] l1 l2 - id
    <b><font color=#3a6797>set</font></b> cc1 [<b><font color=#3a6797>set</font></b> cc2 0]
    <b><font color=#3a6797>foreach</font></b> line [<b><font color=#3a6797>split</font></b> [<font color=#1b1baa>$wtxt</font> get <font color=#1b1baa>$l1</font>.0 <font color=#1b1baa>$l2</font>.end] \n] {
      <b><font color=#3a6797>incr</font></b> cc1 [::apave::countChar <font color=#1b1baa>$line</font> \{]
      <b><font color=#3a6797>incr</font></b> cc2 [::apave::countChar <font color=#1b1baa>$line</font> \}]
    }
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$cc1</font>!=<font color=#1b1baa>$cc2</font>} {
      <b><font color=#3a6797>set</font></b> tip [<b><font color=#3a6797>string</font></b> trim [<font color=#1b1baa>$wtree</font> item <font color=#1b1baa>$ID</font> <font color=#653760>-text</font>]]
      <b><font color=#3a6797>set</font></b> msg [<b><font color=#3a6797>string</font></b> map [<b><font color=#3a6797>list</font></b> %n <font color=#1b1baa>$tip</font> %1 <font color=#1b1baa>$cc1</font> %2 <font color=#1b1baa>$cc2</font>] <font color=#1b1baa>$al(MC,errmove)</font>]
      alited::Message <font color=#1b1baa>$msg</font> 4
      <b><font color=#ca14ca>return</font></b>
    }
  }
  <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$to</font> eq {move}} {
    DropUnits <font color=#1b1baa>$wtree</font> <font color=#1b1baa>$itemIDs</font> <font color=#1b1baa>$f1112</font>
    <b><font color=#ca14ca>return</font></b>
  }
  <b><font color=#3a6797>set</font></b> al(RECREATE) 0
  <b><font color=#3a6797>set</font></b> headers [<b><font color=#3a6797>list</font></b>]
  <b><font color=#3a6797>foreach</font></b> ID <font color=#1b1baa>$itemIDs</font> {
    <b><font color=#3a6797>set</font></b> hd [GetHeader <font color=#1b1baa>$wtree</font> <font color=#1b1baa>$ID</font>]
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$to</font> eq {up}} {
      <b><font color=#3a6797>lappend</font></b> headers <font color=#1b1baa>$hd</font>
    } <b><font color=#3a6797>else</font></b> {
      <b><font color=#3a6797>set</font></b> headers [<b><font color=#3a6797>linsert</font></b> <font color=#1b1baa>$headers</font> 0 <font color=#1b1baa>$hd</font>]
    }
  }
  <i><font color=#4b5d50># move items one by one, by their headers</font></i>
  undoIn <font color=#1b1baa>$wtxt</font>
  <b><font color=#3a6797>foreach</font></b> hd <font color=#1b1baa>$headers</font> {
    <b><font color=#3a6797>if</font></b> {![MoveUnit <font color=#1b1baa>$wtree</font> <font color=#1b1baa>$to</font> <font color=#1b1baa>$hd</font> <font color=#1b1baa>$headers</font> <font color=#1b1baa>$f1112</font> no]} {
      <b><font color=#ca14ca>break</font></b>
    }
  }
  undoOut <font color=#1b1baa>$wtxt</font>
  <b><font color=#3a6797>set</font></b> com <font color=#8b2a0e>&quot;set ::alited::al(RECREATE) 1; alited::tree::RecreateTree&quot;</font>
  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>set</font></b> sel [<font color=#1b1baa>$wtree</font> selection]] ne {}} {
    <b><font color=#3a6797>append</font></b> com <font color=#8b2a0e>&quot;; <font color=#1b1baa>$</font>wtree selection set <font color=#1b1baa>{$</font>sel<font color=#1b1baa>}</font>&quot;</font>
  }
  <b><font color=#3a6797>after</font></b> idle <font color=#1b1baa>$com</font>
}
<a id=Search></a>
<i><font color=#4b5d50># ________________________ Search _________________________ #</font></i>
<a id=unit::SearchInBranch></a>
<b><font color=#ca14ca>proc</font></b> unit::SearchInBranch {unit {branch {}}} {
  <i><font color=#4b5d50># Checks whether a unit is in a branch.</font></i>
  <i><font color=#4b5d50>#   unit - ID of the unit</font></i>
  <i><font color=#4b5d50>#   branch - the branch or its ID</font></i>
  <i><font color=#4b5d50># If *branch* is omitted, searches in all of the tree.</font></i>
  <i><font color=#4b5d50># If *branch* is set as ID, the branch is fetched from this ID.</font></i>
  <i><font color=#4b5d50># Returns the unit's index in the branch or -1 if not found.</font></i>

  <b><font color=#3a6797>if</font></b> {[<b><font color=#3a6797>llength</font></b> <font color=#1b1baa>$branch</font>]&lt;2} {
    <b><font color=#3a6797>set</font></b> branch [alited::tree::GetTree <font color=#1b1baa>$branch</font>]
  }
  <b><font color=#ca14ca>return</font></b> [<b><font color=#3a6797>lsearch</font></b> <font color=#653760>-exact</font> <font color=#653760>-index</font> 2 <font color=#1b1baa>$branch</font> <font color=#1b1baa>$unit</font>]
}
<i><font color=#4b5d50>#_______________________</font></i>
<a id=unit::SearchByHeader></a>
<b><font color=#ca14ca>proc</font></b> unit::SearchByHeader {header} {
  <i><font color=#4b5d50># Gets tree item ID of a units by its header (declaration+initial comment).</font></i>

  <b><font color=#3a6797>namespace</font></b> upvar ::alited obPav obPav
  <b><font color=#3a6797>set</font></b> wtree [<font color=#1b1baa>$obPav</font> Tree]
  <b><font color=#3a6797>foreach</font></b> item [alited::tree::GetTree] {
    <b><font color=#3a6797>set</font></b> ID [<b><font color=#3a6797>lindex</font></b> <font color=#1b1baa>$item</font> 2]
    <b><font color=#3a6797>set</font></b> header2 [GetHeader <font color=#1b1baa>$wtree</font> <font color=#1b1baa>$ID</font>]
    <b><font color=#3a6797>if</font></b> {<font color=#1b1baa>$header</font> eq <font color=#1b1baa>$header2</font>} {<b><font color=#ca14ca>return</font></b> <font color=#1b1baa>$ID</font>}
  }
  <b><font color=#ca14ca>return</font></b> {}
}
<a id=EOF></a>
<i><font color=#4b5d50># _________________________________ EOF _________________________________ #</font></i>

</pre>

<table border=0 cellPadding=4 cellSpacing=0 width=100%>  <td border=0 bgColor=#bdd7e7><div style=text-align:center>  <a href="../../index.html"><font color=#1a1a1a size=6>  <b>unit.tcl</b></font></div></td></table>

<!-- Made by alited (END) -->